<div class="page crs_page pr_page odlist_page" data-page="openday-provider-landing" id="opendayproviderlandingCtrl" ng-cloak
 ng-controller="opendayproviderlandingCtrl">

	<div id="loaderOpendayProviderLanding" style="display:block" class="s_4041">
		<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
	</div>

	<div class="pages toolbar-through" id="loaderOpendayProviderView" style="display:none" style="background:#fff">
		<div id="stk_app"></div>
		<div id="pullContent" class="page-content ip_header pull-to-refresh-content">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>

			<div style="height:100%;" class="open-day-cont">
				<div id="stk_div">
					<div id="" class="stk_div">
						<div class="profile">

							<img ng-src="{{university.mediaPath}}" data-rjs="3" ng-if="university.mediaPath!=null" class="sr_hdr" alt="">

							<div class="usr_sec pr_grdnt">
								<div class="">
									<a href="#" class="back link bk_icon" data-push-state="false">
										<img ng-src="img/s_results/bk_ico.png" data-rjs="3" width="11" id="resp-image" src="img/s_results/bk_ico.png" data-rjs-processed="true">
									</a>
								</div>

								<!-- <div class="fav_ico ng-scope" ng-if="clearingResultFlag != 'Y'" ng-class="{'fav_fill' : university.shortListFlag == 'Y'}"
								 id="shtlist1_logo-4095" onclick="preventDefault(event, this.id, 'institutionhomeCtrl')" university_name="University of Westminster, London"></div> -->

								<div class="uni_inf">
									<div class="uni_lgo">
											<img ng-if="institutionBrowseLogo.indexOf(university.logoName) > -1" src="img/unis/logos/{{university.logoName}}" alt=""
											 width="70" height="" />
											<img ng-if="university.collegeLogo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="{{university.collegeLogo}}"
											 alt="" width="70" height="" fallback-src="img/unis/logos/logo_bg.png" />
											<img ng-if="!university.collegeLogo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="img/unis/logos/logo_bg.png"
											 alt="" width="70" height="" />
									</div>
									<div class="pr_txt">
										<a href="#" class="uni_lnk ng-binding">{{university.collegeDisplayName}}</a>

									</div>
									<div class="photo" ng-click="universityGallery()" ng-if="gallerySection.length>0">
										<img ng-src="img/icons/ic_photos.png" data-rjs="3" width="18" alt="" id="resp-image4" src="img/icons/ic_photos.png" data-rjs-processed="true">
										<span> Photos</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="swiper-container slider-content" ng-if="swiperSlider.length==1">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide-mycontent" id="swiper-slide-mycontent_0">
							<div class="pr_dtl">
								<section class="blue-bg" ng-if="currentEventDetails.eventCategoryId=='6'">
									<h2 class="tlte">Select your event</h2>
									<div class="cd_sec">
										<div class="dates ">
											<div>
												{{currentEventDetails.venue}}
												<!-- <div ng-if="currentEventDetails.startTime!=null">at {{currentEventDetails.startTime}}</div> -->
											</div>
											<div ng-if="currentEventDetails.moreOpendayFlag=='Y'" data-popup=".popup-openday" class="open-popup">More events</div>
										</div>
										<div class="pb10"></div>
										<!-- <div class="camp-name">
											{{currentEventDetails.venue}}</div> -->
									</div>
								</section>
								<section class="blue-bg" ng-if="currentEventDetails.eventCategoryId!='6'">
									<h2 class="tlte">Select your event</h2>
									<div class="cd_sec">
										<div class="dates ">
											<div>
												{{currentEventDetails.startDate}}
												<div ng-if="currentEventDetails.startTime!=null">at {{currentEventDetails.startTime}}</div>
											</div>
											<div ng-if="currentEventDetails.moreOpendayFlag=='Y'" data-popup=".popup-openday" class="open-popup">More events</div>
										</div>
										<div class="pb10" ng-if="currentEventDetails.eventCategoryId !='7'">{{currentEventDetails.qualType}}</div>
										<div class="camp-name">
											<img src="img/icons/map_icon.svg" width="18px" alt="" ng-if="currentEventDetails.eventCategoryId !='7'">{{currentEventDetails.venue}}</div>
									</div>
								</section>
								<div class="divider"></div>

								<section class="map_section" ng-if="uniAddress.addressLine1!=null || uniAddress.addressLine2!=null || uniAddress.town!=null || uniAddress.countryState!=null || uniAddress.postcode!=null || (uniAddress.latitude!=null && uniAddress.longitude!=null)"> 
									<h2>Where you’ll study</h2>
									<div class="map" ng-if="uniAddress.latitude!=null && uniAddress.longitude!=null">
										<img ng-click="googleMap()" src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-l-a+285A98({{uniAddress.longitude}},{{uniAddress.latitude}})/{{uniAddress.longitude}},{{uniAddress.latitude}},15,0,0/300x300?access_token={{mapBoxKey}}"
										 alt="Google Map">
									</div>
									<p class="adrs">
										<span ng-if="uniAddress.addressLine1!=null || uniAddress.addressLine2!=null || uniAddress.town!=null || uniAddress.countryState!=null || uniAddress.postcode!=null">{{university.collegeName}},</span>
										<span ng-if="uniAddress.addressLine1!=null">
											<br> {{uniAddress.addressLine1}},
										</span>
										<span ng-if="uniAddress.addressLine2!=null">
											<br> {{uniAddress.addressLine2}},
										</span>
										<span ng-if="uniAddress.town!=null">
											<br> {{uniAddress.town}},</span>
										<span ng-if="uniAddress.countryState!=null">
											<br> {{uniAddress.countryState}},
										</span>
										<span ng-if="uniAddress.postcode!=null">
											<br> {{uniAddress.postcode}}</span>
										<br>
										<br>
										<span class="lt_bld" ng-if="uniAddress.nearestTrainStn!=null">Nearest station:
										</span>
										<span ng-if="uniAddress.nearestTrainStn!=null">
											<br> {{uniAddress.nearestTrainStn}} {{uniAddress.distanceFromTrainStn}} miles away
											<br>
											<br>
											<span class="lt_bld" ng-if="uniAddress.isInLondon=='LONDON' && uniAddress.nearestTubeStn!=null">Nearest tube station:</span>
											<span ng-if="uniAddress.isInLondon=='LONDON' && uniAddress.nearestTubeStn!=null">
												<br> {{uniAddress.nearestTubeStn}} {{uniAddress.distanceFromTubeStn}} miles away
												<br>
												<br>
											</span>
										</span>
									</p>
								</section>
								<div class="divider"></div>
								<section class="reviewcheckSection" ng-if="testimonialSection.length>0">
									<div>
										<div class="rev_bx">
											<div class="rvw_txt quote" ng-repeat-start="testimonialSectionInfo in testimonialSection">
												{{testimonialSectionInfo.sectionValue}}
											</div>
											<p class="lt_bld m0" ng-if="testimonialSectionInfo.title!=null" ng-repeat-end>{{testimonialSectionInfo.title}}</p>
										</div>
									</div>
								</section>
								<div class="divider" ng-if="testimonialSection.length>0"></div>

								<section class="openday-list" ng-repeat="contentSectionInfo in contentSection">
									<h2 class="tlte">{{contentSectionInfo.sectionName}}</h2>
									<!-- <div ng-bind-html="getSafeHtml(contentSectionInfo.sectionValue)" class="cd_sec"></div> -->
									<ul>
										<li ng-repeat="sectionValueInfo in contentSectionInfo.sectionValueList">{{sectionValueInfo.sectionValue}}</li>

									</ul>
								</section>
								<div class="divider"></div>

								<section class="additional-res" ng-if="additionalResource.length>0">
									<h2 class="tlte">Additional resources</h2>
									<!-- <div class="txt-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> -->
									<div class="pdf-list">
										<a href="#" ng-click="openPdf(additionalResourceInfo.pdfPath)" ng-repeat="additionalResourceInfo in additionalResource">
											<img src="img/icons/pdf.svg" width="16px">{{additionalResourceInfo.pdfName}}
										</a>
									</div>
								</section>
							</div>
							<div class="ve_h100"></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="popup src_pg popup-openday" style="display:none">
			<div class="views">
				<div class="view view-mainpop">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
									<a class="back link close-popup">
										<img ng-src="img/icons/cls.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
								<p class="center ml0i">Virtual events and open days</p>
								<!-- <div class="right">
								</div> -->
							</div>
						</div>
					</div>
					<div class="pages">
						<div class="page-content fltr">
							<div class="content-block">
								<ul>
									<li class="bor_bot1" ng-class="{'ve_pb0i':openday.eventCategoryId=='6'}" ng-repeat="openday in moreOpenDayList" ng-click="changeOpenDay(openday)">
										<div class="cont">

											<div class="cd_sec" ng-if="openday.eventCategoryId=='6'">
												<div class="dates ">
													<div>{{openday.venue}}</div>
													<div class="list-block">
															<label class="label-radio item-content">
																<input type="radio" name="my-radio" value="Books" ng-checked="currentEventItemId==openday.eventItemId">
																<div class="item-inner">
																	<div class="item-title">
																		<img width="22px" src="img/icons/icon_green_tick.png">Select<span>ed</span>
																	</div>
																</div>
															</label>
														</div>
												</div>
											</div>
											<div class="cd_sec" ng-if="openday.eventCategoryId !='6'">
												<div class="dates">
													<div>
														{{openday.startDate}}
														<div ng-if="openday.startTime!=null">at {{openday.startTime}}</div>
													</div>
													<div class="list-block">
														<label class="label-radio item-content">
															<input type="radio" name="my-radio" value="Books" ng-checked="currentEventItemId==openday.eventItemId">
															<div class="item-inner">
																<div class="item-title">
																	<img width="22px" src="img/icons/icon_green_tick.png">Select<span>ed</span>
																</div>
															</div>
														</label>
													</div>
												</div>
												<div class="pb10" ng-if="openday.eventCategoryId !='7'">{{openday.qualType}}</div>
												<div class="camp-name">
													<img src="img/icons/map_icon.svg" width="22px" alt="" ng-if="openday.eventCategoryId !='7'">{{openday.venue}}</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End of clearing button-->

		<div class="pr_btn openday-bottom iphnx-brad" id="keyboard_hide">
			<ul ng-if="swiperSlider.length == 1 && bookingUrl!=''">
				<li ng-click="reserveAPlace()">
					<a href="javascript:void(0)">BOOK EVENT</a>
				</li>
			</ul>
		</div>
	</div>
</div>