<div data-page="openday-search-result" ng-controller="opendaySearchResultCtrl" id="opendaySearchResultCtrl" class="page crs_page src_pg opdnwl_pg">
	<div id="loaderOpendaySearchResult" style="display:none" class="s_4041">
		<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
	</div>

	<div class="navbar">
		<!-- Search Bar -->
		<div id="tab3cont" class="ve_bb1cc">
			<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar d_tl searchbar-init ng-pristine ng-valid searchbar-active">
				<div class="searchbar-input">
					<input type="search" placeholder="Search events by university" ng-keyup="searchAjaxAutoComplete($event.keyCode)" id="searchAjaxOpendayResult"
					 autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					<a id="opendaySearchResultXmark" ng-click="clearSearch();" class=""></a>
				</div>
				<a class="cls_cancel srbar_cancel" ng-click="goBack();">Cancel</a>
			</form>
		</div>
		<!-- Search Bar overlay -->
		<div class="searchbar-overlay"></div>
	</div>
	
	<div class="pages toolbar-through" id="loaderOpendaySearchResultView" style="display:none">
		<div class="page-content">
			<!-- unis -->
			<div class="ve_h40"></div>
			<div id="opendayresult-dynamic-unis" class="opd_srchpg" style="display:none">
				<div class="content-block uni_tab mt0 hm_slide">
					<div class="crs_tiles ">
						<ul ng-if="opendayAjaxSearchResult.length > 0" class="ve_srchmt80">
							<li ng-if="opendayAjax.collegeId!=0" ng-repeat="opendayAjax in opendayAjaxSearchResult" ng-click="opendayAjaxProviderLandingPage(opendayAjax)">
								<div class="cont">
									<span class="fl gry"> {{opendayAjax.collegeDisplayName}} </span>
									<small class="opd_amsd" *ngIf="opendayAjax.opendayMsg!=null">{{opendayAjax.opendayMsg}}</small>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="opdpge_head ve_pb20i" ng-show="virtualView=='Y'">
				<h2 class="page_titl">{{virtualHeading}}</h2>
				<div class="slct_rgnbox1">
					<a href="javascript:void(0)" id="opendayResultByEventBtn" class="vmrelnk txtlft">Change event</a>
					<select select1 name="opendayResultByEvent" id="opendayResultByEvent" ng-model="opendayResultByEvent" ng-change="opendayResultMonthChange('event')">
						<option ng-repeat="event in eventList" value="{{event.monthValue}}" ng-disabled="event.odExistFlag=='N'">{{(event.monthName==null)?event.monthValue:event.monthName}}</option>
					</select>
				</div>
			</div>

			<div class="opdpge_head ve_pb20i" ng-show="monthView=='Y'">
				<h2 class="page_titl">Events in {{opendayMonth}}</h2>
				<div class="slct_rgnbox1">
					<a href="javascript:void(0)" id="opendayResultByMonthBtn" class="vmrelnk txtlft">Change month</a>
					<select select1 name="opendayResultByMonth" id="opendayResultByMonth" ng-model="opendayResultByMonth" ng-change="opendayResultMonthChange('month')">
						<!-- <option value="">Select</option> -->
						<option ng-repeat="month in opendayMonthList" value="{{month.monthValue}}" ng-disabled="month.opendayExistFlag=='N'">{{month.monthName}}</option>
					</select>
				</div>
			</div>
			<div class="opdpge_head ve_pb20i" ng-show="regionView=='Y'">
				<h2 class="page_titl">Events in {{opendayRegion}}</h2>
				<div class="slct_rgnbox1">
					<a href="javascript:void(0)" id="opendayResultByRegionBtn" class="vmrelnk txtlft">Change region</a>
					<select select1 name="opendayResultByRegion" id="opendayResultByRegion" ng-model="opendayResultByRegion" ng-change="opendayResultMonthChange('region')">
						<!-- <option value="">Select</option> -->
						<option ng-repeat="region in opendayRegionList" value="{{region.locationValue}}">{{region.location}}</option>
					</select>
				</div>
			</div>
			<div class="opdpge_head ve_pb20i" ng-show="eventView=='Y'">
				<h2 class="page_titl">{{eventTypeName}}</h2>
				<div class="slct_rgnbox1">
					<a href="javascript:void(0)" id="opendayResultByEventTypeBtn" class="vmrelnk txtlft">Change event type</a>
					<select select1 name="opendayResultByEventType" id="opendayResultByEventType" ng-model="opendayResultByEventType" ng-change="opendayResultMonthChange('eventType')">
						<!-- <option value="">Select</option> -->
						<option ng-repeat="event in eventTypeList" value="{{event.eventCategoryId}}">{{event.eventCategoryName}}</option>
					</select>
				</div>
			</div>
			<div class="opdpge_body">
				<div class="crs_tiles opd_comson ng-scope">
					<ul>
						<li class="opdcomson_row" ng-repeat="openday in opendaySearchResult" ng-click="opendayProviderLandingPage(openday)">
							<span class="ovrly ng-scope"></span>
							<img ng-if="openday.mediaPath" ng-src="{{openday.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
							<div class="psa">
								<div class="uni_lgo">
									<img ng-if="institutionBrowseLogo.indexOf(openday.logoName) > -1" src="img/unis/logos/{{openday.logoName}}" alt="" />
									<img ng-if="openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="{{openday.collegeLogo}}" alt=""
									/>
									<img ng-if="!openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="img/unis/logos/logo_bg.png"
									 alt="" />
								</div>
								<a class="uni_lnk fl" ng-class={'ve_mt24':openday.startDate==null}>{{openday.collegeName}}</a>
								<!-- <div class="row">
                                    <div class="col-100">
                                        <div class="fl txt_lft">
                                            <img src="img/icons/ic_calendar.png" alt="" class="vam" ng-if="openday.venue!='Virtual tour' && openday.venue!='Online event'">{{openday.venue}}
                                        </div>
                                    </div>
                                </div> -->
								<div class="row">
									<div class="col-100">
										<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= openday.reviewRating" class="fa fa-star" aria-hidden="true"></i>
										<span ng-if="openday.reviewRating > 0">({{openday.reviewRatingDisplay}})</span>
									</div>
								</div>
								<div class="row botmtinfrow" ng-class={'ve_mtm24':openday.startDate==null}>
									<div class="col-100">
										<div class="col-50 fl txt_lft txt_dtinf" ng-if="openday.startDate!=null">
											<img src="img/icons/ic_calendar.png" alt="" class="vam">{{openday.startDate}}
										</div>
										<div class="col-50 fr tx_rgt">{{openday.opendayCount}} {{(openday.opendayCount==1)?"event":"events"}}</div>
									</div>
								</div>
							</div>
						</li>

					</ul>
					<!-- ng-if="tempOpendaySearchResult.length>0 && opendaySearchResult.length>6" -->
					<div class="v_mr ve_mb110i" ng-if="tempOpendaySearchResult.length>0 && opendaySearchResult.length>5">
						<p class="m0">
							<a ng-click="opendayViewMoreResult()" id="viewMoreOpendayResults">View more</a>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="bdy_ovrly"></div>
	<div id="keyboard_hide" class="toolbar tabbar tabbar-labels">
		<div class="toolbar-inner">
			<a href="javascript:void(0);" class="tab-link" id="homePage" onclick="switchHighLightTab(this.id, 'html/home/homeLanding.html');">
				<img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Home</span>
			</a>
			<a href="javascript:void(0);" class="tab-link" id="searchForm" onclick="switchHighLightTab(this.id, 'html/search/searchLanding.html');">
				<img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Search</span>
			</a>
			<a href="javascript:void(0);" class="tab-link" id="favoriteSubjects" onclick="switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');">
				<img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Favourites</span>
			</a>
			<a href="javascript:void(0);" class="tab-link velnk_nav" id="opendayLanding" onclick="switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');">
				<img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Virtual events</span>
			</a>
			<a href="javascript:void(0);" class="tab-link" id="myProfile" onclick="switchHighLightTab(this.id, 'html/user/userProfile.html');">
				<img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Profile</span>
			</a>
		</div>
	</div>
</div>