
                    <div data-page="data" class="page pr_page pr_popup " ng-controller="dataCtrl">
                          <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="center">
                                <div class="left">
                                    <a href="ins_profile.html" class="back link">
                                        <img src="img/icons/ic_arrow_dark.png" alt="" title="" />
                                    </a>
                                </div>
                                <p> Where is this data from</p>
                                <div class="right">
                                    <!--
									<a href="#">
                                        <img src="../../img/icons/ic_favourite_active_dark.png" alt="" width="23">
                                    </a>
									-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="page-content navbar-through">
                          
                            <div class="content-block m0">
                                <div class="pr_dtl">
                                    <section class="data">
                                        <h2 class="tlte">University profile </h2>
                                        <p>
                                           All our profile content – including overview, job prospects, course and lecturers, students’ union, accommodation, uni facilities, city life, clubs and societies, student support and academic strengths – is written by our Whatuni in-house team to give you an original perspective on the university. Data Source: <strong>IDP Connect</strong>
                                        </p>
										<p>
											Data Source: <strong>IDP Connect / UCAS</strong>
                                        </p>

                                        <h2 class="tlte">Students</h2>
                                        <p>
                                            This is the total number of undergraduate students. Data Source: <strong>HESA {{hesaLoadYear}}</strong>
										</p>
										
										<h2 class="tlte">WUSCA ranking</h2>
                                        <p>
                                          This is the position that each university ranks in the Whatuni Student Choice Awards 2018 (WUSCA). The overall ranking is decided by students from this institution rating them in a Whatuni review. Data Source: <strong>IDP Connect</strong>
										</p>
                                        
										<h2 class="tlte">CUG ranking</h2>
                                        <p>
                                          This is the position that each university ranks in the Complete University Guide 2019 league table. These are independently compiled and ranked. Data Source: <strong>The Complete university guide</strong>
										</p>
										
                                        <h2 class="tlte">Who are they?</h2>
										<p>
											This section displays key stats including: 
										</p>
										<ul>
											<li>The % of full-time vs part-time undergraduate students studying here</li>
											<li>The % of recent school leavers vs mature students (ie those who’ve returned to education after a period of time)</li>
											<li>The % of students who originate from the UK vs students from international destinations</li>
											<li>The % of students studying for an undergraduate degree vs students studying towards a postgraduate degree</li>
										</ul>
										<p>Data Source: <strong>HESA {{hesaLoadYear}}</strong>
										
										<h2 class="tlte">What do students think? - Whatuni student reviews</h2>
										<p>
											Our reviews are the subjective opinions of students who write about their own experiences of their course and university. Data Source: <strong>IDP Connect</strong>
										</p>
										
										<h2 class="tlte">Employment rate</h2>
										<p>
											Shows the % of students from this university who are either employed in a graduate job or enrolled onto a further study programme within 6 months of their graduation date. Data Source: <strong>UNISTATS {{kisLoadYear}}</strong>
										</p>
										
										<h2 class="tlte">Accommodation cost</h2>
										<p>
											The average cost of standard accommodation per year for this university and the immediate vicinity. Data Source: <strong>UNISTATS/IDP Connect</strong>
										</p>
										
										<h2 class="tlte">Living costs</h2>
										<p>
											The average cost of living in this area per annum. Costs include simple expenses such as food and drink. Data Source: <strong>UNISTATS/IDP Connect</strong>
										</p>
										
										<h2 class="tlte">Cost of a pint</h2>
										<p>
											The average cost of a pint of beer from a pub or bar in the local area. Data Source: <strong>IDP Connect</strong>
										</p>
                                    </section>
                                    <!--Divider-->
                                    <div class="divider"></div>
                                    <!--Divider-->
                                   
                                    <!--Content-->
                                </div>
                            </div>
                        </div>
 <!-- <div class="pr_btn">
                <ul>
                    <li>
                        <a href="#">Prospectus</a>
                    </li>
                    <li>
                        <a href="#">Email uni</a>
                    </li>
                    <li>
                        <a href="#">Courses</a>
                    </li>
                </ul>
            </div>-->
                    </div>
               