<div class="page" data-page="providerResults" ng-cloak ng-controller="providerRootCtrl" id="myProviderRootCtrl" >
		
		<div id="loaderProvider" style="display:block" class="s_4041">
			<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
		</div>
	
		<div class="pages toolbar-through pr_main fav_page pr_page crs_page">
			   <div id="stk_app"></div>
				<div id="providerResultsView" class="page-content pull-to-refresh-content" style="display:none;">
					<div class="pull-to-refresh-layer">
					<div class="preloader"></div>
					<div class="pull-to-refresh-arrow"></div>
					</div>
					<div id="stk_div" >
					<div class="stk_div">
						<div class="profile"  ng-repeat="institution in institutionDetails" ng-if="institutionDetails.length > 0" >
							<img ng-if="institution.mediaPath" ng-src="{{institution.mediaPath}}" data-rjs="3" class="sr_hdr">	
							<!--<div class="usr_sec" ng-class="{'pr_grdnt':institution.mediaPath!=null}">-->
							<div class="{{institution.backgroundImageClassName}}">							
								<div class="bk_icon">
									<a href="#" class="back link"  data-push-state="false">
										<img ng-src="img/s_results/bk_ico.png" data-rjs="3" width="11" id="resp-image">
									</a>
								</div>	
								<div class="fav_ico" ng-class="{'fav_fill' : institution.shortListFlag == 'Y'}" id="shtlist1_logoPR-{{institution.id}}" onclick="preventDefault(event, this.id, 'myProviderRootCtrl')" university_name="{{institution.displayName}}"></div>
								<div class="uni_inf" ng-click="goToInstitutionProfilePage(institution.id);">						   							   
									<div class="uni_lgo">
												<img ng-if="institutionBrowseLogo.indexOf(institution.logoName) > -1" src="img/unis/logos/{{institution.logoName}}">
												<img ng-if="institution.logo && institutionBrowseLogo.indexOf(institution.logoName) == -1" src="{{institution.logo}}" fallback-src="img/unis/logos/logo_bg.png"/>
												<img ng-if="!institution.logo && institutionBrowseLogo.indexOf(institution.logoName) == -1" src="img/unis/logos/logo_bg.png" />											
									</div>	
										<input type="hidden" name="college-id" id="college-id" value="{{institution.id}}">												
									<div class="pr_txt">
										<a href="#" class="uni_lnk">{{institution.displayName}}</a>								 
										<div class="row">
											<div class="col-100">
													   <i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= institution.overallRating" class="fa fa-star" aria-hidden="true"></i><span ng-if="institution.reviewRatingDisplay > 0">({{institution.reviewRatingDisplay}})</span>
											</div>
										</div>								 
										<div class="row">
											<div class="col-100">												    													
											   <div class="col-100 fl" ng-if="overAllCourseCount && overAllCourseCount <= 1" >{{overAllCourseCount}} {{subjectName}} course</div>
											   <div class="col-100 fl" ng-if="overAllCourseCount && overAllCourseCount > 1">{{overAllCourseCount}} {{subjectName}} courses</div>
											</div>
										</div>
									</div>								  
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="content-block m0 uni_tab">
						<div class="crs_tiles">
							<ul id="providerResultsDym">									 
								<li ng-repeat="course in providerResults" ng-if="providerResults.length > 0" ng-click="flipFlop('course-details', $index, $event);">
									<div class="cont flip_res" id="cont-{{$index}}" ng-click="courseDetailsPageURL(course.courseId, course.institutionId, course.courseTitle, $event);">								    
										<a class="uni_lnk">{{course.courseTitle}}</a>
										<span class="fl gry">{{course.studyLevel}}</span>
										<span class="fl mdl">{{course.entryLevel}}</span>
										<input type="hidden" name="course-PR-{{$index}}" id="course-PR-{{$index}}" value="{{course.courseTitle}}">
										
										<span ng-if="course.matchingPercentage" style="display:none" class="fr pr_lnk pr_span" ng-click="flipFlop('flip', $index, $event);"><a class="muncul" index="{{$index}}" >{{course.matchingPercentage}}% match</a></span>										
											<a class="xls hilang" ng-click="closeFlipFlop('flip', $index, $event);"><img src="img/icons/cls_nw.png" width="10" alt=""></a>												

										<!--For flip content-->
										<div class="back" id="target-{{$index}}" style="display:none">																				
											<div class="match_bg">
												<h4 class="">{{course.matchingPercentage}}% <span>match</span></h4>
											</div>
											<div class="content-block">
												<div class="matches">							
													<p class="lt_bld">Matches on:</p>
													<ul>
														<li ng-if="course.qualificationMatch" ng-class="{'no' : course.qualificationMatch == 'N', 'yes' : course.qualificationMatch == 'Y', 'na' : course.qualificationMatch == 'N/A' }"><span>Qualification</span></li>											
														<li ng-if="course.subjectMatch" ng-class="{'no' : course.subjectMatch == 'N', 'yes' : course.subjectMatch == 'Y', 'na' : course.subjectMatch == 'N/A' }"><span>Subject</span></li>											
														<li ng-if="course.previousQualMatch" ng-class="{'no' : course.previousQualMatch == 'N', 'yes' : course.previousQualMatch == 'Y', 'na' : course.previousQualMatch == 'N/A' }"><span>Previous qualifications</span></li>
														<li ng-if="course.assessmentTypeMatch" ng-class="{'no' : course.assessmentTypeMatch == 'N', 'yes' : course.assessmentTypeMatch == 'Y', 'na' : course.assessmentTypeMatch == 'N/A' }"><span>How you're assessed</span></li>										
														<li ng-if="course.locationTypeMatch" ng-class="{'no' : course.locationTypeMatch == 'N', 'yes' : course.locationTypeMatch == 'Y', 'na' : course.locationTypeMatch == 'N/A' }"><span>Location type</span></li>
														<li ng-if="course.studyModeMatch" ng-class="{'no' : course.studyModeMatch == 'N', 'yes' : course.studyModeMatch == 'Y', 'na' : course.studyModeMatch == 'N/A' }"><span>How you study</span> </li>																						
														<li ng-if="course.locationMatch" ng-class="{'no' : course.locationMatch == 'N', 'yes' : course.locationMatch == 'Y', 'na' : course.locationMatch == 'N/A' }"><span>Country</span></li>																						
																											
														<li ng-if="course.reviewSubjectOneMatch" ng-class="{'no' : course.reviewSubjectOneMatch == 'N', 'yes' : course.reviewSubjectOneMatch == 'Y', 'na' : course.reviewSubjectOneMatch == 'N/A' }" class="reviewCatOnePR" ></li>																																		
														<li ng-if="course.reviewSubjectTwoMatch" ng-class="{'no' : course.reviewSubjectTwoMatch == 'N', 'yes' : course.reviewSubjectTwoMatch == 'Y', 'na' : course.reviewSubjectTwoMatch == 'N/A' }" class="reviewCatTwoPR" ></li>																																														
														<li ng-if="course.reviewSubjectThreeMatch" ng-class="{'no' : course.reviewSubjectThreeMatch == 'N', 'yes' : course.reviewSubjectThreeMatch == 'Y', 'na' : course.reviewSubjectThreeMatch == 'N/A' }" class="reviewCatThreePR" ></li>																																														   
													</ul>																						
												</div>
											</div>						
										</div>	
									</div>
								</li>	
							</ul>
							<div id="ajaxDynamicListPR" style="display:none;">
								<li ng-repeat="course in providerResultsListDym" ng-if="providerResultsListDym.length > 0" onclick="providerFlipFlop('course-details', this.id, event );">
									<div class="cont flip_res" id="cont-{{course.courseId}}" onclick="courseDetailsPageURL(this.id, event);">								    
										<a class="uni_lnk">{{course.courseTitle}}</a>
										<input type="hidden" name="course-id-{{course.courseId}}" id="course-id-{{course.courseId}}" value="{{course.courseId}}">													
										<input type="hidden" name="course-nme-{{course.courseId}}" id="course-nme-{{course.courseId}}" value="{{course.courseTitle}}">
										<span class="fl gry">{{course.studyLevel}}</span>
										<span class="fl mdl">{{course.entryLevel}}</span>
										<span ng-if="course.matchingPercentage" style="display:none" class="fr pr_lnk pr_span"><a class="muncul" id="open_flip-{{course.courseId}}" onclick="providerFlipFlop('flip', this.id, event)">{{course.matchingPercentage}}% match</a></span>											
										<a class="xls hilang" id="close_flip-{{course.courseId}}" onclick="providerCloseFlipFlop('flip', this.id, event)"><img src="img/icons/cls_nw.png" width="10" alt=""></a>										
										
										<!--For flip content-->
										<div class="back" id="target-{{course.courseId}}" style="display:none">																				
											<div class="match_bg">
												<h4 class="">{{course.matchingPercentage}}% <span>match</span></h4>
											</div>
											<div class="content-block">
												<div class="matches">							
													<p class="lt_bld">Matches on:</p>
													<ul>
														<li ng-if="course.qualificationMatch" ng-class="{'no' : course.qualificationMatch == 'N', 'yes' : course.qualificationMatch == 'Y', 'na' : course.qualificationMatch == 'N/A' }"><span>Qualification</span></li>											
														<li ng-if="course.subjectMatch" ng-class="{'no' : course.subjectMatch == 'N', 'yes' : course.subjectMatch == 'Y', 'na' : course.subjectMatch == 'N/A' }"><span>Subject</span></li>											
														<li ng-if="course.previousQualMatch" ng-class="{'no' : course.previousQualMatch == 'N', 'yes' : course.previousQualMatch == 'Y', 'na' : course.previousQualMatch == 'N/A' }"><span>Previous qualifications</span></li>
														<li ng-if="course.assessmentTypeMatch" ng-class="{'no' : course.assessmentTypeMatch == 'N', 'yes' : course.assessmentTypeMatch == 'Y', 'na' : course.assessmentTypeMatch == 'N/A' }"><span>How you're assessed</span></li>										
														<li ng-if="course.locationTypeMatch" ng-class="{'no' : course.locationTypeMatch == 'N', 'yes' : course.locationTypeMatch == 'Y', 'na' : course.locationTypeMatch == 'N/A' }"><span>Location type</span></li>
														<li ng-if="course.studyModeMatch" ng-class="{'no' : course.studyModeMatch == 'N', 'yes' : course.studyModeMatch == 'Y', 'na' : course.studyModeMatch == 'N/A' }"><span>How you study</span> </li>																						
														<li ng-if="course.locationMatch" ng-class="{'no' : course.locationMatch == 'N', 'yes' : course.locationMatch == 'Y', 'na' : course.locationMatch == 'N/A' }"><span>Country</span></li>																						
																											
														<li ng-if="course.reviewSubjectOneMatch" ng-class="{'no' : course.reviewSubjectOneMatch == 'N', 'yes' : course.reviewSubjectOneMatch == 'Y', 'na' : course.reviewSubjectOneMatch == 'N/A' }" class="reviewCatOnePR" ></li>																																		
														<li ng-if="course.reviewSubjectTwoMatch" ng-class="{'no' : course.reviewSubjectTwoMatch == 'N', 'yes' : course.reviewSubjectTwoMatch == 'Y', 'na' : course.reviewSubjectTwoMatch == 'N/A' }" class="reviewCatTwoPR" ></li>																																														
														<li ng-if="course.reviewSubjectThreeMatch" ng-class="{'no' : course.reviewSubjectThreeMatch == 'N', 'yes' : course.reviewSubjectThreeMatch == 'Y', 'na' : course.reviewSubjectThreeMatch == 'N/A' }" class="reviewCatThreePR" ></li>																																														   
													</ul>																						
												</div>
											</div>						
										</div>	
									</div>
								</li>	
							</div>                            
							<div>
								<p class="viw_lnk"><a href="#" ng-click="providerResultsDetails('dynamicList');" id="viewMoreResultsPR" style="display:none">View more</a></p>
							</div>
						</div>
					</div>
					
					<div class="content-block uni_tab mt0" ng-if="!providerResults || providerResults.length == 0">
						<strong>							
							<div class="nresults margint0" id="noResultCourses">
								<img src="img/icons/icon_no_results.png" width="202" />
								<span>No results found</span>
								<a href="javascript:void(0)" id="searchAgainSearchresult" onclick="goBackFn()">Search again</a>
							</div>
						</strong>
					</div> 
					<input type="hidden" name="nextSetResults" id="nextSetResultsPR" value="6"/>
					<input type="hidden" name="totalRecordsLoaded" id="totalRecordsLoadedPR" value="0" />
					<input type="hidden" name="totalCourseCount" id="totalCourseCountPR" value=""/>
					<input type="hidden" name="oldTotalCourseCount" id="oldTotalCourseCountPR" value=""/>
					<input type="hidden" name="overAllCourseCount" id="overAllCourseCountPR" value=""/>
					<input type="hidden" name="viewMoreFlag" id="viewMoreFlagPR" value="VIEW_MORE"/>					
				</div> 
		</div>
		
		<div class="toolbar tabbar tabbar-labels">
			<div class="toolbar-inner">
				<a href="javascript:void(0);" class="tab-link" id="homePage" onclick="switchHighLightTab(this.id, 'html/home/homeLanding.html', 'PR');">
					<img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Home</span>
				</a>
				<a href="javascript:void(0);" class="tab-link" id="searchForm" onclick = "switchHighLightTab(this.id, 'html/search/searchLanding.html', 'PR');" >
					<img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Search</span>
				</a>
				<a href="javascript:void(0);" class="tab-link" id="favoriteSubjects" onclick="switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html', 'PR');">
					<img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Favourites</span>
				</a>
				<a href="javascript:void(0);" class="tab-link velnk_nav" id="opendayLanding" onclick="switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');">
					<img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Virtual events</span>
				</a>
					<a href="javascript:void(0);" class="tab-link" id="myProfile" onclick="switchHighLightTab(this.id, 'html/user/userProfile.html', 'PR');">
					<img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Profile</span>
				</a>                
			</div>                     
		</div>
		
		<!--Filter button-->	
		<div class="fltr_btn open-index" id="providerResultsFilter" style="display:none;">		
			<a >
				<img ng-src="img/fltr.png" data-rjs="3" alt="">Filter
			</a>
		</div>
		<!--Filter button-->
		
		<div class="popup match-popup" id="percentagePRMainBlock">
			<div class="views">
				<div class="view view-mainpop">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left" id="closePercentagePRBlock">
									<a class="back link close-popup">
										<img ng-src="img/icons/cls.png" data-rjs="3" alt="" title="">
									</a>
								</div>
								<p class="center" style="left: 0px;" id="percentageMatchPRUni">SOAS University of London</p>                          
							</div>
						</div>
					</div>
					<div data-page="filter-index" class="pages">
						<div class="page-content fltr" id="percentageMatchPRBlock">
							
						</div>
					</div>               
				</div>
			</div>
		</div>
	
		<!--Filter index-->
		<div class="popup popup-index src_pg crs_page">
			<div class="views">
				<div class="view view-mainpop">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
									<a class="close-popup" href="#" >
										<img ng-src="img/icons/cls.png" data-rjs="3" alt="" title="" width="16" id="resp-image3"/>
									</a>
								</div>
								<p class="center">Filter</p>
								<div class="right">
									<a href="#" onclick="resetSearchFilterValues('myProviderRootCtrl', 'PR');">Reset</a>
								</div>
							</div>
						</div>
					</div>
					<div data-page="filter-index" class="pages">
						
							<div class="page-content fltr">
								<div class="tabs">
									<div id="tab1" class="tab active">
										<div class="content-block uni_tab">
											<div class="crs_tiles ">
												<ul>
													<!--<li>
														<div class="cont">
															<p class="lst_sb">Order by </p>
															<span class="fl_or" id="orderByAddChangeTxt">+ Add</span>
															<p class="lst_sn">    
																<span id="selectedOrderByVal">Not chosen</span>
																<select ng-if="orderBy.length > 0" id="orderBySelectBox" onchange="setOrderByValue(this.options[this.selectedIndex].text, this.value);">
																	<option ng-model="obselected" value="">Please select</option>
																	<option ng-model="obselected" ng-repeat="order in orderBy" value="{{order.orderByName}}">{{order.orderBydisplayName}}</option>                                                                                                                              
																</select>
																<input type="hidden" name="orderByKeyValue" id="orderByKeyValue" value="">
																<input type="hidden" name="oldOrderByValue" id="oldOrderByValue" value="">
																<input type="hidden" name="oldOrderByKeyValue" id="oldOrderByKeyValue" value="">
															</p>
														</div>
													</li>-->
													<li class="open-qual">
														<div class="cont">
															<p class="lst_sb">Qualification </p>
															<a class="fl_or" id="qualificationAddChangeTxtPR">+ Add</a>
															<p class="lst_sn" id="qualificationSelectedPR">Not chosen</p>
															<input type="hidden" name="qualificationCodeSelectedPR" id="qualificationCodeSelectedPR" value="">
															<input type="hidden" name="oldQualificationValuePR" id="oldQualificationValuePR" value="">
															<input type="hidden" name="oldQualificationCodeValuePR" id="oldQualificationCodeValuePR" value="">
														</div>
													</li>
													<li class="open-subject">
														<div class="cont">
															<p class="lst_sb">Subject </p>
															<a class="fl_or">Change</a>
															<p class="lst_sn" id="subjectSelectedPR"></p>
															<input type="hidden" name="categoryCodeSelectedPR" id="categoryCodeSelectedPR" value="">
															<input type="hidden" name="categoryIdSelectedPR" id="categoryIdSelectedPR" value="">	
															<input type="hidden" name="oldCategoryCodeSelectedPR" id="oldCategoryCodeSelectedPR" value="">
															<input type="hidden" name="oldCategoryIdSelectedPR" id="oldCategoryIdSelectedPR" value="">
															<input type="hidden" name="oldCategoryTextPR" id="oldCategoryTextPR" value="">
															<input type="hidden" name="subjectResetValuePR" id="subjectResetValuePR" value="">
														</div>
													</li>                                             													
													<li class="open-howstudy">
														<div class="cont">
															<p class="lst_sb">How you study</p>
															<a class="fl_or" id="studyModeAddChangeTxtPR">+ Add</a>
															<p class="lst_sn" id="studyModeNameSelectedPR">Not chosen</p>
															<input type="hidden" name="smTextKeySelected" id="smTextKeySelectedPR" value="">
															<input type="hidden" name="oldStudyModeNameValue" id="oldStudyModeNameValuePR" value="">
															<input type="hidden" name="oldsmTextKeyValue" id="oldsmTextKeyValuePR" value="">
														</div>
													</li>
													<li class="open-pstudy">
														<div class="cont">
															<p class="lst_sb ">Previous qualifications</p>
															<a class="fl_or " id="previousQualChangeTxtPR">+ Add</a>
															<p class="lst_sn" id="previousQualSelPR">Not chosen</p>
															<input type="hidden" name="previousQualGradesSelected" id="previousQualGradesSelectedPR" value="">
															<input type="hidden" name="previousQualSelected" id="previousQualSelectedPR" value="">
															<input type="hidden" name="pqResetValue" id="pqResetValuePR" value="">
															<input type="hidden" name="oldPreviousQualValue" id="oldPreviousQualValuePR" value="">
															<input type="hidden" name="oldPreviousQualGradesValue" id="oldPreviousQualGradesValuePR" value="">
															<input type="hidden" name="oldPreviousQualText" id="oldPreviousQualTextPR" value="">
															<input type="hidden" name="pqSavedValue" id="pqSavedValuePR" value="">
															<input type="hidden" name="pqTariffSavedValuePR" id="pqTariffSavedValuePR" value="">
															<input type="hidden" name="previousQualGradesSelectedforcount" id="previousQualGradesSelectedforcountPR" value="">
														<input type="hidden" name="previousQualSelectedforcount" id="previousQualSelectedforcountPR" value="">
														</div>
													</li> 
													<li class="open-best" ng-show="assessmentTypeSubFilterResults.length > 0">
														<div class="cont">
															<p class="lst_sb">How you're assessed</p>
															<a class="fl_or" id="assessmentTypeChangeTxtPR">+ Add</a>
															<p class="lst_sn" id="assessmentTypeSelPR">Not chosen</p>
															<input type="hidden" name="assessmentTypeSelected" id="assessmentTypeSelectedPR" value="">
															<input type="hidden" name="oldAssessmentTypeSelected" id="oldAssessmentTypeSelectedPR" value="">
															<input type="hidden" name="oldAssessmentTypeNameSelected" id="oldAssessmentTypeNameSelectedPR" value="">
														</div>
													</li>  
													<li class="open-pref">
														<div class="cont">
															<p class="lst_sb">Your preferences</p>
															<a class="fl_or" id="reviewCategoryAddChangeTxtPR">+ Add</a>
															<p class="lst_sn" id="reviewCategoryNameSelectedPR">Not chosen</p>
															<input type="hidden" name="reviewCategoryIdSelectedPR" id="reviewCategoryIdSelectedPR" value="">
															<input type="hidden" name="oldReviewCategoryNameSelectedPR" id="oldReviewCategoryNameSelectedPR" value="">
															<input type="hidden" name="oldReviewCategoryIdSelectedPR" id="oldReviewCategoryIdSelectedPR" value="">
															<input type="hidden" name="reviewCategorySelectedPR" id="reviewCategorySelectedPR" value="">
															<input type="hidden" name="oldReviewCategorySelectedPR" id="oldReviewCategorySelectedPR" value="">
														</div>
													</li>													
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						
					</div>
					<div class="toolbar tabbar tabbar-labels">
						<div class="toolbar-inner flt_fo" ng-click="submitSearchFilters()" id="viewSearchFilterResultsPR">
							<p style="display:none;">View <span class="courseCountPR">200 courses</span></p>
							<p>View courses</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Filter index-->
		
		<!--Filter Qualification-->
		<div class="popup popup-qual fl_det" >
        <div class="views flipper">
		    <div class="view view-main front">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
                                <a class="back link cls1" >
										<img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content">
							<div class="content-block">
								<div class="fl_cont">
									<h1>Qualification 
									<a class="" id="open-qualttip">
											<span class="clk_im"></span>
										</a>
									</h1>
									<p>What level do you want to study at?</p>
									<div class="list-block" ng-if="qualificationFilters.length > 0">
										<ul>                                       
											<li ng-repeat="qual in qualificationFilters">
												<label class="label-radio item-content" ng-click="getSubjectQualificationCourseCount('qual-'+$index, 'qualification');">                                               
													<input type="radio" name="qualificaiton-radioPR" value="{{qual.qualificationCode}}|{{qual.qualificaiton}}" ng-checked="qual.flag == 'Y'" id="qual-{{$index}}">
													<div class="item-media">
														<i class="icon icon-form-radio"></i>
													</div>
													<div class="item-inner">
														<div class="item-title">{{qual.qualificaiton}}</div>
													</div>
												</label>
											</li>                                                                              
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search end-->
					<div class="toolbar tabbar tabbar-labels det_foot">
						<div class="toolbar-inner ">
							<div class="fl_sve">
								<p class="courseCountPR" id="showQualificationCountPR" style="display:none">300 courses</p>
								<p class="buttons-row" >
									<a href="javascript:void(0);" id="qualificationSavBtnPR" ng-click="saveQualificationSel();" class="button button-fill button-raised" >Save</a>
								</p>
							</div>
						</div>
					</div>
            </div>
			<div class="view view-main back">
        
                  <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls81" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content  ">
                        <div class="content-block">
                            <h3>Undergraduate</h3>
                            <p>Essentially, a degree. Sometimes called BAs (Bachelor of Arts) or BSc (Bachelor of Science), these are level 6 qualifications that will go into a great deal of depth on a subject, lasting on average 3 years. They are academic in nature</p>
                            <h3 class="mt40">Foundation degree</h3>
                            <p>Still higher education but a step down from an undergraduate degree, a foundation degree will give you grounding in a subject but not go into as much depth. A level 5 qualification that usually lasts a year, these often have a practical element but are largely academic</p>
                            <h3 class="mt40">HND / HNC</h3>
                            <p>A HND (aka Higher National Diploma) is a level 5 qualification that is usually run at a college, not a university, and aims at getting you ready for the workplace. They take 2 years to complete and are the equivalent to the first 2 years of an academic degree. HNCs (aka Higher National Certificates) are only a year long and are level 4 qualifications. They also aim at getting you ready for work</p>
                           
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <!--Qualification search end-->
				</div>
			</div>
		</div>
		<!--Filter Qualification-->
		
		<!--Filter Subject-->
		<div class="popup popup-subject fl_det">
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
                                <a class="back link cls2" >
										<img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content">
							<div class="content-block">
								<div class="fl_cont">
									<h1>Subject</h1>
									<p>What do you want to study?</p>
									<div class="list-block" ng-if="subjectfilters.length > 0">
										<ul>                                        
											<li ng-repeat="subject in subjectfilters">
												<label class="label-radio item-content" ng-click="getSubjectQualificationCourseCount('subject-'+$index, 'subject');">                                                
													<input type="radio" name="subject-radioPR" id="subject-{{$index}}" value="{{subject.categoryCode}}|{{subject.searchCategoryId}}|{{subject.subjectName}}" id="subject-{{$index}}" ng-checked="subject.flag == 'Y'">
													<div class="item-media">
														<i class="icon icon-form-radio"></i>
													</div>
													<div class="item-inner">
														<div class="item-title">{{subject.subjectName}}</div>
													</div>
												</label>
											</li>                                                                                
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search end-->
					<div class="toolbar tabbar tabbar-labels det_foot">
						<div class="toolbar-inner ">
							<div class="fl_sve">
								<p class="courseCountPR" id="showSubjectCountPR" style="display:none">300 courses</p>
								<p class="buttons-row">
									<a href="javascript:void(0);" id="sujectFilterSaveBtnPR" ng-click="saveSubjectSel()" class="button button-fill button-raised">Save</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="popup popup-best fl_det">
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
									<a class="cls5" >
										<img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content  ">
							<div class="content-block">
								<h1>What are you best at?</h1>
								<p>Are you more of a coursework person or better at exams?</p>
								<div class="w100p radiv wtbst">
									<span class="fl" onclick="setCheckedVal('S');">
											<input type="radio" name="radio1" value="S" id="school">
												<label class="fl cntry">
													
													<span></span>
									</label>
									</span>
									<span class="fr" onclick="setCheckedVal('C');">
										<input type="radio" name="radio1" value="C" id="college">
											<label class="fl town">
											  
												<span></span>
									</label>
									</span>
									<span class="fl" onclick="setCheckedVal('C');">
										<input type="radio" name="radio1" value="C" id="college">
										<label class="fl big_city">

										<span></span>
									</label>
									</span>
								</div>
								<div class="list-block"></div>
							</div>
						</div>
					</div>
					<!--Qualification search end-->
					<div class="toolbar tabbar tabbar-labels det_foot">
						<div class="toolbar-inner ">
							<div class="fl_sve">
								<p style="display:none">300 courses</p>
								<p class="buttons-row">
									<a href="#" class="button button-fill button-raised">Save</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Filter best-->
		<!--Filter Previous qualification-->
		<div class="popup popup-pstudy fl_det">
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
									<a class="cls6" >
										<img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
							</div>
						</div>
					</div>
				   <!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content  ">
							<div class="content-block">
								<h1>Previous qualifications</h1>
								<p>What grades will you get / have you got?</p>
								<div class="uni_inp" ng-if="previousQualificationfilters.length > 0">
									<select class="fl" onchange="onChageQualGrades(this.value, '', 'PR', 'myProviderRootCtrl');" id="selectGradesPR" >
										<option ng-repeat="previousQual in previousQualificationfilters" value="{{$index+1}}|{{previousQual.gradeLevel}}|{{previousQual.textKey}}" ng-model="pqselected" ng-init="pqselected = qualselected">{{previousQual.qualificaiton}}</option>                                                                      
									</select>
									<span class="fr">+ Change</span>
									<input type="hidden" ng-repeat="previousQual in previousQualificationfilters" id="qual{{$index+1}}" name="qual1" value="{{previousQual.gradeString}}">								
								</div>
								
								<div class="grades">
									<ul id="dynamicQualListPR">                                                                        
									</ul>
									<input type="hidden" name="numberOfGrades" id="numberOfGradesPR" value="1">
								</div>
								<div class="list-block"></div>  							
							</div>
						</div>
					</div>
					<div id="previousQualErrMsgPR" class="err_msg pq_err zi4b0" style="display:none">
						<a href="#" class="err_cls" id="closeErrMsgPR" onclick="closeErrMsgFunc('previousQualErrMsgPR');">
							<img src="img//icons/ic_grey_x.png" class="cls_ico" alt="" onclick="closeErrMsgFunc('previousQualErrMsgPR');">
						</a>				
						<div id="pqerrmsgPR">
						</div>
					</div>
					<!--Qualification search end-->
					<div class="toolbar tabbar tabbar-labels det_foot">
						<div class="toolbar-inner ">
							<div class="fl_sve">
								<p style="display:none;" id="showPreviousQualificationCountPR" class="courseCountPR">300 courses</p>
								<p class="buttons-row">
									<a href="javascript:void(0);" ng-click="saveUCASTariff();" id="previousQualSavBtnPR" class="button button-fill button-raised" disabled>Save</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Filter Previous qualification-->    
		<!--How you study-->
		<div class="popup popup-howstudy fl_det">
        <div class="views flipper">
            <div class="view view-main front">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
                                <a class="back link cls8" >
										<img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content">
							<div class="content-block">
								<div class="fl_cont">
									<h1>How you study 
									<a class="">
											<span class="clk_im1"></span>
										</a>
									</h1>
									<p>How do you want your timetable to look?</p>
									<div class="list-block" ng-if="studyModeFiltersResults.length > 0">
										<ul>                                        
											<li ng-repeat="studyModeItr in studyModeFiltersResults">
												<label class="label-radio item-content">                                                
													<input type="radio" name="studyMode-radio" value="{{studyModeItr.textKey}}|{{studyModeItr.studyMode}}" ng-checked="studyModeItr.flag == 'Y'">
													<div class="item-media">
														<i class="icon icon-form-radio"></i>
													</div>
													<div class="item-inner">
														<div class="item-title">{{studyModeItr.studyMode}}</div>
													</div>
												</label>
											</li>                                        
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search end-->
					<div class="toolbar tabbar tabbar-labels det_foot">
						<div class="toolbar-inner ">
							<div class="fl_sve">
								<p style="display:none;" >300 courses</p>
								<p class="buttons-row">
									<a href="javascript:void(0);" ng-click="saveStudyModeFilter();" id="studyModeFilterSaveBtnPR" class="button button-fill button-raised">Save</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				        <div class="view view-main back">
        
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls11">
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages ">
                    <div class="page-content nw_cont">
                        <div class="content-block">
                            <div class="fl_cont lst">
                                <h3>Full-time</h3>
                                <p>Monday-Friday, 9-5, a full-time course will take up most of your time but is the quickest to complete in terms of years</p>
                                <h3>Sandwich</h3>
                                <p>A full-time course that has a year doing something else is usually called a sandwich course. This could be spending time in industry or it could mean studying abroad, it depends on the course</p>
                                <h3>Part-time</h3>
                                <p>Part-time courses usually take longer to do in terms of years but mean you can do other things around your studies, such as keeping a job</p>
                                <h3>Distance/online</h3>
                                <p>Distance and online courses are ones you do largely by yourself, in the comfort of your home. Some include time in college/university, but most are done at a computer, alone</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
           
    </div>
		
		</div>
    
	
	</div>
    
		
		<!--Filter best-->
		<div class="popup popup-best fl_det" ng-show="assessmentTypeSubFilterResults.length > 0">
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="left">
									<a class="back link cls5">
										<img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content  ">
							<div class="content-block">
								<h1>What are you best at?</h1>
								<p>Are you more of a coursework person or better at exams?</p>
								
								<div class="w100p radiv wtbst" >
									<span class="fl"  ng-repeat="assessmentType in assessmentTypeSubFilterResults">
										<input type="radio" name="assessment-radioPR" value="{{assessmentType.assesmentTypeId}}|{{assessmentType.assesmentTypeName}}" id="assesmentType_{{$index}}" ng-checked="assessmentType.selectedText == 'Y'">
										<label class="fl {{assessmentType.assesmentTypeClassName}}">
											<span></span>
										</label>
									</span>                                
								</div>
								<div class="list-block"></div>
							</div>
						</div>
					</div>
					<!--Qualification search end-->
					<div class="toolbar tabbar tabbar-labels det_foot">
						<div class="toolbar-inner ">
							<div class="fl_sve">
								<p style="display:none;" >300 courses</p>
								<p class="buttons-row">
									<a href="#" class="button button-fill button-raised" id="assessmentTypeFilterSaveBtn" ng-click="saveAssessmentTypeSel();">Save</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Filter best-->

		<!--Filter preferences - review category-->
		<div class="popup popup-pref fl_det">
			<div class="views">
				<div class="view view-main">
				   <div class="navbar">
					  <div class="searchbar-overlay"></div>
					  <div class="navbar-inner">
						 <div class="buttons-row fl_tb">
							<div class="left">
							   <a class="back link cls13">
							   <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
							   </a>
							</div>
						 </div>
					  </div>
				   </div>
				   <!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content">
							<div class="content-block">	
								<div class="fl_cont">
									<h1>Your preferences</h1>
									<p>What's most important to you?</p>
									<p>Choose up to 3</p>
									<div class="ur_pref">
										<ul ng-if="reviewCategorySubFilterResults.length > 0">
										   <li ng-repeat="reviewCategory in reviewCategorySubFilterResults" ng-click="selectReviewCategory($index);">
												<div class="{{reviewCategory.reviewCategoryClassName}}">
													<input type="checkbox" name="reviewCategoryPR" id="reviewCategoryPR_{{$index}}" ng-checked="reviewCategory.selectedText == 'Y'" value="{{reviewCategory.textKey}}|{{reviewCategory.reviewCategoryName}}"/>
													<label>
														<img src="img/pref/{{reviewCategory.mediaId}}.png" width="60" alt="" />
														<span>{{reviewCategory.reviewCategoryDisplayName}}</span>
													</label>
												</div>
											</li>
										</ul>										
									</div>                      
								</div>
							</div>
						</div>
					</div>
				   <!--Qualification search end-->
				   <div class="toolbar tabbar tabbar-labels det_foot">
					  <div class="toolbar-inner ">
						 <div class="fl_sve">
							<p></p> <!-- Choose up to 3 -->
							<p class="buttons-row">
							   <a href="#" disbled="true" id="reviewCategoryFilterSaveBtnPR" class="button button-fill button-raised" ng-click="saveReviewCategory();" disabled>Save</a>
							</p>
						 </div>
					  </div>
				   </div>
				</div>
			</div>
		</div>
		<!--Filter preferences - review category-->