<div data-page="openday-search-landing" ng-controller="openDaySearchLandingCtrl" id="openDaySearchLandingCtrl" class="page crs_page src_pg opdcs_pg">
    <div id="loaderOpendaySearchLanding" style="display:none" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
    </div>

    <div class="navbar">
        <!-- Search Bar -->
        <div id="tab3cont" class="ve_bb1cc">
            <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar d_tl searchbar-init ng-pristine ng-valid searchbar-active">
                <div class="searchbar-input">
                    <input type="search" placeholder="Search events by university" ng-keyup="searchAjaxAutoComplete($event.keyCode)" id="searchAjaxOpendayLanding"
                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    <a id="opendaySearchLandingXmark" ng-click="clearSearch();" class=""></a>
                </div>
                <a class="cls_cancel srbar_cancel" ng-click="goBack();">Cancel</a>
            </form>
        </div>
        <!-- Search Bar overlay -->
        <div class="searchbar-overlay"></div>
        <!-- <div class="navbar-inner swiper-container gallery-thumbs-1">
            <div class="buttons-row crs_tabs swiper-wrapper">
                <a id="searchCourseTab"  href="javascript:void(0)" class="tab-link swiper-slide thumbs-0 active current">Courses</a>
                <a id="searchUniTab" href="javascript:void(0)" class="tab-link swiper-slide thumbs-1">Universities</a>			    
            </div>
        </div> -->
    </div>
    <div class="pages toolbar-through" id="loaderOpendaySearchLandingView" style="display:none">
        <div class="page-content">
            <div class="ve_h40"></div>
            <!-- unis -->
            <div id="openday-dynamic-unis" class="opd_srchpg" style="display:none">
                <div class="content-block uni_tab mt0 hm_slide">
                    <div class="crs_tiles ">
                        <ul ng-if="opendayAjaxSearchResult.length > 0" class="ve_srchmt80">
                            <li ng-if="opendayAjax.collegeId!=0" ng-repeat="opendayAjax in opendayAjaxSearchResult" ng-click="opendayAjaxProviderLandingPage(opendayAjax)">
                                <div class="cont">
                                    <span class="fl gry"> {{opendayAjax.collegeDisplayName}} </span>
                                    <small class="opd_amsd" *ngIf="opendayAjax.opendayMsg!=null">{{opendayAjax.opendayMsg}}</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- unis -->
           
            <!-- Virtual openday -->
            <div class="opdpge_head" ng-show="virtualOpendaysList.length>0">
                <h2 class="page_titl">Virtual events</h2>
                <!-- Slide starts -->
                <div class="uni_tab">
                    <div class="">
                        <div id="swiperVirtual" class="crs_full swiper-container demo-swiper-auto opdcs_swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide opdcomson_row opdcomsonloc" ng-repeat="openday in virtualOpendaysList" ng-click="opendayProviderLandingPage(openday)">
                                    <!-- repeat-slider-done="swiperSliderUpcoming" -->
                                    <span class="ovrly ng-scope"></span>
                                    <img ng-if="openday.mediaPath" ng-src="{{openday.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
                                    <div class="psa">
                                        <div class="uni_lgo">
                                            <img ng-if="institutionBrowseLogo.indexOf(openday.logoName) > -1" src="img/unis/logos/{{openday.logoName}}" alt="" />
                                            <img ng-if="openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="{{openday.collegeLogo}}" alt=""
                                            />
                                            <img ng-if="!openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="img/unis/logos/logo_bg.png"
                                                alt="" />
                                        </div>
                                        <a class="uni_lnk fl" ng-class={'ve_mt24':openday.startDate==null}>{{openday.collegeName}}</a>
                                        <div class="row">
                                            <div class="col-100">
                                                <div class="fl txt_lft">
                                                    <a class="uni_lnk fl uni_loc_txt1"><img src="img/icons/ic_opd_location.png" alt="" class="vam" ng-if="openday.eventCategoryId!='6' && openday.eventCategoryId!='7'">{{openday.venue}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-100">
                                                <i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= openday.reviewRating" class="fa fa-star" aria-hidden="true"></i>
                                                <span ng-if="openday.reviewRating > 0">({{openday.reviewRatingDisplay}})</span>
                                            </div>
                                        </div>
                                        <div class="row botmtinfrow" ng-class={'ve_mtm24':openday.startDate==null}>
                                            <div class="col-100">
                                                <div class="col-50 fl txt_lft txt_dtinf" ng-if="openday.startDate!=null">
                                                    <img src="img/icons/ic_calendar.png" alt="" class="vam">{{openday.startDate}}
                                                </div>
                                                <div class="col-50 fr tx_rgt">{{openday.opendayCount}} {{(openday.opendayCount==1)?"event":"events"}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Slide ends -->
                <a href="javascript:void(0)" ng-click="viewMore('virtual')" class="vmrelnk">View all events</a>
            </div>

            <div class="opdpge_head" ng-show="upcomingOpendaysList.length>0">
                <h2 class="page_titl">Events coming soon</h2>
                <!-- Slide starts -->
                <div class="uni_tab">
                    <div class="">
                        <div id="swiperUpcoming" class="crs_full swiper-container demo-swiper-auto opdcs_swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide opdcomson_row opdcomsonloc" ng-repeat="openday in upcomingOpendaysList" ng-click="opendayProviderLandingPage(openday)">
                                    <!-- repeat-slider-done="swiperSliderUpcoming" -->
                                    <span class="ovrly ng-scope"></span>
                                    <img ng-if="openday.mediaPath" ng-src="{{openday.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
                                    <div class="psa">
                                        <div class="uni_lgo">
                                            <img ng-if="institutionBrowseLogo.indexOf(openday.logoName) > -1" src="img/unis/logos/{{openday.logoName}}" alt="" />
                                            <img ng-if="openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="{{openday.collegeLogo}}" alt=""
                                            />
                                            <img ng-if="!openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="img/unis/logos/logo_bg.png"
                                                alt="" />
                                        </div>
                                        <a class="uni_lnk fl" ng-class={'ve_mt24':openday.startDate==null}>{{openday.collegeName}}</a>
                                        <div class="row">
                                            <div class="col-100">
                                                <div class="fl txt_lft">
                                                   <a class="uni_lnk fl uni_loc_txt1"><img src="img/icons/ic_opd_location.png" alt="" class="vam" ng-if="openday.eventCategoryId!='6' && openday.eventCategoryId!='7'">{{openday.venue}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-100">
                                                <i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= openday.reviewRating" class="fa fa-star" aria-hidden="true"></i>
                                                <span ng-if="openday.reviewRating > 0">({{openday.reviewRatingDisplay}})</span>
                                            </div>
                                        </div>
                                        <div class="row botmtinfrow" ng-class={'ve_mtm24':openday.startDate==null}>
                                            <div class="col-100">
                                                <div class="col-50 fl txt_lft txt_dtinf" ng-if="openday.startDate!=null">
                                                    <img src="img/icons/ic_calendar.png" alt="" class="vam">{{openday.startDate}}
                                                </div>
                                                <div class="col-50 fr tx_rgt">{{openday.opendayCount}} {{(openday.opendayCount==1)?"event":"events"}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Slide ends -->
                <a href="javascript:void(0)" ng-click="viewMore('month')" class="vmrelnk">View all events</a>
            </div>
            <!-- class="region_selbox" -->
            <div class="opdpge_loc">
                <h2 class="page_titl">{{regionHeading}}</h2>

                <div class="slct_rgnbox1">
                    <a href="javascript:void(0)" id="selRegBtn" class="vmrelnk txtlft">{{regionLabel}}</a>
                    <select select1 name="opendayByLocation" id="opendayByLocation" ng-model="opendayByLocation" ng-change="opendayChange('region')">
                        <option value="">Select</option>
                        <option ng-repeat="region in regionList" value="{{region.locationValue}}">{{region.location}}</option>
                    </select>
                </div>

                <div id="swiperRegion" ng-if="regionOpendaysList.length>0" ng-init="sliderInit('swiperRegion')" data-space-between="10" data-slides-per-view="auto" data-centered-slides="true"
                    class="crs_full swiper-container demo-swiper-auto opdcs_swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide opdcomson_row opdcomsonloc" ng-repeat="openday in regionOpendaysList" repeat-slider-done="swiperSliderRegion" ng-click="opendayProviderLandingPage(openday)">
                            <span class="ovrly ng-scope"></span>
                            <img ng-if="openday.mediaPath" ng-src="{{openday.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
                            <div class="psa">
                                <div class="uni_lgo">
                                    <img ng-if="institutionBrowseLogo.indexOf(openday.logoName) > -1" src="img/unis/logos/{{openday.logoName}}" alt="" />
                                    <img ng-if="openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="{{openday.collegeLogo}}" alt=""
                                    />
                                    <img ng-if="!openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="img/unis/logos/logo_bg.png"
                                        alt="" />
                                </div>
                                <a class="uni_lnk fl" ng-class={'ve_mt24':openday.startDate==null}>{{openday.collegeName}}</a>
                                <div class="row">
                                    <div class="col-100">
                                        <div class="fl txt_lft">
                                            <a class="uni_lnk fl uni_loc_txt1"><img src="img/icons/ic_opd_location.png" alt="" class="vam" ng-if="openday.eventCategoryId!='6' && openday.eventCategoryId!='7'">{{openday.venue}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-100">
                                        <i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= openday.reviewRating" class="fa fa-star" aria-hidden="true"></i>
                                        <span ng-if="openday.reviewRating > 0">({{openday.reviewRatingDisplay}})</span>
                                    </div>
                                </div>
                                <div class="row botmtinfrow" ng-class={'ve_mtm24':openday.startDate==null}>
                                    <div class="col-100">
                                        <div class="col-50 fl txt_lft txt_dtinf" ng-if="openday.startDate!=null">
                                            <img src="img/icons/ic_calendar.png" alt="" class="vam">{{openday.startDate}}
                                        </div>
                                        <div class="col-50 fr tx_rgt">{{openday.opendayCount}} {{(openday.opendayCount==1)?"event":"events"}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Slide ends -->
                <a href="javascript:void(0)" ng-if="regionOpendaysList.length>0 && opendayByLocation!=''" ng-click="viewMore('region')" class="vmrelnk">View all events</a>
            </div>
            <!-- openday type -->
            <div class="opdpge_loc">
                <h2 class="page_titl">{{eventHeading}}</h2>
                <div class="slct_rgnbox1">
                    <a href="javascript:void(0)" id="selRegBtn1" class="vmrelnk txtlft">{{eventLabel}}</a>
                    <select select1 name="opendayByEventType" id="opendayByEventType" ng-model="opendayByEventType" ng-change="opendayChange('event')">
                        <option ng-repeat="event in eventTypeList" value="{{event.eventCategoryId}}">{{event.eventCategoryName}}</option>
                    </select>
                </div>

                <div id="swiperEventType" ng-if="eventTypeOpendaysList.length>0" ng-init="sliderInit('swiperEventType')" data-space-between="10" data-slides-per-view="auto" data-centered-slides="true"
                    class="crs_full swiper-container demo-swiper-auto opdcs_swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide opdcomson_row opdcomsonloc" ng-repeat="openday in eventTypeOpendaysList" repeat-slider-done="swiperSliderEvent" ng-click="opendayProviderLandingPage(openday)">
                            <span class="ovrly ng-scope"></span>
                            <img ng-if="openday.mediaPath" ng-src="{{openday.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
                            <div class="psa">
                                <div class="uni_lgo">
                                    <img ng-if="institutionBrowseLogo.indexOf(openday.logoName) > -1" src="img/unis/logos/{{openday.logoName}}" alt="" />
                                    <img ng-if="openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="{{openday.collegeLogo}}" alt=""
                                    />
                                    <img ng-if="!openday.collegeLogo && institutionBrowseLogo.indexOf(openday.logoName) == -1" src="img/unis/logos/logo_bg.png"
                                        alt="" />
                                </div>
                                <a class="uni_lnk fl" ng-class={'ve_mt24':openday.startDate==null}>{{openday.collegeName}}</a>
                                <div class="row">
                                    <div class="col-100">
                                        <div class="fl txt_lft">
                                            <a class="uni_lnk fl uni_loc_txt1"><img src="img/icons/ic_opd_location.png" alt="" class="vam" ng-if="openday.eventCategoryId!='6' && openday.eventCategoryId!='7'">{{openday.venue}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-100">
                                        <i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= openday.reviewRating" class="fa fa-star" aria-hidden="true"></i>
                                        <span ng-if="openday.reviewRating > 0">({{openday.reviewRatingDisplay}})</span>
                                    </div>
                                </div>
                                <div class="row botmtinfrow" ng-class={'ve_mtm24':openday.startDate==null}>
                                    <div class="col-100">
                                        <div class="col-50 fl txt_lft txt_dtinf" ng-if="openday.startDate!=null">
                                            <img src="img/icons/ic_calendar.png" alt="" class="vam">{{openday.startDate}}
                                        </div>
                                        <div class="col-50 fr tx_rgt">{{openday.opendayCount}} {{(openday.opendayCount==1)?"event":"events"}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Slide ends -->
                <a href="javascript:void(0)" ng-if="eventTypeOpendaysList.length>0" ng-click="viewMore('event')" class="vmrelnk">View all events</a>
            </div>
            <div class="ve_h40"></div>
        </div>
    </div>
    <div class="bdy_ovrly"></div>
    <div id="keyboard_hide" class="toolbar tabbar tabbar-labels btm_mnubar">
        <div class="toolbar-inner">
            <a href="javascript:void(0);" class="tab-link" id="homePage" onclick="switchHighLightTab(this.id, 'html/home/homeLanding.html');">
                <img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Home</span>
            </a>
            <a href="javascript:void(0);" class="tab-link" id="searchForm" onclick="switchHighLightTab(this.id, 'html/search/searchLanding.html');">
                <img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Search</span>
            </a>
            <a href="javascript:void(0);" class="tab-link" id="favoriteSubjects" onclick="switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');">
                <img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Favourites</span>
            </a>
            <a href="javascript:void(0);" class="tab-link active velnk_nav" id="opendayLanding" onclick="switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');">
                <img ng-src="img/icons/ic_openday_active.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Virtual events</span>
            </a>
            <a href="javascript:void(0);" class="tab-link" id="myProfile" onclick="switchHighLightTab(this.id, 'html/user/userProfile.html');">
                <img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Profile</span>
            </a>
        </div>
    </div>
</div>