
<div data-page="data" class="page pr_page pr_popup " ng-controller="dataCtrl">
	<div class="navbar">
		<div class="searchbar-overlay"></div>
		<div class="navbar-inner">
			<div class="buttons-row fl_tb">
				<div class="center">
					<div class="left">
						<a href="cd_page.html" class="back link">
							<img src="img/icons/ic_arrow_dark.png" alt="" title="" />
						</a>
					</div>
					<p> Where is this data from</p>									  
				</div>
			</div>
		</div>
	</div>
	<div class="page-content navbar-through">                          
		<div class="content-block m0">
			<div class="pr_dtl">
				<section class="data">
					
					<h2 class="tlte">Course info - Overview</h2>
					<p>
						Basic overview of the course content and what to expect. Data Source: <strong>UCAS/IDP Connect</strong>
					</p>
					
					<h2 class="tlte">WUSCA ranking</h2>
					<p>
						This is the position that each university ranks in the Whatuni Student Choice Awards 2018 (WUSCA). The overall ranking is decided by students from this institution rating them in a Whatuni review. Data Source: <strong>IDP Connect</strong>
					</p>
					
					<h2 class="tlte">CUG ranking</h2>
					<p>
						This is the position that each university ranks in the Complete University Guide 2019 league table. These are independently compiled and ranked. Data Source: <strong>The Complete University Guide</strong>
					</p>
					
					<h2 class="tlte">CUG Subject ranking</h2>
					<p>
						The position that each university ranks in the Complete University Guide 2019 subject league tables. Data Source: <strong>The Complete University Guide</strong>
					</p>
					
					<h2 class="tlte">Course start date</h2>
					<p>
						The month and year that the course starts. Data Source: <strong>UCAS/IDP Connect</strong>
					</p>
					
					<h2 class="tlte">Course duration</h2>
					<p>
						This shows how long the course lasts e.g. 3 years. Data Source: <strong>UCAS</strong>
					</p>
					
					<h2 class="tlte">Study mode</h2>
					<p>
						This shows which course options are available to students e.g. full-time and part-time study. Data Source: <strong>UCAS</strong>
					</p>
					
					<h2 class="tlte">Tuition fees</h2>
					<p>
						Shows the costs of studying this course at this university per annum and can differ according to your place of residence; details as follows:
					</p>
					
					<h2 class="tlte">England</h2>
					<p>
						This is the fee you pay, per annum, if you live in England. 
					</p>
					
					<h2 class="tlte">Scotland</h2>
					<p>
						This is the fee you pay, per annum, if you live in Scotland.
					</p>
					
					<h2 class="tlte">Wales</h2>
					<p>
						This is the fee you pay, per annum, if you live in Wales.
					</p>
					
					<h2 class="tlte">Northern Ireland</h2>
					<p>
						This is the fee you pay, per annum, if you live in Northern Ireland.
					</p>
					
					<h2 class="tlte">International</h2>
					<p>
						This is the fee you pay, per annum, if you live internationally, outside of the EU.
					</p>
					
					<h2 class="tlte">EU</h2>
					<p>
						This is the fee you pay, per annum, if you live in the EU, outside of the UK.
					</p>
					
					<h2 class="tlte">Channel Islands</h2>
					<p>
						This is the fee you pay, per annum, if you live on the Channel Islands.
					</p>
					
					<p>Please note, these tuition fees are subject to change; please contact individual providers to confirm most up-to-date fees. Data Source: <strong>UCAS/IDP Connect</strong></p>
					
					<h2 class="tlte">Entry requirements</h2>
					<p>
						These are the minimum grades (and in some cases the subjects) you’ll need to get on to this course. Data Source: <strong>UCAS/IDP Connect</strong>
					</p>
					
					<h2 class="tlte">Last year - application success rate</h2>
					<p>
						Shows the number of students who applied for the course, and the percentage of those who were successful with their applications. Data Source: <strong>UCAS</strong>
					</p>

					<h2 class="tlte">Handy to know - previous study</h2>
					<p>
						These are the common A-Level subjects that students studied before studying this subject at university. Data Source: <strong>HESA {{hesaLoadYear}}</strong>
					</p>
					
					<h2 class="tlte">Modules</h2>
					<p>
						Contains details of the structured content and topics that are likely to be studied on this course. Modules are subject to annual changes. Always check with the university for the up-to-date list. Data Source: <strong>IDP Connect</strong>
					</p>
					
					<!--<h2 class="tlte">How you're assessed</h2>
					<p>
						Explains the % breakdown of the course assessment methods for each course. Data Source: <strong>UNISTATS {{assessedLoadYear}}</strong>
					</p>
					-->
					
					<h2 class="tlte">What are the numbers saying?</h2>
					<p>
						This section details the % of students who drop out of this university course, and the % of students who achieve a 2:1 grade or higher in this course. Data Source: <strong>UNISTATS {{kisLoadYear}}</strong>
					</p>
					
					<h2 class="tlte">Employment rate</h2>
					<p>
						Shows the % of students from this university who are either employed in a graduate job, or enrolled onto a further study programme within 6 months of their graduation date. Data Source: <strong>UNISTATS {{kisLoadYear}}</strong>
					</p>
					
					<h2 class="tlte">Graduate Salary - this uni</h2>
					<p>
						Shows the average annual salary that graduates from this university earn within 6 months of graduating. Data Source: <strong>UNISTATS {{kisLoadYear}}</strong>
					</p>					
						
					<h2 class="tlte">Graduate Salary - average across universities</h2>
					<p>
						Shows the average annual salary that graduates from all universities earn within 6 months of graduating. Data Source: <strong>UNISTATS {{kisLoadYear}}</strong>
					</p>					
					
				</section>
				<!--Divider-->
				<div class="divider"></div>
				<!--Divider-->                                   
				<!--Content-->
			</div>
		</div>
	</div>
</div>
               