<!-- page 1 >  signup via email or facebook -->
<div ng-controller="homeCntrl" data-page="index" class="page main_pg">
	<div class="page-content login-screen-content log_in" ng-class="{guest : isGuestUser!=''}">
		<div class="content-block lg_frm" ng-show="isGuestUser=='YES'">
			<a href="#" class="back_link back link" data-push-state="false" stop-blur id=""><img ng-src="img/icons/bk_ico.png" data-rjs="3" width="11" height="18" id="resp-image" alt=""></a>
			<h1>Get full access</h1>
			<p class="g_txt">You’ll need to sign up to<br/> access this feature</p>
		</div>
		<div class="content-block">
			<h1 ng-show="isGuestUser==''">THINKING OF GOING TO UNI?</h1>
		</div>
		<!--Login button-->
		<div class="content-block lg_sr">
			<div class="buttons-row mb10">
				<span class="fb_ic"></span>
				<a href="javascript:void(0);" class="button-fill fb_btn" onclick="firebaseEventTrack('tutorialbegin',{method:'facebook'});">Continue with facebook</a>
			</div>
				<div class="buttons-row sgn_up"><a href="html/user/signUp.html" class="button-fill sgn_btn" onclick="undoFacebookFlag();firebaseEventTrack('tutorialbegin',{method:'email'});">Sign up with email</a></div>
			   <p><a href="html/user/login.html" onclick="firebaseEventTrack('login',{method:'email'});"  class="alrdy_btn">Already have an account?</a></p>
		</div>
		<div class="content-block pge g_pge">
			<p>By joining the Whatuni community, you are agreeing to Whatuni's
				<a href="#" onclick="goToWhatuniPage('https://www.whatuni.com/wu-cont/termsAndCondition.htm');">terms and conditions</a> and
				<a href="#" onclick="goToWhatuniPage('https://www.whatuni.com/wu-cont/privacy.htm');">privacy notice</a>.
			</p>
		</div>
		<p><a href="#" ng-click="signupAsGuset();" ng-show="isGuestUser==''" onclick="firebaseEventTrack('guest',{});" class="alrdy_btn gustsign">Continue as guest</a></p>
		<!--Login button-->
	</div>
</div>		