<div data-page="login" class="page ln_pg lgn_pg" ng-controller="userLoginCtrl" >
	<div class="page-content login-screen-content log_in" id="loginSucErrBlk">
		<div class="content-block lg_frm">
		   <a href="" id="bk_ico3" class="back_link back link" data-push-state="false"><img src="img/icons/bk_ico.png" width="11" height="18" alt=""></a>		
		  			   						   
			<h1>Log in</h1>							
			<form>
				<fieldset>
					<label>EMAIL ADDRESS</label>
				  <input type="email" maxlength="115" ng-enter="validateUserLogin();" onkeyup="showSuccess(this.id, 'inp_tick_email', 'userLoginErrMsg', 'loginSucErrBlk'); showLoginButton('logInButton');" ng-focus="changeErrorPage('loginSucErrBlk', 'inp_tick_email');"  ng-model="email" id="email" value="" ng-blur="checkAndShowValidEmail('loginSucErrBlk', 'userLoginErrMsg');" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				  <span class="" id="inp_tick_email"></span>
				</fieldset>
				  <fieldset>
					<label>PASSWORD <span onclick="showHidePassword();" id="showHidePwd">Show</span></label>
				   <input type="password" maxlength="20" ng-enter="validateUserLogin();" onkeyup="showSuccess(this.id, 'inp_tick_pwd'); showLoginButton('logInButton');"  ng-model="password" id="password" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				   <span class="" id="inp_tick_pwd"></span>
				</fieldset>
				<p class="lg_p"><a href="html/user/forgotPassword.html" class="frg_btn"> Forgot password?</a></p>
				<!-- Login button-->
				<a href="javascript:void(0);" disabled="disabled" id="logInButton" ng-click="validateUserLogin();"  class="button-fill button-raised btn_sgn">
					<img style="display:none;" class="spinner" id="loader_img_log_in" src="img/loader/default.gif" alt="" width="41px"/>
					<span id="logIn">Log in</span>
				</a>
				<!-- Login button-->
			</form>               							
		</div>
	</div>
	
	<div class="err_msg" style="display:none" id="userLoginErrMsg">
		<p class="rd">Hmm, something's not quite right</p>
		<p id="loginErrMsg">Please enter your details again</p>		
		<p id="loginErrMsgPwd">Please enter your details again</p>				
		<a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('userLoginErrMsg');">
			<img src="img/icons/ic_grey_x.png" class="cls_ico" alt=""/>
		</a>
	</div>
				
</div>
				
		
	