<div data-page="preferences" class="page email-settings email-page1 page-on-center" ng-cloak ng-controller="preferencesCtrl">
   
   <div id="loaderCourseSignupPreferences" style="display:none" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
   </div>
	
   <div class="page-content ">
      <div class="email-content more-email">
		 <a href="#" class="email-con-back back" style="display: none"><img src="img/icons/arrow-back-b.svg" alt=""> </a>
         <h3>Email settings</h3>
         <ul>
            <li class="bounceInRight wow emailPref" data-wow-delay="0.13s" style="visibility: visible; animation-delay: 0.13s; animation-name: bounceInRight;">
               <div class="li-left">Newsletters
                  <br>
                  <span>Emails from us providing you the latest university news, tips and guides</span>
               </div>
               <div class="li-right">
                  <div class="item-input">
							<label class="label-switch" onclick="onOffEmail('marketingEmail')">
								<input type="checkbox" id="marketingEmail" value="{{userFlagList[0].marketingEmail}}" ng-checked="(userFlagList[0].marketingEmail == 'Y')">
                        <div class="checkbox"></div>
                     </label>
                  </div>
               </div>
            </li>
            <li class="bounceInRight wow emailPref" data-wow-delay="0.16s" style="visibility: visible; animation-delay: 0.16s; animation-name: bounceInRight;">
               <div class="li-left">University updates 
                  <br>
                  <span>Emails on behalf of universities and carefully selected third-party partners</span>
               </div>
               <div class="li-right">
                  <div class="item-input">
							<label class="label-switch" onclick="onOffEmail('solusEmail')">
								<input type="checkbox" id="solusEmail" value="{{userFlagList[0].solusEmail}}" ng-checked="(userFlagList[0].solusEmail == 'Y')">
                        <div class="checkbox"></div>
                     </label>
                  </div>
               </div>
            </li>
            <li class="bounceInRight wow emailPref" data-wow-delay="0.19s" style="visibility: visible; animation-delay: 0.19s; animation-name: bounceInRight;">
               <div class="li-left">Reminders
                  <br>
                  <span>To remind you about upcoming course start dates, your shortlisted courses and any courses you emailed about</span>
               </div>
               <div class="li-right">
                  <div class="item-input">
							<label class="label-switch" onclick="onOffEmail('receiveNoEmailFlag')">
								<input type="checkbox" id="receiveNoEmailFlag" value="{{userFlagList[0].receiveNoEmailFlag}}" ng-checked="(userFlagList[0].receiveNoEmailFlag == 'N')">
                        <div class="checkbox"></div>
                     </label>
                  </div>
               </div>
            </li>
            <li class="bounceInRight wow emailPref" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceInRight;">
               <div class="li-left">Surveys
                  <br>
                  <span>Have your say on important education issues and the services you receive from us and our partners</span>
               </div>
               <div class="li-right">
                  <div class="item-input">
                     <label class="label-switch" onclick="onOffEmail('surveyFlag')" >
                        <input type="checkbox" id="surveyFlag" value="{{userFlagList[0].surveyFlag}}" ng-checked="(userFlagList[0].surveyFlag == 'Y')">
                        <div class="checkbox"></div>
                     </label>
                  </div>
               </div>
            </li>
			<!--
			<li class="bounceInRight wow" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInRight;">
               <div class="li-left">All email
                  <br>
                  <span>The whole lot; everything mentioned above</span>
               </div>
               <div class="li-right">
                  <div class="item-input">
							<label class="label-switch" onclick="onOffEmail('permitEmail')">
								<input type="checkbox" id="permitEmail" />
                        <div class="checkbox"></div>
                     </label>
                  </div>
               </div>
            </li>
			-->
         </ul>
         
      </div>
      
   </div>
   <div class="footer-button trsn">
         <a href="javascript:void(0)" ng-click="saveMailingPreferences('')">Save preferences</a>
      </div>
</div>