<!-- sign up via email-->
<div data-page="signup" class="page" ng-controller="signUpCtrl">
	<div id="bodyContent" class="page-content login-screen-content log_in">
		<div class="content-block lg_frm" >
		   <a href="index.html" class="back_link back link" stop-blur id="bk_ico1" data-push-state="false"><img ng-src="img/icons/bk_ico.png" data-rjs="3" width="11" height="18" id="resp-image" alt=""></a>	
		   
			<form>
			
				<div id="userName">
					<h1>What’s your name</h1>
					<fieldset>
						<label>FIRST NAME</label>
						<input type="text" autocapitalize="on" maxlength="40" id="firstName" ng-keyup="validateFirstName('firstName', 'inp_tick_firstname', 'inp_tick_lastname');" ng-blur="validateAndShowFirstName('bodyContent');" ng-focus="changeErrorPage('bodyContent', 'inp_tick_firstname');" ng-model="firstName" autocomplete="off" autocorrect="off" spellcheck="false" class="">
						<span class="" id="inp_tick_firstname"></span>
					</fieldset>
					<fieldset>
						<label>LAST NAME</label>
						<input type="text" autocapitalize="on" id="lastName" maxlength="40" ng-keyup="validateLastName('lastName', 'inp_tick_firstname', 'inp_tick_lastname');" ng-model="lastName" autocomplete="off" autocorrect="off" spellcheck="false">
						<span class="" id="inp_tick_lastname"></span>
					</fieldset>
					<p class="lg_p" style="display:none;" id="nameSuceessMsg"> Nice to meet you</p>
					<a href="html/user/signUp2.html" disabled="disabled" id="nextButton" ng-click="onItemClicked(firstName, lastName)" class="button-fill button-raised nxt_btn btn_sgn" onclick="firebaseEventTrack('tutorialcomplete',{method:'email'});" >Next</a>
				</div>
				
			</form>  
			
		</div>
	</div>
	
	<div id="nameSignUpErrMsg" class="err_msg" style="display:none;">	
        <p class="rd">Hmm, something's not quite right</p>	
		<p id="firstnameErrMsg"></p>
		<a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('nameSignUpErrMsg');">		
			<img src="img/icons/ic_grey_x.png" class="cls_ico" alt="">
		</a>	
	</div>
	
	<!--Privacy tooltip-->   
	<!--Hidden values-->
		<input type="hidden" ng-model="fbUserName" id="userName" value="">
		<input type="hidden" ng-model="fbUserFirstName" id="userFirstName" value="">
		<input type="hidden" ng-model="fbUserLastName" id="userLastName" value="">
		<input type="hidden" ng-model="fbUserId" id="userId" value="">
		<input type="hidden" ng-model="fbAgeRange" id="ageRange" value="">
		<input type="hidden" ng-model="fbUserEmail" id="userEmail" value="">
		<input type="hidden" ng-model="fbUserLocale" id="userLocale" value="">
		<input type="hidden" ng-model="fbUserGender" id="userGender" value="">
		<input type="hidden" ng-model="fbTotalFriends" id="totalFriends" value="">									
	<!--Hidden values-->
	
</div>