<div class="page final5" data-page="final-five" ng-cloak ng-controller="favouritesCtrl" id="favouritesCtrl">
	
	<div id="favouritesLoader" style="display:none" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
    </div>
	
	<div class="navbar">
        <div class="searchbar-overlay"></div>
        <div class="navbar-inner">
			<div class="left">
                <a href="#" class="back link" data-push-state="false">
					<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" width="11" id="resp-image" title=""/>
			    </a>
			</div>
			<div class="center">		   
				<p>Final 5</p>		 
			</div>
		</div>
    </div>
	<div class="status" id="addToFinal5Tab" ng-if="shortlistExistFlag != null && shortlistExistFlag=='Y'">
		<p id="tabToAddFinal5"></p>
		<a ng-click="closefinal5Tab();"><img src="img/icons/cls_wht.png" width="12" alt=""></a>
	</div>
    <div class="page-content final15" id="finalFiveParentDiv"> 
		<!--Suggestion Lists-->
		<div ng-if="shortlistExistFlag != null && shortlistExistFlag=='N'">
			<!--Blank div-->
			<div class="blank">
				<p>   You haven’t added anything <br>  to your favourites yet…</p>		  
			</div>                        
			<!--Blank div-->

			<section class="srt_list" ng-if="suggestionDetails && suggestionDetails.length > 0">
				<h3>YOU MIGHT LIKE</h3>
				<ul>
					<li ng-repeat="suggestions in suggestionDetails" ng-click="selectSuggestions($index);" name="suggestions-{{$index}}" id="suggestions-{{$index}}" university_name="{{suggestions.institutionName}}" course_name="{{suggestions.courseTitle}}">				
						<div class="lgo">						
							<img ng-if="institutionBrowseLogo.indexOf(suggestions.logoName) > -1" src="img/unis/logos/{{suggestions.logoName}}"/>
							<img ng-if="suggestions.logo && institutionBrowseLogo.indexOf(suggestions.logoName) == -1" src="{{suggestions.logo}}" fallback-src="img/unis/logos/logo_bg.png"/>
							<img ng-if="!suggestions.logo && institutionBrowseLogo.indexOf(suggestions.logoName) == -1" src="img/unis/logos/logo_bg.png"/>
						</div>
						<a ng-if="suggestions.courseTitle && suggestions.courseTitle.length > 0">{{suggestions.courseTitle}} <br>
							<span class="un_nm">{{suggestions.institutionName}}</span>
							<small class="clr_gry" ng-if="matchingPercentageFlag">{{suggestions.matchingPercentage}}% match</small>
						</a>
						<a ng-if="!suggestions.courseTitle">{{suggestions.institutionName}} <br>							
							<small class="clr_gry" ng-if="matchingPercentageFlag">{{suggestions.matchingPercentage}}% match</small>
						</a>
						<span class="fav_ico" id="favIcon-{{$index}}"></span>
						<input type="hidden" id="favCourseId-{{$index}}" value="{{suggestions.courseId}}"/>
						<input type="hidden" id="favInstitutionId-{{$index}}" value="{{suggestions.institutionId}}"/>						
					</li>           
				</ul>
			</section>  
		</div>
		<!--Suggestion Lists-->
		
		<!--Shortlist Lists-->
		<div ng-if="shortlistExistFlag != null && shortlistExistFlag=='Y'">  
			
			
			<section class="srt_list">
				<div class="list-block">
					<ul id = "sortable-1" ng-if="final5ShortlistDetails && final5ShortlistDetails.length > 0" >
						<li class="{{final5Shortlists.finalFiveClassName}}" ng-repeat="final5Shortlists in final5ShortlistDetails" finalChoiceId="{{final5Shortlists.finalChoiceId}}" position="{{final5Shortlists.position}}" university_name="{{final5Shortlists.institutionName}}" repeat-done>
							<div class="swipeout-content item-content">
								<div class="srl_dv">
									<div class="lgo">
										<img ng-if="institutionBrowseLogo.indexOf(final5Shortlists.logoName) > -1" src="img/unis/logos/{{final5Shortlists.logoName}}"/>
										<img ng-if="final5Shortlists.logo && institutionBrowseLogo.indexOf(final5Shortlists.logoName) == -1" src="{{final5Shortlists.logo}}" fallback-src="img/unis/logos/logo_bg.png" />
										<img ng-if="!final5Shortlists.logo && institutionBrowseLogo.indexOf(final5Shortlists.logoName) == -1" src="img/unis/logos/logo_bg.png"/>
									</div>
									<a ng-if="final5Shortlists.courseTitle && final5Shortlists.courseTitle.length > 0">{{final5Shortlists.courseTitle}} 
										<br>
										<span class="un_nm">{{final5Shortlists.institutionName}}</span>
										<small class="clr_gry" ng-if="matchingPercentageFlag">{{final5Shortlists.matchingPercentage}}% match</small>
									</a>
									<a ng-if="!final5Shortlists.courseTitle">{{final5Shortlists.institutionName}} 										
										<small class="clr_gry" ng-if="matchingPercentageFlag">{{final5Shortlists.matchingPercentage}}% match</small>
									</a>
									<div class="{{final5Shortlists.positionClassName}}" ng-if="final5Shortlists.position != null">{{final5Shortlists.position}}</div>
								</div>
							</div>
							<input type="hidden" id="reorderCourseId-{{$index}}" value="{{final5Shortlists.courseId}}"/>
							<input type="hidden" id="reorderInstitutionId-{{$index}}" value="{{final5Shortlists.institutionId}}"/>
							<input type="hidden" id="finalChoiceId-{{$index}}" value="{{final5Shortlists.finalChoiceId}}"/>
							<input type="hidden" id="courseName-{{$index}}" value="{{final5Shortlists.courseTitle}}"/>
							<input type="hidden" id="institutionName-{{$index}}" value="{{final5Shortlists.institutionName}}"/>
							<div class="swipeout-actions-right ">
								<a href="#" class="swipeout-fav" ng-click="removeFromFavourites($index,final5Shortlists.position,'FINAL5');">Remove<br>from<br>favourites</a>
								<a href="#" class="swipeout-f5 swipeout-overswipe" ng-click="removeFromFinalFive($index);">Remove<br>from<br>Final 5</a>
							</div>
						</li>					
					</ul>
					<ul ng-if="shortlistDetails && shortlistDetails.length > 0">
						<li class="swipeout" id="shortlists-{{$index}}" ng-repeat="shortlists in shortlistDetails" ng-click="selectshortLists($index, final5ListLength)" university_name="{{shortlists.institutionName}}">
							<div class="swipeout-content item-content">
								<div class="lgo">
									<img ng-if="institutionBrowseLogo.indexOf(shortlists.logoName) > -1" src="img/unis/logos/{{shortlists.logoName}}"/>
									<img ng-if="shortlists.logo && institutionBrowseLogo.indexOf(shortlists.logoName) == -1" src="{{shortlists.logo}}" fallback-src="img/unis/logos/logo_bg.png"/>
									<img ng-if="!shortlists.logo && institutionBrowseLogo.indexOf(shortlists.logoName) == -1" src="img/unis/logos/logo_bg.png"/>
								</div>
								<a ng-if="shortlists.courseTitle && shortlists.courseTitle.length > 0" >{{shortlists.courseTitle}} 
									<br>
									<span class="un_nm">{{shortlists.institutionName}} </span>
									<small class="clr_gry" ng-if="matchingPercentageFlag">{{shortlists.matchingPercentage}}% match</small>
								</a>
								<a ng-if="!shortlists.courseTitle" >{{shortlists.institutionName}}
									<small class="clr_gry" ng-if="matchingPercentageFlag">{{shortlists.matchingPercentage}}% match</small>
								</a> 
							</div>
							<div class="swipeout-actions-right" ng-click="removeFromFavourites($index,'','FAVOURITES');">
								<a href="#" class="swipeout-fav swipeout-overswipe">Remove<br>from<br>favourites</a>
							</div>
							<input type="hidden" id="finalCourseId-{{$index}}" value="{{shortlists.courseId}}"/>
							<input type="hidden" id="finalInstitutionId-{{$index}}" value="{{shortlists.institutionId}}"/>
							<input type="hidden" id="basketContentId-{{$index}}" value="{{shortlists.basketContentId}}"/>
							<input type="hidden" id="courseName-{{$index}}" value="{{shortlists.courseTitle}}"/>
							<input type="hidden" id="institutionName-{{$index}}" value="{{shortlists.institutionName}}"/>
						</li>
					</ul>
				</div>
			</section>
		</div> 
		<!--Shortlist Lists-->		
	</div>	
	<!--Tabs-->  
	<div class="toolbar tabbar tabbar-labels" id="favFooterDiv">
		<div class="toolbar-inner" id="footerDiv">
			<a href="javascript:void(0);" class="tab-link" id="homePage" onclick = "switchHighLightTab(this.id, 'html/home/homeLanding.html');">
				<img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Home</span>
			</a>
			<a href="javascript:void(0);" class="tab-link" id="searchForm" onclick = "switchHighLightTab(this.id, 'html/search/searchLanding.html');" >
				<img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Search</span>
			</a>
			<a href="javascript:void(0);" class="tab-link active" id="favoriteSubjects" onclick = "switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');" >
				<img ng-src="img/icons/ic_final5_active.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Favourites</span>
			</a>
			<a href="javascript:void(0);" class="tab-link velnk_nav" id="opendayLanding" onclick="switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');">
                <img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Virtual events</span>
            </a>
			<a href="javascript:void(0);" class="tab-link" id="myProfile" onclick = "switchHighLightTab(this.id, 'html/user/userProfile.html');" >
				<img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Profile</span>
			</a>
		</div>
		<div class="add_fav" style="display:none;" id="addToFavourites" ng-click="addToFavourites()"><p>Add to favourites</p></div>  
		<div class="add_fav cnf_f5" style="display:none;" id="addToFinal5" ng-click="addToFinal5()"><p>Confirm selection</p></div>
	</div>
</div>