<div data-page="browse" id="browseHomeCntrl" class="page crs_page" ng-cloak ng-controller="browseHomeCtrl">
	<div class="navbar">
		<div class="navbar-inner swiper-container gallery-thumbs">
			<div class="crs_tabs buttons-row  swiper-wrapper">
				<a  href="javascript:void(0)" class="tab-link swiper-slide thumbs-0 active">Courses</a>
				<a href="javascript:void(0)" class="tab-link swiper-slide thumbs-1">Universities</a>
			</div>
		</div>
	</div>
    <div class="pages toolbar-through">
		<div id="loaderCourse" style="display:none" class="s_4041">
			<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc"/>
		</div> 
		<div id="pullContent" class="page-content pull-to-refresh-content">
			<div class="status" id="listExc_browseHomeCntrl" style="display:none">
				<p class="" id="listExcMsg_browseHomeCntrl">Tap to add to Final 5</p>
				<a href="#"><img src="img/icons/cls_wht.png" width="12" alt=""></a>
			</div>
			
			<div class="pull-to-refresh-layer" id="arrow_hide" style="display:none">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			<div class="guest-cont">
					<!-- Covid info section starts -->
			<div ng-if="articleFlag=='Y'" class="covid_infosect" ng-bind-html='getSafeHtml(articleContent)' >
			</div>
			<!-- Covid info section ends -->

			<!-- Clearing switch starts -->
			<div class="content-block" style="margin-bottom:0px" ng-if="guestUserFlag=='Y' && userClearingFlag == 'ON'">
				<div class="left border-black bor_bot1">
					<div class="wuclrapp_infrow" ng-click="gotowhatuniclearing()">
						<a href="#" class="wuclrapp_swtchbtn">Browse Clearing courses<img ng-src="img/icons/rghtarrow2.png" data-rjs="3" alt="rightarrow"></a>
					</div>
					
				</div>
			</div>
			<!-- Clearing switch ends -->

			<div class="content-block" style="margin-bottom:0px" ng-if="guestUserFlag=='N'">
				<div ng-if="userName" class="left border-black bor_bot1">
					<h1>Hi {{userName}}</h1>
					<div class="wuclrapp_infrow" ng-if="userClearingFlag == 'ON'" ng-click="gotowhatuniclearing()">
						<a href="#" class="wuclrapp_swtchbtn">Browse Clearing courses<img ng-src="img/icons/rghtarrow2.png" data-rjs="3"  alt="rightarrow"></a>
					</div>	
				</div>
			</div>
			<!-- <div class="pref crs_tiles clr_chkbox" ng-if="showClearingSwitchFlag =='ON'">
				<ul>
					<li class="email">
						<div class="cont">
							<p class="uni_lnk">Clearing / Adjustment courses</p>
							<label class="label-switch" ng-click="clearingFlagChange()">
								<input type="checkbox" id="homeClearingFlag" value="{{userClearingFlag}}"  ng-checked="(userClearingFlag == 'ON')"> <!-- ng-checked="(userClearingFLag == 'ON')"
								<div class="checkbox"></div>
							</label>
						</div>
					</li>	
				</ul>
			</div> -->
			<div class="swiper-container tabs-top"> <!-- tabs-swipeable-wrap -->
				<div id="browseCont" class="swiper-wrapper" > <!-- tabs -->
					<!-- browse course -->
					<div  class="tab active swiper-slide gallery_nav-0" tabIndex="0"> <!-- id="tab1" -->
						<div class="content-block mt0 hm_slide">
							<!-- <div ng-if="userName" class="left border-black bor_bot1">
									<h1>Hi {{userName}}</h1>
							</div> -->
							
							<!-- featured Course start -->
							<div ng-if="featuredCourse.length > 0" class="tx_cn">
								<h3 class="no_bg"> Course OF THE WEEK</h3>
							</div>
							<div class="crs_tiles crs_full bor_bot1" ng-if="featuredCourse.length > 0">
								<ul >
									<li ng-repeat="university in featuredCourse" ng-click="saleSortCoursePageURL($event)" university_name="{{university.collegeNameDisplay}}" university_id="{{university.collegeId}}" id="appslots-course-{{university.collegeId}}" course_id="{{university.courseId}}">
										<span ng-if="university.mediaPath" class="ovrly"></span>
										
										
										<img ng-if="university.mediaPath"  ng-src="{{university.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
										
										<div class="psa">
											<div class="uni_lgo" >
												
												<img src="{{university.logo}}" alt=""/>
												
											</div>
											
											<a class="uni_lnk">{{university.courseName}}</a>
											<div class="row">
												<div class="col-100 fnt17">
													{{university.collegeNameDisplay}}
												</div>
											</div>
											<div class="row">
												<div class="col-100">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.reviewRating" class="fa fa-star" aria-hidden="true"></i><span ng-if="university.reviewRating > 0">({{university.reviewRatingDisplay}})</span>
												</div>
											</div>
											<div class="row" ng-if="university.nextOpenday!=null">
												<div class="col-100">
													<div class="col-50 fl">
														<img src="img/icons/ic_calendar.png" alt="" class="vam">{{university.nextOpenDay}}
													</div>
													<!--<div class="col-50 fr tx_rgt">100% match</div>-->
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- featured Course end -->
							
							<div ng-if="recentCourseList.length > 0 && guestUserFlag=='N'" class="tx_cn">
								<h3> Recent Searches</h3>
							</div>
							<div class="crs_tiles">
								<ul ng-if="recentCourseList.length > 0 && guestUserFlag=='N'">
									<li ng-repeat="course in recentCourseList">
										<a ng-click="searchResultsPageURL(course.subjectName, course.searchCode, course.searchId)" >
											<span class="sub_tiles">
												<img ng-if="subjects.indexOf(course.mediaId) > -1" ng-src="img/subjects/images/{{course.mediaId}}_169px.png" data-rjs="3" alt=""/>
												<img ng-if="course.tileMediaPath && subjects.indexOf(course.mediaId) == -1" ng-src="{{course.tileMediaPath}}" data-rjs="3" alt=""/>
												<img ng-if="!course.tileMediaPath && subjects.indexOf(course.mediaId) == -1" ng-src="img/unis/logos/logo_bg.png" data-rjs="3" alt=""/>
											</span>
											<span class="sub_ico">
												<span class="ico_img">
													<img ng-if="subjects.indexOf(course.mediaId) > -1" src="img/subjects/icons/{{course.mediaId}}.png" alt=""/>
													<img ng-if="course.iconMediaPath && subjects.indexOf(course.mediaId) == -1" src="{{course.iconMediaPath}}" alt=""/>
													<img ng-if="!course.iconMediaPath && subjects.indexOf(course.mediaId) == -1" src="img/unis/logos/logo_bg.png" alt=""/>
												</span>
												{{course.subjectName}}
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div ng-if="otherCourseList.length > 0" class="tx_cn">
								<h3 ng-if="recentCourseList.length > 0 && guestUserFlag=='N'"> Other Subjects</h3>
								<h3 ng-if="(recentCourseList.length == 0 && guestUserFlag=='N') || guestUserFlag !='N'"> Our Subjects</h3>
							</div>
							<div class="crs_tiles">
								<ul ng-if="otherCourseList.length > 0">
									<li ng-repeat="course in otherCourseList"> <!-- repeat-done-home-->
										<a ng-click="searchResultsPageURL(course.subjectName, course.searchCode, course.searchId)" >
											<span class="sub_tiles">
												<img ng-if="subjects.indexOf(course.mediaId) > -1" ng-src="img/subjects/images/{{course.mediaId}}_169px.png" data-rjs="3" alt=""/>
												<img ng-if="course.tileMediaPath && subjects.indexOf(course.mediaId) == -1" ng-src="{{course.tileMediaPath}}" data-rjs="3" alt=""/>
												<img ng-if="!course.tileMediaPath && subjects.indexOf(course.mediaId) == -1" ng-src="img/unis/logos/logo_bg.png" data-rjs="3" alt=""/>
											</span>
											<span class="sub_ico">
												<span class="ico_img">
													<img ng-if="subjects.indexOf(course.mediaId) > -1" src="img/subjects/icons/{{course.mediaId}}.png" alt=""/>
													<img ng-if="course.iconMediaPath && subjects.indexOf(course.mediaId) == -1" src="{{course.iconMediaPath}}" alt=""/>
													<img ng-if="!course.iconMediaPath && subjects.indexOf(course.mediaId) == -1" src="img/unis/logos/logo_bg.png" alt=""/>
												</span>
												{{course.subjectName}}
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- APP SEARCH NAVIGATION POP UP - START -->
 		                <div class="rslt_grn cl_btn" id="searchPopup" >
							<p id="overHundResults"><span class="lt_bld">Can't find your favourite subject?</span><br>Don't worry we have loads more to choose from</p>
							<span class="gtsp_btn"><a href="" class="btn btn_wht" id="goToSearch"  onclick = "switchHighLightTab(this.id, 'html/search/searchLanding.html');">Go to search page</a></span>
							<a ng-click="closeSearchPopup('NO');" onclick="javascript:$$D('searchPopup').style.display = 'none';" href="#" class="cl_btn"><img src="img/icons/cls_wht.png" width="10" alt=""></a>
				        </div>
		                <!-- APP SEARCH NAVIGATION POP UP - END -->
					</div>
					<!-- browse course -->
					<!-- browse unis -->
					<div  class="uni_tab swiper-slide gallery_nav-1" tabIndex="1"> <!-- id="tab2" uni_tab tab -->
						<div class="content-block mt0 hm_slide">
							<!-- <div ng-if="userName" class="left border-black bor_bot1">
								<h1>Hi {{userName}}</h1>
							</div> -->
							
							<!-- featured University start -->
							<div ng-if="featuredUniversity.length > 0" class="tx_cn">
								<h3 class="no_bg"> UNIVERSITY OF THE WEEK</h3>
							</div>
							<div class="crs_tiles crs_full bor_bot1" ng-if="featuredUniversity.length > 0">
								<ul>
									<li ng-repeat="university in featuredUniversity" ng-click="saleSortInstitutionPageURL($event)" university_name="{{university.collegeNameDisplay}}" university_id="{{university.collegeId}}" tile_media_path="{{university.tileMediaPath}}" id="appslots-university-{{university.collegeId}}">
										<span ng-if="university.mediaPath" class="ovrly"></span>
										<img ng-if="university.mediaPath"  ng-src="{{university.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
										
										<div class="psa">
											<div class="uni_lgo" >
												
												
												<img src="{{university.logo}}" alt=""/>
												
											</div>
											<a class="uni_lnk">{{university.collegeNameDisplay}}</a>
											<div class="row">
												<div class="col-100">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.reviewRating" class="fa fa-star" aria-hidden="true"></i><span ng-if="university.reviewRating > 0">({{university.reviewRatingDisplay}})</span>
												</div>
											</div>
											<div class="row" ng-if="university.nextOpenday!=null">
												<div class="col-100">
													<div class="col-50 fl">
														<img src="img/icons/ic_calendar.png" alt="" class="vam">{{university.nextOpenDay}}
													</div>
													<!--<div class="col-50 fr tx_rgt">100% match</div>-->
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- featured University end -->
							
							<!-- featured OpenDay start -->
							<div ng-if="featuredOpenDay.length > 0" class="tx_cn">
								<h3 class="no_bg"> VIRTUAL EVENT OF THE WEEK </h3>
							</div>
							<div class="crs_tiles crs_full bor_bot1" ng-if="featuredOpenDay.length > 0">
								<ul >
									<li ng-repeat="university in featuredOpenDay" ng-click="saleSortOpendayPageURL($event)" university_name="{{university.collegeNameDisplay}}" university_id="{{university.collegeId}}" id="appslots-openday-{{university.collegeId}}">
										<span ng-if="university.mediaPath" class="ovrly"></span>
										<!-- <img ng-if="university.tileMediaPath"  ng-src="{{university.tileMediaPath}}" data-rjs="3" alt="" class="uni_img" /> -->
										
										<img ng-if="university.mediaPath"  ng-src="{{university.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
										
										<div class="psa">
											<div class="uni_lgo" >
												
												
												<img src="{{university.logo}}" alt=""/>
												
											</div>
											
											<a class="uni_lnk">{{university.collegeNameDisplay}}</a>
											<div class="row">
												<div class="col-100">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.reviewRating" class="fa fa-star" aria-hidden="true"></i><span ng-if="university.reviewRating > 0">({{university.reviewRatingDisplay}})</span>
												</div>
											</div>
											<div class="row" ng-if="university.nextOpenday!=null">
												<div class="col-100">
													<div class="col-50 fl">
														<img src="img/icons/ic_calendar.png" alt="" class="vam">{{university.nextOpenday}}
													</div>
													<!--<div class="col-50 fr tx_rgt">100% match</div>-->
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- featured OpenDay end -->
							
							
							
							<div   class="tx_cn"> <!-- ng-if="nearByInstitutionsList.length > 0" -->
								<!-- <select id="locationModeChange" ng-model="locationModeChange" ng-change="locationModeChange('');" style="display:block">					  	
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
								</select>  -->
								<h3 class="add_dmenu" id="locationModeText" ng-click="location_popup()"> Close to you </h3> <!--  ng-click="location_popup()" -->
								<!--<h3 class="no_bg open-picker" id="locationModeText" data-picker=".location_picker" > Close to you </h3> -->
								<input type="hidden" name="userAddressOne" id="userAddressOne" value="">
								<input type="hidden" name="userAddressTwo" id="userAddressTwo" value="">
								<input type="hidden" name="userCityHidden" id="userCityHidden" value="">
								<input type="hidden" name="userPostcodeHidden" id="userPostcodeHidden" value="">
								<input type="hidden" name="locationMode" id="locationMode" value="CLOSE_TO_YOU">
								<!-- 
								<p id="locationMsg" style="display:none" class=".fav_p">(Please enter your postcode on your profile page to access home feature)</p>
								<select id="locationMode" ng-model="obselected" ng-change="getBrowseList('');" select1>
									<option value="CLOSE_TO_YOU">Close to you</option>	
									<option value="YOUR_HOME">Your home</option>
									<option value="ENTER_NEW_POSTCODE">Enter new Postcode</option>
								</select>
								 -->
							</div>
							<div class="crs_tiles">
								<ul ng-if="nearByInstitutionsList.length > 0">
									<li ng-repeat="university in nearByInstitutionsList" ng-click="institutionPageURL($event, 'BROWSE')" university_name="{{university.name}}" university_id="{{university.id}}" tile_media_path="{{university.tileMediaPath}}" id="ip-page-{{university.id}}">
										<span ng-if="university.tileMediaPath" class="ovrly"></span>
										<img ng-if="university.tileMediaPath"  ng-src="{{university.tileMediaPath}}" data-rjs="3" alt="" class="uni_img" />
										<div class="psa">
											<div class="uni_lgo" >
												<img ng-if="institutionBrowseLogo.indexOf(university.logoName) > -1" src="img/unis/logos/{{university.logoName}}" alt=""/>
												<img ng-if="university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="{{university.logo}}" alt=""/>
												<img ng-if="!university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="img/unis/logos/logo_bg.png" alt=""/>
											</div>
											<div class="fav_ico" ng-class="{'fav_fill' : university.shortlistFlag == 'Y'}" id="shortlist_logo-{{university.id}}" onclick="preventDefault(event, this.id, 'browseHomeCntrl')" university_name="{{university.name}}"></div>
											<a class="uni_lnk">{{university.name}}</a>
											<div class="row">
												<div class="col-100">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.reviewRating" class="fa fa-star" aria-hidden="true"></i><span ng-if="university.reviewRating > 0">({{university.reviewRatingDisplay}})</span>
												</div>
											</div>
											<div class="row">
												<div class="col-100" ng-if="university.distanceFromUserLatLag && university.distanceFromUserLatLag > 0">
													<div class="col-50 fl" ng-if="university.distanceFromUserLatLag == 1">
														<img src="img/icons/ic_pin.png" alt="" class="vam">{{university.distanceFromUserLatLag}} mile
													</div>
													<div class="col-50 fl" ng-if="university.distanceFromUserLatLag > 1 || university.distanceFromUserLatLag < 1">
														<img src="img/icons/ic_pin.png" alt="" class="vam">{{university.distanceFromUserLatLag}} miles
													</div>
													<!-- <div class="col-50 fr tx_rgt">100% match</div>-->
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div ng-if="openDayInstitutionsList.length > 0" class="tx_cn">
								<h3 class="no_bg"> Upcoming open days</h3>
							</div>
							<div class="crs_tiles">
								<ul ng-if="openDayInstitutionsList.length > 0">
									<li ng-repeat="university in openDayInstitutionsList" ng-click="institutionPageURL($event)" university_name="{{university.name}}" university_id="{{university.id}}" tile_media_path="{{university.tileMediaPath}}" id="ip-page-{{university.id}}">
										<span ng-if="university.tileMediaPath" class="ovrly"></span>
										<img ng-if="university.tileMediaPath"  ng-src="{{university.tileMediaPath}}" data-rjs="3" alt="" class="uni_img" />
										<div class="psa">
											<div class="uni_lgo" >
												<img ng-if="institutionBrowseLogo.indexOf(university.logoName) > -1" src="img/unis/logos/{{university.logoName}}" alt=""/>
												<img ng-if="university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="{{university.logo}}" alt=""/>
												<img ng-if="!university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="img/unis/logos/logo_bg.png" alt=""/>
											</div>
											<div class="fav_ico" ng-class="{'fav_fill' : university.shortlistFlag == 'Y'}" id="shortlist_logo-{{university.id}}" onclick="preventDefault(event, this.id, 'browseHomeCntrl')" university_name="{{university.name}}"></div>
											<a class="uni_lnk">{{university.name}}</a>
											<div class="row">
												<div class="col-100">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.reviewRating" class="fa fa-star" aria-hidden="true"></i><span ng-if="university.reviewRating > 0">({{university.reviewRatingDisplay}})</span>
												</div>
											</div>
											<div class="row">
												<div class="col-100">
													<div class="col-50 fl">
														<img src="img/icons/ic_calendar.png" alt="" class="vam" ng-if="university.nextOpenDay!=null">{{university.nextOpenDay}}
													</div>
													<!--<div class="col-50 fr tx_rgt">100% match</div>-->
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!--Start of featured provider list-->
							<div ng-if="featuredProviderList.length > 0" class="tx_cn">
								<h3 class="no_bg"> UNIS WITH CLEARING COURSES</h3>
							</div>
							<div class="crs_tiles">
								<ul ng-if="featuredProviderList.length > 0">
									<li ng-repeat="featuredProvider in featuredProviderList" ng-if="featuredProvider.collegeId && featuredProvider.url" ng-click="openLinkAndStatsLog(featuredProvider.collegeId,featuredProvider.url,featuredProvider.collegeNameDisplay)">
										<span ng-if="featuredProvider.mediaPath" class="ovrly"></span>
										<img ng-if="featuredProvider.mediaPath"  ng-src="{{featuredProvider.mediaPath}}" data-rjs="3" alt="" class="uni_img" />
										<div class="psa">
											<div class="uni_lgo" >
												<img ng-if="institutionBrowseLogo.indexOf(featuredProvider.logo) > -1" src="img/unis/logos/{{featuredProvider.logo}}" alt=""/>
												<img ng-if="featuredProvider.logo && institutionBrowseLogo.indexOf(featuredProvider.logo) == -1" src="{{featuredProvider.logo}}" alt=""/>
												<img ng-if="!featuredProvider.logo && institutionBrowseLogo.indexOf(featuredProvider.logo) == -1" src="img/unis/logos/logo_bg.png" alt=""/>
											</div>											
											<a class="uni_lnk">{{featuredProvider.collegeNameDisplay}}</a>
											<div class="row">
												<div class="col-100">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= featuredProvider.reviewRating" class="fa fa-star" aria-hidden="true"></i><span ng-if="featuredProvider.reviewRating > 0">({{featuredProvider.reviewRatingDisplay}})</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!--Start of featured provider list-->
						</div>
					</div>
				</div>
			</div>
			</div>
			<!-- browse unis -->
		</div>
		<!-- Add address start -->
		<div class="popup location_add_address pop_lst" data-page="ajax-address" id="searchAddress">
			<div id="editAddrLoader" style="display:none" class="s_4041">
				<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
			</div>
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="navbar-inner">
							<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar d_tl searchbar-init">
								<div class="searchbar-input">
									<input type="search" id="addressAjax" ng-keyup="validatePostcode();" placeholder="Postcode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="20" paste-address>
									<a id="xmarkAddress" ng-click="clearSearch();" class=""></a>
								</div>
								<a ng-click="backToEditPage();" class="srbar_cancel">Cancel</a>
							</form>
						</div>
					</div>             
					<div class="pages navbar-through">
						<div class="page-content nw_cont">
							<div class="pr_dtl adrs">
								<section>
									<div class="list-block" id="ajaxList" ng-if="ajaxAddressList.length > 0" style="display:none">
										<ul ng-if="ajaxAddressList.length > 0">
										   <li class="item-content" ng-repeat="address in ajaxAddressList" onclick="removeDisabledProfileSaveButton();" ng-click="getAddressList($index);">
											  <div class="item-inner">
												<div class="item-title">{{address.addressDisplay}} </div>
												<input type="hidden" id="address-{{$index}}" value="{{address.addressCode}}">					 
											  </div>
										   </li>               
										</ul>
									</div>       
									<div class="mail_sd">
										<p ng-click="focusFunc('buildingName');"><a class="open-popup" href="#" data-popup=".search_land">+ Add address manually</a></p>
									</div>
								</section>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div> 		 
		<!-- Add address end -->
		 
		<!-- Add Search land -->
		<div class="popup search_land pop_lst" data-page="ajax-manual-address" id="searchAddressManual">
			<div id="editAddrLoader" style="display:none" class="s_4041">
				<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
			</div>
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="center">
									<div class="left ">
										<span class="cls_adrs" ng-click="goBackToSearchAddr('searchAddress')"><img src="img/icons/ic_arrow_dark.png" alt="" title=""/></span>
									</div>
								   <p>Add my address</p>							   
								</div>
							</div>
						</div>
					</div>
					
					<div class="pages navbar-through">
						<div class="page-content nw_cont">                     
							<div class="pr_dtl">
								<div class="list-block lst_add">
									<ul>
									   <li class="item-content">
										  <div class="item-inner">
											 <div class="item-input">
												<input maxlength="100" id="buildingNameLP" type="text" class="" maxlength="100" placeholder="Number / Building name" ng-keyup="addXmark('buildingNameLP', 'buildingName_clsLP');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
												<a id="buildingName_clsLP" ng-click="clearField('buildingNameLP', 'buildingName_clsLP');" class=""></a>
											 </div>
										  </div>
									   </li>
									   <li class="item-content">
										  <div class="item-inner">
											 <div class="item-input">
												<input maxlength="100" id="addressLineLP" type="text" class="" maxlength="100" placeholder="Address line 1" ng-keyup="addXmark('addressLineLP', 'addressLine_clsLP');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
												<a id="addressLine_clsLP" ng-click="clearField('addressLineLP', 'addressLine_clsLP');" class=""></a>
											</div>
										  </div>
									   </li>
									   <li class="item-content">
										  <div class="item-inner">
											 <div class="item-input">
												<input maxlength="100" id="cityLP" type="text" class="" maxlength="100" placeholder="Town / City" ng-keyup="addXmark('cityLP', 'city_clsLP');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
												<a id="city_clsLP" ng-click="clearField('cityLP', 'city_clsLP');" class=""></a>
											 </div>
										  </div>
									   </li>
									   <li class="item-content">
										  <div class="item-inner">
											 <div class="item-input">
												<input maxlength="20" id="postCodeLP" type="text" class="" maxlength="30" placeholder="Postcode" ng-keyup="addXmark('postCodeLP', 'postCode_clsLP');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
												<a id="postCode_clsLP" ng-click="clearField('postCodeLP', 'postCode_clsLP');" class=""></a>
											 </div>
										  </div>
									   </li>
									</ul>
								</div>
								<a id="saveButtonLP" class="btn btn_lgt" ng-click="saveUserAddress('buildingNameLP', 'addressLineLP', 'cityLP', 'postCodeLP');">Save</a> 
							</div>
						</div>
					</div>
				</div>					
			</div>
		</div>		
		<!-- Add address end -->
	</div>
	<div class="picker-modal add_address" >
		<ul>
			<li ng-click="location_close_popup('CLOSE_TO_YOU',$event)">
				<img ng-src="img/icons/location.png" data-rjs="3" id="resp-image5" alt="" width="32" >
				<span id="current_location">Current location</span>
				<img src="img/icons/icon_green_tick.png" id="close_to_you_tick" style="display:none" class="add_tick" alt="" width="16" >
				<span ng-if="locationPermissionDisabled" class="loc_disabled"> Please enable location services in your device settings to use this feature</span>
			</li>
			<li class="blu" id="addYourAddressPopup" data-popup=".location_add_address" ng-if="postcode==null" ng-click="addYourAddressPopup()"> <!-- open-popup -->
				<span class="add_plus">+</span> 
				Add your address 
				<img class="add_arw" ng-src="img/icons/location 2.png" data-rjs="3" class="fr" alt="" width="11">
			</li>
			<li class="add_top bottom0" ng-click="location_close_popup('YOUR_HOME',$event)" ng-if="postcode!=null" >
				<img ng-src="img/icons/location.png" data-rjs="3" id="resp-image5" alt="" width="32" > 
				<span id="address_display"></span>
				<img src="img/icons/icon_green_tick.png" class="add_tick" alt="" width="16" id="you_home_tick" style="display:none"> 
				<span class="blu add_arw" id="addYourAddressPopup" ng-click="location_close_popup('Edit',$event)">Edit</span>
			</li>
		</ul>
	</div>
	<div class="bdy_ovrly"></div>
    <div id="keyboard_hide" class="toolbar tabbar tabbar-labels">
		<div class="toolbar-inner">
			<a href="javascript:void(0);" class="tab-link active" id="homePage" onclick = "switchHighLightTab(this.id, 'html/home/homeLanding.html');">
				<img ng-src="img/icons/ic_home_active.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Home</span>
            </a>
			<a href="javascript:void(0);" class="tab-link" id="searchForm" onclick = "switchHighLightTab(this.id, 'html/search/searchLanding.html');" >
                <img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Search</span>
            </a>
            <a href="javascript:void(0);" class="tab-link" id="favoriteSubjects" onclick = "switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');" >
                <img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Favourites</span>
			</a>
			<a href="javascript:void(0);" class="tab-link velnk_nav" id="openday" onclick = "switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');" >
                <img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Virtual events</span>
            </a>
            <a href="javascript:void(0);" class="tab-link" id="myProfile" onclick = "switchHighLightTab(this.id, 'html/user/userProfile.html');" >
                <img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Profile</span>
            </a>
        </div>
	</div>
	<!-- 
			<div class="picker-modal location_picker">         
				<a href="#" id="closePicker" class="close-picker"></a>        
				<div class="picker-modal-inner">
					<div class="content-block" id="addCalendarPopup">
						<p id="calMsg">Please update postcode in user profile page</p>
					</div>
				</div>
			</div>
			-->
     </div>
    </div>
	
</div>	
