<div data-page="searchResults" class="page crs_page sr_page" ng-cloak ng-controller="SearchRootCtrl" id="mySearchRootCtrl">
    <div class="panel-overlay"></div>
    
	<div id="loaderCourseSR" style="display:block" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
    </div>
	
	<!--  <div class="navbar"><div class="navbar-inner"><div class="left"><img src="img/Pin Left.png" alt=""></div><div class="center"></div></div></div>-->
	<div class="pages toolbar-through">
	
		 <div id="mbstik"></div>                    
			
			<div style="display:none" id="searchResultsView" class="page-content  pull-to-refresh-content">
				<div class="status" id="listExc_mySearchRootCtrl" style="display:none">
					<p class="" id="listExcMsg_mySearchRootCtrl">Tap to add to Final 5</p>
					<a href="#"><img src="img/icons/cls_wht.png" width="12" alt=""></a>
				</div>
				<div class="pull-to-refresh-layer">
					<div class="preloader"></div>
					<div class="pull-to-refresh-arrow"></div>
				</div>
				
				<div id="prepend">
					<div id="sticky" class="profile">
						<img class="sr_hdr" data-rjs="3" ng-if="(searchResultsList && searchResultsList.length != 0) && subjects.indexOf(subjectTileMediaId) > -1" ng-src="img/subjects/images/{{subjectTileMediaId}}_340px.png" alt="" />
						<img class="sr_hdr" data-rjs="3" ng-if="(searchResultsList && searchResultsList.length != 0) && subjectTileMediaId && subjects.indexOf(subjectTileMediaId) == -1" ng-src="{{subjectTileMediaId}}" alt="" />
						<img ng-if="!subjectTileMediaId && subjects.indexOf(subjectTileMediaId) == -1" class="sr_hdr" src="img/unis/images/sr_tile@1x.png" alt=""/>
						<div class="usr_sec">
							<div class="bk_icon" id="goBackDiv" onclick="clearFilter();">
								<a href="#" class="back link"  data-push-state="false">
									<img ng-src="img/s_results/bk_ico.png" data-rjs="3" width="11" id="resp-image">
								</a>
							</div>
														
							<span class="sort_slct" select1>
								<img ng-src="img/icons/icon_sort_white.png" data-rjs="3" width="20" id="resp-image2" select1><!--onblur="setOrderByValue(this.options[this.selectedIndex].text, this.value);" -->								
								<select ng-if="orderBy.length > 0" id="orderBySelectBox" onchange="setOrderByValue(this.options[this.selectedIndex].text, this.value);" select1> 																
									<option ng-model="obselected" ng-repeat="order in orderBy" value="{{order.orderByName}}">{{order.orderBydisplayName}}</option>                                                                                                                              
								</select>
								<input type="hidden" name="selectedOrderByValueHidden" id="selectedOrderByValueHidden" value="">
								<input type="hidden" name="orderByKeyValue" id="orderByKeyValue" value="">
								<input type="hidden" name="oldOrderByValue" id="oldOrderByValue" value="">
								<input type="hidden" name="oldOrderByKeyValue" id="oldOrderByKeyValue" value="">						
							</span>
				
							<div class="usr_img">
								<img ng-if="subjects.indexOf(subjectTileMediaId) > -1" src="img/subjects/icons/{{subjectTileMediaId}}.png" alt="" />
								<img ng-if="subjectTileMediaId && subjects.indexOf(subjectTileMediaId) == -1" src="{{subjectTileMediaPath}}" alt="" />
								<!--<img ng-if="!subjectTileMediaId && subjects.indexOf(subjectTileMediaId) == -1" src="../../img/unis/Logos/logo_bg.png" alt=""/>-->
							</div>
							<h2 class="tx_cn" ng-if="subjectTitle">{{subjectTitle}}</h2>
							<p class="tx_cn" ng-if="(searchResultsList && searchResultsList.length != 0) && totalCourseCount && totalCourseCount <= 1">{{totalCourseCount}} course
							</p>
							<p class="tx_cn" ng-if="(searchResultsList && searchResultsList.length != 0) && totalCourseCount && totalCourseCount > 1">{{totalCourseCount}} courses</p>
						</div>
					</div>
				</div>
				
				<div class="rslt_grn" id="overFiveHundResults" style="display:none">
					<p id="overHundResults">
						<span class="lt_bld">Over 100 results found</span> <br>
						Narrow your search to find the perfect course
					</p>
					<a onclick="javascript:$$D('overFiveHundResults').style.display = 'none';" href="#"><img src="img/icons/cls_wht.png" width="10" alt=""></a>
				</div>
				
				<div class="content-block uni_tab mt0" ng-if="searchResultsList.length > 0 && totalCourseCount != 0">
					<div class="tx_cn">
						<h3 id="currentOrderBy"> MOST INFO</h3>
					</div>
					<div class="crs_tiles">
						<ul id="searchResultsDym">
							<li ng-repeat="university in searchResultsList" ng-if="searchResultsList.length > 0" class="bg_white">
								<div class="fl_card" id="fl-card-{{$index}}">
									<div class="front" id="front-{{$index}}">
										<span ng-if="university.tileMediaPath" class="ovrly"></span>
										<img ng-if="university.tileMediaPath" data-rjs="3" ng-src="{{university.tileMediaPath}}" class="uni_img">
										<div class="psa" id="dynm-{{$index}}" ng-click="providerResultsPageURL('dynm', $index, university.id, university.name, $event, university.tileMediaPath);">
											<div class="uni_lgo">
														<img ng-if="institutionBrowseLogo.indexOf(university.logoName) > -1" id="uni_logo-{{$index}}" ng-click="providerResultsPageURL('uni_logo', $index, university.id, university.name, $event, university.tileMediaPath);" src="img/unis/logos/{{university.logoName}}"/>
														<img ng-if="university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" id="uni_logo-{{$index}}" ng-click="providerResultsPageURL('uni_logo', $index, university.id, university.name, $event, university.tileMediaPath);" src="{{university.logo}}" id="uni_logo-{{$index}}"/>
														<img ng-if="!university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" id="uni_logo-{{$index}}" ng-click="providerResultsPageURL('uni_logo', $index, university.id, university.name, $event, university.tileMediaPath);" src="img/unis/Logos/logo_bg.png" id="uni_logo-{{$index}}"/>
											</div>
											<div class="fav_ico" ng-class="{'fav_fill' : university.shortlistFlag == 'Y'}" id="shortlistLogo-{{university.id}}" onclick="preventDefault(event, this.id, 'mySearchRootCtrl')" university_name="{{university.name}}"></div>
											<a class="uni_lnk" id="uni_name-{{$index}}" ng-click="providerResultsPageURL('uni_name', $index, university.id, university.name, $event, university.tileMediaPath);">{{university.name}}</a>
											<div class="row app_rng">
												<div class="col-100">										
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.reviewRating" class="fa fa-star" aria-hidden="true"></i>															
													<span ng-if="university.reviewRating > 0">({{university.reviewRatingDisplay}})</span>
												</div>
											</div>
											<div class="row">
												<div class="col-100">
													<div class="col-50 fl" ng-if="university.courseCount <= 1">{{university.courseCount}} Course</div>
													<div class="col-50 fl" ng-if="university.courseCount > 1" >{{university.courseCount}} Courses</div>
													<div class="col-50 fr tx_rgt" ng-if="university.matchingPercentage">
														<span class="flip_dv" style="display:none" id="fl-span-{{$index}}" ng-click="providerResultsPageURL('fl-span', $index, '', '', $event, university.tileMediaPath);">{{university.matchingPercentage}}% match</span>
													</div>
												</div>
											</div>
										</div>												
									</div>
									<!--For flip content-->
									<div class="back" id="back-{{$index}}" style="display:none">																				
										<div class="match_bg">
											<h4 class="">{{university.matchingPercentage}}% <span>match</span></h4>
										</div>
										<div class="content-block">
											<div class="matches">							
												<p class="lt_bld">Matches on:</p>
												<ul>
													<li ng-if="university.qualificationMatch" ng-class="{'no' : university.qualificationMatch == 'N', 'yes' : university.qualificationMatch == 'Y', 'na' : university.qualificationMatch == 'N/A' }"><span>Qualification</span></li>											
													<li ng-if="university.subjectMatch" ng-class="{'no' : university.subjectMatch == 'N', 'yes' : university.subjectMatch == 'Y', 'na' : university.subjectMatch == 'N/A' }"><span>Subject</span></li>											
													<li ng-if="university.previousQualificationMatch" ng-class="{'no' : university.previousQualificationMatch == 'N', 'yes' : university.previousQualificationMatch == 'Y', 'na' : university.previousQualificationMatch == 'N/A' }"><span>Previous qualifications</span></li>
													<li ng-if="university.assessmentTypeMatch" ng-class="{'no' : university.assessmentTypeMatch == 'N', 'yes' : university.assessmentTypeMatch == 'Y', 'na' : university.assessmentTypeMatch == 'N/A' }"><span>How you're assessed</span></li>										
													<li ng-if="university.locationTypeMatch" ng-class="{'no' : university.locationTypeMatch == 'N', 'yes' : university.locationTypeMatch == 'Y', 'na' : university.locationTypeMatch == 'N/A' }"><span>Location type</span></li>
													<li ng-if="university.studyModeMatch" ng-class="{'no' : university.studyModeMatch == 'N', 'yes' : university.studyModeMatch == 'Y', 'na' : university.studyModeMatch == 'N/A' }"><span>How you study</span> </li>																						
													<li ng-if="university.locationMatch" ng-class="{'no' : university.locationMatch == 'N', 'yes' : university.locationMatch == 'Y', 'na' : university.locationMatch == 'N/A' }"><span>Country</span></li>																						
																										
													<li ng-if="university.reviewSubjectOneMatch" ng-class="{'no' : university.reviewSubjectOneMatch == 'N', 'yes' : university.reviewSubjectOneMatch == 'Y', 'na' : university.reviewSubjectOneMatch == 'N/A' }" class="reviewCatOne" style="display:none"></li>																																		
													<li ng-if="university.reviewSubjectTwoMatch" ng-class="{'no' : university.reviewSubjectTwoMatch == 'N', 'yes' : university.reviewSubjectTwoMatch == 'Y', 'na' : university.reviewSubjectTwoMatch == 'N/A' }" class="reviewCatTwo" style="display:none"></li>																																														
													<li ng-if="university.reviewSubjectThreeMatch" ng-class="{'no' : university.reviewSubjectThreeMatch == 'N', 'yes' : university.reviewSubjectThreeMatch == 'Y', 'na' : university.reviewSubjectThreeMatch == 'N/A' }" class="reviewCatThree" style="display:none"></li>																																														   
												</ul>																						
											</div>
										</div>						
									</div>
								</div>
							</li>                                   
						</ul>
						<div id="ajaxDynamicList" style="display:none"> 
							<li ng-repeat="university in searchResultsListDym" ng-if="searchResultsListDym.length > 0" class="bg_white">
							   <div class="fl_card" id="fl-card_{{university.id}}">
									<div class="front" id="front_{{university.id}}">
										<span ng-if="university.tileMediaPath" class="ovrly"></span>
										<img ng-if="university.tileMediaPath" data-rjs="3" ng-src="{{university.tileMediaPath}}" class="uni_img"/>
											<div class="psa" onclick="providerResultsPageURL(this.id, event, this);" id="dynm_{{university.id}}" tile_media_path="{{university.tileMediaPath}}">
											<input type="hidden" name="uni-id-{{university.id}}" id="uni-id-{{university.id}}" value="{{university.id}}">													
											<input type="hidden" name="uni-nme-{{university.id}}" id="uni-nme-{{university.id}}" value="{{university.name}}">													
											<div class="uni_lgo">
														<img ng-if="institutionBrowseLogo.indexOf(university.logoName) > -1" id="uni-logo_{{university.id}}" onclick="providerResultsPageURL(this.id, event, this);"  src="img/unis/logos/{{university.logoName}}" tile_media_path="{{university.tileMediaPath}}"/>
														<img ng-if="university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" id="uni-logo_{{university.id}}" onclick="providerResultsPageURL(this.id, event, this);" src="{{university.logo}}" tile_media_path="{{university.tileMediaPath}}"/>
														<img ng-if="!university.logo && institutionBrowseLogo.indexOf(university.logoName) == -1" id="uni-logo_{{university.id}}" onclick="providerResultsPageURL(this.id, event, this);" src="img/unis/s_results/logo_bg.png" tile_media_path="{{university.tileMediaPath}}"/>
											</div>
											<a class="fav_ico" ng-class="{'fav_fill' : university.shortlistFlag == 'Y'}" id="shortlistLogo-{{university.id}}" onclick="preventDefault(event, this.id, 'mySearchRootCtrl')" university_name="{{university.name}}"></a>
											<a class="uni_lnk" id="uni-name_{{university.id}}" onclick="providerResultsPageURL(this.id, event, this);" tile_media_path="{{university.tileMediaPath}}">{{university.name}}</a>
											<div class="row app_rng">
												<div class="col-100">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.reviewRating" class="fa fa-star" aria-hidden="true"></i>
													<span ng-if="university.reviewRating > 0">({{university.reviewRatingDisplay}})</span>
												</div>
											</div>
											<div class="row">
												<div class="col-100">
													<div class="col-50 fl" ng-if="university.courseCount <= 1">{{university.courseCount}} Course</div>
													<div class="col-50 fl" ng-if="university.courseCount > 1">{{university.courseCount}} Courses</div>
													<div class="col-50 fr tx_rgt" ng-if="university.matchingPercentage">
														<span class="flip_dv" style="display:none" id="fl-span_{{university.id}}" onclick="providerResultsPageURL(this.id, event, this, 'percentPopUp');" tile_media_path="{{university.tileMediaPath}}">{{university.matchingPercentage}}% match</span>
													</div>
												</div>
											</div>
										</div>
									</div>											   
									<!--For flip content-->
									<div class="back" id="back_{{university.id}}" style="display:none">
										<div class="match_bg">
											<h4 class="">{{university.matchingPercentage}}% <span>match</span></h4>
										</div>
										<div class="content-block">
											<div class="matches">							
												<p class="lt_bld">Matches on:</p>
												<ul>
													<li ng-if="university.qualificationMatch" ng-class="{'no' : university.qualificationMatch == 'N', 'yes' : university.qualificationMatch == 'Y', 'na' : university.qualificationMatch == 'N/A' }"><span>Qualification</span></li>											
													<li ng-if="university.subjectMatch" ng-class="{'no' : university.subjectMatch == 'N', 'yes' : university.subjectMatch == 'Y', 'na' : university.subjectMatch == 'N/A' }"><span>Subject</span></li>											
													<li ng-if="university.previousQualificationMatch" ng-class="{'no' : university.previousQualificationMatch == 'N', 'yes' : university.previousQualificationMatch == 'Y', 'na' : university.previousQualificationMatch == 'N/A' }"><span>Previous qualifications</span></li>
													<li ng-if="university.assessmentTypeMatch" ng-class="{'no' : university.assessmentTypeMatch == 'N', 'yes' : university.assessmentTypeMatch == 'Y', 'na' : university.assessmentTypeMatch == 'N/A' }"><span>How you're assessed</span></li>										
													<li ng-if="university.locationTypeMatch" ng-class="{'no' : university.locationTypeMatch == 'N', 'yes' : university.locationTypeMatch == 'Y', 'na' : university.locationTypeMatch == 'N/A' }"><span>Location type</span></li>
													<li ng-if="university.studyModeMatch" ng-class="{'no' : university.studyModeMatch == 'N', 'yes' : university.studyModeMatch == 'Y', 'na' : university.studyModeMatch == 'N/A' }"><span>How you study</span> </li>																						
													<li ng-if="university.locationMatch" ng-class="{'no' : university.locationMatch == 'N', 'yes' : university.locationMatch == 'Y', 'na' : university.locationMatch == 'N/A' }"><span>Country</span></li>																						
																									
													<li ng-if="university.reviewSubjectOneMatch" ng-class="{'no' : university.reviewSubjectOneMatch == 'N', 'yes' : university.reviewSubjectOneMatch == 'Y', 'na' : university.reviewSubjectOneMatch == 'N/A' }" class="reviewCatOne" style="display:none"></li>																																		
													<li ng-if="university.reviewSubjectTwoMatch" ng-class="{'no' : university.reviewSubjectTwoMatch == 'N', 'yes' : university.reviewSubjectTwoMatch == 'Y', 'na' : university.reviewSubjectTwoMatch == 'N/A' }" class="reviewCatTwo" style="display:none"></li>																																														
													<li ng-if="university.reviewSubjectThreeMatch" ng-class="{'no' : university.reviewSubjectThreeMatch == 'N', 'yes' : university.reviewSubjectThreeMatch == 'Y', 'na' : university.reviewSubjectThreeMatch == 'N/A' }" class="reviewCatThree" style="display:none"></li>																																														   
												</ul>																							
											</div>
										</div>		
									</div>
								</div>
														
							</li>														
						</div>
						<div class="v_mr">
							<p class="m0"><a ng-click="searchResultsDetails('dynamicList');" id="viewMoreResults">View more</a></p>	
							<input type="hidden" name="filtersApplied" id="filtersApplied" value="">
						</div>								
					</div>
				</div>
				
				<div class="content-block uni_tab mt0" ng-if="!searchResultsList || searchResultsList.length == 0 || totalCourseCount == 0">
					<strong>
						<div class="content-block uni_tab">     
							<!-- <div class="s_404">
								<img src="img/s_results/404.png" width="89" alt="">
								<p>No results found for your search...</p>									
						   </div> -->
							<div class="nresults margint0" id="noResultCourses">
								<img src="img/icons/icon_no_results.png" width="202" />
								<span>No results found</span>
								<a href="javascript:void(0)" id="searchAgainSearchresult" onclick="goBackFn()">Search again</a>
							</div>						   
						</div>								
					</strong>
				</div> 
				<input type="hidden" name="nextSetResults" id="nextSetResults" value="6"/>
				<input type="hidden" name="totalRecordsLoaded" id="totalRecordsLoaded" value="0" />
				<input type="hidden" name="totalCourseCount" id="totalCourseCount" value=""/>
				<input type="hidden" name="oldTotalCourseCount" id="oldTotalCourseCount" value=""/>
				<input type="hidden" name="totalUniversityCount" id="totalUniversityCount" value=""/>
				<input type="hidden" id="jacsCode" value=""/>
			</div>
		
	</div>
	<div class="toolbar tabbar tabbar-labels">
		<div class="toolbar-inner">
			<a href="javascript:void(0);" class="tab-link" id="homePage" onclick="switchHighLightTab(this.id, 'html/home/homeLanding.html');">
				<img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Home</span>
			</a>
			<a href="javascript:void(0);" class="tab-link" id="searchForm" onclick="switchHighLightTab(this.id, 'html/search/searchLanding.html');">
				<img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Search</span>
			</a>
			<a href="javascript:void(0);" class="tab-link" id="favoriteSubjects" onclick="switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');">
				<img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Favourites</span>
            </a>
            <a href="javascript:void(0);" class="tab-link velnk_nav" id="opendayLanding" onclick="switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');">
                <img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Virtual events</span>
            </a>
			<a href="javascript:void(0);" class="tab-link" id="myProfile" onclick="switchHighLightTab(this.id, 'html/user/userProfile.html');">
				<img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Profile</span>
			</a>
		</div>
	</div>
		
	 <!--Filter button-->
    <div class="fltr_btn open-index" id="searchResultsFilter" style="display:none">
        <a href="#" onclick="populateToCurrentValuesInFilterHome('mySearchRootCtrl','');">
            <img ng-src="img/fltr.png" data-rjs="3" alt="">Filter
        </a>
    </div>
    <!--Filter button-->	
	
	<div class="popup match-popup" id="percentageMainBlock">
        <div class="views">
            <div class="view view-mainpop">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left" id="closePercentageBlock">
                                <a class="back link close-popup">
                                    <img ng-src="img/icons/cls.png" data-rjs="3" alt="" title="">
                                </a>
                            </div>
                            <p class="center" style="left: 0px;" id="percentageMatchUni">SOAS University of London</p>                          
                        </div>
                    </div>
                </div>
                <div data-page="filter-index" class="pages">
                    <div class="page-content fltr" id="percentageMatchBlock">
                        
					</div>
                </div>               
            </div>
        </div>
    </div>
	
	<!--Filter index-->
    <div class="popup popup-index src_pg">
        <div class="views">
            <div class="view view-mainpop">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link close-popup" onclick="resetSearchFilterValues('mySearchRootCtrl','');" >
                                    <img ng-src="img/icons/cls.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                            <p class="center">Filter</p>
                            <div class="right">
                                <a href="#" onclick="resetSearchFilterValues('mySearchRootCtrl','');">Reset</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-page="filter-index" class="pages">
                        <div class="page-content fltr">
                            <div class="tabs">
                                <div id="tab1" class="tab active">
                                    <div class="content-block uni_tab">
                                        <div class="crs_tiles ">
                                            <ul>                                               
                                                <li class="open-qual">
                                                    <div class="cont">
                                                        <p class="lst_sb">Qualification </p>
                                                        <a class="fl_or" id="qualificationAddChangeTxt">+ Add</a>
                                                        <p class="lst_sn" id="qualificationSelected">Not chosen</p>
														<input type="hidden" name="qualificationCodeSelected" id="qualificationCodeSelected" value="">
														<input type="hidden" name="oldQualificationValue" id="oldQualificationValue" value="">
														<input type="hidden" name="oldQualificationCodeValue" id="oldQualificationCodeValue" value="">
                                                    </div>
                                                </li>
                                                <li class="open-subject">
                                                    <div class="cont">
                                                        <p class="lst_sb">Subject </p>
                                                        <a class="fl_or">Change</a>
                                                        <p class="lst_sn" id="subjectSelected"></p>
														<input type="hidden" name="categoryCodeSelected" id="categoryCodeSelected" value="">
														<input type="hidden" name="categoryIdSelected" id="categoryIdSelected" value="">	
														<input type="hidden" name="oldCategoryCodeSelected" id="oldCategoryCodeSelected" value="">
														<input type="hidden" name="oldCategoryIdSelected" id="oldCategoryIdSelected" value="">
														<input type="hidden" name="oldCategoryText" id="oldCategoryText" value="">
														<input type="hidden" name="subjectResetValue" id="subjectResetValue" value="">
                                                    </div>
                                                </li>                                             
                                                <li class="open-location" >
                                                    <div class="cont">
                                                        <p class="lst_sb">Country</p>
                                                        <a class="fl_or " id="locationAddChangeTxt">+ Add</a>
                                                        <p class="lst_sn" id="selectedLocation">Not chosen</p>
														<input type="hidden" name="selectedLocationFlag" id="selectedLocationFlag" value="">
                                                        <input type="hidden" name="selectedCountryValue" id="selectedCountryValue" value="">
														<input type="hidden" name="oldCountryValue" id="oldCountryValue" value="">
														<input type="hidden" name="oldCountryFlagValue" id="oldCountryFlagValue" value="">
                                                    </div>
                                                </li>
                                                <li class="open-ltype">
                                                    <div class="cont">
                                                        <p class="lst_sb">Location type</p>
                                                        <a class="fl_or " id="locationTypeAddChangeTxt">+ Add</a>
                                                        <p class="lst_sn" id="locationTypeNameSelected">Not chosen</p>
														<input type="hidden" name="locationTypeIdSelected" id="locationTypeIdSelected" value="">
														<input type="hidden" name="oldLocationTypeNameValue" id="oldLocationTypeNameValue" value="">
														<input type="hidden" name="oldLocationTypeIdValue" id="oldLocationTypeIdValue" value="">
                                                    </div>
                                                </li>
                                                <li class="open-howstudy">
                                                    <div class="cont">
                                                        <p class="lst_sb">How you study</p>
                                                        <a class="fl_or" id="studyModeAddChangeTxt">+ Add</a>
                                                        <p class="lst_sn" id="studyModeNameSelected">Not chosen</p>
														<input type="hidden" name="smTextKeySelected" id="smTextKeySelected" value="">
														<input type="hidden" name="oldStudyModeNameValue" id="oldStudyModeNameValue" value="">
														<input type="hidden" name="oldsmTextKeyValue" id="oldsmTextKeyValue" value="">
                                                    </div>
                                                </li>
                                                <li class="open-pstudy">
                                                    <div class="cont">
                                                        <p class="lst_sb ">Previous qualifications</p>
                                                        <a class="fl_or " id="previousQualChangeTxt">+ Add</a>
                                                        <p class="lst_sn" id="previousQualSel">Not chosen</p>
														<input type="hidden" name="previousQualGradesSelected" id="previousQualGradesSelected" value="">
														<input type="hidden" name="previousQualSelected" id="previousQualSelected" value="">
														<input type="hidden" name="pqResetValue" id="pqResetValue" value="">
														<input type="hidden" name="oldPreviousQualValue" id="oldPreviousQualValue" value="">
														<input type="hidden" name="oldPreviousQualGradesValue" id="oldPreviousQualGradesValue" value="">
														<input type="hidden" name="oldPreviousQualText" id="oldPreviousQualText" value="">
														<input type="hidden" name="pqSavedValue" id="pqSavedValue" value="">
														<input type="hidden" name="pqTariffSavedValue" id="pqTariffSavedValue" value="">
														<input type="hidden" name="previousQualGradesSelectedforcount" id="previousQualGradesSelectedforcount" value="">
														<input type="hidden" name="previousQualSelectedforcount" id="previousQualSelectedforcount" value="">
                                                    </div>
                                                </li> 
												<li class="open-best" ng-show="assessmentTypeSubFilterResults.length > 0">
                                                    <div class="cont">
                                                        <p class="lst_sb">How you're assessed</p>
                                                        <a class="fl_or" id="assessmentTypeChangeTxt">+ Add</a>
                                                        <p class="lst_sn" id="assessmentTypeSel">Not chosen</p>
														<input type="hidden" name="assessmentTypeSelected" id="assessmentTypeSelected" value="">
														<input type="hidden" name="oldAssessmentTypeSelected" id="oldAssessmentTypeSelected" value="">
														<input type="hidden" name="oldAssessmentTypeNameSelected" id="oldAssessmentTypeNameSelected" value="">
                                                    </div>
                                                </li> 
												<li class="open-pref">
												  <div class="cont">
													<p class="lst_sb">Your preferences</p>
													<a class="fl_or" id="reviewCategoryAddChangeTxt">+ Add</a>
													<p class="lst_sn" id="reviewCategoryNameSelected">Not chosen</p>
													<input type="hidden" name="reviewCategoryIdSelected" id="reviewCategoryIdSelected" value="">
													<input type="hidden" name="oldReviewCategoryNameSelected" id="oldReviewCategoryNameSelected" value="">
													<input type="hidden" name="oldReviewCategoryIdSelected" id="oldReviewCategoryIdSelected" value="">
													<input type="hidden" name="reviewCategorySelected" id="reviewCategorySelected" value="">
													<input type="hidden" name="oldReviewCategorySelected" id="oldReviewCategorySelected" value="">
												  </div>
											   </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="toolbar tabbar tabbar-labels">
                    <div class="toolbar-inner flt_fo" ng-click="submitSearchFilters()" id="viewSearchFilterResults">
                        <p style="display:none;">View <span class="courseCount">200 courses</span></p>
						<p><span>View courses</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Filter index-->
	
    <!--Filter Qualification-->
    <div class="popup popup-qual fl_det" >
        <div class="views flipper">
		           <div class="view view-main front">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls1" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content">
                        <div class="content-block">
                            <div class="fl_cont">
                                <h1>Qualification 
									<a class="" id="open-qualttip">
										<span class="clk_im"></span>
									</a>
								</h1>
                                <p>What level do you want to study at?</p>
                                <div class="list-block" ng-if="qualificationFilters.length > 0">
                                    <ul>                                       
                                        <li ng-repeat="qual in qualificationFilters">
                                            <label class="label-radio item-content" ng-click="getSubjectQualificationCourseCount('qual-'+$index, 'qualification');">                                               
                                                <input type="radio" name="qualificaiton-radio" value="{{qual.qualificationCode}}|{{qual.qualificaiton}}" ng-checked="qual.flag == 'Y'" id="qual-{{$index}}">
                                                <div class="item-media">
                                                    <i class="icon icon-form-radio"></i>
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-title">{{qual.qualificaiton}}</div>
                                                </div>
                                            </label>
                                        </li>                                                                              
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <div class="toolbar tabbar tabbar-labels det_foot">
                    <div class="toolbar-inner ">
                        <div class="fl_sve">
                            <p class="courseCount" id="showQualificationCount" style="display:none">300 courses</p>
                            <p class="buttons-row" >
                                <a href="javascript:void(0);" id="qualificationSavBtn" ng-click="saveQualificationSel();" class="button button-fill button-raised" >Save</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
			<div class="view view-main back">
        
                  <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls81" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content  ">
                        <div class="content-block">
                            <h3>Undergraduate</h3>
                            <p>Essentially, a degree. Sometimes called BAs (Bachelor of Arts) or BSc (Bachelor of Science), these are level 6 qualifications that will go into a great deal of depth on a subject, lasting on average 3 years. They are academic in nature</p>
                            <h3 class="mt40">Foundation degree</h3>
                            <p>Still higher education but a step down from an undergraduate degree, a foundation degree will give you grounding in a subject but not go into as much depth. A level 5 qualification that usually lasts a year, these often have a practical element but are largely academic</p>
                            <h3 class="mt40">HND / HNC</h3>
                            <p>A HND (aka Higher National Diploma) is a level 5 qualification that is usually run at a college, not a university, and aims at getting you ready for the workplace. They take 2 years to complete and are the equivalent to the first 2 years of an academic degree. HNCs (aka Higher National Certificates) are only a year long and are level 4 qualifications. They also aim at getting you ready for work</p>
                           
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <!--Qualification search end-->
           
    </div>
        </div>
    </div>
    <!--Filter Qualification-->
	
    <!--Filter Subject-->
    <div class="popup popup-subject fl_det">
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls2" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content">
                        <div class="content-block">
                            <div class="fl_cont">
                                <h1>Subject</h1>
                                <p>What do you want to study?</p>
                                <div class="list-block" ng-if="subjectfilters.length > 0">
                                    <ul>                                        
                                        <li ng-repeat="subject in subjectfilters">
                                            <label class="label-radio item-content" ng-click="getSubjectQualificationCourseCount('subject-'+$index, 'subject');">                                                
                                                <input type="radio" name="subject-radio" id="subject-{{$index}}" value="{{subject.categoryCode}}|{{subject.searchCategoryId}}|{{subject.subjectName}}" id="subject-{{$index}}" ng-checked="subject.flag == 'Y'">
                                                <div class="item-media">
                                                    <i class="icon icon-form-radio"></i>
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-title">{{subject.subjectName}}</div>
                                                </div>
                                            </label>
                                        </li>                                                                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <div class="toolbar tabbar tabbar-labels det_foot">
                    <div class="toolbar-inner ">
                        <div class="fl_sve">
                            <p class="courseCount" id="showSubjectCount" style="display:none">300 courses</p>
                            <p class="buttons-row">
                                <a href="javascript:void(0);" id="sujectFilterSaveBtn" ng-click="saveSubjectSel()" class="button button-fill button-raised">Save</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Filter Subject-->   
    <!--Filter location type-->
    <div class="popup popup-ltype fl_det">
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls4" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content  ">
                        <div class="content-block">
                            <h1>Location type</h1>
                            <p>Where do you want to live?</p>                            
                            <div class="w100p radiv" ng-if="locationTypeSubFilterResults.length > 0">
                                <span class="fl locationtype" ng-repeat="locationType in locationTypeSubFilterResults" ng-click="selectLocationType('locationType_'+$index);">
									<input type="checkbox" name="locationType" value="{{locationType.locationTypeId}}|{{locationType.locationTypeName}}" id="locationType_{{$index}}" ng-checked="locationType.flag == 'Y'">
									<label class="fl {{locationType.locationTypeClassName}}">										
										<span></span>
									</label>
                                </span>                               
                            </div>
                            <div class="list-block"></div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <div class="toolbar tabbar tabbar-labels det_foot">
                    <div class="toolbar-inner ">
                        <div class="fl_sve">
                            <p style="display:none" id="showLocationFilterCount">300 courses</p>
                            <p class="buttons-row">
                                <a href="javascript:void(0);" id="locationTypeFilterSaveBtn" ng-click="saveLocationTypeSel()" class="button button-fill button-raised">Save</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Filter location type-->
    
    <!--Filter Previous qualification-->
    <div class="popup popup-pstudy fl_det">
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls6" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content  ">
                        <div class="content-block">
                            <h1>Previous qualifications</h1>
                            <p>What grades will you get / have you got?</p>
                            <div class="uni_inp" ng-if="previousQualificationfilters.length > 0" select1>
                                <select class="fl" onchange="onChageQualGrades(this.value, '', '',  'mySearchRootCtrl');" id="selectGrades" >
                                    <option ng-repeat="previousQual in previousQualificationfilters" value="{{$index+1}}|{{previousQual.gradeLevel}}|{{previousQual.textKey}}" ng-model="pqselected" ng-init="pqselected = qualselected">{{previousQual.qualificaiton}}</option>                                                                      
                                </select>
                                <span class="fr">+ Change</span>
                                <input type="hidden" ng-repeat="previousQual in previousQualificationfilters" id="qual{{$index+1}}" name="qual1" value="{{previousQual.gradeString}}">								
                            </div>
							
                            <div class="grades">
                                <ul id="dynamicQualList">                                                                        
                                </ul>
                                <input type="hidden" name="numberOfGrades" id="numberOfGrades" value="1">
                            </div>
                            <div class="list-block"></div>  							
                        </div>
                    </div>
					
                </div>
                <div id="previousQualErrMsg" class="err_msg pq_err zi4b0" style="display:none">
                    <a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('previousQualErrMsg');">
                        <img src="img/icons/ic_grey_x.png" class="cls_ico" alt="" onclick="closeErrMsgFunc('previousQualErrMsg');">
                    </a>				
                    <div id="pqerrmsg">
                    </div>
                </div>
                <!--Qualification search end-->
                <div class="toolbar tabbar tabbar-labels det_foot">
                    <div class="toolbar-inner ">
                        <div class="fl_sve">
                            <p style="display:none;" class="courseCount" id="showPreviousQualificationCount">300 courses</p>
                            <p class="buttons-row">
                                <a href="javascript:void(0);" ng-click="saveUCASTariff();" id="previousQualSavBtn" class="button button-fill button-raised" disabled>Save</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Filter Previous qualification-->    
    <!--How you study-->
    <div class="popup popup-howstudy fl_det">
        <div class="views flipper">
            <div class="view view-main front">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls8" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content">
                        <div class="content-block">
                            <div class="fl_cont">
                                <h1>How you study 
									<a class="">
										<span class="clk_im1"></span>
									</a>
								</h1>
                                <p>How do you want your timetable to look?</p>
                                <div class="list-block" ng-if="studyModeFiltersResults.length > 0">
                                    <ul>                                        
                                        <li ng-repeat="studyModeItr in studyModeFiltersResults">
                                            <label class="label-radio item-content">                                                
                                                <input type="radio" name="studyMode-radio" value="{{studyModeItr.textKey}}|{{studyModeItr.studyMode}}" ng-checked="studyModeItr.flag == 'Y'">
												<input type="hidden" name="defaultStudyMode" id="defaultStudyMode" value="{{studyModeItr.textKey}}|{{studyModeItr.studyMode}}" ng-if="studyModeItr.flag == 'Y'">
                                                <div class="item-media">
                                                    <i class="icon icon-form-radio"></i>
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-title">{{studyModeItr.studyMode}}</div>
                                                </div>
                                            </label>
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <div class="toolbar tabbar tabbar-labels det_foot">
                    <div class="toolbar-inner ">
                        <div class="fl_sve">
                            <p  style="display:none">300 courses</p>
                            <p class="buttons-row">
                                <a href="javascript:void(0);" ng-click="saveStudyModeFilter();" id="studyModeFilterSaveBtn" class="button button-fill button-raised">Save</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="view view-main back">
        
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls11">
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages ">
                    <div class="page-content nw_cont">
                        <div class="content-block">
                            <div class="fl_cont lst">
                                <h3>Full-time</h3>
                                <p>Monday-Friday, 9-5, a full-time course will take up most of your time but is the quickest to complete in terms of years</p>
                                <h3>Sandwich</h3>
                                <p>A full-time course that has a year doing something else is usually called a sandwich course. This could be spending time in industry or it could mean studying abroad, it depends on the course</p>
                                <h3>Part-time</h3>
                                <p>Part-time courses usually take longer to do in terms of years but mean you can do other things around your studies, such as keeping a job</p>
                                <h3>Distance/online</h3>
                                <p>Distance and online courses are ones you do largely by yourself, in the comfort of your home. Some include time in college/university, but most are done at a computer, alone</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
           
    </div>
		
		</div>
    
	
	</div>
    <!--How you study-->
    <!--Filter Location-->
    <div class="popup popup-location fl_det">
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls9" >
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through"  ng-if="locationFilterResults.length > 0">
                    <div class="page-content">
                        <div class="content-block">
                            <div class="fl_cont">
                                <h1>Location</h1>
                                <p>Where do you want to study?</p>
                                <div class="list-block">
                                    <ul>                                       										
                                        <li ng-repeat="location in locationFilterResults">
                                            <img src="img/location_flag/{{location.region | lowercase}}.png" class="cntry_img" alt="" ng-if="location.region == location.topRegion">
                                            <label class="label-radio item-content" ng-if="location.region == location.topRegion" ng-click="selectLocation($index);">                                                
                                                <input type="radio" name="location" value="{{location.region}}" id="location-{{$index}}" >
                                                <div class="item-media">
                                                    <i class="icon icon-form-radio"></i>
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-title">{{location.region}}</div>
                                                </div>                                             
                                            </label>
											
                                            <div class="city_list" ng-if="location.region == locationFilterResults[$index+1].topRegion" style="display:none" id="subLocationList_{{$index}}">
                                                <form>
                                                   <ul>
                                                    <li ng-repeat="sublocation in locationSubFilterResults" >                                                       
                                                        <input type="radio" value="{{sublocation.region}}" ng-checked="sublocation.flag == 'Y'" id="sublocation-{{$index}}" ng-click="selectSubLocation($index);" name="sublocation" ng-if="location.region == sublocation.topRegion">
                                                        <label ng-if="location.region == sublocation.topRegion" ng-click="selectSubLocation($index);">
                                                            <span>{{sublocation.region}}</span>
                                                        </label>
                                                    </li>                                                    
                                                   </ul>
                                                </form>
                                            </div>
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <div class="toolbar tabbar tabbar-labels det_foot">
                    <div class="toolbar-inner ">
                        <div class="fl_sve">
                            <p  style="display:none" >300 courses</p>
                            <p class="buttons-row">
                                <a href="javascript:void(0);" ng-click="saveLocationFilter();" class="button button-fill button-raised" id="locationfilterSaveBtn">Save</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Filter Location-->
    <!--Qualification text
    <div class="popup popup-qualttip fl_det">
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls10" >
                                    <img src="img/icons/cls_wht.png" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="pages navbar-through">
                    <div class="page-content  ">
                        <div class="content-block">
                            <h3>Undergraduate</h3>
                            <p>Essentially, a degree. Sometimes called BAs (Batchelor of Arts) or BSc (Batchelor of Science), these are level 6 qualifications that will go into a great deal of depth on a subject, lasting on average 3 years. They are academic in nature</p>
                            <h3 class="mt40">Foundation degree</h3>
                            <p>Still higher education but a step down from an undergraduate degree, a foundation degree will give you grounding in a subject but not go into as much depth. A level 5 qualification that usually lasts a year, these often have a practical element but are largely academic</p>
                            <h3 class="mt40">HND / HNC</h3>
                            <p>A HND (aka Higher National Diploma) is a level 5 qualification that is usually run at a college, not a university, and aims at getting you ready for the workplace. They take 2 years to complete and are the equivalent to the first 2 years of an academic degree. HNCs (aka Higher National Certificates) are only a year long and are level 4 qualifications. They also aim at getting you ready for work</p>
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
	-->
    <!--Qualification text-->
    <!--How you study tooltip
    <div class="popup popup-howttip fl_det">
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls11" >
                                    <img src="img/icons/cls_wht.png" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="pages ">
                    <div class="page-content nw_cont">
                        <div class="content-block">
                            <div class="fl_cont lst">
                                <h3>Full-time</h3>
                                <p>Monday-Friday, 9-5, a full-time course will take up most of your time but is the quickest to complete in terms of years</p>
                                <h3>Sandwich</h3>
                                <p>A full-time course that has a year doing something else is usually called a sandwich course. This could be spending time in industry or it could mean studying abroad, it depends on the course</p>
                                <h3>Part-time</h3>
                                <p>Part-time courses usually take longer to do in terms of years but mean you can do other things around your studies, such as keeping a job</p>
                                <h3>Distance/online</h3>
                                <p>Distance and online courses are ones you do largely by yourself, in the comfort of your home. Some include time in college/university, but most are done at a computer, alone</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>-->
	
	<!--Filter best-->
    <div class="popup popup-best fl_det" ng-show="assessmentTypeSubFilterResults.length > 0">
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="searchbar-overlay"></div>
                    <div class="navbar-inner">
                        <div class="buttons-row fl_tb">
                            <div class="left">
                                <a class="back link cls5">
                                    <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Qualification search start-->
                <div class="pages navbar-through">
                    <div class="page-content  ">
                        <div class="content-block">
                            <h1>What are you best at?</h1>
                            <p>Are you more of a coursework person or better at exams?</p>
							
                            <div class="w100p radiv wtbst" >
                                <span class="fl"  ng-repeat="assessmentType in assessmentTypeSubFilterResults">
									<input type="radio" name="assessment-radio" value="{{assessmentType.assesmentTypeId}}|{{assessmentType.assesmentTypeName}}" id="assesmentType_{{$index}}" ng-checked="assessmentType.selectedText == 'Y'">
									<label class="fl {{assessmentType.assesmentTypeClassName}}">
										<span></span>
									</label>
                                </span>                                
                            </div>
                            <div class="list-block"></div>
                        </div>
                    </div>
                </div>
                <!--Qualification search end-->
                <div class="toolbar tabbar tabbar-labels det_foot">
                    <div class="toolbar-inner ">
                        <div class="fl_sve">
                            <p style="display:none;">300 courses</p>
                            <p class="buttons-row">
                                <a href="#" class="button button-fill button-raised" id="assessmentTypeFilterSaveBtn" ng-click="saveAssessmentTypeSel();">Save</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Filter best-->
	<!--Filter preferences - review category-->
      <div class="popup popup-pref fl_det">
         <div class="views">
            <div class="view view-main">
               <div class="navbar">
                  <div class="searchbar-overlay"></div>
                  <div class="navbar-inner">
                     <div class="buttons-row fl_tb">
                        <div class="left">
                           <a class="back link cls13">
                           <img ng-src="img/icons/cls_wht.png" data-rjs="3" alt="" title="" />
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!--Qualification search start-->
                <div class="pages navbar-through">
					<div class="page-content">
						<div class="content-block">	
							<div class="fl_cont">
								<h1>Your preferences</h1>
								<p>What's most important to you?</p>
								<p>Choose up to 3</p>
								<div class="ur_pref">
								<ul ng-if="reviewCategorySubFilterResults.length > 0">
								   <li ng-repeat="reviewCategory in reviewCategorySubFilterResults" ng-click="selectReviewCategory($index);">
										<div class="{{reviewCategory.reviewCategoryClassName}}">
											<input type="checkbox" name="reviewCategory" id="reviewCategory_{{$index}}" ng-checked="reviewCategory.selectedText == 'Y'" value="{{reviewCategory.textKey}}|{{reviewCategory.reviewCategoryName}}">
											<label>
												<img src="img/pref/{{reviewCategory.mediaId}}.png" width="60" alt="" />
												<span>{{reviewCategory.reviewCategoryDisplayName}}</span>
											</label>
										</div>
									</li>
								</ul>	
								
							</div>                      
							</div>
						</div>
					</div>
                </div>
               <!--Qualification search end-->
               <div class="toolbar tabbar tabbar-labels det_foot">
                  <div class="toolbar-inner ">
                     <div class="fl_sve">
                        <p></p> <!-- Choose up to 3 -->
                        <p class="buttons-row">
                           <a href="#" disbled="true" id="reviewCategoryFilterSaveBtn" class="button button-fill button-raised" ng-click="saveReviewCategory();" disabled>Save</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
      <!--Filter preferences - review category-->
