<div data-page="search-landing" ng-controller="searchLandingCtrl" id="searchForm" class="page crs_page src_pg" >	
		
		<div id="loaderSearch" style="display:none" class="s_4041">
			<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc"/>
		</div>
		
		<div class="navbar">
		  <!-- Search Bar -->			
			<div id="tab3cont">
			   <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar d_tl searchbar-init ng-pristine ng-valid searchbar-active">
				   <div class="searchbar-input">
					   <input type="search" placeholder="Search" ng-keyup="searchAjaxAutoComplete($event.keyCode)" id="searchAjax" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					   <a id="xmark" ng-click="clearSearch();" class=""></a>
				   </div>
				   <a class="cls_cancel srbar_cancel" ng-click="goBack();">Cancel</a>
			   </form>
			</div>
			<!-- Search Bar overlay -->
			<div class="searchbar-overlay"></div>
			<div class="navbar-inner swiper-container gallery-thumbs-1">
				<div class="buttons-row crs_tabs swiper-wrapper">
					<a id="searchCourseTab"  href="javascript:void(0)" class="tab-link swiper-slide thumbs-0 active current">Courses</a>
					<a id="searchUniTab" href="javascript:void(0)" class="tab-link swiper-slide thumbs-1">Universities</a>			    
				</div>
			</div>
		</div>
	  
		<div class="pages navbar-through toolbar-through">
			<div id="noresultbg" class="page-content ">
				
				
				<div class="swiper-container tabs-top-1" > <!-- style="height:100%" -->
					<div id="searchCont" class="swiper-wrapper" > <!-- tabs -->	
						<!-- courses-->
						<div  class="tab active swiper-slide gallery_nav-0">
							<div id="dynamic-courses" style="display:none" >
								<div class="content-block uni_tab  hm_slide">
								
									<div ng-if="recentCourseList.length > 0 && guestUserFlag=='N'">
										<h3 class="pt0"> RECENT</h3>
									</div>
										
									<div class="crs_tiles ">
										<ul ng-if="recentCourseList.length > 0 && guestUserFlag=='N'">
											<li ng-repeat="recentCourse in recentCourseList">
												<div class="cont" ng-click="searchResultsPageURL(recentCourse.subjectName, recentCourse.searchCode, recentCourse.searchId)">
													<span class="fl gry">{{recentCourse.subjectName}}  </span>
												</div>
											</li>
										</ul>
									</div>
									
									<div ng-if="nearByCourseList.length > 0">
										<h3> NEAR YOU</h3>
									</div>
									
									<div class="crs_tiles ">
										<ul ng-if="nearByCourseList.length > 0">
											<li ng-repeat="nearCourse in nearByCourseList">
												<div class="cont" ng-click="searchResultsPageURL(nearCourse.description, nearCourse.categoryCode, '', 'NEAR YOU')">
													<span class="fl gry">{{nearCourse.description}}  </span>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- courses -->
						
							<!-- ajax courses -->
							<div id="ajax-courses" style="display:none" >
								<div class="content-block uni_tab ajx_rslt hm_slide">
								
									<div ng-if="ajaxRecentCourseList.length > 0 && guestUserFlag=='N'">
										<h3 class="pt0"> RECENT</h3>
									</div>
										
									<div class="crs_tiles ">
										<ul ng-if="ajaxRecentCourseList.length > 0 && guestUserFlag=='N'">
											<li ng-repeat="recentCourse in ajaxRecentCourseList">
												<div class="cont" ng-click="searchResultsPageURL(recentCourse.subjectName, recentCourse.searchCode, recentCourse.searchId)">
													<span class="fl gry">{{recentCourse.subjectName}}  </span>
													<span ng-if="recentCourse.courseCount && recentCourse.courseCount > 0 && recentCourse.courseCount > 1" class="fr">{{recentCourse.courseCount + " courses"}}</span>
													<span ng-if="recentCourse.courseCount && recentCourse.courseCount > 0 && recentCourse.courseCount == 1" class="fr">{{recentCourse.courseCount + " course"}}</span>
												</div>
											</li>
										</ul>
									</div>
									
									<div ng-if="ajaxSuggestedCourseList.length > 0">
										<h3> SUGGESTED</h3>
									</div>
									
									<div class="crs_tiles ">
										<ul ng-if="ajaxSuggestedCourseList.length > 0">
											<li ng-repeat="suggestedCourse in ajaxSuggestedCourseList">
												<div class="cont" ng-click="searchResultsPageURL(suggestedCourse.description, suggestedCourse.searchCode, suggestedCourse.searchId)">
													<span class="fl gry">{{suggestedCourse.description}}  </span>
													<span ng-if="suggestedCourse.courseCount && suggestedCourse.courseCount > 0  && suggestedCourse.courseCount > 1" class="fr">{{suggestedCourse.courseCount + " courses"}}</span>
													<span ng-if="suggestedCourse.courseCount && suggestedCourse.courseCount > 0  && suggestedCourse.courseCount == 1" class="fr">{{suggestedCourse.courseCount + " course"}}</span>
												</div>
											</li>
										</ul>
									</div>
									
								</div>
							</div>
							<!-- <div class="nresults" id="noResultCourses" style="display:none">
								<img src="img/icons/icon_no_results.png" width="202" />
								<span>No results found</span>
								<a href="javascript:void(0)" id="searchAgain">Search again</a>
							</div> -->
						</div>
						<!-- ajax courses -->
						
						
						<div class="uni_tab swiper-slide gallery_nav-1">
						
							<!-- unis -->
							<div id="dynamic-unis" style="display:none" >
								<div class="content-block uni_tab mt0 hm_slide">

									<div ng-if="nearByInstitutionsList.length > 0 && guestUserFlag=='N'">
										<h3> RECENT</h3>
									</div>
									
									<div class="crs_tiles ">
										<ul ng-if="nearByInstitutionsList.length > 0 && guestUserFlag=='N'">
											<li ng-repeat="nearInstitutions in nearByInstitutionsList" onclick="javascript:institutionPageURL(this, 'SL')" university_name="{{nearInstitutions.name}}" university_id="{{nearInstitutions.id}}">
												<div class="cont">
													<span class="fl gry"> {{nearInstitutions.name}} </span>
												</div>
											</li>
										</ul>
									</div>
									
									<div ng-if="closToYouInstitutionsList.length > 0" class="rc_hd">
										<h3> CLOSE TO YOU</h3>
									</div>
									
									<div class="crs_tiles ">
										<ul ng-if="closToYouInstitutionsList.length > 0">
											<li ng-repeat="closeToYouInstitutions in closToYouInstitutionsList" onclick="javascript:institutionPageURL(this)" university_name="{{closeToYouInstitutions.name}}" university_id="{{closeToYouInstitutions.id}}">
												<div class="cont">
													<span class="fl gry"> {{closeToYouInstitutions.name}} </span>
													<span ng-if="closeToYouInstitutions.distanceFromUserLatLag && closeToYouInstitutions.distanceFromUserLatLag > 0 && closeToYouInstitutions.distanceFromUserLatLag == 1" class="fr"> {{closeToYouInstitutions.distanceFromUserLatLag}} mile </span>
													<span ng-if="closeToYouInstitutions.distanceFromUserLatLag && closeToYouInstitutions.distanceFromUserLatLag > 0 && (closeToYouInstitutions.distanceFromUserLatLag > 1 || closeToYouInstitutions.distanceFromUserLatLag < 1)" class="fr"> {{closeToYouInstitutions.distanceFromUserLatLag}} miles </span>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- unis -->
						
							<!-- ajax unis -->
							<div id="ajax-unis" style="display:none" >
								<div class="content-block uni_tab ajx_rslt mt0 hm_slide">
										
									<div ng-if="ajaxRecentInstitutionsList.length > 0 && guestUserFlag=='N'">
										<h3> RECENT</h3>
									</div>
									
									<div class="crs_tiles ">
										<ul ng-if="ajaxRecentInstitutionsList.length > 0 && guestUserFlag=='N'">
											<li ng-repeat="recentInstitutions in ajaxRecentInstitutionsList" onclick="javascript:institutionPageURL(this)" university_name="{{recentInstitutions.name}}" university_id="{{recentInstitutions.id}}">
												<div class="cont">
													<span class="fl gry"> {{recentInstitutions.name}} </span>
													<span ng-if="recentInstitutions.courseCount && recentInstitutions.courseCount > 0 && recentInstitutions.courseCount > 1" class="fr">{{recentInstitutions.courseCount + " courses"}}</span>
													<span ng-if="recentInstitutions.courseCount && recentInstitutions.courseCount > 0 && recentInstitutions.courseCount == 1" class="fr">{{recentInstitutions.courseCount + " course"}}</span>
												</div>
											</li>
										</ul>
									</div>
									
									<div ng-if="ajaxSuggestedInstitutionsList.length > 0" class="rc_hd">
										<h3> SUGGESTED</h3>
									</div>
									
									<div class="crs_tiles ">
										<ul ng-if="ajaxSuggestedInstitutionsList.length > 0">
											<li ng-repeat="suggestedInstitutions in ajaxSuggestedInstitutionsList" onclick="javascript:institutionPageURL(this)" university_name="{{suggestedInstitutions.name}}" university_id="{{suggestedInstitutions.id}}">
												<div class="cont">
													<span class="fl gry"> {{suggestedInstitutions.name}} </span>
													<span ng-if="suggestedInstitutions.courseCount && suggestedInstitutions.courseCount > 0 && suggestedInstitutions.courseCount > 1" class="fr">{{suggestedInstitutions.courseCount + " courses"}}</span>
													<span ng-if="suggestedInstitutions.courseCount && suggestedInstitutions.courseCount > 0 && suggestedInstitutions.courseCount == 1" class="fr">{{suggestedInstitutions.courseCount + " course"}}</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							 <!-- <div id="noResultUnis" style="display:none">
								No result Found...
							</div> -->
							<!-- <div class="nresults" id="noResultUnis" style="display:none">
								<img src="img/icons/icon_no_results.png" width="202" />
								<span>No results found</span>
								<a href="javascript:void(0)" id="searchAgain">Search again</a>
							</div> -->
							<!-- ajax unis -->
						</div>
					</div>
				</div>
			</div>
		</div>
			
	   <div class="toolbar tabbar tabbar-labels" id="keyboard_hide">
			<div class="toolbar-inner">
				<a href="javascript:void(0);" class="tab-link" id="homePage" onclick = "switchHighLightTab(this.id, 'html/home/homeLanding.html');">
					<img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Home</span>
				</a>
				<a href="javascript:void(0);" class="tab-link active" id="searchForm" onclick = "switchHighLightTab(this.id, 'html/search/searchLanding.html');" >
					<img ng-src="img/icons/ic_search_active.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Search</span>
				</a>
				<a href="javascript:void(0);" class="tab-link" id="favoriteSubjects" onclick = "switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');" >
					<img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Favourites</span>
				</a>
				<a href="javascript:void(0);" class="tab-link velnk_nav" id="opendayLanding" onclick="switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');">
					<img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Virtual events</span>
				</a>
				<a href="javascript:void(0);" class="tab-link" id="myProfile" onclick = "switchHighLightTab(this.id, 'html/user/userProfile.html');" >
					<img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
					<span class="tabbar-label">Profile</span>
				</a>
			</div>
		</div>                 
    
</div>