<div class="page crs_page pr_page" data-page="institution-profile" id="institutionhomeCtrl" ng-cloak ng-controller="institutionhomeCtrl">

	<div id="loaderInstitution" style="display:block" class="s_4041">
		<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
	</div>

	<div class="pages toolbar-through" ng-class="{'n_advr':checkAdvUniversity=='N'}" id="loaderInstitutionView" style="display:none"
	 style="background:#fff">
		<div id="stk_app"></div>
		<div id="pullContent" class="page-content ip_header pull-to-refresh-content">
			<div class="status" id="listExc_institutionhomeCtrl" style="display:none">
				<p class="" id="listExcMsg_institutionhomeCtrl">Tap to add to Final 5</p>
				<a href="#">
					<img src="img/icons/cls_wht.png" width="12" alt="">
				</a>
			</div>
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div> 
				
			<div ng-if="checkAdvUniversity=='Y'" style="height:100%;">
				<div id="stk_div">
					<div id="" class="stk_div">
						<div class="profile">
							<img ng-src="{{university.backgroundImage}}" data-rjs="3" ng-if="university.backgroundImage!=null" class="sr_hdr" alt="">
							<!--<div class="usr_sec" ng-class="{'pr_grdnt':university.backgroundImage!=null}">-->
							<div class="{{university.backgroundImageClassName}}">
								<div class="">
									<a href="#" class="back link bk_icon" data-push-state="false">
										<img ng-src="img/s_results/bk_ico.png" data-rjs="3" width="11" id="resp-image">
									</a>
								</div>
								<div class="fav_ico" ng-class="{'fav_fill' : university.shortListFlag == 'Y'}" id="shtlist1_logo-{{university.id}}"
								 onclick="preventDefault(event, this.id, 'institutionhomeCtrl')" university_name="{{university.name}}"></div>
								<div class="uni_inf">
									<div class="uni_lgo">
										<img ng-if="institutionBrowseLogo.indexOf(university.logoName) > -1" src="img/unis/logos/{{university.logoName}}" alt=""
										 width="70" height="" />
										<img ng-if="university.collegeLogo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="{{university.collegeLogo}}"
										 alt="" width="70" height="" fallback-src="img/unis/logos/logo_bg.png" />
										<img ng-if="!university.collegeLogo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="img/unis/logos/logo_bg.png"
										 alt="" width="70" height="" />
									</div>
									<div class="pr_txt">
										<a href="#" class="uni_lnk">{{university.name}}</a>
										<div class="row">
											<div class="col-100">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.overallRating" class="fa fa-star" aria-hidden="true">
												</i>
												<span class="brkts" ng-if="university.reviewRatingDisplay && university.reviewRatingDisplay > 0">({{university.reviewRatingDisplay}})</span>
											</div>
										</div>
										<div class="row">
											<div class="col-100">
												<div ng-if="matchPecenatgeFlag" class="col-50 fl">{{university.matchingPercentage}}% match</div>
											</div>
										</div>
									</div>
									<div class="photo" ng-click="universityGallery()">
										<img ng-src="img/icons/ic_photos.png" data-rjs="3" width="18" alt="" id="resp-image4">
										<span> Photos</span>
									</div>
								</div>
							</div>
						</div>
						<!-- swiper content -->
						<div class="swiper-container gallery-thumbs">
							<div class="swiper-wrapper pr_tabs">
								<div class="swiper-slide thumbs-{{universityTabskey}}" ng-repeat="(universityTabskey,universityTabsValue) in universityTabs"
								 button-label="{{universityTabsValue.buttonLabel}}">{{universityTabsValue.sectionDisplayName}}</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="articleFlag=='Y'" id="covid_upt" class="covid_upt" ng-bind-html='getSafeHtml(articleContent)'>
					
				</div>

				<div class="swiper-container gallery-top">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide-mycontent gallery_nav-{{universityTabskey}}" id="swiper-slide-mycontent_{{universityTabskey}}"
						 ng-class='{"pr_tb":universityTabskey==0}' ng-repeat="(universityTabskey,universityTabsValue) in universityTabs">
							<div class="pr_dtl">
								<section>
									<h2 class="tlte">{{universityTabsValue.sectionDisplayName}}</h2>
									<div ng-bind-html="getSafeHtml(universityTabsValue.description)" class="cd_sec"></div>


									<!-- Tab : OverView Start -->
									<p class="btop" ng-if="universityTabsValue.buttonLabel=='Overview' && visitWebsite!=null">
										<a href="javascript:void(0)" ng-click="ipvisitWebsite()">Visit website
											<img src="img/icons/ic_visit_website_blue@2x.png" width="22" alt="">
										</a>
									</p>
									<div style="clear:both"></div>
									<ul class="st_dtl" ng-if="universityTabsValue.buttonLabel=='Overview' && !isEmpty(keyStatsInfo) && (keyStatsInfo.noOfStudents != null || keyStatsInfo.wuscaRanking != null || keyStatsInfo.timesRanking != null)">
										<li ng-if="keyStatsInfo.noOfStudents!=null">Students
											<span>{{keyStatsInfo.noOfStudents}}</span>
										</li>
										<li ng-if="keyStatsInfo.wuscaRanking!=null">WUSCA ranking
											<span>{{keyStatsInfo.wuscaRanking}} /
												<small>{{keyStatsInfo.totalWuscaRanking}}</small>
											</span>
										</li>
										<li ng-if="keyStatsInfo.timesRanking!=null">CUG ranking
											<span>{{keyStatsInfo.timesRanking}} /
												<small>{{keyStatsInfo.totalTimesRanking}}</small>
											</span>
										</li>
									</ul>
									<div style="clear:both"></div>
									<!-- Tab - Overview chart Start -->
									<div class="bar_chrt" ng-if="universityTabsValue.buttonLabel=='Overview' && !isEmpty(keyStatsInfo)">
										<h3>Who are they?</h3>
										<div class="bar_wrap" ng-if="keyStatsInfo.fullTime!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.fullTime}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.fullTime}}%</a> Full-time
											</span>
											<span class="fr"> Part-time
												<a href="#">{{keyStatsInfo.partTime}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.schoolLeavers!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.schoolLeavers}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.schoolLeavers}}%</a> School leavers
											</span>
											<span class="fr"> Mature
												<a href="#">{{keyStatsInfo.mature}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.ukStudents!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.ukStudents}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.ukStudents}}%</a> UK
											</span>
											<span class="fr"> International
												<a href="#">{{keyStatsInfo.international}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.undergraduate!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.undergraduate}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.undergraduate}}%</a> Undergraduate
											</span>
											<span class="fr"> Postgraduate
												<a href="#">{{keyStatsInfo.postgraduate}}%</a>
											</span>
										</div>
									</div>
									<!-- Tab - Overview chart End -->

									<!-- Tab - Job Prospects chart Start -->

									<div class="bar_chrt" ng-if="universityTabsValue.buttonLabel=='Job Prospects' && !isEmpty(keyStatsInfo) && keyStatsInfo.employmentRate!=null">
										<h3>Employment rate</h3>
										<div class="bar_wrap">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.employmentRate}}%;"></div>
											</div>
											<span class="fl">
												Graduates in jobs / further study
												<br>
												<span class="clr_gry">(6 months) </span>
											</span>
											<span class="fr">
												<a href="javascript:void(0)">{{keyStatsInfo.employmentRate}}%</a>
											</span>
										</div>
									</div>
									<!-- Tab - Job Prospects chart End -->


									<!-- Tab - Accommodation Cost chart Start -->
									<div class="bar_chrt costs" ng-if="universityTabsValue.buttonLabel=='Accommodation' && (accommodationCost.accommodationCost!=null || accommodationCost.livingCost!=null || accommodationCost.whatuniCostOfPint!=null)">
										<h3>Costs</h3>
										<ul>
											<li ng-if="accommodationCost.accommodationCost!=null">
												<img src="img/icons/ic_costs_accom.png" width="40" alt="">
												<span>
													Accommodation
													<br> {{accommodationCost.accommodationCost}}
													<small class="clr_gry">Per annum</small>
												</span>
											</li>
											<li ng-if="accommodationCost.livingCost!=null">
												<img src="img/icons/ic_costs_living_costs.png" width="40" alt="">
												<span>
													Living costs
													<br> {{accommodationCost.livingCost}}
													<small class="clr_gry">Per annum</small>
												</span>
											</li>
											<li ng-if="accommodationCost.whatuniCostOfPint!=null">
												<img src="img/icons/ic_costs_pint.png" width="40" alt="">
												<span>
													Cost of a pint
													<br> {{accommodationCost.whatuniCostOfPint}}
													<small class="clr_gry">Per pint</small>
												</span>
											</li>
										</ul>
									</div>
									<!-- Tab - Accommodation Cost Chart End -->
									<p class="pb15">
										<a href="html/institution/data.html">Where this data comes from</a>
									</p>
								</section>
								<div class="divider"></div>
								<section ng-if="reviewcheckSection(universityTabsValue.buttonLabel)">
									<h2>What do students think?</h2>
									<p ng-if="university.reviewCount!=null">{{university.reviewCount}} {{(university.reviewCount>1)?"reviews":"review"}} </p>
									<div class="rtng_ov" ng-if="universityTabsValue.buttonLabel=='Overview'">
										<ul>
											<li class="item" item-init ng-repeat="rating in reviewStarRating | filter:search | limitTo: ratelimit">
												<div class="str_ov">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= rating.roundRating,'fa-star-o':i > rating.roundRating}"
													 aria-hidden="true"></i> ({{rating.rating}})
												</div>
												{{rating.questionTitle}}
											</li>
										</ul>
									</div>

									<div class="rtng_ov" ng-repeat="rating in reviewStarRating" ng-if="universityTabsValue.buttonLabel!='Overview' && reviewcheck(rating.questionTitle,universityTabsValue.buttonLabel)">
										<ul>
											<li>
												<div class="str_ov">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= rating.roundRating,'fa-star-o':i > rating.roundRating}"
													 aria-hidden="true"></i> ({{rating.rating}})
												</div>
												{{rating.questionTitle}}
											</li>
										</ul>
									</div>

									<!-- Review for All Start -->
									<div ng-repeat="(studentReviewKey,studentReviewValue) in studentReview">
										<div class="bt_ln" ng-if="studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)"></div>
										<div class="rev_bx" ng-class="{'fr_tm':studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)}"
										 ng-if="studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel) ">

											<h3>
												<i class="fa fa-smile-o" aria-hidden="true"></i> GOOD REVIEW
											</h3>
											<div class="rvw_txt quote" ng-bind-html="getSafeHtml(studentReviewValue.reviewText)">
											</div>
											<p class="lt_bld m0">{{studentReviewValue.userName}}</p>
											<div class="str_ov">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= studentReviewValue.starRating,'fa-star-o':i > studentReviewValue.starRating}"
												 aria-hidden="true"></i>({{studentReviewValue.starRating}})
											</div>
										</div>
										<div class="bt_ln" ng-if="studentReviewValue.reviewType=='BAD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)"></div>
										<div class="rev_bx" ng-if="studentReviewValue.reviewType=='BAD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)">
											<h3>
												<i class="fa fa-frown-o" aria-hidden="true"></i> BAD REVIEW
											</h3>
											<div class="rvw_txt quote" ng-bind-html="getSafeHtml(studentReviewValue.reviewText)">

											</div>
											<p class="lt_bld m0">{{studentReviewValue.userName}}</p>
											<div class="str_ov">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= studentReviewValue.starRating,'fa-star-o':i > studentReviewValue.starRating}"
												 aria-hidden="true"></i>
												<!--<span ng-if="studentReviewValue.starRating > 0">({{studentReviewValue.starRatingDisplay}})</span>-->
											</div>
										</div>
									</div>
									<!-- Review for All End -->
									<p class="pb15">
										<a href="javascript:void(0)" ng-click="reviewUrlWebsiteFn()">View reviews on whatuni.com</a>
									</p>

								</section>
								<div class="divider"></div>

								<section ng-if="universityTabsValue.buttonLabel=='Overview'">
									<!-- <h2 ng-if="!isEmpty(opendayDetails)">Next open days</h2>
									<div class="opn_day" ng-if="!isEmpty(opendayDetails)">
										<div class="opn_bx" ng-repeat="(opendayDetailsKey,opendayDetailsValue) in opendayDetails">
											<div class="opn_lft">
												<h3>{{opendayDetailsValue.openDate}}</h3>
												<span ng-if="opendayDetailsValue.timing">({{opendayDetailsValue.timing}})</span>
											</div>
											<div class="opn_rt">
												<p>																		
													<a data-picker=".my_page" ng-if="opendayDetailsValue.opendaysSavedFlag != 'Y'" class="link" ng-click="eventSaveTrack(opendayDetailsValue.eventId,opendayDetailsValue.openDate,opendayDetailsValue.timing,opendayDetailsValue.subOrderItemId,checkAdvUniversity,$index);" id="saveToCalendarLbl-{{$index}}">Save to calendar</a>
													<a data-picker=".my_page" disabled="disabled" ng-if="opendayDetailsValue.opendaysSavedFlag == 'Y'" class="link" ng-click="eventSaveTrack(opendayDetailsValue.eventId,opendayDetailsValue.openDate,opendayDetailsValue.timing,opendayDetailsValue.subOrderItemId,checkAdvUniversity,$index);" id="saveToCalendarLbl-{{$index}}">Saved to calendar</a>											   
											   </p>
											</div>															
										</div>                                                       
									</div> -->
									<div class="map" ng-if="university.latitude!=null">
										<img ng-click="googleMap()" src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-l-a+285A98({{university.longitude}},{{university.latitude}})/{{university.longitude}},{{university.latitude}},15,0,0/300x300?access_token={{mapBoxKey}}"
										 alt="Google Map">
									</div>
									<!--
									<div class="map" ng-if="university.latitude!=null">
										<img ng-click="googleMap()" src="https://maps.googleapis.com/maps/api/staticmap?center={{university.latitude}},{{university.longitude}}&zoom=16&scale=1&size=300x300&markers=color:blue%7Clabel:A%7C{{university.latitude}},{{university.longitude}}&key=AIzaSyCWmI2pDtgjf8QRbUsyUV5uXwb79xyCU3k" alt="Google Map">
									</div>
									-->
									<p class="adrs">
										<span ng-if="university.addressLineOne!=null || university.addressLineTwo!=null || university.town!=null || university.countryState!=null || university.postcode!=null">{{university.name}},</span>
										<span ng-if="university.addressLineOne!=null">
											<br> {{university.addressLineOne}},</span>
										<span ng-if="university.addressLineTwo!=null">
											<br> {{university.addressLineTwo}},</span>
										<span ng-if="university.town!=null">
											<br> {{university.town}},</span>
										<span ng-if="university.countryState!=null">
											<br> {{university.countryState}},</span>
										<span ng-if="university.postcode!=null">
											<br> {{university.postcode}}</span>
										<br>
										<br>
										<span class="lt_bld" ng-if="university.nearestTrainStation!=null">Nearest station:</span>
										<span ng-if="university.nearestTrainStation!=null">
											<br> {{university.nearestTrainStation}} {{university.distanceFromTrainStn}} miles away
											<br>
											<br>
											<span class="lt_bld" ng-if="university.isInLondon=='LONDON' && university.nearestTubeStation!=null">Nearest tube station:</span>
											<span ng-if="university.isInLondon=='LONDON' && university.nearestTubeStation!=null">
												<br> {{university.nearestTubeStation}} {{university.distanceFromTubeStn}} miles away
												<br>
												<br>
											</span>
									</p>
								</section>

								<!-- Tab : OverView End -->

								<div class="divider" ng-if="$index<keys.length-1 || university.courseExistFlag=='Y'"></div>
								<section class="ftr_bx" ng-if="$index<keys.length-1 || university.courseExistFlag=='Y'">
									<p class="m0">NEXT</p>
									<ul>
										<li ng-if="$index<keys.length-1">
											<a href="javascript:void(0)" ng-click="slideNext(universityTabs[keys[$index +1]].buttonLabel)" class="open-job">{{universityTabs[keys[$index +1]].sectionDisplayName}}
												<span class="fr">
													<img src="img/icons/ic_arrow_right_midgrey.png" width="11" alt="">
												</span>
											</a>
										</li>
										<!---->
										<li ng-if="university.courseExistFlag=='Y'">
											<a href="javascript:void(0)" ng-click="providerResults(university.backgroundImage)">View all courses
												<span class="fr">
													<img src="img/icons/ic_arrow_right_midgrey.png" width="11" alt="">
												</span>
											</a>
										</li>
										<!---->
									</ul>
								</section>

								<div style="height:200px;clear: both;" id="extraSpace_{{$index}}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div ng-if="checkAdvUniversity=='N'">
				<div id="stk_div">
					<div id="" class="stk_div">
						<div class="profile">
							<img ng-src="{{university.backgroundImage}}" data-rjs="3" ng-if="university.backgroundImage!=null" class="sr_hdr" alt="">
							<div class="{{university.backgroundImageClassName}}">
								<div class="bk_icon" ng-click="goBack()">
									<img ng-src="img/s_results/bk_ico.png" data-rjs="3" width="11" id="resp-image">
								</div>
								<div class="fav_ico" ng-class="{'fav_fill' : university.shortListFlag == 'Y'}" id="shtlist1_logo-{{university.id}}"
								 onclick="preventDefault(event, this.id, 'institutionhomeCtrl')" university_name="{{university.name}}"></div>
								<div class="uni_inf">
									<div class="uni_lgo">
										<!-- <img src="{{university.collegeLogo}}" alt=""> -->
										<img ng-if="institutionBrowseLogo.indexOf(university.logoName) > -1" src="img/unis/logos/{{university.logoName}}" alt=""
										 width="70" height="70" />
										<img ng-if="university.collegeLogo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="{{university.collegeLogo}}"
										 alt="" width="70" height="70" fallback-src="img/unis/logos/logo_bg.png" />
										<img ng-if="!university.collegeLogo && institutionBrowseLogo.indexOf(university.logoName) == -1" src="img/unis/logos/logo_bg.png"
										 alt="" width="70" height="70" />
									</div>
									<div class="pr_txt">
										<a href="#" class="uni_lnk">{{university.name}}</a>
										<div class="row">
											<div class="col-100">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= university.overallRating" class="fa fa-star" aria-hidden="true">
												</i>
												<span class="brkts" ng-if="university.reviewRatingDisplay && university.reviewRatingDisplay > 0">({{university.reviewRatingDisplay}})</span>
											</div>
										</div>
										<div class="row">
											<div class="col-100">
												<div ng-if="matchPecenatgeFlag" class="col-50 fl">{{university.matchingPercentage}}% match</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div ng-if="universityTabs.length > 0" class="swiper-container gallery-thumbs">
							<div class="swiper-wrapper pr_tabs">
								<div class="swiper-slide thumbs-0" ng-if="universityTabs.length==0" button-label="Overview">OVERVIEW</div>
								<div class="swiper-slide thumbs-{{universityTabskey}}" ng-repeat="(universityTabskey,universityTabsValue) in universityTabs"
								 ng-if="(((universityTabsValue.buttonLabel=='Overview') && (keyStatsInfo.wuscaRankingFlag != 'N') && (keyStatsInfo.whoAreTheyFlag != 'N')) || ((universityTabsValue.buttonLabel=='Job Prospects') && (keyStatsInfo.jobProspectusFlag != 'N'))  || ((universityTabsValue.buttonLabel=='Accommodation') && (accommodationCost.accomodationFlag == 'N')))"
								 button-label="{{universityTabsValue.buttonLabel}}">{{universityTabsValue.sectionDisplayName}}</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="articleFlag=='Y'" class="covid_upt" ng-bind-html='getSafeHtml(articleContent)'>
					
				</div>
				<!-- swiper content end -->
				<div class="swiper-container gallery-top">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide-mycontent pr_tb gallery_nav-0 " ng-if="universityTabs.length==0">
							<div class="pr_dtl n_adv">
								<section ng-if="((keyStatsInfo.wuscaRankingFlag != 'N') && (keyStatsInfo.whoAreTheyFlag != 'N'))">
									<h2 class="tlte">Overview</h2>
									<ul class="st_dtl" ng-if="(!isEmpty(keyStatsInfo) && (keyStatsInfo.wuscaRankingFlag != 'N'))">
										  <li ng-if="keyStatsInfo.noOfStudents!=null">Students
											<span>{{keyStatsInfo.noOfStudents}}</span>
										</li>
										<li ng-if="keyStatsInfo.wuscaRanking!=null">WUSCA ranking
											<span>{{keyStatsInfo.wuscaRanking}} / 
												<small>{{keyStatsInfo.totalWuscaRanking}}</small>
											</span>
										</li>
										<li ng-if="keyStatsInfo.timesRanking!=null">CUG ranking
											<span>{{keyStatsInfo.timesRanking}} / 
												<small>{{keyStatsInfo.totalTimesRanking}}</small>
											</span>
										</li>
									</ul>
									<div style="clear:both"></div>
									<div class="bar_chrt" ng-if="(!isEmpty(keyStatsInfo) && (keyStatsInfo.whoAreTheyFlag != 'N'))">
										<h3>Who are they?</h3>
										<div class="bar_wrap" ng-if="keyStatsInfo.fullTime!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.fullTime}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.fullTime}}%</a> Full-time
											</span>
											<span class="fr"> Part-time
												<a href="#">{{keyStatsInfo.partTime}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.schoolLeavers!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.schoolLeavers}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.schoolLeavers}}%</a> School leavers
											</span>
											<span class="fr"> Mature
												<a href="#">{{keyStatsInfo.mature}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.ukStudents!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.ukStudents}}%;"></div>
											</div>
											<span class="fl">
												<a href="#"> {{keyStatsInfo.ukStudents}}%</a> UK
											</span>
											<span class="fr"> International
												<a href="#">{{keyStatsInfo.international}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.undergraduate!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.undergraduate}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.undergraduate}}%</a> Undergraduate
											</span>
											<span class="fr"> Postgraduate
												<a href="#">{{keyStatsInfo.postgraduate}}%</a>
											</span>
										</div>
									</div>
									<p class="pb15">
										<a href="html/institution/data.html">Where this data comes from</a>
									</p>
									<div style="clear:both"></div>
									<div class="rev_bx" ng-if="university.pullQuotes!=null">
										<div class="bbot"></div>
										<p class="lt_bld">
											Students say:
										</p>
										<div class="rvw_txt" ng-bind-html="getSafeHtml(university.pullQuotes)">
										</div>
									</div>
								</section>
								<!--Divider-->
								<div class="divider"></div>
								<!--Divider-->
								<section ng-if="reviewcheckSection('Overview')">
									<h2>What do students think?</h2>
									<p ng-if="university.reviewCount!=null">{{university.reviewCount}} {{(university.reviewCount>1)?"reviews":"review"}} </p>
									<div class="rtng_ov">
										<ul>
											<li class="item" item-init ng-repeat="rating in reviewStarRating | filter:search | limitTo: ratelimit">
												<div class="str_ov">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= rating.roundRating,'fa-star-o':i > rating.roundRating}"
													 aria-hidden="true"></i> ({{rating.rating}})
												</div>
												{{rating.questionTitle}}
											</li>
										</ul>
									</div>

									<!--Review Area-->
									<div ng-repeat="(studentReviewKey,studentReviewValue) in studentReview">
										<div class="bt_ln" ng-if="studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,'Overview')"></div>
										<div class="rev_bx" ng-class="{'fr_tm':studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)}"
										 ng-if="studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,'Overview') ">
											<h3>
												<i class="fa fa-smile-o" aria-hidden="true"></i> GOOD REVIEW
											</h3>
											<div class="rvw_txt quote" ng-bind-html="getSafeHtml(studentReviewValue.reviewText)">
											</div>
											<p class="lt_bld m0">{{studentReviewValue.userName}}</p>
											<div class="str_ov">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= studentReviewValue.starRating,'fa-star-o':i > studentReviewValue.starRating}"
												 aria-hidden="true"></i>
												<!--<span ng-if="studentReviewValue.starRating > 0">({{studentReviewValue.starRatingDisplay}})</span>-->
											</div>
										</div>
										<div class="bt_ln" ng-if="studentReviewValue.reviewType=='BAD' && reviewcheck(studentReviewValue.sections,'Overview')"></div>
										<div class="rev_bx" ng-if="studentReviewValue.reviewType=='BAD' && reviewcheck(studentReviewValue.sections,'Overview')">
											<h3>
												<i class="fa fa-frown-o" aria-hidden="true"></i> BAD REVIEW
											</h3>
											<div class="rvw_txt quote" ng-bind-html="getSafeHtml(studentReviewValue.reviewText)">

											</div>
											<p class="lt_bld m0">{{studentReviewValue.userName}}</p>
											<div class="str_ov">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= studentReviewValue.starRating,'fa-star-o':i > studentReviewValue.starRating}"
												 aria-hidden="true"></i>
												<!-- <span ng-if="studentReviewValue.starRating > 0">({{studentReviewValue.starRatingDisplay}})</span>-->
											</div>
										</div>
									</div>
									<p class="pb15">
										<a href="javascript:void(0)" ng-click="reviewUrlWebsiteFn()">View reviews on whatuni.com</a>
									</p>
									<!--Review Area-->
								</section>
								<!--Divider-->
								<div class="divider"></div>
								<!--Divider-->
								<section ng-if="!isEmpty(opendayDetails) ||  university.latitude!=null || university.countryState!=null">
									<!-- <h2 ng-if="!isEmpty(opendayDetails)">Next open days</h2>
									<div class="opn_day" ng-if="!isEmpty(opendayDetails)">
										<div class="opn_bx" ng-repeat="(opendayDetailsKey,opendayDetailsValue) in opendayDetails">
											<div class="opn_lft">
												<h3>{{opendayDetailsValue.openDate}}</h3>
												<span ng-if="opendayDetailsValue.timing">({{opendayDetailsValue.timing}})</span>
											</div>
											<div class="opn_rt">
												<p>
													<a data-picker=".my_page" ng-if="opendayDetailsValue.opendaysSavedFlag != 'Y'" class="link open-picker" ng-click="eventSaveTrack(opendayDetailsValue.eventId,opendayDetailsValue.openDate,opendayDetailsValue.timing,opendayDetailsValue.subOrderItemId,checkAdvUniversity, $index);" id="saveToCalendarLbl-{{$index}}" >Save to calendar</a>                                                                    
													<a data-picker=".my_page" disabled="disabled" ng-if="opendayDetailsValue.opendaysSavedFlag == 'Y'"  class="link open-picker" ng-click="eventSaveTrack(opendayDetailsValue.eventId,opendayDetailsValue.openDate,opendayDetailsValue.timing,opendayDetailsValue.subOrderItemId,checkAdvUniversity, $index);" id="saveToCalendarLbl-{{$index}}" >Saved to calendar</a>                                                                    
											   </p>
											</div>															
										</div>                                                        
									</div> -->
									<div class="map" ng-if="university.latitude!=null">
										<img ng-click="googleMap()" src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-l-a+285A98({{university.longitude}},{{university.latitude}})/{{university.longitude}},{{university.latitude}},15,0,0/300x300?access_token={{mapBoxKey}}"
										 alt="Google Map">
									</div>
									<!-- <div class="map" ng-if="university.latitude!=null">
										<img ng-click="googleMap()" src="https://maps.googleapis.com/maps/api/staticmap?center={{university.latitude}},{{university.longitude}}&zoom=16&scale=1&size=300x300&markers=color:blue%7Clabel:A%7C{{university.latitude}},{{university.longitude}}&key=AIzaSyCWmI2pDtgjf8QRbUsyUV5uXwb79xyCU3k" alt="Google Map">
									</div> -->
									<p class="adrs">
										<span ng-if="university.addressLineOne!=null || university.addressLineTwo!=null || university.town!=null || university.countryState!=null || university.postcode!=null">{{university.name}},</span>
										<span ng-if="university.addressLineOne!=null">
											<br> {{university.addressLineOne}},</span>
										<span ng-if="university.addressLineTwo!=null">
											<br> {{university.addressLineTwo}},</span>
										<span ng-if="university.town!=null">
											<br> {{university.town}},</span>
										<span ng-if="university.countryState!=null">
											<br> {{university.countryState}},</span>
										<span ng-if="university.postcode!=null">
											<br> {{university.postcode}}</span>
										<br>
										<br>
										<span class="lt_bld" ng-if="university.nearestTrainStation!=null">Nearest station:</span>
										<span ng-if="university.nearestTrainStation!=null">
											<br> {{university.nearestTrainStation}} {{university.distanceFromTrainStn}} miles away
											<br>
											<br>
											<span class="lt_bld" ng-if="university.isInLondon=='LONDON' && university.nearestTubeStation!=null">Nearest tube station:</span>
											<span ng-if="university.isInLondon=='LONDON' && university.nearestTubeStation!=null">
												<br> {{university.nearestTubeStation}} {{university.distanceFromTubeStn}} miles away
												<br>
												<br>
											</span>
									</p>
								</section>
								<!--Divider-->
								<div class="divider" ng-if="$index<0 && university.courseExistFlag=='Y'"></div>
								<!---->

								<!-- <section class="ftr_bx" ng-if="$index<0 && university.courseExistFlag=='Y'">
									<p class="m0">NEXT</p>
									<ul>
											
										<li ng-if="university.courseExistFlag=='Y'">
						                  <a href="javascript:void(0)" ng-click="providerResults(university.backgroundImage)">All courses
										  <span class="fr">
													<img src="img/icons/ic_arrow_right_midgrey.png" width="11" alt="">
												</span>
										  </a>
					                   </li>
									   
									</ul>
								</section> -->
								<!---->
								<!--Divider-->
								<section class="ftr_bx" ng-if="competitorDetails.length>0">
									<p class="m0">OTHER UNIS YOU MIGHT LIKE</p>
									<ul>
										<li ng-click="universityClick(competitorDetailsValue.collegeId,competitorDetailsValue)" ng-repeat="(competitorDetailsKey,competitorDetailsValue) in competitorDetails">
											<span class="lgo">
												<img ng-if="institutionBrowseLogo.indexOf(competitorDetailsValue.logoName) > -1" src="img/unis/logos/{{competitorDetailsValue.logoName}}"
												 alt="" />
												<img ng-if="competitorDetailsValue.collegeLogo && institutionBrowseLogo.indexOf(competitorDetailsValue.logoName) == -1" src="{{competitorDetailsValue.collegeLogo}}"
												 alt="" fallback-src="img/unis/logos/logo_bg.png" />
												<img ng-if="!competitorDetailsValue.collegeLogo && institutionBrowseLogo.indexOf(competitorDetailsValue.logoName)== -1" src="img/unis/logos/logo_bg.png"
												 alt="" />
											</span>
											<a href="javascript:void(0)">
												<span class="un_nm">{{competitorDetailsValue.collegeName}}</span>
												<small ng-if="matchPecenatgeFlag" class="clr_gry">{{competitorDetailsValue.matchingPercentage}}% match</small>
												<span class="fr">
													<img src="img/icons/ic_arrow_right_midgrey.png" width="11" alt="">
												</span>
											</a>
										</li>
									</ul>
								</section>
								<div style="height:200px;clear: both;" id="extraSpace_0">
								</div>
								<!--Divider-->
								<!--Divider-->
								<!--Content-->
							</div>
						</div>

						<div class="swiper-slide swiper-slide-mycontent gallery_nav-{{universityTabskey}}" id="swiper-slide-mycontent_{{universityTabskey}}"
						 ng-class='{"pr_tb":universityTabskey==0}' ng-repeat="(universityTabskey,universityTabsValue) in universityTabs">
							<div class="pr_dtl">
								<section ng-if="(((universityTabsValue.buttonLabel=='Overview') && (keyStatsInfo.wuscaRankingFlag != 'N') && (keyStatsInfo.whoAreTheyFlag != 'N')) || ((universityTabsValue.buttonLabel=='Job Prospects') && (keyStatsInfo.jobProspectusFlag != 'N'))  || ((universityTabsValue.buttonLabel=='Accommodation') && (accommodationCost.accomodationFlag != 'N')))">
									<h2 class="tlte">{{universityTabsValue.buttonLabel}}</h2>
									<div style="clear:both"></div>
									<ul class="st_dtl" ng-if="universityTabsValue.buttonLabel=='Overview' && !isEmpty(keyStatsInfo)">
										<li ng-if="keyStatsInfo.noOfStudents!=null">Students
											<span>{{keyStatsInfo.noOfStudents}}</span>
										</li>
										<li ng-if="keyStatsInfo.wuscaRanking!=null">WUSCA ranking
											<span>{{keyStatsInfo.wuscaRanking}} /
												<small>{{keyStatsInfo.totalWuscaRanking}}</small>
											</span>
										</li>
										<li ng-if="keyStatsInfo.timesRanking!=null">CUG ranking
											<span>{{keyStatsInfo.timesRanking}} /
												<small>{{keyStatsInfo.totalTimesRanking}}</small>
											</span>
										</li>
									</ul>
									<div style="clear:both"></div>
									<!-- Tab - Overview chart Start -->
									<div class="bar_chrt" ng-if="universityTabsValue.buttonLabel=='Overview' && !isEmpty(keyStatsInfo) && (keyStatsInfo.fullTime != null || keyStatsInfo.schoolLeavers != null || keyStatsInfo.ukStudents != null || keyStatsInfo.undergraduate != null )">
										<h3>Who are they?</h3>
										<div class="bar_wrap" ng-if="keyStatsInfo.fullTime!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.fullTime}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.fullTime}}%</a> Full-time
											</span>
											<span class="fr"> Part-time
												<a href="#">{{keyStatsInfo.partTime}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.schoolLeavers!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.schoolLeavers}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.schoolLeavers}}%</a> School leavers
											</span>
											<span class="fr"> Mature
												<a href="#">{{keyStatsInfo.mature}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.ukStudents!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.ukStudents}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.ukStudents}}%</a> UK
											</span>
											<span class="fr"> International
												<a href="#">{{keyStatsInfo.international}}%</a>
											</span>
										</div>
										<div class="bar_wrap" ng-if="keyStatsInfo.undergraduate!=null">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.undergraduate}}%;"></div>
											</div>
											<span class="fl">
												<a href="#">{{keyStatsInfo.undergraduate}}%</a> Undergraduate
											</span>
											<span class="fr"> Postgraduate
												<a href="#">{{keyStatsInfo.postgraduate}}%</a>
											</span>
										</div>
									</div>
									<!-- Tab - Overview chart End -->

									<!-- Tab - Job Prospects chart Start -->

									<div class="bar_chrt" ng-if="universityTabsValue.buttonLabel=='Job Prospects' && !isEmpty(keyStatsInfo) && keyStatsInfo.employmentRate!=null">
										<h3>Employment rate</h3>
										<div class="bar_wrap">
											<div class="bar">
												<div class="chrt mi0" style="width:{{keyStatsInfo.employmentRate}}%;"></div>
											</div>
											<span class="fl">
												Graduates in jobs / further study
												<br>
												<span class="clr_gry">(6 months) </span>
											</span>
											<span class="fr">
												<a href="javascript:void(0)">{{keyStatsInfo.employmentRate}}%</a>
											</span>
										</div>
									</div>
									<!-- Tab - Job Prospects chart End -->


									<!-- Tab - Accommodation Cost chart Start -->
									<div class="bar_chrt costs" ng-if="universityTabsValue.buttonLabel=='Accommodation' && (accommodationCost.accommodationCost!=null || accommodationCost.livingCost!=null || accommodationCost.whatuniCostOfPint!=null)">
										<h3>Costs</h3>
										<ul>
											<li ng-if="accommodationCost.accommodationCost!=null">
												<img src="img/icons/ic_costs_accom.png" width="40" alt="">
												<span>
													Accommodation
													<br> {{accommodationCost.accommodationCost}}
													<small class="clr_gry">Per annum</small>
												</span>
											</li>
											<li ng-if="accommodationCost.livingCost!=null">
												<img src="img/icons/ic_costs_living_costs.png" width="40" alt="">
												<span>
													Living costs
													<br> {{accommodationCost.livingCost}}
													<small class="clr_gry">Per annum</small>
												</span>
											</li>
											<li ng-if="accommodationCost.whatuniCostOfPint!=null">
												<img src="img/icons/ic_costs_pint.png" width="40" alt="">
												<span>
													Cost of a pint
													<br> {{accommodationCost.whatuniCostOfPint}}
													<small class="clr_gry">Per pint</small>
												</span>
											</li>
										</ul>
									</div>
									<!-- Tab - Accommodation Cost Chart End -->

									<p class="pb15">
										<a href="html/institution/data.html">Where this data comes from</a>
									</p>
									<div style="clear:both" ng-if="universityTabsValue.buttonLabel=='Overview'"></div>
									<div class="rev_bx" ng-if="university.pullQuotes!=null && universityTabsValue.buttonLabel=='Overview'">
										<div class="bbot"></div>
										<p class="lt_bld">
											Students say:
										</p>
										<div class="rvw_txt" ng-bind-html="getSafeHtml(university.pullQuotes)">
										</div>
									</div>
								</section>
								<div class="divider"></div>
								<section ng-if="reviewcheckSection(universityTabsValue.buttonLabel)">
									<h2>What do students think?</h2>
									<p ng-if="university.reviewCount!=null">{{university.reviewCount}} {{(university.reviewCount>1)?"reviews":"review"}} </p>
									<div class="rtng_ov" ng-if="universityTabsValue.buttonLabel=='Overview'">
										<ul>
											<li class="item" item-init ng-repeat="rating in reviewStarRating | filter:search | limitTo: ratelimit">
												<div class="str_ov">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= rating.roundRating,'fa-star-o':i > rating.roundRating}"
													 aria-hidden="true"></i> ({{rating.rating}})
												</div>
												{{rating.questionTitle}}
											</li>
										</ul>
									</div>

									<div class="rtng_ov" ng-repeat="rating in reviewStarRating" ng-if="universityTabsValue.buttonLabel!='Overview' && reviewcheck(rating.questionTitle,universityTabsValue.buttonLabel)">
										<ul>
											<li>
												<div class="str_ov">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= rating.roundRating,'fa-star-o':i > rating.roundRating}"
													 aria-hidden="true"></i> ({{rating.rating}})
												</div>
												{{rating.questionTitle}}
											</li>
										</ul>
									</div>

									<!-- Review for All Start -->
									<div ng-repeat="(studentReviewKey,studentReviewValue) in studentReview">
										<div class="bt_ln" ng-if="studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)"></div>
										<div class="rev_bx" ng-class="{'fr_tm':studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)}"
										 ng-if="studentReviewValue.reviewType=='GOOD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel) ">
											<h3>
												<i class="fa fa-smile-o" aria-hidden="true"></i> GOOD REVIEW
											</h3>
											<div class="rvw_txt quote" ng-bind-html="getSafeHtml(studentReviewValue.reviewText)">
											</div>
											<p class="lt_bld m0">{{studentReviewValue.userName}}</p>
											<div class="str_ov">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= studentReviewValue.starRating,'fa-star-o':i > studentReviewValue.starRating}"
												 aria-hidden="true"></i>
												<!--<span ng-if="studentReviewValue.starRating > 0">({{studentReviewValue.starRatingDisplay}})</span>-->
											</div>
										</div>
										<div class="bt_ln" ng-if="studentReviewValue.reviewType=='BAD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)"></div>
										<div class="rev_bx" ng-if="studentReviewValue.reviewType=='BAD' && reviewcheck(studentReviewValue.sections,universityTabsValue.buttonLabel)">
											<h3>
												<i class="fa fa-frown-o" aria-hidden="true"></i> BAD REVIEW
											</h3>
											<div class="rvw_txt quote" ng-bind-html="getSafeHtml(studentReviewValue.reviewText)">

											</div>
											<p class="lt_bld m0">{{studentReviewValue.userName}}</p>
											<div class="str_ov">
												<i ng-repeat="i in [1, 2, 3, 4, 5]" class="fa " ng-class="{'fa-star':i <= studentReviewValue.starRating,'fa-star-o':i > studentReviewValue.starRating}"
												 aria-hidden="true"></i>
												<!--<span ng-if="studentReviewValue.starRating > 0">({{studentReviewValue.starRatingDisplay}})</span>-->
											</div>
										</div>
									</div>
									<!-- Review for All End -->
									<p class="pb15">
										<a href="javascript:void(0)" ng-click="reviewUrlWebsiteFn()">View reviews on whatuni.com</a>
									</p>

								</section>
								<div class="divider"></div>

								<section ng-if="universityTabsValue.buttonLabel=='Overview'">
									<!-- <h2 ng-if="!isEmpty(opendayDetails)">Next open days</h2>
									<div class="opn_day" ng-if="!isEmpty(opendayDetails)">
										<div class="opn_bx" ng-repeat="(opendayDetailsKey,opendayDetailsValue) in opendayDetails">
											<div class="opn_lft">
												<h3>{{opendayDetailsValue.openDate}}</h3>
												<span ng-if="opendayDetailsValue.timing">({{opendayDetailsValue.timing}})</span>
											</div>
											<div class="opn_rt">
												<p>
													<a data-picker=".my_page" ng-if="opendayDetailsValue.opendaysSavedFlag != 'Y'" class="link open-picker" ng-click="eventSaveTrack(opendayDetailsValue.eventId,opendayDetailsValue.openDate,opendayDetailsValue.timing,opendayDetailsValue.subOrderItemId,checkAdvUniversity,$index);" id="saveToCalendarLbl-{{$index}}">Saved to calendar</a>
													<a data-picker=".my_page" disabled="disabled" ng-if="opendayDetailsValue.opendaysSavedFlag == 'Y'" class="link open-picker" ng-click="eventSaveTrack(opendayDetailsValue.eventId,opendayDetailsValue.openDate,opendayDetailsValue.timing,opendayDetailsValue.subOrderItemId,checkAdvUniversity,$index);" id="saveToCalendarLbl-{{$index}}">Save to calendar</a>
											   </p>
											</div>															
										</div>                                                       
									</div> -->
									<div class="map" ng-if="university.latitude!=null">
										<img ng-click="googleMap()" src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-l-a+285A98({{university.longitude}},{{university.latitude}})/{{university.longitude}},{{university.latitude}},15,0,0/300x300?access_token={{mapBoxKey}}"
										 alt="Google Map">
									</div>
									<!-- <div class="map" ng-if="university.latitude!=null">
										<img ng-click="googleMap()" src="https://maps.googleapis.com/maps/api/staticmap?center={{university.latitude}},{{university.longitude}}&zoom=16&scale=1&size=300x300&markers=color:blue%7Clabel:A%7C{{university.latitude}},{{university.longitude}}&key=AIzaSyCWmI2pDtgjf8QRbUsyUV5uXwb79xyCU3k" alt="Google Map">
									</div> -->
									<p class="adrs">
										<span ng-if="university.addressLineOne!=null || university.addressLineTwo!=null || university.town!=null || university.countryState!=null || university.postcode!=null">{{university.name}},</span>
										<span ng-if="university.addressLineOne!=null">
											<br> {{university.addressLineOne}},</span>
										<span ng-if="university.addressLineTwo!=null">
											<br> {{university.addressLineTwo}},</span>
										<span ng-if="university.town!=null">
											<br> {{university.town}},</span>
										<span ng-if="university.countryState!=null">
											<br> {{university.countryState}},</span>
										<span ng-if="university.postcode!=null">
											<br> {{university.postcode}}</span>
										<br>
										<br>
										<span class="lt_bld" ng-if="university.nearestTrainStation!=null">Nearest station:</span>
										<span ng-if="university.nearestTrainStation!=null">
											<br> {{university.nearestTrainStation}} {{university.distanceFromTrainStn}} miles away
											<br>
											<br>
											<span class="lt_bld" ng-if="university.isInLondon=='LONDON' && university.nearestTubeStation!=null">Nearest tube station:</span>
											<span ng-if="university.isInLondon=='LONDON' && university.nearestTubeStation!=null">
												<br> {{university.nearestTubeStation}} {{university.distanceFromTubeStn}} miles away
												<br>
												<br>
											</span>
									</p>
								</section>

								<!-- Tab : OverView End -->
								<section class="ftr_bx" ng-if="competitorDetails.length>0">
									<p class="m0">OTHER UNIS YOU MIGHT LIKE</p>
									<ul>
										<li ng-click="universityClick(competitorDetailsValue.collegeId,competitorDetailsValue)" ng-repeat="(competitorDetailsKey,competitorDetailsValue) in competitorDetails">
											<span class="lgo">
												<!-- <img src="../../img/unis/Logos/logo_huddersfield.png" alt=""> -->

												<img ng-if="institutionBrowseLogo.indexOf(competitorDetailsValue.logoName) > -1" src="img/unis/logos/{{competitorDetailsValue.logoName}}"
												 alt="" />
												<img ng-if="competitorDetailsValue.collegeLogo && institutionBrowseLogo.indexOf(competitorDetailsValue.logoName) == -1" src="{{competitorDetailsValue.collegeLogo}}"
												 alt="" fallback-src="img/unis/logos/logo_bg.png" />
												<img ng-if="!competitorDetailsValue.collegeLogo && institutionBrowseLogo.indexOf(competitorDetailsValue.logoName) == -1"
												 src="img/unis/logos/logo_bg.png" alt="" />

											</span>
											<a href="javascript:void(0)">
												<span class="un_nm">{{competitorDetailsValue.collegeName}}</span>
												<small ng-if="matchPecenatgeFlag" class="clr_gry">{{competitorDetailsValue.matchingPercentage}}% match</small>
												<span class="fr">
													<img src="img/icons/ic_arrow_right_midgrey.png" width="11" alt="">
												</span>
											</a>
										</li>
									</ul>
								</section>
								<div class="divider" ng-if="$index<keys.length-1 && (((universityTabs[$index+1].buttonLabel=='Job Prospects') && (keyStatsInfo.jobProspectusFlag != 'N'))  || ((universityTabs[$index+1].buttonLabel=='Accommodation') && (accommodationCost.accomodationFlag == 'N')))"></div>
								<section class="ftr_bx" ng-if="$index<keys.length-1 && (((universityTabs[$index+1].buttonLabel=='Job Prospects') && (keyStatsInfo.jobProspectusFlag != 'N'))  || ((universityTabs[$index+1].buttonLabel=='Accommodation') && (accommodationCost.accomodationFlag == 'N')))">
									<p class="m0">NEXT</p>
									<ul>
										<li>
											<a href="javascript:void(0)" ng-click="slideNext(universityTabs[keys[$index +1]].buttonLabel)" class="open-job">{{universityTabs[keys[$index +1]].sectionDisplayName}}
												<span class="fr">
													<img src="img/icons/ic_arrow_right_midgrey.png" width="11" alt="">
												</span>
											</a>
										</li>
									</ul>
								</section>
								<div style="height:200px;clear: both;" id="extraSpace_{{$index}}">
								</div>
							</div>
						</div>

					</div>
				</div>
				<!--Tabs-->
			</div>
		</div>


		<!-- SAVE TO CALENDAR POP UP - START -->
		<div class="picker-modal my_page">
			<a href="#" id="closePicker" style="display:none" class="close-picker"></a>
			<div class="picker-modal-inner">
				<div class="content-block" id="addCalendarPopup" style="display:none">
					<p id="calMsg">Thanks, we've added the open day to your phone calendar and we'll send you an email reminder so you don't forget the
						date</p>
					<!--<a href="" class="btn btn_wht" id="addToCalendar" ng-click="saveTocal()">+  Add to phone calendar</a>-->
				</div>
				<!--<div class="content-block" id="addedCalendarPopup" style="display:none;">									
					<img width="134" src="img/ic_add_phone_calendar@3x.png" alt=""/>
					<p>Added open day to your phone calendar</p>
				</div>-->
			</div>
		</div>
		<!-- SAVE TO CALENDAR POP UP - END -->

		<!-- REQUEST PROSPECTUS - START -->
		<div class="popup req_props pr_popup" id="ip_req_props_popup">
			<div ng-if="institutionDetailsList.length > 0" ng-repeat="institution in institutionDetailsList">
				<div class="navbar">
					<div class="searchbar-overlay"></div>
					<div class="navbar-inner">
						<div class="buttons-row fl_tb">
							<div class="center">
								<div class="left">
									<a id="back-popupIP" class="back close-popup link cls_req_props">
										<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
									</a>
									<a id="back-tabIP" onclick="backToTab('req',7);" class="back link cls_tab7" style="display:none">
										<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
								<p>Request prospectus</p>
							</div>
						</div>
					</div>
				</div>
				<div class="content-block m0">
					<div class="pr_dtl">
						<section>
							<div class="enq_lg">
								<div class="lgo">
									<img ng-if="institutionBrowseLogo.indexOf(institution.logoName) > -1" src="img/unis/logos/{{institution.logoName}}">
									<img ng-if="institution.logo && institutionBrowseLogo.indexOf(institution.logoName) == -1" src="{{institution.logo}}" />
									<!--<img src="{{institution.logo}}" alt="">-->
								</div>
								<div class="enq_rgt">
									<p>
										<span> To:</span> {{institution.institutionDisplayName}}
									</p>
									<p ng-if="institution.courseId">
										<span> About:</span> {{institution.courseTitle}}
									</p>
								</div>
							</div>
							<div class="ps_rl">
								<div class="tabs-animated-wrap">
									<!-- Tabs, tabs wrapper -->
									<div class="tabs">
										<!-- Tab 1, active by default -->
										<div id="tab7" class="tab active data_shr_sec">
											<div id="prospectusYearIP" class="trn_dv">
												<p class="mt40">
													When would you like to start?
												</p>
												<ul class="but_lg" ng-if="yearList.length > 0">
													<li ng-repeat="year in yearList">
														<a id="prospectusYearOfEntry-{{$index}}IP" href="#tab8" name="prospectusYearOfEntryIP" ng-if="year.selectedYear" ng-class="{'btn btn_wht active tab-link' : year.selectedYear == 'Y', 'btn btn_wht tab-link' : year.selectedYear == 'N' }"
														 ng-click="saveSelectedYear($index, 'PROSPECTUS', 'prospectusYearOfEntry')">{{year.yearOfEntry}}</a>
													</li>
												</ul>
												<div class="data_shr_wp" ng-if="clientConsentFlag=='Y'">
													<div class="data_shr_hd">University E-Newsletter Sign Up
														<span class="data_shr_ops">(optional)</span>
													</div>
													<p>You can now opt in to receive e-newsletters from your favourite universities. Please read the university privacy
														notice before subscribing. You will need to contact the University directly if you wish to update your mailing
														preference.</p>
													<label class="data_shr_cntr">
														<span ng-bind-html='getSafeHtml(clientConsentText)'></span>
														<input type="checkbox" name="prospectusClientConsentFlagIP" id="prospectusClientConsentFlagIP" ng-model="prospectusClientConsentFlagIP"
														 ng-change="prospectusClientConsentFlagIPChange()">
														<span class="checkmark"></span>
													</label>
												</div>

											</div>
										</div>
										<!-- Tab 2 -->
										<div id="tab8" class="tab">
											<div id="orderProspectus" ng-if="addressFlag=='YES'">
												<div id="prospectusAddressIP" class="mail_sd">
													<p>
														<span> Mail to</span>
													</p>
													<p id="addressLines">{{institutionDetails.addressLineOne}} {{institutionDetails.addressLineTwo}}
														<br> {{institutionDetails.city}},
														<br> {{institutionDetails.postCode}}
													</p>
													<p>
														<a href="#" ng-click="openSearchAdders(9);" class="pb-standalone-dark open-popup opn_sr_address" data-popup=".search_address">Change address</a>
													</p>
												</div>
												<div id="submitProspectusIP" class="pr_btn ord_prs">
													<ul>
														<li class="pros_btn">
															<a href="#" id="prospectusSubBtnIP" ng-click="submitEnquiryProspectus();" data-popup=".suc_page" class="open-popup opn_suc_page">Order prospectus</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- Tab 3 -->
											<div id="addAddress" ng-if="addressFlag != 'YES'">
												<div class="mail_sd">
													<p>
														<a href="#" ng-click="openSearchAdders(9);" class="pb-standalone-dark open-popup opn2" data-popup=".search_address">+ Add my address</a>
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</section>
						<div class="done_btn prospectus">
							<a id="prosYoeSubmitBtnIP" disabled="disabled" href="#tab8" ng-click="goToNextPage('PROSPECTUS', 'prospectusYearOfEntry')"
							 class="dn_btn tab-link">Done</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Search Address-->

		<!--Search Address-->
		<div class="popup search_address pr_popup">
			<!-- -->
			<div class="views">
				<div class="view">
					<!-- <div class = "pages"> -->
					<!-- <div class=" navbar-fixed"> -->
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div id="tab9cont" class="w100">
								<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar d_tl searchbar-init">
									<div class="searchbar-input">
										<input type="search" id="addressAjaxIP" ng-paste="validatePostcode();" ng-keyup="validatePostcode();" placeholder="Postcode"
										 autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
										<a id="xmarkIP" ng-click="clearSearch();"></a>
									</div>
									<a ng-click="gotoPreviousPopup();" class="cls_cancel srbar_cancel">Cancel</a>
								</form>
							</div>
							<div id="tab10cont" class="buttons-row fl_tb" style="display:none">
								<div class="center">
									<div class="left">
										<a id="back-tab-searchpopup" onclick="backToTab('search',9);" class="back link cls_tab9">
											<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
										</a>
									</div>
									<p>Add my address</p>
								</div>
							</div>
						</div>

					</div>

					<div class="pages navbar-through toolbar-through">
						<!-- <div data-page="prop" class="page"> -->
						<div class="pr_dtl adrs page-content">
							<section>
								<!-- <div class = "page-content" style="padding-top:0px"> -->
								<div class="tabs-animated-wrap">
									<!-- Tabs, tabs wrapper -->
									<div class="tabs">
										<div id="tab9" class="tab active ">
											<!-- style="overflow-y:auto;overflow-x:hidden;" style="overflow-y:auto;" -->
											<div class="list-block" id="ajaxListIP" ng-if="ajaxAddressList.length > 0">
												<ul ng-if="ajaxAddressList.length > 0">
													<li class="item-content" class="cls_save" ng-repeat="address in ajaxAddressList" ng-click="orderProspectusPage($index);">
														<div class="item-inner">
															<div class="item-title">{{address.addressDisplay}} </div>
															<input type="hidden" id="address-{{$index}}IP" value="{{address.addressCode}}">
														</div>
													</li>
												</ul>
											</div>

											<div class="mail_sd">
												<p>
													<a href="#tab10" class="pb-standalone-dark tab-link" ng-click="addMyAddressURL()">+ Add address manually</a>
												</p>
											</div>
										</div>
										<!-- Tab 3 -->
										<div id="tab10" class="tab ">
											<!-- style="overflow-y:auto;overflow-x:hidden" style="overflow-y:auto;"-->
											<div class="pr_dtl">
												<div class="list-block lst_add">
													<ul>
														<li class="item-content">
															<div class="item-inner">
																<div class="item-input">
																	<input id="buildingNameIP" type="text" maxlength="100" placeholder="Number / Building name" ng-keyup="addXmark('buildingNameIP', 'buildingName_clsIP');"
																	 ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
																	 paste-addressip/>
																	<a id="buildingName_clsIP" ng-click="clearField('buildingNameIP', 'buildingName_clsIP');"></a>
																</div>
															</div>
														</li>
														<li class="item-content">
															<div class="item-inner">
																<div class="item-input">
																	<input id="addressLineIP" type="text" maxlength="100" placeholder="Address line 1" ng-keyup="addXmark('addressLineIP', 'addressLine_clsIP');"
																	 ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
																	 paste-addressip/>
																	<a id="addressLine_clsIP" ng-click="clearField('addressLineIP', 'addressLine_clsIP');"></a>
																</div>
															</div>
														</li>
														<li class="item-content">
															<div class="item-inner">
																<div class="item-input">
																	<input id="cityIP" type="text" maxlength="100" placeholder="Town / City" ng-keyup="addXmark('cityIP', 'city_clsIP');" ng-blur="validateUserAddress();"
																	 autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-addressip/>
																	<a id="city_clsIP" ng-click="clearField('cityIP', 'city_clsIP');"></a>
																</div>
															</div>
														</li>
														<li class="item-content">
															<div class="item-inner">
																<div class="item-input">
																	<input id="postCodeIP" type="text" maxlength="30" placeholder="Postcode" ng-keyup="addXmark('postCodeIP', 'postCode_clsIP');"
																	 ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
																	 paste-addressip/>
																	<a id="postCode_clsIP" ng-click="clearField('postCodeIP', 'postCode_clsIP');"></a>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<a class="btn btn_lgt cls_save" id="saveButtonIP" ng-click="saveUserAddress('buildingNameIP', 'addressLineIP', 'cityIP', 'postCodeIP');">Save</a>
											</div>
										</div>
										<!-- Tab 3 -->
									</div>
								</div>
								<!-- </div>	-->
							</section>
							<!-- </div> -->



						</div>
						<!-- </div> -->
					</div>




					<!-- </div> -->
					<!-- nav fixed -->
					<!-- </div> -->
					<!-- page -->
				</div>
			</div>
			<!---->

		</div>
		<!--Search Address-->


		<!-- REQUEST PROSPECTUS - END -->

		<!--Email Uni-->
		<div class="popup second_page pr_popup" id="ip_page_email_uni_popup">
			<div ng-if="institutionDetailsList.length > 0" ng-repeat="institution in institutionDetailsList">
				<div class="navbar">

					<div class="navbar-inner">
						<div class="buttons-row fl_tb">
							<div class="center">
								<div class="left">
									<a id="back-popup-emailIP" class="back link close-popup cls_email">
										<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
									</a>
									<a id="back-tab-emailIP" onclick="backToTab('email', 12);" class="back link cls_tab12" style="display:none">
										<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
									</a>
								</div>
								<p>Email uni</p>
								<div id="sendButtonIP" class="right snd_lnk gry" disabled>
									<a class="open-popup" data-popup=".suc_page" ng-click="submitEnquiryForm();">Send</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-block m0">
					<div class="pr_dtl">
						<section>
							<div class="enq_lg">
								<div class="lgo">
									<img ng-if="institutionBrowseLogo.indexOf(institution.logoName) > -1" src="img/unis/logos/{{institution.logoName}}">
									<img ng-if="institution.logo && institutionBrowseLogo.indexOf(institution.logoName) == -1" src="{{institution.logo}}" />
									<!--<img src="{{institution.logo}}" alt="">-->
								</div>
								<div class="enq_rgt">
									<p>
										<span> To:</span> {{institution.institutionDisplayName}}
									</p>
									<p ng-if="institution.courseId">
										<span> About:</span> {{institution.courseTitle}}
									</p>
								</div>
							</div>
							<div class="ps_rl">
								<div class="tabs-animated-wrap">
									<!-- Tabs, tabs wrapper -->
									<div class="tabs">
										<!-- Tab 1, active by default -->
										<div id="tab11" class="tab active data_shr_sec">
											<div id="emailYearIP" class="trn_dv">
												<p class="">
													When would you like to start?
												</p>
												<ul class="but_lg" ng-if="yearList.length > 0">
													<li ng-repeat="year in yearList">
														<a id="enquiryYearOfEntry-{{$index}}IP" name="enquiryYearOfEntryIP" ng-if="year.selectedYear" ng-class="{'btn btn_wht active  tab-link' : year.selectedYear == 'Y', 'btn btn_wht  tab-link' : year.selectedYear == 'N' }"
														 ng-click="saveSelectedYear($index, 'EMAIL', 'enquiryYearOfEntry')" href="#tab12">{{year.yearOfEntry}}</a>
													</li>
												</ul>
											</div>
											<div class="data_shr_wp" ng-if="clientConsentFlag=='Y'">
												<div class="data_shr_hd">University E-Newsletter Sign Up
													<span class="data_shr_ops">(optional)</span>
												</div>
												<p>You can now opt in to receive e-newsletters from your favourite universities. Please read the university privacy
													notice before subscribing. You will need to contact the University directly if you wish to update your mailing
													preference.
												</p>
												<label class="data_shr_cntr">
													<span ng-bind-html='getSafeHtml(clientConsentText)'></span>
													<input type="checkbox" name="emailClientConsentFlagIP" id="emailClientConsentFlagIP" ng-model="emailClientConsentFlagIP"
													 ng-change="emailClientConsentFlagIPChange()">
													<span class="checkmark"></span>
												</label>
											</div>

										</div>
										<!-- Tab 2 -->
										<div id="tab12" class="tab">
											<div class="mail_sd">
												<div class="item-inner">
													<textarea maxlength="3800" placeholder="Write your message" id="enqMsgIP" ng-keyup="showHideSendbutton();" paste-addressip></textarea>
												</div>
											</div>
										</div>
										<!-- Tab 3 -->
									</div>
								</div>
							</div>
						</section>
						<div class="done_btn enq">
							<a id="enqYoeSubmitBtnIP" disabled="disabled" href="#tab12" ng-click="goToNextPage('EMAIL', 'enquiryYearOfEntry')"
							 class="dn_btn tab-link">Done</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Email Uni-->

		<!--Success page-->
		<div class="popup suc_page pr_popup" id="success-page-IP" class="page pr_popup">
			<div id="enqSuccessLoaderIP" style="display:block" class="ss_loader">
				<!-- <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" /> -->
				<div class="ss_em_loader">
					<img src="img/loading@3x.gif" width="100" height="100">
					<h1>Sending</h1>
				</div>
			</div>
			<div id="enquirySuccessDivIP" class="page-content sucs_pg email" ng-if="institutionDetailsList.length > 0" ng-repeat="university in institutionDetailsList">

				<span class="pg_cl">
					<a href="#" class="close-popup">
						<img src="img/icons/cls_wht.png">
					</a>
				</span>
				<!--<p>
				   <img style="display:none" id="enqSuccessImgIP" src="img/icons/email_scs.png">
				   <img style="display:none" id="prosSuccessImgIP" src="img/icons/pros_sucs.png">
				</p>-->
				<div class="ss_em_rel">
					<img src="img/ss_bg_str_cir.png" width="134" height="90" style="" class="zoomIn animated">
					<img src="img/email_scs_n.png" style="display:none;" id="enqSuccessImgIP" width="74" class="ss_em_pos rotateIn animated">
					<img src="img/pros_sucs_n.png" style="display:none;" id="prosSuccessImgIP" width="74" class="ss_em_pos rotateIn animated">
				</div>
				<div class="ss_n_bg fadeInRight animated">
					<h1>Success!</h1>
					<p ng-if="emailSuccess == 'Y'">
						Your email has been sent to
						<br> {{university.institutionDisplayName}}
					</p>
					<p ng-if="prospectusSuccess =='Y'">{{university.institutionDisplayName}} has received your request and will post their prospectus to you shortly</p>
					<a href="" class="btn btn_wht fav_fill" ng-if="university.shortListFlag == 'Y'" id="shtlist2_logo-{{university.institutionId}}"
					 onclick="preventDefault(event, this.id, 'institutionhomeCtrl', 'enquiry')" university_name="{{university.institutionDisplayName}}">Added to shortlist</a>
					<a href="" class="btn btn_wht" ng-if="university.shortListFlag != 'Y'" id="shtlist2_logo-{{university.institutionId}}" onclick="preventDefault(event, this.id, 'institutionhomeCtrl', 'enquiry')"
					 university_name="{{university.institutionDisplayName}}">Add to shortlist</a>

				</div>

				<div class="n_advr" ng-if="otherInstitutionsList.length > 0">
					<section class="ftr_bx">
						<p class="m0">OTHER UNIVERSITIES YOU MIGHT LIKE</p>
						<ul ng-if="otherInstitutionsList.length > 0">
							<li ng-repeat="otherInstitutions in otherInstitutionsList" ng-click="goToInstitutionProfilePage(otherInstitutions.institutionId, university.backgroundImage,otherInstitutions);">
								<div class="lgo">
									<img ng-if="institutionBrowseLogo.indexOf(otherInstitutions.logoName) > -1" src="img/unis/logos/{{otherInstitutions.logoName}}">
									<img ng-if="otherInstitutions.logo && institutionBrowseLogo.indexOf(otherInstitutions.logoName) == -1" src="{{otherInstitutions.logo}}"
									/>
									<!--<img src="{{otherInstitutions.logo}}" alt="">-->
								</div>
								<a>
									<span class="un_nm">{{otherInstitutions.institutionDisplayName}}</span>
									<small class="clr_gry" ng-if="matchingPercentageFlag">{{otherInstitutions.matchingPercentage}}% match</small>
									<span class="fr">
										<img src="img/icons/ic_arrow_right_midgrey.png" alt="" width="11">
									</span>
								</a>
							</li>
						</ul>
					</section>
				</div>

				<div class="n_advr" ng-if="otherCoursesList.length > 0">
					<section class="ftr_bx">
						<p class="m0">OTHER COURSES YOU MIGHT LIKE</p>
						<ul ng-if="otherCoursesList.length > 0">
							<li ng-repeat="otherCourses in otherCoursesList" ng-click="goCourseDetailsPage(otherCourses.institutionId, otherCourses.institutionDisplayName, otherCourses.courseId, otherCourses.courseTitle, university.backgroundImage);">
								<div class="lgo">
									<img ng-if="institutionBrowseLogo.indexOf(otherCourses.logoName) > -1" src="img/unis/logos/{{otherCourses.logoName}}">
									<img ng-if="otherCourses.logo && institutionBrowseLogo.indexOf(otherCourses.logoName) == -1" src="{{otherCourses.logo}}"
									/>
									<!--<img src="{{otherCourses.logo}}" alt="">-->
								</div>
								<a>{{otherCourses.courseTitle}}
									<br>
									<span class="un_nm">{{otherCourses.institutionDisplayName}}</span>
									<small class="clr_gry" ng-if="matchingPercentageFlag">{{otherCourses.matchingPercentage}}% match</small>
									<span class="fr">
										<img src="img/icons/ic_arrow_right_midgrey.png" alt="" width="11">
									</span>
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
		<!--Success page-->
		<!--Reserve a place-->

		<div class="popup reserve_page pr_popup openday-section" ng-if="opendayList.length > 0">

			<div class="navbar">
				<div class="searchbar-overlay"></div>
				<div class="navbar-inner">
					<div class="buttons-row fl_tb">
						<div class="center" style="left: 0px;">
							<div class="left">
								<a class="back link close-popup" onclick="backToTab('', 0);">
									<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="">
								</a>
							</div>
							<p>Open days</p>

						</div>
					</div>
				</div>
			</div>
			<div class="content-block m0">
				<div class="pr_dtl openday-section">
					<section>
						<div class="enq_lg">
							<div class="lgo">
								<!-- <img src="{{opendayList[0].collegeLogoPath}}" alt="" fallback-src="img/unis/logos/logo_bg.png"> -->

								<img ng-if="institutionBrowseLogo.indexOf(opendayList[0].logoName) > -1" src="img/unis/logos/{{opendayList[0].logoName}}">
								<img ng-if="opendayList[0].collegeLogoPath && institutionBrowseLogo.indexOf(opendayList[0].logoName) == -1" src="{{opendayList[0].collegeLogoPath}}"
								/>

							</div>
							<div class="enq_rgt">
								<p>
									{{opendayList[0].collegeDispName}}
								</p>

							</div>
							<div class="openday-con">
								<p class="opn-p">
									<span>{{opendayList[0].opendate}}</span>
									<a ng-if="moreOpendayList.length > 1" href="#" ng-click="openMoreDates()">More dates</a>
									<select class="opn-slct" id="ipmoreOpendays" ng-model="obselected" onchange="otherOpendays(this.options[this.selectedIndex].value);"
									 onblur="otherOpendays(this.options[this.selectedIndex].value);" select1>
										<option ng-repeat="moreDate in moreOpendayList" value="{{moreDate.eventId}}">{{moreDate.opendaysDetail}}</option>

									</select>
								</p>
								<p class="opn-p">
									<span>{{opendayList[0].selectedopendayVenue}}</span>
								</p>
								<p ng-if="opendayList[0].startTime != null && opendayList[0].endTime">{{opendayList[0].startTime}} : {{opendayList[0].endTime}}</p>
								<p class="pt10">
									<span>{{opendayList[0].qualDesc}}</span>
									<br> {{opendayList[0].eventDesc}}
								</p>
							</div>
							<div class="done_btn enq" id="keyboard_hide">
								<a id="reservePlaceBtn" href="javascript:void(0)" ng-click=" reservePlaceLogging();reservePlaceActionLog();" class="dn_btn ">Reserve a place</a>
								<span class="">(Opens new page)</span>
							</div>
						</div>
					</section>
				</div>
			</div>

		</div>




		<!--End of reserve place-->

		<div class="{{enquiryDetails.buttonNavClass}}" ng-if="checkAdvUniversity=='Y'">
			<ul>
				<li class="pros_btn" ng-if="enquiryDetails.prospectusWebformFlag != 'Y' && enquiryDetails.prospectus!=null">
					<a id="ip_req_props" data-popup=".req_props" ng-click="prospectusCheckGuestUser()" class="open-popup1">Prospectus</a>
					<!-- data-popup=".req_props" open-popup ng-click="interactionEventLogging('PROSPECTUS');prospectus(7);" -->
				</li>
				<li class="email_btn" ng-if="enquiryDetails.emailWebformFlag != 'Y' && enquiryDetails.email!=null">
					<a id="ip_page_email_uni" data-popup=".second_page" ng-click="emailCheckGuestUser();" class="open-popup1">Email uni</a>
					<!-- data-popup=".second_page" open-popup-->
				</li>

				<li ng-if="opendayFlag=='Y'">
					<!-- ng-click="reservePlace(null, null);" interactionEventLogging('OPEN_DAYS');reserveopenday();-->
					<a href="javascript:void(0)" data-popup=".reserve_page" class="open-popup opn_email opn_grn" ng-click="opendayCountCheck()">Events</a>
				</li>
			</ul>
		</div>
		<div class="pr_btn non_adv" ng-if="checkAdvUniversity=='N' && university.courseExistFlag=='Y'">
			<ul>
				<li>
					<a href="javascript:void(0)" ng-click="providerResults(university.backgroundImage)">View courses</a>
				</li>
			</ul>
		</div>
	</div>
</div>
