<div data-page="clearing-settings" class="page email-settings email-page1 page-on-center" ng-controller="clearingPermissionCtrl">
	<div class="page-content ">
		<div class="email-content">
			<div class="tabs-animated-wrap">
				<div class="tabs">
					<div id="tab11" class="tab active">
						<!-- Tab1-->
						<div class="email-main">
							<img src="img/clearing_img.png" width="150" alt="" class="bounceInRight wow" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceInRight;">
							<h3 class="bounceInRight wow" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInRight;">Looking for Clearing or <br> Adjustment courses?</h3>
							<p class="bounceInRight wow" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;">Browse through thousands of Clearing courses on Whatuni.com</p>
							<div class="ftr-button bounceInRight wow" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: bounceInRight;">
								<a href="#" ng-click="setClearingFlag('ON')" class="ms-button">Yes</a>
								<a href="#" ng-click="setClearingFlag('OFF')" >No thanks</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>