<div data-page="Edit_profile" ng-controller="editProfileController" class="page pop_lst pr_popup crs_page fav_page pr_page" id="editProfileDiv">
	<div id="editProfileLoader" style="display:block" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
	</div>
	<div class="navbar">
		<div class="searchbar-overlay"></div>
		<div class="navbar-inner">
			<div class="buttons-row fl_tb">
				<div class="center">
					<div class="left">
						<a href="userProfile.html" class="back link" data-push-state="false">
							<img src="img/icons/ic_arrow_dark.png" alt="" title=""/>
						</a>
					</div>
					<p>Edit profile</p>
					<div class="right"><a id="edit-profile-save" disabled="disabled" ng-click="saveUserDetails();" href="#">Save</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content">
	<div class="content-block">
			<div class="fl_cont lst">
				<div class="pref crs_tiles" ng-if="userInfoList.length > 0">
					<ul>
						<li ng-click="focus('first-name');">
							<div class="cont">
								<label class="lst_nm" for="first-name">First name</label>
								<input maxlength="40" type="text" placeholder="Enter name" id="first-name" onkeyup="removeErrorMsg('firstnameErrMsg');removeDisabledProfileSaveButton();"  value="{{userInfoList[0].foreName}}" 
								autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" input1 /> 														 													
								<div class="ep_err" id="firstnameErrMsg"></div>							
							</div>
						</li>
						<li ng-click="focus('last-name');">
							<div class="cont">
								<label class="lst_nm" for="last-name">Last name</label>
								<input maxlength="40" type="text" placeholder="Enter name" id="last-name" onkeyup="removeErrorMsg('lastNameErrMsg');removeDisabledProfileSaveButton();"  value="{{userInfoList[0].surName}}" 
								autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" input2 /> 								 
								<div class="ep_err" id="lastNameErrMsg"></div>	
							</div>
						</li>
						<li ng-click="focus('email');">
							<div class="cont">
								<label class="lst_nm" for="email">Email</label>
								<input disabled="disabled" class="dis_email" maxlength="120" type="email" placeholder="Enter email" id="email" ng-keyup="validateEmail('email','emailErrMsg');" value="{{userInfoList[0].email}}" 
								autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" input1 /> 									
								<div class="ep_err" id="emailErrMsg"></div>	
							</div>
						</li>	<!--show_ios -->
						<li style="height:0px;opacity:0;" class=""> 
							<div class="cont">
								<input type="date" required="required" min="1900-01-01" max="2018-01-01" onblur="validateDate('dateOfBirth');" onclick="clearDOBErrMsg('loginErrMsgDate');" class="gry_tx" id="dateOfBirth" select1>
								<input type="hidden" id="date_txt_1" name="date_txt_1" value="">
							</div>
						</li>
						<li ng-click="openDatePicker()" select1>
							<!-- <div class="" >
								<input type="date" required="required" min="1900-01-01" max="2018-01-01" onblur="validateDate('dateOfBirth');" onclick="clearDOBErrMsg('loginErrMsgDate');" class="datepicker_css gry_tx" id="dateOfBirth" select1>
								<input type="hidden" id="date_txt_1" name="date_txt_1" value="">
							</div> -->
                            <div class="cont" > <!--show_ios -->
                                <label class="lst_nm" for="dateOfBirth">Date of birth</label>
								<div id="date_txt" select1 >Enter date</div>																	 
								<!-- <input type="date" required="required" min="1900-01-01" max="2018-01-01" onblur="validateDate('dateOfBirth');" onclick="clearDOBErrMsg('loginErrMsgDate');" class="gry_tx" id="dateOfBirth" select1 style="position: absolute;top: 1px;border: 1px solid red;height: 102px;width: 94%;opacity: 1;"> 
								<input type="text" id="date_txt_1" name="date_txt_1" value=""> -->
								<div class="ep_err" id="loginErrMsgDate" style="display:none">Please select a date or make sure it's a date.</div>
							</div>
                        </li>
						
						<!--<li ng-click="openAndroidDatePicker()">
                            <div class="cont show_android" >
                                <label class="lst_nm" for="dateOfBirth">Date of birth</label>
								<div id="date_txt_android">Enter date</div>
								<input type="hidden" id="date_txt_android_1" name="date_txt_android_1" value="">
								<div class="ep_err" id="loginErrMsgDate_android" style="display:none">Please select a date or make sure it's a date.</div>
							</div>
                        </li> -->
						
						
						
						
						<li ng-if="countriesList.length > 0" ng-click="focus('nationality');" class="nationality">
							<div class="cont">
								<label class="lst_nm" for="nationality">Nationality</label>													
								<select name="nationality" id="nationality" onchange="removeDisabledProfileSaveButton();" select1>
									<option value="">Enter nationality</option>
									<option ng-repeat="country in countriesList" ng-selected="country.countryId == userInfoList[0].countryId"   
									value="{{country.countryId}}">{{country.countryName}}</option>									
								</select>                                 
                            </div>
                        </li>							  
						<li class="nationality" select1>
							<div class="cont">
								<label class="lst_nm" for="studyLevel">Study level</label>
								<select name="Study level" id="studyLevel" onchange="removeDisabledProfileSaveButton();" select1>
									<option disable hidden value="">Select study level</option>
									<option ng-repeat="qual in qualificationList" ng-selected="qual.selectedQualification == 'Y'" 
                                         value="{{qual.qualificationName}}">{{qual.qualificationName}}
								   </option>																	
								</select>
							</div>
						</li>
						<li class="open-popup" data-popup=".start_date">
							<div class="cont">
								<label class="lst_nm" for="startDate">Start date</label>							
								<div class="tx_pop" ng-if="!startDate" id="startDate">Not selected</div>
								<div class="tx_pop" ng-if="startDate" id="startDate">{{startDate}}</div>
								<input type="hidden" name="oldStartDate" id="oldStartDate" value="{{startDate}}"/>
							</div>
						</li>
							  
						<li class="open-popup" data-popup=".add_address" ng-click="focusFunc('addressAjax');">
							<div class="cont">
								<label class="lst_nm" for="userAddress">Address</label>
								<div class="tx_pop" ng-if="!(userInfoList[0].addressLineOne || userInfoList[0].addressLineTwo || userInfoList[0].city || userInfoList[0].postcode)" id="userAddress">Not selected</div>	
								<div class="tx_pop" id="userAddress">{{userInfoList[0].addressLineOne}} {{userInfoList[0].addressLineTwo}}</div>
								<div class="tx_pop" id="userCity">{{userInfoList[0].city}}</div>									
								<div class="tx_pop" id="userPostcode" >{{userInfoList[0].postcode}}</div>
								<input type="hidden" name="userAddressOne" id="userAddressOne" value="{{userInfoList[0].addressLineOne}}">
								<input type="hidden" name="userAddressTwo" id="userAddressTwo" value="{{userInfoList[0].addressLineTwo}}">
							</div>
						</li>
					  
						<li class="open-popup" data-popup=".schl_name" ng-click="focusFunc('schoolAjax');">
							<div class="cont">
								<label class="lst_nm" for="School / College">School / College</label>														 
								<div class="tx_pop" ng-if="!userInfoList[0].schoolName" id="userSchoolName">Not selected</div>
								<div class="tx_pop" ng-if="userInfoList[0].schoolName" id="userSchoolName">{{userInfoList[0].schoolName}}</div>
								<input type="hidden" name="userSchoolId" id="userSchoolId" value="{{userInfoList[0].schoolId}}" />
								<input type="hidden" name="oldUserSchoolName" id="oldUserSchoolName" value="{{userInfoList[0].schoolName}}"/>
								<input type="hidden" name="nonUKSchoolNameFlag" id="nonUKSchoolNameFlag" value="Y"/>
							</div>
						</li>
						<!--	  
						<li class="open-popup" data-popup=".pred_grades">
							<div class="cont">
								<label class="lst_nm" for="Predicted grades">Predicted grades</label>					
								<div class="tx_pop" id="previousQualSel" ng-if="!userInfoList[0].gradeType">Not selected</div>	
								<div class="tx_pop" id="previousQualSel" ng-if="userInfoList[0].gradeType">{{userInfoList[0].gradeType}} / {{userInfoList[0].gradeValue}}</div>
								<input type="hidden" name="pqTariffSavedValue" id="pqTariffSavedValue" value="">
								<input type="hidden" name="gradeText" id="gradeText" value="">
								<input type="hidden" name="previousQualGradesSelected" id="previousQualGradesSelected" value="">
								<input type="hidden" name="previousQualSelected" id="previousQualSelected" value="">
								<input type="hidden" name="pqResetValue" id="pqResetValue" value="">								
								<input type="hidden" name="pqSavedValue" id="pqSavedValue" value="">
							</div>
						</li>					  
						-->
					</ul>
				</div>		
            </div>
      </div>   
	</div>   
	
	<!-- Add address start -->
	<div class="popup add_address pop_lst" data-page="ajax-address" id="searchAddress" style="display: none;">
		<div id="editAddrLoader" style="display:none" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
	    </div>
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
					<div class="navbar-inner">
						<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar d_tl searchbar-init">
							<div class="searchbar-input">
								<input type="search" id="addressAjax" ng-keyup="validatePostcode();" placeholder="Postcode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="20" paste-address>
								<a id="xmark" ng-click="clearSearch();" class=""></a>
							</div>
							<a ng-click="backToEditPage();" class="srbar_cancel">Cancel</a>
						</form>
					</div>
				</div>             
				<div class="pages navbar-through">
					<div class="page-content nw_cont">
						<div class="pr_dtl adrs">
							<section>
								<div class="list-block" id="ajaxList" ng-if="ajaxAddressList.length > 0" style="display:none">
									<ul ng-if="ajaxAddressList.length > 0">
									   <li class="item-content" ng-repeat="address in ajaxAddressList" onclick="removeDisabledProfileSaveButton();" ng-click="getAddressList($index);">
										  <div class="item-inner">
											<div class="item-title">{{address.addressDisplay}} </div>
											<input type="hidden" id="address-{{$index}}" value="{{address.addressCode}}">					 
										  </div>
									   </li>               
									</ul>
								</div>       
								<div class="mail_sd">
									<p ng-click="focusFunc('buildingName');"><a class="open-popup" href="#" data-popup=".search_land">+ Add address manually</a></p>
								</div>
							</section>
						</div>
					</div>
				</div>					
			</div>
		</div>
	</div> 		 
	<!-- Add address end -->
		 
	<!-- Add Search land -->
    <div class="popup search_land pop_lst" data-page="ajax-manual-address" id="searchAddressManual">
        <div class="views">
            <div class="view view-main">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="buttons-row fl_tb">
							<div class="center">
								<div class="left ">
									<span class="cls_adrs" ng-click="goBackToSearchAddr('searchAddress')"><img src="img/icons/ic_arrow_dark.png" alt="" title=""/></span>
								</div>
							   <p>Add my address</p>							   
							</div>
						</div>
					</div>
				</div>
                
			    <div class="pages navbar-through">
					<div class="page-content nw_cont">                     
						<div class="pr_dtl">
							<div class="list-block lst_add">
								<ul>
								   <li class="item-content">
									  <div class="item-inner">
										 <div class="item-input">
											<input maxlength="100" id="buildingName" type="text" class="" maxlength="100" placeholder="Number / Building name" ng-keyup="addXmark('buildingName', 'buildingName_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
											<a id="buildingName_cls" ng-click="clearField('buildingName', 'buildingName_cls');" class=""></a>
										 </div>
									  </div>
								   </li>
								   <li class="item-content">
									  <div class="item-inner">
										 <div class="item-input">
											<input maxlength="100" id="addressLine" type="text" class="" maxlength="100" placeholder="Address line 1" ng-keyup="addXmark('addressLine', 'addressLine_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
											<a id="addressLine_cls" ng-click="clearField('addressLine', 'addressLine_cls');" class=""></a>
										</div>
									  </div>
								   </li>
								   <li class="item-content">
									  <div class="item-inner">
										 <div class="item-input">
											<input maxlength="100" id="city" type="text" class="" maxlength="100" placeholder="Town / City" ng-keyup="addXmark('city', 'city_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
											<a id="city_cls" ng-click="clearField('city', 'city_cls');" class=""></a>
										 </div>
									  </div>
								   </li>
								   <li class="item-content">
									  <div class="item-inner">
										 <div class="item-input">
											<input maxlength="20" id="postCode" type="text" class="" maxlength="30" placeholder="Postcode" ng-keyup="addXmark('postCode', 'postCode_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-address />
											<a id="postCode_cls" ng-click="clearField('postCode', 'postCode_cls');" class=""></a>
										 </div>
									  </div>
								   </li>
								</ul>
							</div>
							<a id="saveButton" class="btn btn_lgt" onclick="removeDisabledProfileSaveButton();" ng-click="saveUserAddress('buildingName', 'addressLine', 'city', 'postCode');">Save</a> 
						</div>
					</div>
				</div>
			</div>					
        </div>
	</div>		
	<!-- Add address end -->
	<!-- school name  start -->
	<div class="popup schl_name pop_lst" data-page="ajax-school" id="searchSchool">
		<div id="editSchoolLoader" style="display:none" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
	    </div>
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
					<div class="searchbar-overlay"></div>
					<div class="navbar-inner">
						<div class="buttons-row fl_tb">
							<div class="center">
								<div class="left">
									<span class="close-popup" ng-click="closeAndClearSchool()">
										<img src="img/icons/Line.png" alt="" title="">
									</span>
								</div>
								<p>School / College</p>
								<div class="right gry" onclick="removeDisabledProfileSaveButton();" ng-click="saveUserSchoolAjax()" id="saveUserSchoolName" disabled><a href="">Save</a> 
								</div>		  
							</div>
						</div>
					</div>				  
				</div>                
                <div class="pages navbar-through">
					<div class="page-content nw_cont">
						<div class="content-block">
							<div class="pref crs_tiles">
								<ul>
								<li>
									<div class="cont">										
										<input type="search" id="schoolAjax" ng-keyup="getSchool();" placeholder="Enter school name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
										<a id="xmark" ng-click="clearSearch();" class=""></a>
									</div>
								</li>
								</ul>							  
							</div>
							<div class="list-block edit_pf">								
								<div class="list-block list-block-search" id="ajaxSchoolList" ng-if="schoolList.length > 0">
									<ul>
									   <li class="item-content" ng-repeat="school in schoolList" ng-click="saveSchool($index);">
										  <div class="item-inner">
											<div class="item-title">{{school.schoolDisplayName}} </div>
											<input type="hidden" id="school-{{$index}}" value="{{school.schoolId}}|{{school.schoolName}}">					 
										  </div>
									   </li>               
									</ul>
								</div>
								<div class="list-block ep_prf">
									<ul>
									<li class="item-content">
										<label class="label-radio item-content" ng-click="checkNonUkFlag()">                                               
											<input type="checkbox" name="nonUKCheck" id="nonUKCheck" value="">
											<div class="item-media">
												<i class="icon icon-form-radio"></i>
											</div>
											<div class="item-inner">
												<p>  My school is not in the UK / not on this list</p>
											</div>
										</label>
									</li>               
									</ul>
								</div>	
							</div>					
						</div>
					</div>
				</div>					
			</div>
		</div>
	</div>		 
	<!--school name  end -->
	<!-- predictive grades -->
	<div class="popup pred_grades pop_lst ">
        <div class="views">
            <div class="view view-main">
				<div class="navbar">
					<div class="searchbar-overlay"></div>
					<div class="navbar-inner">
						<div class="buttons-row fl_tb">
							<div class="center">
								<div class="left">
									<span class="close-popup" ng-click="closePreviousQual();">
										<img src="img/icons/Line.png" alt="" title="">
									</span>
								</div>
								<p>Predicted grades</p>
								<div class="right"><a href="javascript:void(0);" ng-click="saveUCASTariff();" id="previousQualSavBtn">Save</a></div>		  
							</div>
						</div>
					</div>				 
				</div>
                
                <div class="pages navbar-through">
					<div class="page-content nw_cont">
						<div class="content-block">										
							<div class="pfl_grd">
								<section>
									<p>What grades do you think you’ll get / have you already got?</p>
								  
									<div class="uni_inp" ng-if="previousQualificationfilters.length > 0">
										<select class="fl" onchange="onChageQualGrades(this.value, '', '', '');" id="selectGrades" >
											<option ng-repeat="previousQual in previousQualificationfilters" value="{{$index+1}}|{{previousQual.gradeLevel}}|{{previousQual.textKey}}" ng-model="pqselected" ng-init="pqselected = qualselected">{{previousQual.qualificaiton}}</option>                                                                      
										</select>
										<span class="fr">+ Change</span>
										<input type="hidden" ng-repeat="previousQual in previousQualificationfilters" id="qual{{$index+1}}" name="qual1" value="{{previousQual.gradeString}}">								
									</div>
									 <div class="grades">
										<ul id="dynamicQualList">                                                                        
										</ul>
										<input type="hidden" name="numberOfGrades" id="numberOfGrades" value="1">
									</div>
								</section>
							</div>											
						</div>
					</div>
					<div id="previousQualErrMsg" class="err_msg" style="display:none">
                        <a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('previousQualErrMsg');">
                            <img src="img//icons/ic_grey_x.png" class="cls_ico" alt="" >
                        </a>				
                        <div id="pqerrmsg">
                        </div>
                    </div>
				</div>				
			</div>
		</div>
	</div>		
	<!-- predictive grades end -->	  			 	 			 			 		 		 	
	 
	<!-- start page start -->
	<div class="popup start_date pop_lst ">
		<div class="views">
			<div class="view view-main">
				<div class="navbar">
					<div class="searchbar-overlay"></div>
					<div class="navbar-inner">
						<div class="buttons-row fl_tb">
							<div class="center">
								<div class="left">
									<span class="close-popup" ng-click="closeYoe();">
										<img src="img/icons/Line.png" alt="" title="">
									</span>
								</div>
								<p>Start date</p>
								<div class="right gry" id="saveYoe" onclick="removeDisabledProfileSaveButton();" ng-click="saveYearOfEntry('save');"><a href="">Save</a> </div>		  
							</div>
						</div>
					</div>				  
				</div>
			
				<div class="pages navbar-through">
					<div class="page-content nw_cont">
						<div class="content-block">
							<div class="pr_dtl fu_sec">
								<section>
									<div class="enq_lg">
										<p>When would you like to start?</p>
										<ul class="but_lg" ng-if="yearOfEntryList.length > 0">
											<li class="entryYear" ng-repeat="year in yearOfEntryList" ng-click="saveYearOfEntry(year.yearOfEntry)" ><a ng-class="{'cl_active' : year.selectedYear == 'Y'}" id="year_{{year.yearOfEntry}}" class="btn btn_wht selectedYear" href="">{{year.yearOfEntry}}</a></li>											
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>					
			</div>		 	
		</div>	
	</div>
	<!-- start page end -->	
</div>

	  