<div data-page="email-settings" class="page email-settings email-page1 page-on-center" ng-controller="emailSettingNotificationCtrl">
	<div class="page-content ">
		<div class="email-content">
			<div class="tabs-animated-wrap">
				<div class="tabs">
					<div id="tab1" class="tab active">
						<!-- Tab1-->
						<div class="email-main">
							<img src="img/email.png" width="150" alt="" class="bounceInRight wow" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceInRight;">
							<h3 class="bounceInRight wow" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInRight;">Staying in touch via email</h3>
							<p class="bounceInRight wow" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;">Let us know how you want us to contact you. You can always change this later in your settings.</p>
							<div class="ftr-button bounceInRight wow" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: bounceInRight;">
								<a href="html/user/preferences.html" class="ms-button">Email settings</a>
								<a href="javascript:void(0)" ng-click="redirectionBasedOnUserClearingFlag()"  >I'll do it later</a> <!--  onclick="googleTagManagerEventTrack(null, 'Email Settings', 'Preferences Not Set', 'nil', '0');" -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>