<div data-page="forgotpwd" class="page" ng-controller="forgotPwdCtrl">
<div class="page-content login-screen-content log_in frgt_pg" id="recoverPwdSucErrBlk">
	<div class="content-block lg_frm">
		<a href="login.html" class="back_link back" id="bk_ico4"><img ng-src="img/icons/bk_ico.png" data-rjs="3" width="11" height="18" id="resp-image" alt=""></a>
				  
		<h1 id="forgotResetPwdTxt">Forgot password?</h1>
		<p class="lg_p w100" id="resetPswdHeadText">Enter email address to recover your password</p>
		<form>
			<fieldset>
				<label>EMAIL ADDRESS</label>
				<input type="email" maxlength="115" id="emailId" ng-model="email"  onkeyup="showForgotPwdButton('logInButton');" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /> <!--ng-enter="validateUserLogin();"-->
				<span class="" id="inp_tick_fwd_pwd"></span>
			</fieldset>                    
			<!-- Recover password button-->
			<a href="javascript:void(0);" disabled="disabled" id="recoverPwdButton" ng-click="validateUserLogin();" class="button-fill button-raised btn_sgn">
				<img style="display:none;" class="spinner" id="loader_img_forgot" src="img/loader/default.gif" alt="" width="41px"/>
				<span id="recoverPassword">Recover password</span>
			</a>
			<!-- Recover password button-->			
		</form>               
		<br/><br/>
                </div>
                    <div class="err_msg" style="display:none" id="recoverPwdSuccMsg">
						<p>
						<span>Thank you</span> <br/>
							If your email address exists on our system we have sent you instructions on how to reset your password.
						</p>
						<a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('recoverPwdSuccMsg');">		
							<img src="img/icons/ic_grey_x.png" class="cls_ico" alt="">
						</a>	
					</div>
            </div>

<div class="err_msg" style="display:none" id="recoverPwdErrMsg">
	<p class="rd">Hmm, something's not quite right</p>
	<p id="recoverErrMsg">We couldn’t find your email address in our records.</p>		
<a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('recoverPwdErrMsg');">
				<img src="img/icons/ic_grey_x.png" class="cls_ico" alt="" >
				</a>				
</div>			
</div>
		
	