<div data-page="school-permission" class="page email-settings email-page1 school_list" ng-cloak ng-controller="schoolpermissionCtrl">
	<div class="school_permissiom_page_content">
		<div class="email-content">
			<div class="tabs-animated-wrap">
				<div class="tabs">
					<!-- Tab 1, active by default -->
					<div id="tab1" class="tab active">
						<div class="email-main">
							<img src="img/school.png" width="150" alt="" class="bounceInRight wow" data-wow-delay="0.2s">
							<h3 class="bounceInRight wow" data-wow-delay="0.4s">What is your <br/>school/sixth form</h3>
							<p class="bounceInRight wow" data-wow-delay="0.5s">We only use this information for our own internal data analysis.</p>
							<!-- <input type="text" class="school_btn bounceInRight wow" data-wow-delay="0.6s" placeholder="Not selected"> -->
							<!-- <a href="#tab2" id="userSchoolName" class="tab-link school_btn bounceInRight wow" data-wow-delay="0.6s">  Not selected </a> -->
							<div id="userSchoolName" class="tab-link school_btn bounceInRight wow color_grey" data-wow-delay="0.6s" ng-click="goToSchoolAjax()">  Not selected </div>
							<!-- myApp.showTab('#tab3'); -->
							<input type="hidden" name="userSchoolId" id="userSchoolId" value="{{userSchoolId}}" />
							<input type="hidden" name="oldUserSchoolName" id="oldUserSchoolName" value=""/>
							<input type="hidden" name="nonUKSchoolNameFlag" id="nonUKSchoolNameFlag" value="Y"/>
							<div class="ftr-button bounceInRight wow" data-wow-delay="0.8s">
								<a href="#" class="ms-button" ng-click="saveSchoolForm()" ng-disabled="userSchoolName==''">Confirm</a>
								<a href="html/user/emailSettingNotification.html" >Skip</a> <!-- onclick="googleTagManagerEventTrack(null, 'What is your school', 'Skip', 'click', '0');" -->
							</div>
						</div>
					</div>
					<div id="tab2" class="tab page-content" >
						<div class="scl_nav">
							<a href="#" class="scl_back" ng-click="closeAndClearSchool()"></a>
							<h3 class="sch_prm_hd">Your school</h3>
							<!-- <a href="#tab1" class="tab-link right gry close-popup" onclick="removeDisabledProfileSaveButton();" ng-click="saveUserSchoolAjax()" id="saveUserSchoolName" disabled>Save</a> -->
						</div>
						<div class="scl_ajax">
							<div id="editSchoolLoader" style="display:none" class="s_4041">
								<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
							</div>
							<div class="scl_inp">
								<!-- <input type="text"> -->
								<input type="search" id="schoolPermissionAjax" ng-keyup="getSchool();" placeholder="Enter school name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
								<a id="xmark" ng-click="clearSearch();" class=""></a>
							</div>
							<ul id="ajaxSchoolList" >
								<li ng-repeat="school in schoolList" ng-click="saveSchool($index);" ng-if="schoolList.length > 0">
								{{school.schoolDisplayName}}
								<input type="hidden" id="school-{{$index}}" value="{{school.schoolId}}|{{school.schoolName}}">
								</li>
								<li class="list-block edit_pf">
									<label class="label-radio item-content" ng-click="checkNonUkFlag()">                                           
										<input type="checkbox" name="schoolPermissionNonUKCheck" id="schoolPermissionNonUKCheck" value="">
										<div class="item-media">
											<i class="icon icon-form-radio"></i>
										</div>
										<div class="item-inner">
											<p>My school is Non UK/not on list</p>
										</div>
									</label>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>