<!-- sign up via email-->
<div data-page="signup2" class="page ln_pg lgn_pg sgn2" ng-controller="signUp2Ctrl">
	<div id="bodyContent2" class="page-content login-screen-content log_in">
		<div class="content-block lg_frm" >
		   <a href="" class="back_link back link" stop-blur id="bk_ico2" data-push-state="false"><img ng-src="img/icons/bk_ico.png" data-rjs="3" width="11" height="18" id="resp-image" alt=""></a>	
			<form>
			
				<div id="userMail">
					<!-- <input type="hidden" ng-model="firstName" id="firstName" value=""/>
					<input type="hidden" ng-model="lastName" id="lastName" value=""/> -->
					<h1>Your details</h1>
					<fieldset>
						<label>EMAIL ADDRESS</label>
						<input type="email" maxlength="115" id="email"  ng-blur="checkAndShowValidEmail('bodyContent2', 'userSignUpErrMsg2');" ng-keyup="validateEmail('email', 'inp_tick_email', 'inp_tick_pwd');" ng-focus="changeErrorPage('bodyContent2', 'inp_tick_email');" ng-model="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
						<span class="" id="inp_tick_email"></span>
					</fieldset>
					<fieldset>
						<label>PASSWORD <span onclick="showHidePassword();" id="showHidePwd">Show</span></label>
						<input id="password" maxlength="20" type="password" ng-keyup="validatePassword('password', 'inp_tick_email', 'inp_tick_pwd')" ng-model="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
						<span class="" id="inp_tick_pwd"></span>
					</fieldset>
					<p class="lg_p" style="display:none;" id="mailSuceessMsg">That all looks good!</p>
					<!-- sign up button-->
					<a href="#" disabled="disabled" class="button-fill button-raised btn_sgn" ng-click="submitSignupPage();" id="signUpButton">
						<img style="display:none;" class="spinner" id="loader_img-sign_up" src="img/loader/default.gif" alt="" width="41px"/>
						<span id="sign-up">Sign up</span>
					</a>
					<!-- sign up button-->
				</div>
			</form>  
			
		</div>
	</div>
	
	<div id="userSignUpErrMsg2" class="err_msg" style="display:none;">	
        <p class="rd">Hmm, something's not quite right</p>	
		<p id="loginErrMsg"></p>					
		<a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('userSignUpErrMsg2');">
			<img src="img/icons/ic_grey_x.png" class="cls_ico" alt="">
		</a>
	</div>
	
	<!--Privacy tooltip-->
	<!--FB Hidden values-->
		<input type="hidden" ng-model="fbUserName" id="userName" value="">
		<input type="hidden" ng-model="fbUserFirstName" id="userFirstName" value="">
		<input type="hidden" ng-model="fbUserLastName" id="userLastName" value="">
		<input type="hidden" ng-model="fbUserId" id="userId" value="">
		<input type="hidden" ng-model="fbAgeRange" id="ageRange" value="">
		<input type="hidden" ng-model="fbUserEmail" id="userEmail" value="">
		<input type="hidden" ng-model="fbUserLocale" id="userLocale" value="">
		<input type="hidden" ng-model="fbUserGender" id="userGender" value="">
		<input type="hidden" ng-model="fbTotalFriends" id="totalFriends" value="">									
	<!--FB Hidden values-->
	
</div>