<div class="page crs_page fav_page pr_page pr_main" data-page="user-profile" ng-cloak ng-controller="userProfileCtrl">
	<div class="panel-overlay"></div>
	<div id="loaderCourseUP" style="display:block" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
    </div>
		<div class="pages toolbar-through usr_pfl">
			<div class="page-content ">
			  <div class="profile" ng-class="{guest_pro : guestUserFlag=='Y'}">
				<div class="pfl_md">
					<img ng-src="img/icons/blank_profile.png" data-rjs="3" width="60" height="60" ng-if="!userImage"/>
					<img src="{{userImage}}" width="60" height="60" ng-if="userImage"/>
					<h3 ng-if="(firstName || lastName) && guestUserFlag=='N'" id="firstLastName">{{firstName}} {{lastName}}</h3>
					<h3 ng-if="guestUserFlag=='Y'">Guest</h3>
					<a href="html/user/editProfile.html" class="" ng-if="guestUserFlag=='N'">Edit profile</a>
					<!-- <a href="javascript:void(0)" class="" ng-click="goRegisteration()" >Register Now</a> -->
					<a class="guest_btn" ng-click="goRegisteration()" ng-if="guestUserFlag=='Y'">Register now</a>
				</div>
			  </div>
			  <div class="content-block uni_tab">
				<div class="crs_tiles"> 
					<ul>
						<li ng-click="quizPageURL();"> <!-- -->
							<div class="cont open-terms">
								<p class="uni_lnk">Talk to our virtual assistant, Luna</p>
							</div>
						</li>
						<!--
						<li>
							 <div class="cont open-popup" data-popup=".about_popup">
								<p class="uni_lnk">About Whatuni</p>
							 </div>
						</li>
						-->
						<li onclick="goToWhatuniPage('https://www.whatuni.com/wu-cont/privacy.htm');">
							<div id="privacyPolicy" class="cont" >
								<p class="uni_lnk">Privacy notice</p>
							</div>
						</li>
						<li data-popup=".pref_pg" class="open-popup" ng-if="guestUserFlag=='N'">
							<div class="cont" >
								<p class="uni_lnk" href="">Preferences</p>
							</div>
						</li>
						<li class="open-popup" data-popup=".contactus" ng-click="focusFunc('messageToWhatuni');">
							<div class="cont" id="contactUs" >
								<p class="uni_lnk">Contact us</p>
							</div>
						</li>
						<li ng-click="goToAppStore();">
							<div class="cont">
								<p class="uni_lnk">Rate us</p>
							</div>
						</li>
						<li onclick="goToWhatuniPage('https://www.whatuni.com/wu-cont/termsAndCondition.htm');">
							<div id="termsAndConditions" class="cont">
								<p class="uni_lnk">Terms and conditions</p>
							</div>
						</li>
						<li ng-click="goToForgotPswd();" ng-if="guestUserFlag=='N'">
							<div id="resetPassword" class="cont">
								<p class="uni_lnk">Reset password</p>
							</div>
						</li>
						<li ng-if="guestUserFlag=='N'">
							<div class="cont" onclick="clearFilter();userLogoutFnc();" >
							   <p class="uni_lnk">Sign out</p>
							</div>
						</li>
					</ul>
				</div>
			  </div>
			</div>
				</div>									
			<div class="toolbar tabbar tabbar-labels" id="keyboard_hide">
				<div class="toolbar-inner">
					<a href="javascript:void(0);" class="tab-link" id="homePage" onclick = "switchHighLightTab(this.id, 'html/home/homeLanding.html');">
						<img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
						<span class="tabbar-label">Home</span>
					</a>
					<a href="javascript:void(0);" class="tab-link" id="searchForm" onclick = "switchHighLightTab(this.id, 'html/search/searchLanding.html');" >
						<img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
						<span class="tabbar-label">Search</span>
					</a>
					<a href="javascript:void(0);" class="tab-link" id="favoriteSubjects" onclick = "switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');" >
						<img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
						<span class="tabbar-label">Favourites</span>
					</a>
					<a href="javascript:void(0);" class="tab-link velnk_nav" id="opendayLanding" onclick="switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');">
						<img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
						<span class="tabbar-label">Virtual events</span>
					</a>
					<a href="javascript:void(0);" class="tab-link active" id="myProfile" >
						<img ng-src="img/icons/ic_profile_active.png" data-rjs="3" alt="" width="26" height="24">
						<span class="tabbar-label">Profile</span>
					</a>
				</div>
			</div>                   		  	                  
	
	 
	 
	  <!-- Add Search land -->
	  <div class="popup contactus pop_lst">
        <div class="views">
            <div class="view view-main">
				<div class="navbar">
					<div class="searchbar-overlay"></div>
					<div class="navbar-inner">
						<div class="buttons-row fl_tb">
							<div class="center">
								<div class="left">
								  <span class="close-popup">
								  <img src="img/icons/ic_arrow_dark.png" alt="" title=""/>
								  </span>
								</div>
								<p>Contact us</p>
								<div class="right gry" disabled id="contactUsSendBtn" ng-click="sendEmail();"><a href="#" class="open-popup">Send</a>
								</div>
							</div>
						</div>
					</div>
				</div>                
                <div class="pages navbar-through">
					<div class="page-content nw_cont">                     
						<div class="pr_dtl con_ts">
							<section>
								<div class="enq_lg">
									<div class="lgo">
										<img src="img/icons/support.png" alt="">
									</div>
									<div class="enq_rgt">
										<p>
											<span> To:</span>Whatuni
										</p>																		
									</div>
									 <div class="guest_cont">
										<div class="item-inner">
											<input type="text" placeholder="First name" ng-model="contactUsFirstName" ng-keyup="enableContactUs();" id="firstNameToWhatuni">
										</div>
									 </div>
									 <div class="guest_cont">
										<div class="item-inner">
											<input type="text" placeholder="Last name" ng-model="contactUsLastName" ng-keyup="enableContactUs();" id="lastNameToWhatuni">
										</div>
									 </div>
									 <div class="guest_cont">
										<div class="item-inner">
											<input type="text" placeholder="Email address" ng-model="contactUsEmail" ng-keyup="enableContactUs();" id="emailToWhatuni">
										</div>
									 </div>
									<div class="mail_sd">
										<div class="item-inner">
											<textarea maxlength="3800" placeholder="Write your message" ng-keyup="enableContactUs();" ng-model="contactUsText" id="messageToWhatuni" paste-address>
											</textarea>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>								
		</div>
	  </div>		
	  <!-- Add address end -->		 	 
  	 	 		 
		<!--Prefer-->
		<div class="popup pref_pg pop_lst email_up">
			<div id="userProfileLoader" style="display:none" class="s_4041">
				<img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
			</div>
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="center">
									<div class="left">
										<span class="close-popup">
											<img src="img/icons/Line.png" alt="" title="">
										</span>
									</div>
									<p> Preferences</p>												  															
								</div>
							</div>
						</div>				  
					</div>
           
					<!--Qualification search start-->
					<div class="pages navbar-through" ng-if="userFlagList.length > 0">
						<div class="page-content nw_cont">
							<div class="content-block">
								<div class="fl_cont lst">	
									<h4 class="hd_ln">Mailing preferences</h4>                           
									<div class="pref crs_tiles">
										<ul>
											<li class="email">
												<div class="cont">
													<p class="uni_lnk">Newsletters</p>
													<span>Emails from us providing you the latest university news, tips and guides</span>
													<label class="label-switch" onclick="onOffEmail('marketingEmail')" ng-click="saveMailingPreferences('marketingEmail');">
														<input type="checkbox" id="marketingEmail" value="{{userFlagList[0].marketingEmail}}" ng-checked="(userFlagList[0].marketingEmail == 'Y')">
														<div class="checkbox"></div>
													</label>
												</div>
											</li>										  
											<li class="email">
												<div class="cont">
													<p class="uni_lnk">University updates</p>
													<span>Emails on behalf of universities and carefully selected third-party partners</span>
													<label class="label-switch" onclick="onOffEmail('solusEmail')" ng-click="saveMailingPreferences('solusEmail');">
														<input type="checkbox" id="solusEmail" value="{{userFlagList[0].solusEmail}}" ng-checked="(userFlagList[0].solusEmail == 'Y')">
														<div class="checkbox"></div>
													</label>
												</div>
											</li>							  
											<li class="email">
												<div class="cont">
													<p class="uni_lnk">Reminders</p>
													<span>To remind you about upcoming course start dates, your shortlisted courses and any courses you emailed about</span>
													<label class="label-switch" onclick="onOffEmail('receiveNoEmailFlag')" ng-click="saveMailingPreferences('receiveNoEmailFlag');">
														<input type="checkbox" id="receiveNoEmailFlag" value="{{userFlagList[0].receiveNoEmailFlag}}" ng-checked="(userFlagList[0].receiveNoEmailFlag == 'N')">
														<div class="checkbox"></div>
													</label>
												</div>
											</li>							  
											<li class="email"> 
												<div class="cont">
													<p class="uni_lnk">Surveys</p>
													<span>Have your say on important education issues and the services you receive from us and our partners</span>
													<label class="label-switch" onclick="onOffEmail('surveyFlag')" ng-click="saveMailingPreferences('surveyFlag');">
														<input type="checkbox" id="surveyFlag" value="{{userFlagList[0].surveyFlag}}" ng-checked="(userFlagList[0].surveyFlag == 'Y')">
														<div class="checkbox"></div>
													</label>
												</div>
											</li>
											<!--
											<li>
												<div class="cont">
													<p class="uni_lnk">All email</p>
													<span>The whole lot; everything mentioned above</span>
													<label class="label-switch" onclick="onOffEmail('permitEmail')" ng-click="saveMailingPreferences('permitEmail');">
														<input type="checkbox" id="permitEmail" />
														<div class="checkbox"></div>
													</label>
												</div>
											</li>
											-->
										</ul>							 
									</div>	
									<!-- <h4 class="hd_ln">Who can see my activity</h4>
							  
									<div class="pref crs_tiles" ng-if="privacyCaFlagList.length > 0">							
										<ul>
											
											<li>
												<div class="cont">
													<p class="uni_lnk">School and Facebook friends</p>
													<span>Anyone you go to school or college with or have on Facebook</span>
													<label class="label-switch" ng-click="saveMailingPreferences('privacyFlag');">
														<input type="checkbox" id="privacyFlag" value="{{privacyCaFlagList[0].privacyFlag}}" ng-checked="(privacyCaFlagList[0].privacyFlag == 'Y')">
														<div class="checkbox"></div>
													</label>
												</div>
											</li>
											
											<li>
												<div class="cont">
													<p class="uni_lnk">My teacher / careers advisor</p>
													<span>Whoever is helping you with your application</span>
													<label class="label-switch" ng-click="saveMailingPreferences('caFlag');">
														<input type="checkbox" id="caFlag" value="{{privacyCaFlagList[0].caFlag}}" ng-checked="(privacyCaFlagList[0].caFlag == 'Y')">
														<div class="checkbox"></div>
													</label>
												</div>
											</li>							  							  
										</ul>
									</div> -->
									
								<div class="fl_cont lst" ng-if="userClientConsentList.length>0">	
									<h4 class="clr_h4">Email updates from universities</h4>                           
									<div class="email_up_cnt">
										<div class="cont">
											<p class="uni_lnk fnt15">If you wish to update or withdraw your consent with any of the universities to which you have given consent, please review the privacy notice of those universities for further instructions:</p>
											<!-- <p class="uni_lnk fnt15">additional disclaimer text to be included </p> -->
											<ul>
												<li ng-repeat="userClientConsent in userClientConsentList">
													<p class="email_up_uni fnt15">{{userClientConsent.collegeName}}</p>
													<span><a href="javascript:void(0)" ng-click="goToProdiverPage(userClientConsent.url)" class="undr_line fnt15">Click here to review the privacy notice</a></span>
													<div class=" fnt15 ng-binding">Subscribed on {{userClientConsent.createdDate}}</div>
												</li>
												 
											</ul>
										</div>
									</div>
								</div>
							
								</div>
							</div>
						</div>
					</div>
					<!--Qualification search end-->
				</div>
			</div>
		</div>
		<!--Prefer end-->	  		
	  
		<!--Privacy tooltip-->
		<div class="popup privacy_pg pop_lst">
			<div class="views">
				<div class="view view-main">
					<div class="navbar">
						<div class="searchbar-overlay"></div>
						<div class="navbar-inner">
							<div class="buttons-row fl_tb">
								<div class="center">
									<div class="left">
										<span class="close-popup">
											<img src="img/icons/Line.png" alt="" title="">
										</span>
									</div>
									<p> Privacy notice</p>
								</div>                     
							</div>
						</div>
					</div>
           
            
					<!--Qualification search start-->
					<div class="pages navbar-through">
						<div class="page-content nw_cont">
							<div class="content-block">
								<div class="fl_cont lst">
									 <h2>Hotcourses Group Privacy Notice</h2>
									  <p class="lgt_gry">Last update 21<sup style="color:#190000">st</sup> November 2018</p>
							  <p>This privacy notice has been compiled to help you understand why we ask you for your personal information when you use one of our websites and how we will store and use this information.</p>
							  
							  <p>Hotcourses Limited, an IDP Education owned company, is the principle company and the Data Controller in the Hotcourses Group of companies (Hotcourses India PVT, Hotcourses Pty Ltd (Australia), Hotcourses Inc (North America) and Complete University Guide).</p>
							  
							  <p>At the heart of our work is helping you and other users find suitable courses and learning providers. This is defined as our Legitimate Business Interest. We process your personal data to help you make informative decisions when selecting courses and learning providers. We do that by:</p>
							  <p>
								•	Providing extensive educational information <br/>
								•	Recommending things which we think you’ll like, such as courses and learning providers<br/>
								•	Notifying you about things you’ve told us you like, such as a new course in your local area<br/>
								•	Personalising sections of our websites to your preferences<br/>
								•	Dealing with any requests you make or content you submit<br/>
								•	Getting in touch if we need to tell you about something, like a change to our policies or issues with our service<br/>
								•	Monitoring usage and performance in order to improve the services we offer.<br/>
							  </p>
							  <p>
								This privacy notice applies to all our website and app users whether registered or not, including people responding to surveys, competitions and writing reviews. 
							  </p>
							  <p>
								Keeping your information safe and private is very important to us. All our services are designed with privacy and security in mind. 
							  </p>
							  
							  <h2>Collecting and using your personal data</h2>
							  <p>
								You can browse our websites without providing any personal information. However, to use some of our enhanced functionality will sometimes ask for additional information in order to process your request. Examples include:
							  </p>
							  <p>
								•	Providing your name, email, and contact details to request a prospectus or make an enquiry to an education provider.<br/>
								•	Providing your name, email address, and preferences to create an account to receive email newsletters and save your preferences. <br/>
								•	Providing your name, contact details, and education history to engage with offline education counselling services.<br/>
							  </p>
							  <p>
								The details we request for each piece of enhanced functionality will depend on what is required to perform the action. For example:
							  </p>
							  <p>
							  •	If we need to contact you by email, we will request your email address.<br>
							  •	If we tailor your experience by displaying available courses, we will ask for your preferred start date.<br>
							  •	If you are making a payment to Hotcourses or one of our partner providers, you will be asked for you card and billing details.<br>
							  </p>
							  <p>
								Details of why we collect each piece of information is displayed clearly next to the field used to enter the data.
							  </p>
							  <p>
								A full list of the data collected by each website is available on the site-specific data collection notice.
							  </p>
							  <p>
								We also collect some technical information while you use our websites. For example, information on the type of browser you use and your IP address. This information is used to maintain and monitor the performance of our websites.
							  </p>
							  
							  <h2>Cookies</h2>
							  <p>
								We use cookies on our websites to provide login and preferences functions, and to collect anonymised data on user interactions. For example, we use cookies to:
							  </p>
							  <p>
							  •	Keep you logged into the website.<br/>
							  •	Understand and save your user preferences for future personalised experience and to allow us to deliver the type of content and products in which you are most interested.<br/>
							  •	Compile anonymised data about site traffic and site interactions in order to offer better site experiences and tools in the future. We use tools such as Google Analytics, Hotcourses Insights, and the Hotcourses Enrolment Matching Tool to do this.<br/>
							  •	To provide targeted content and advertising based on your preferences and previous interactions. We work with third-party companies to provide targeted advertising. Personal data is not shared with these companies. Further details of the companies we work with are available within our Cookie Policy.<br/>
							  </p>
							  <p>
								Personal information is never held on any of our first-party cookies.
							  </p>
							  <p>
								You can choose to have your computer block some or all cookies for you. You do this through your browser settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.
							  </p>
							  <p>
								If you disable cookies, some advanced features will be disabled and some of our services may not function as intended.
							  </p>
							  <p>
								You can read more about how we use cookies on our Cookie Policy.
							  </p>
							  <p>
								<strong>Anonymised analytics and insights</strong><br/>
								Occasionally, we will ask for additional information to help us monitor the reach and effectiveness of our services. For example, when creating an account, we may ask for your country of residence or postcode. This data will only ever be used in an anonymised format to help us demonstrate the effectiveness and improve the products and services we offer. 
							  </p>
							  <p>
								We use Google Analytics to log review aggregated use data across all of our websites. No personal data is shared with Google Analytics. 
							  </p>
							  <p>
								<strong>Geographical data and geotargeting</strong><br/>
								As with all websites, your IP address is sent to us each time a webpage is viewed. For some functionality we use this, along with geo-location information provided by your browser to provide location-specific content within our websites and apps. Your IP address and location information is stored anonymously, and not associated with any other personal details. You can stop sharing this information by changing your browser settings.
							  </p>
							  <p>
								<strong>Mobile app specific settings</strong><br/>
								We offer push notifications, location based services, and targeting advertising through our apps. When you first use one of our apps, you will be asked whether or not you want to turn-on these services. You can opt-out of these services at any time using the changing the permissions through your device settings. 
							  </p>
							  
							  <h2>Storing your data</h2>
							  <p>
								The personal data you provide is stored in a secure hosting environment based in the UK. We employ a range of technology and procedures to ensure that this data is secure, including encryption, anti-virus and anti-malware software, intrusion detection, company-wide data usage policies, and mandatory security and privacy staff training.
							  </p>
							  <p>
								Your data is not stored outside EU however it may be accessed by one of our principal companies based in USA, India or Australia if they need to provide you with a service on our behalf. To ensure your data is secure and we comply with our privacy obligation, we have data sharing agreements and security operational and technical measures in place with these companies.  
							  </p>
							  <h2>How long will you keep my information for?</h2>
							  <p>We will keep your data for as long as we are required to, either:</p>
							  <p>
								•	By law, for example to meet financial regulations relating to payments<br/>
								•	For as long as we require the data to provide a service to you.<br/>
							  </p>
							  <p>
								Personal data is deleted in accordance with our internal retention policy. All identifiable personal data is deleted three years following your last interaction with this website, for users registering from within the UK and after two years for international markets.
							  </p>
							  <h2>Your rights</h2>
							  <p>
								<strong>Reviewing and updating your data</strong><br/>
								You can update the information we store on your behalf by logging into your website account and updating your profile. If you were not assigned a password when creating your account, you can request a new password online by selecting the ‘forgotten password’ option. If you do not have access to this account, you can request a data update by contacting the Hotcourses Privacy Manager.
							  </p>
							  <p>
							  In line with the GDPR regulations, you have the following rights:
							  </p>
							  
							  <p>
								<strong>The right to be informed</strong><br/>
								You have the right to be informed why and how we collect your personal data, how we will use this information, who we share it with, what are the security measures we take to protect this information and what are you are your individual rights.  We will publish this information in this Privacy Notice.
							  </p>
							  
							  <p>
								<strong>The right of access</strong><br/>
								You have the right to access the information we hold for you by logging into your online profile, if require a permanent record you can download this information in PDF format. Alternatively you can make an offline Subject Access Request by contacting your Hotcourses contact or the Hotcourses Privacy Manager.    
							  </p>
							  
							  <p>
								<strong>The right to rectification</strong><br/>
								You have the right for inaccurate or incomplete data we hold to be updated. You can make a request to have your data updated either through your Hotcourses contact or the Hotcourses Privacy Manager.
							  </p>
							  
							  <p>
								<strong>The right to erasure</strong><br/>
								You have the right to be forgotten at any point by contacting the Privacy Manager or emailing&nbsp<a href="javascript:void(0)" onclick="javascript:window.open(encodeURI('mailto:delete@hotcourses.com'),'_system');">delete@hotcourses.com</a>. At your request, we will remove all the data we have for you which we are not required legally to retain.
							  </p>
							  
							  <p>
								<strong>The right to restrict processing</strong><br/>
								You have the right to restrict processing when you have exercised one of the above right and it may take some time to process that request. For example: when you contact us to update your details you have the right to request restriction until your details are updated.
							  </p>
							  
							  <p>
								<strong>Right to withdraw consent</strong><br/>
								For the processing activities where we have asked you for consent,  you have the right to withdraw this consent at any point by clicking on the unsubscribe link in any email we send you,  or contacting the Privacy Manager.
							  </p>
							  
							  <p>
								<strong>The right to object</strong><br/>
								You can object to the processing of your personal data at any point by contacting the Privacy Manager. There may be instances where we may not be able to fulfil those requests, but we will provide you with explanation when replying back to you.
							  </p>
							  
							  <p>
								<strong>Right to not be subject to automated decisions and profiling</strong><br/>
								None of our processing activities are purely automated. There are instances where we process data to analyse or predict behaviour but we will ask you for explicit consent when this processing will involve your personal data.
							  </p>
							  
							  
							  <p>
								<strong>Right to data portability</strong><br/>
								If you have provided us with your personal data with consent or under the contact obligations, you have the right to request the data you have provided to us in a machine-readable format should you decide to move to another data controller.
							  </p>
							  <h2>Sharing your data with partners</h2>
							  <p>
								We work with range of learning providers that advertise courses on our platforms and have agreements and procedures in place to ensure your personal data is protected through the service you receive from us. 
							  </p>
							  <p>
								Your personal data will only be shared with learning providers you have chosen to engage with via our websites. For example, when you make an enquiry or a prospectus request to an institution, your details relating to that enquiry will be provided to the institution so that they may answer your enquiry directly.
							  </p>
							  <p>
								We also provide anonymised site usage data to providers to enable them to monitor enrolment from users who use our websites.
							  </p>
							  <p>
								We have data sharing agreements in place with these learning providers to make sure they apply security operational and technical measures when processing your personal information. 
							  </p>
							  <p>
								In the future, if all or part of the Hotcourses Group business is sold, acquired, or merged with another business. we may share the personal data we hold with the parties involved.
							  </p>
							  <h2>Links to other websites</h2>
							  <p>
								On our website there are lots of links to course provider websites. This privacy notice does not cover these links. We encourage you to read the privacy statements on the other websites you visit.
							  </p>
							  <h2>Changes to Hotcourses Privacy Notice details</h2>
							  <p>
								The date of the most recent version will appear on the top of the page.  From time to time we may be updating this Privacy Notice, please review it each time you are to submit personal information. If we make any significant changes to this notice we will send you an email informing you of these amendments. If you do not agree with these changes please do not use our websites to provide personal information. You can also delete your account at any time – please see your rights section 
							  </p>
							  <h2>Further questions</h2>
							  <p>If you have any question regarding your personal data, please contact the Privacy Manager at the address below:</p>
							  <p>
							   Privacy Manager<br/>
							   Hotcourses Ltd<br/>
                               First Floor, Bedford House, Fulham Green<br/>
                               69-79 Fulham High Street<br/>
							   London<br/>
							   SW6 3JW<br/>
                               <a href="javascript:void(0)" onclick="javascript:window.open(encodeURI('mailto:privacy@hotcourses.com'),'_system');">privacy@hotcourses.com</a><br/>
							  </p>
							  <p>
							  If you feel we have been intrusive to your privacy or misused your data you have the right to complain to the ICO <a href="javascript:void(0)" onclick="javascript:window.open(encodeURI('https://ico.org.uk/make-a-complaint/'),'_system');">  https://ico.org.uk/make-a-complaint/</a>
							  </p>
							  
							  <h2>App Specific Privacy Notice</h2>
							  <p>
								The following section provides information on the collection and processing of personal data specific to the Whatuni mobile app.
							  </p>
							  <p>
								This app is available for both iOS and Android at
							  </p>
							  <p>
							  •&nbsp<a href="javascript:void(0)" onclick="javascript:window.open(encodeURI('https://play.google.com/store/apps/details?id=com.hotcourses.group.wuapp&hl=en'),'_system');">https://play.google.com/store/apps/details?id=com.hotcourses.group.wuapp&hl=en</a><br/>
							  •&nbsp<a href="javascript:void(0)" onclick="javascript:window.open(encodeURI('https://itunes.apple.com/gb/app/whatuni-university-degrees-uk/id1267341390?mt=8'),'_system');">https://itunes.apple.com/gb/app/whatuni-university-degrees-uk/id1267341390?mt=8 </a>
							  </p>
							  <p>
								The app is intended for use by users aged 13 years and over. Users under this age are not allowed to create an account on the app. If you are under 16 years of age and want to register with Whatuni services, you must obtain consent from a parent or guardian. You may also discuss this privacy policy with them
							  </p>
							  <h2>What personal data do we collect?</h2>
							  <p>
								The following items of personal data are collected as part of the registration process:
							  </p>
							  <p>
								•	Full Name<br/>
								•	Email<br/>
								•	Postal address <br/>
								•	School/College (optional field)<br/>
								•	Nationality (optional field)<br/>
								•	Intended Start Year (optional field)<br/>
								•	Your current or predicted grades<br/>
							  </p>
							  <p>
								If you use or connect to the Whatuni applications through a 3<sup style="color:#190000">rd</sup> party platform such as Facebook, you allow us to access and / or collect certain information from that 3<sup style="color:#190000">rd</sup> party platform profile, such as your name and email address. 
							  </p>
							  <p>
								Your Whatuni app user account can also be used to log into the Whatuni website, <a onclick="goToWhatuni();">www.whatuni.com.</a>
							  </p>
							  <h2>How we process your data</h2>
							  <p>
								While using the Whatuni app, you can carry out the following interactions where we process your personal data:
							  </p>
							  <p>
								•	Creating a user account<br/>
								•	Requesting a prospectus or making an enquiry to a university<br/>
								•	Booking a place at an open day<br/>
							  </p>
							  <h2>Consent options</h2>
							  <p>As part of the registration process, you have the choice to opt-in to the following:</p>
							  <p>
								•	Newsletters from Whatuni<br/>
								•	University updates from third-party partners<br/>
								•	Surveys conducted by Whatuni</br>
								•	We run surveys on 3<sup style="color:#190000">rd</sup> party platform, Typeform, and the data collection, use and storage vary depending on the focus of the research. Please read the privacy notice on each survey for more details.</br>
							</p>
							<p>You can opt into or out of any of these options at any time.</p>
							<h2>Push notifications, geolocation and ad targetting</h2>
							<p>As part of your usage of the app we will offer you:</p>
							<p>
								•	Push notifications from Whatuni<br/>
								•	Geolocation services which collect and use your location based on your device GPS details.<br/>
								•	Targeted advertising which displays specific adverts based on your previous app usage.<br/>
							</p>
							<p>
								Using your device’s own settings, you can choose to turn on or off the Whatuni geolocation, push notifications, and ad targeting features at any time.
							</p>
							<h2>Data sharing</h2>
							<p>
								Your contact details are shared with education institutions where you have made an enquiry or prospectus request to that institution.  
							</p>

									
								</div>         
							</div>
						</div>
					</div>
					<!--Qualification search end-->                      
				</div>
			</div>
		</div>
		<!--Privacy tooltip-->
		<!--Enquiry success-->
		<div class="popup pr_popup modal-in pop_lst" id="contactUsSuccessDiv">  
			<div id="contactUsSuccessLoaderDiv" style="display:block" class="ss_loader">
				 <div class="ss_em_loader">
					<img ng-src="img/loading.gif" data-rjs="3" width="100" height="100">
					<h1>Sending</h1>
				 </div>
			</div>
			<div class="page-content sucs_pg email " id="contactUsSuccessContentDiv" style="display:none">
				
				<span class="pg_cl">        
					<a class="close-popup" ng-click="goToProfilePage();">
						<img src="img/icons/cls_wht.png" >
					</a>
				</span>
				<!--<p><img src="img/icons/email_scs.png" class="zoomIn animated"></p>-->
				<div class="fadeInRight animated">
				<div class="ss_em_rel">
					<img src="img/ss_bg_str_cir.png" width="134" height="90" style="" class="zoomIn animated">
  				    <img src="img/email_scs_n.png" width="74" class="ss_em_pos rotateIn animated">
				 </div>
				<h1>Success!</h1>
				<p>
				 We'll be in touch with you soon
				</p>
				</div>
			</div>
		</div>
		<!--Enquiry success-->
		<div class="modal-overlay"></div>
		<div class="popup-overlay"></div>
</div>