<div data-page="course-details" class="page with-subnavbar crs_page pr_page cd_page" ng-cloak  id="courseDetailsRootCtrl" ng-controller="CourseDetailsRootCtrl">    
    
	<div id="loaderCourseCD" style="display:block" class="s_4041">
        <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" />
    </div>
	
            <div class="pages toolbar-through" ng-class="{'n_advr':advertiserFlag=='N'}" id="coursesDetailsView" style="height:100%;display:none;" style="background:#fff" >
				    <div id="stk_app"></div>
                    <div class="page-content course_header pull-to-refresh-content" id="pullContent">
						<div class="status" id="listExc_courseDetailsRootCtrl" style="display:none">
							<p class="" id="listExcMsg_courseDetailsRootCtrl">Tap to add to Final 5</p>
							<a href="#"><img src="img/icons/cls_wht.png" width="12" alt=""></a>
						</div>
						<div class="pull-to-refresh-layer">
							<div class="preloader"></div>
							<div class="pull-to-refresh-arrow"></div>
						</div> 
						<div id="stk_div"> 
                            <div id="" class="stk_div">
								<div class="profile" ng-if="courseInfoList.length == 1">
									<!--<img ng-if="courseInfoList[0].mediaPath" src="{{courseInfoList[0].mediaPath}}" class="sr_hdr" alt="">-->
									<img ng-if="advertiserFlag=='Y'" data-rjs="3"  ng-src="{{cdAdvertImg}}" class="sr_hdr" alt="">
									<img ng-if="advertiserFlag=='N'" data-rjs="3" ng-src="{{cdNonAdvertImg}}" class="sr_hdr" alt="">
									<div class="usr_sec">
										<div class="bk_icon">
											<a href="#" class="back link"  data-push-state="false">
												<img ng-src="img/s_results/bk_ico.png" data-rjs="3" width="11" id="resp-image">
											</a>
										</div>
										<div class="fav_ico" ng-class="{'fav_fill' : courseInfoList[0].shortListFlag == 'Y'}" id="shortlist1_logo-{{university.collegeId}}" onclick="preventDefault(event, this.id, 'courseDetailsRootCtrl')" university_name="{{courseInfoList[0].collegeNameDisplay}}" course_name="{{courseInfoList[0].courseTitle}}"></div>
										<div class="uni_inf">
											<div class="uni_lgo" ng-click="goToInstitutionProfilePage(courseInfoList[0].collegeId, cdNonAdvertImg);">																						
												<img ng-if="institutionBrowseLogo.indexOf(courseInfoList[0].logoName) > -1" src="img/unis/logos/{{courseInfoList[0].logoName}}" alt="" width="70" height=""/>
                                                <img ng-if="courseInfoList[0].collegeLogo && institutionBrowseLogo.indexOf(courseInfoList[0].logoName) == -1" src="{{courseInfoList[0].collegeLogo}}" alt="" width="70" height="" fallback-src="img/unis/logos/logo_bg.png"/>
                                                <img ng-if="!courseInfoList[0].collegeLogo && institutionBrowseLogo.indexOf(courseInfoList[0].logoName) == -1" src="img/unis/logos/logo_bg.png" alt="" width="70" height=""/>                                           
											</div>
											<div class="pr_txt">
												<a class="uni_lnk" ng-if="courseInfoList[0].courseTitle" >{{courseInfoList[0].courseTitle}}</a>
												<div class="row" ng-click="goToInstitutionProfilePage(courseInfoList[0].collegeId, cdNonAdvertImg);">
													<div class="col-100 fnt17" ng-if="courseInfoList[0].collegeNameDisplay">
														{{courseInfoList[0].collegeNameDisplay}}
													</div>
												</div>
												<div class="row">
													<div class="col-100">
														<div ng-if="matchPecenatgeFlag" class="col-50 fl">{{courseInfoList[0].matchingPercentage}}% match</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>																
						
								<div class="swiper-container gallery-thumbs" ng-if="(overviewSectionFlag && (entryReqSectionFlag || moduleDetailsSectionFlag || keyStatsSectionFlag))">
									<div class="swiper-wrapper pr_tabs cd_pg" >							 
										<div class="swiper-slide thumbs-{{$index}}" ng-if="cdSection.length > 0 && section.sectionFlag == true" ng-repeat="section in cdSection">{{section.sectionName}}</div>										
									</div>
								</div>																

							</div>
                        </div> 
						
						<!--Added by Indumathi.S Oct 10 2017--> <!-- onblur="mutlipleOpportunities(this.options[this.selectedIndex].text, this.options[this.selectedIndex].value);" -->
						<div class="crs-option" id="multipleOppDetail" style="display:none">
							<h3 id="opportunityName">
							</h3>
							<a href="#">Change</a>
							<select id="mutlipleOpportunities" ng-model="mobselected" onchange="mutlipleOpportunities(this.options[this.selectedIndex].text, this.options[this.selectedIndex].value);"  select1>						
								<option ng-repeat="opp in opportunityDetails" value="{{opp.opportunityId}}">{{opp.opportunity}}</option>                                                                                                                              
							</select>
						</div>
						<input type="hidden" name="multiOppId" id="multiOppId" value=""/>
						<input type="hidden" name="multiOppName" id="multiOppName" value=""/>
						<!--End-->
								
						<div class="swiper-container gallery-top" id="mainSection">
							<div class="swiper-wrapper" ng-if="cdSection.length > 0">
								<div class="swiper-slide gallery_nav-{{$index}}" id="courseDetailsSection_{{$index}}" currentslider="{{$index}}" ng-repeat="section in cdSection" ng-if="section.sectionFlag == true"  >
									
									<div class="pr_dtl" ng-if="section.sectionName == 'Overview'">
										<section ng-if="courseInfoList.length > 0">
											<h2 class="tlte" >Course info <span class="cps" ng-if="courseInfoList[0].ucasCode">UCAS code {{courseInfoList[0].ucasCode}}</span></h2>
											<div ng-bind-html="getSafeHtml(courseInfoList[0].courseSummary)" class="cd_sec" ></div>
											<div class="cd_bg">
												<h3>Rankings</h3>
												<ul class="st_dtl" ng-if="uniRankingDetails.length > 0" >
													<li ng-if="uniRankingDetails[0].studentRanking">WUSCA ranking
														<span>{{uniRankingDetails[0].studentRanking}} / 
														<small>{{uniRankingDetails[0].totalStudentRanking}}</small></span>
													</li>
													<li ng-if="uniRankingDetails[0].timesRanking">CUG ranking
														<span>{{uniRankingDetails[0].timesRanking}}</span>
													</li>
													<li class="w100" ng-if="uniRankingDetails[0].timesSubjectRankingList[0].currentRanking">CUG {{uniRankingDetails[0].timesSubjectRankingList[0].trSubjectName}} subject ranking
														<span>{{uniRankingDetails[0].timesSubjectRankingList[0].currentRanking}}</span>
													</li>
												</ul>
												<h3 ng-if="opportunityDetails.length > 0" >When does it start?</h3>
											    <ul class="st_dtl nw_lst" ng-if="opportunityDetails.length > 0">
													<li ng-if="opportunityDetails[0].startDate">Start date
														<span>{{opportunityDetails[0].startDate.replace('-', ' ')}}</span>
													</li>
													<li ng-if="opportunityDetails[0].durationDesc">Duration
														<span>{{opportunityDetails[0].durationDesc}}  
														<small>({{opportunityDetails[0].studyModeDesc}})</small>
														</span>
													</li>
												</ul>
											</div>
										</section>
										<!--Divider-->
										<div class="divider"></div>
										<!--Divider
										<section ng-if="opportunityDetails[0].domPerYearCost || opportunityDetails[0].restUkCourseCost || opportunityDetails[0].euCostPerYear || opportunityDetails[0].intlPerYearCost">
											<h2 class="pt10">Tuition fees</h2>
											<div class="cd_bg nbg">
											    <ul class="st_dtl">
													<li ng-if="opportunityDetails[0].domPerYearCost">Home fees
														<span>£{{opportunityDetails[0].domPerYearCost}}
														<small>per year</small>
														</span>
													</li>
													<li ng-if="opportunityDetails[0].restUkCourseCost">Rest of UK fees
														<span>£{{opportunityDetails[0].restUkCourseCost}} 
														<small>per year</small>
														</span>
													</li>
													<li ng-if="opportunityDetails[0].euCostPerYear">EU fees
														<span>£{{opportunityDetails[0].euCostPerYear}} 
														<small>per year</small>
														</span>
													</li>
													<li ng-if="opportunityDetails[0].intlPerYearCost">International fees
														<span>£{{opportunityDetails[0].intlPerYearCost}} 
														<small>per year</small>
														</span>
													</li>
												</ul>
											</div>
											<p class="pb10">
											    <a href="html/coursedetails/data.html">Where did we get this data from?</a>
											</p>-->
											<!--Review Area-->
										</section>
										
										<!--Start of Tution Fees-->
										<section class="tuition_fees" ng-if="feesDetailsList.length > 0 && showFeePodFlag == 'YES'">
										  <h2 class="tlte">Tuition fees</h2>
										  
											<div class="fee_nav">												
												<select ng-show="showFeeSelectBox == 'YES'" ng-model="initialFeeSelect" onchange="showFeeDetail()" id="feeDtlsID" select1>
												  <option ng-repeat="feeDetails in feesDetailsList" ng-if="feeDetails.fee || feeDetails.state || feeDetails.feeDesc || feeDetails.url" value="div_{{feeDetails.feeType | nospace}}" id="{{feeDetails.feeType | nospace}}" tooltipindex="{{$index}}">{{feeDetails.feeType}}</option>												  
												</select>
												<div class="fnav_wrp">
													<div ng-bind-html="getSafeHtml(feesDetailsList[tooltipindex].toolTipHeading)">
													</div>
													<!-- <span>For students from</span>
													<h4>{{initialFeeType}}</h4> -->
													<!--<h4>For students from {{initialFeeType}}</h4> -->
													<a ng-show="showFeeSelectBox == 'YES'" href="javascript:void(0)">Change</a>
												</div>												
											</div>
											
											<div ng-repeat="feeDetails in feesDetailsList" ng-if="feeDetails.fee || feeDetails.state || feeDetails.feeDesc || feeDetails.url" class="crsfee {{initialFeeType == feeDetails.feeType ? 'active' : 'hide'}}" id="div_{{feeDetails.feeType | nospace}}">
											  <div class="feerw clr">
												<div class="feerw_lt fl" ng-if="feeDetails.state && (feeDetails.state.toUpperCase()=='FREE')">
												  <span class="erfee bld">{{feeDetails.state}}</span> 
												  <span class="cour_ov_qus" onclick="toggleTooltipGeneral()"><i class="fa fa-question-circle fa-lg"></i></span>
  												  <span class="tool_tip general_msg">            
													  <span class="cmp fnt_lbd">
															<div>This information comes from UCAS, or in some cases the institution directly. Please note: fees do vary so please make sure you contact the institution for up to date information.</div>
													  </span> 
												  </span>
												</div>
												<div class="feerw_lt fl" ng-if="feeDetails.state && feeDetails.currency && feeDetails.fee && feeDetails.state!='FREE'">
												  <span class="erfee bld">{{feeDetails.currency}}{{feeDetails.fee}}</span>{{feeDetails.duration}} 
												  <span class="cour_ov_qus" onclick="toggleTooltipGeneral()"><i class="fa fa-question-circle fa-lg"></i></span>
  												  <span class="tool_tip general_msg">            
													  <span class="cmp fnt_lbd">
															<div>This information comes from UCAS, or in some cases the institution directly. Please note: fees do vary so please make sure you contact the institution for up to date information.</div>
													  </span> 
												  </span>
												</div>
												<!--need to check state not null-->
												<div class="feerw_lt fl" ng-if="feeDetails.url && !feeDetails.fee && feeDetails.state!='FREE'">
												  <p class="cd_p" ng-if="feeDetails.suborderItemId && feeDetails.suborderItemId > 0"><a href="javascript:void(0)" ng-click="contactUniversityLog(feeDetails.url)">Please contact University</a></p>
												  <p class="cd_p" ng-if="!feeDetails.suborderItemId || feeDetails.suborderItemId==0"><a href="javascript:void(0)" ng-click="contactUniversityLog(feeDetails.url)">Please contact University</a></p>  
												  <span class="cour_ov_qus" onclick="toggleTooltipGeneral()"><i class="fa fa-question-circle fa-lg"></i></span>
  												  <span class="tool_tip general_msg">            
													  <span class="cmp fnt_lbd">
															<div>This information comes from UCAS, or in some cases the institution directly. Please note: fees do vary so please make sure you contact the institution for up to date information.</div>
													  </span> 
												  </span>
												</div>
												<div class="feerw_rt fl pt0" ng-if="feeDetails.feeType">
													<p ng-if="feeDetails.feeDesc" id="more_info_div_{{feeDetails.feeType | nospace}}"><span class="mi_bld">More info: </span>{{feeDetails.feeDesc}}</p>
													<div title="Students from {{feeDetails.feeType}}" class="fstu_lnk" onclick="toggleTooltip()"><img ng-if="feeDetails.feeType != 'Channel Islands' && feeDetails.feeType != 'International'" src="img/location_flag/flag_{{feeDetails.feeType!='Northern Ireland' ? feeDetails.feeType.toLowerCase() : 'northern_ireland'}}.png" alt="Students from {{feeDetails.feeType}}"> 
														<!-- <a href="#">Students from {{feeDetails.feeType}}</a> -->
														<a href="#">{{feeDetails.toolTipContent}}</a>
														<span class="tool_tip tooltip_msg">
															<i class="fa fa-question-circle fnt_24">
															 <span class="cmp fnt_lbd">
															 <div class="fnt_lbd ">{{feeDetails.feeType}} fees</div>
															 <div>This is the fee you pay if you live within {{feeDetails.feeType != "EU" ? feeDetails.feeType : "European Union"}}. {{feeDetails.state && feeDetails.state == "provisional" ? "Please note, this is a provisional fee and subject to change. Please confirm the most up to date fee with the individual institution." : ""}} {{feeDetails.state && feeDetails.state=="set" ? "Please note, this fee has been confirmed." : ""}}</div>																 
															 <div class="line"></div>
														 </span> 
															</i>
														</span>
													</div>
												</div>
											  </div> 
											</div>											 											
											<p class="pb10">
											   <a href="html/coursedetails/data.html">Where did we get this data from</a>
											</p>
											<!--Review Area-->
										</section>
										<!--End of Tution Fees-->
										
										<div class="divider" ng-if="(overviewSectionFlag && (entryReqSectionFlag || moduleDetailsSectionFlag || keyStatsSectionFlag))"></div>
										<!--Divider-->
										<section class="ftr_bx" ng-if="(overviewSectionFlag && (entryReqSectionFlag || moduleDetailsSectionFlag || keyStatsSectionFlag))">
											<p class="m0">NEXT</p>
											<ul>
											   <li>
												  <a href="javascript:void(0)" ng-click="slideNext(cdSection[$index +1].sectionName)">{{cdSection[$index +1].sectionName}}
												  <span class="fr">
												  <img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
												  </span>
												  </a>
											   </li>
											   <li ng-if="advertiserFlag=='Y'">
												  <a href="javascript:void(0)" ng-click="providerResults(cdNonAdvertImg);">View all courses
												  <span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
														</span>
												  </a>
											   </li>
											</ul>
										</section>
										<!--Divider-->
										<div class="divider" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0"></div>
										<!--Divider-->
										<section class="ftr_bx" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0">
											<p class="m0">OTHER COURSES YOU MIGHT LIKE</p>
											<ul>																								
												<li  ng-repeat="otherCourse in otherCoursesPod" ng-click="courseDetailsURL(otherCourse.courseId, otherCourse.collegeId, cdNonAdvertImg,otherCourse)">
													<div class="lgo">													
														<img ng-if="institutionBrowseLogo.indexOf(otherCourse.logoName) > -1" src="img/unis/logos/{{otherCourse.logoName}}" alt=""/>
														<img ng-if="otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="{{otherCourse.collegeLogo}}" alt="" fallback-src="img/unis/logos/logo_bg.png"/>
														<img ng-if="!otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="img/unis/logos/logo_bg.png" alt="" />
													</div>
											   
													<a href="javascript:void(0)">{{otherCourse.courseTitle}}<br>
														<span class="un_nm">{{otherCourse.collegeNameDisplay}}</span>
														<small ng-if="matchPecenatgeFlag" class="clr_gry">{{otherCourse.matchingPercentage}}% match</small>
																
														<span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" width="11" data-rjs="3" alt="" id="resp-image">
														</span>
												   </a>
												</li>											
											</ul>
										</section>   																				
										<!--Content-->	
										<div style="height:200px;clear: both;" id="extraSpace_{{$index}}">
										</div>										
									</div>
								
									<div class="pr_dtl" ng-if="section.sectionName == 'Entry reqs'">
									
									    <!--Start of normal entry requirement
										<section ng-if="entryRequirementList.length > 0">
											<h2 class="tlte">Get the grades</h2>
											<div class="row qaul">
												<div class="col-100">
													<div class="col-50 fl">QUALIFICATION</div>
													<div class="col-50 fr tx_rgt">GRADES / POINTS</div>
												</div>
                                   
												<div class="cd_bg cd_grd" > <span ng-repeat="grades in entryRequirementList">
												   <p ng-if="grades.entryLevel"><span class="grd_lev">{{grades.entryLevel}}</span><span ng-if="grades.points" class="fr tx_rgt" >{{grades.points}}</span></p>
												   <p ng-class="{'bt_bt' : entryRequirementList.length != $index+1 }" ng-if="grades.description">{{grades.description}}</p>
												   </span>-->
												   <!--<p ng-if="grades.ucasDescription">{{grades.ucasDescription}}<span class="fr tx_rgt" ng-if="grades.ucasTariff">{{grades.ucasTariff}} points</span></p>-->
												<!--</div>
											</div>
										</section>-->
										<!--End of normal entry requirement-->											
										
										<!--Start of clearing entry requirement-->
										<section ng-if="oppurtunityEntryReqList.length > 0">
											<h2 class="tlte">Get the grades</h2>
											<div class="crs-option" id="entryReqClearingId" style="">
												<h3 id=""><span>Qualification</span>{{selectedEntryDesc}}</h3>
												<a ng-if="oppurtunityEntryReqList.length > 1" href="#">Change</a>
												<select ng-show="oppurtunityEntryReqList.length > 1" id="entryReqSelectId" ng-model="selectedEntryDesc" onchange="showEntryReqDetails();" select1="">												
													<option ng-repeat="entryReqList in oppurtunityEntryReqList" value="{{entryReqList.entryDesc}}" id="entry_desc_{{$index}}">{{entryReqList.entryDesc}}</option>												                                                                                                                             
												</select>
											</div>
											<div ng-repeat="entryReqList in oppurtunityEntryReqList" class="crsreqdiv" style="display:{{$index == 0 ? 'block' : 'none'}}" id="div_entry_desc_{{$index}}">											
												<div class = "grd_title">Grade required</div>
												<p ng-if="entryReqList.entryPoints == 'contact university' && clearingResultFlag != 'Y' && enquiryInfo.length > 0 && !enquiryInfo[0].email">Not currently available, please contact university for up to date information.</p>
												
												<p ng-if="entryReqList.entryPoints == 'contact university' && clearingResultFlag != 'Y' && enquiryInfo.length > 0 && enquiryInfo[0].email">Not currently available, please <a class="tlte lt_rgl" href="javascript:void(0)" ng-click="contactInstituion(5);">contact university</a> for up to date information.</p>
												
												<p ng-if="entryReqList.entryPoints == 'contact university' && clearingResultFlag == 'Y' && enquiryInfo.length > 0 && enquiryInfo[0].website">Not currently available, please <a class="tlte lt_rgl" href="javascript:void(0)" ng-click="clearingVisitWebsiteCD();">contact university</a> for up to date information.</p>
												
												<h2 class="tlte lt_rgl"  ng-if="entryReqList.entryPoints != 'contact university'">{{entryReqList.entryPoints}}</h2>	
												
												<p ng-if="entryReqList.additionalInfo != 'contact university'" id="add_info_div_entry_desc_{{$index}}">{{entryReqList.additionalInfo}}</p>
												
												<p ng-if="entryReqList.additionalInfo == 'contact university' && clearingResultFlag != 'Y' && enquiryInfo.length > 0 && !enquiryInfo[0].email">Not currently available, please contact university for up to date information.</p>
												
												<p ng-if="entryReqList.additionalInfo == 'contact university' && clearingResultFlag != 'Y' && enquiryInfo.length > 0 && enquiryInfo[0].email">Not currently available, please <a class="tlte lt_rgl" href="javascript:void(0)"  ng-click="contactInstituion(5);">contact university</a> for up to date information.</p>
												
											    <p ng-if="entryReqList.additionalInfo == 'contact university' && clearingResultFlag == 'Y' && enquiryInfo.length > 0 && enquiryInfo[0].website">Not currently available, please <a class="tlte lt_rgl" href="javascript:void(0)" ng-click="clearingVisitWebsiteCD();">contact university</a> for up to date information.</p>
											</div>
										</section>
										<!--End of clearing entry requirement-->
										
										<!--Divider-->
										<div class="divider"></div>
										<!--Divider-->
										<section ng-if="((applicantsData.length > 0) && (applicantsData[0].totalApplicants || applicantsData[0].successfulApplicants || applicantsData[0].applicantSuccessRate))">
											<h2 class="pt10">Last year…</h2>
											<div class="cd_bg nbg lst_yr" ng-if="applicantsData[0].totalApplicants || applicantsData[0].successfulApplicants">
											    <ul class="st_dtl">
												    <li ng-if="applicantsData[0].totalApplicants"><img src="img/icons/ic_stickman.png" width="12" alt="">
														<span>{{applicantsData[0].totalApplicants}}  													 
														</span>
														<small>People applied <br>for the course</small>
													</li>
													<li ng-if="applicantsData[0].successfulApplicants"><img src="img/icons/ic_stickman.png" width="12" alt="">
														<span>{{applicantsData[0].successfulApplicants}}</span>
														<small>People were  <br>accepted </small>
													</li>
                                        
												</ul>
											</div>
											<div class="chr_bx fl" ng-if="applicantsData[0].applicantSuccessRate">
												<div class="chrt">											   
												   <div id="doughnutChart_application_rate" class="chart w_160 "></div>		
													<input type="hidden" id="successRate" value="{{applicantsData[0].applicantSuccessRate}}"/>
												   <div class="chr_txt">
													   Success rate
												   </div>
												</div>
											</div>  
                                           <!--Review Area-->
										</section>
										<div class="divider"></div>
										<section ng-if="previousSubject.length > 0">
											<h2 class="tlte">Handy to know</h2>
											<p>Students on this course typically studied these subjects…
											</p>
											<div class="chips_wrpr">
											   <div class="chips" ng-repeat="subject in previousSubject">{{subject.subjectName}}</div>											   
											</div>
											<p class="pb10">
											   <a href="html/coursedetails/data.html">Where did we get this data from</a>
											</p>
											<!--Review Area-->
										</section>
										<div class="divider"></div>
										<!--Divider-->
										<section class="ftr_bx">
											<p class="m0">NEXT</p>
											<ul>
											   <li ng-if="cdSection[$index +1].sectionFlag == true">
												  <a href="javascript:void(0)" ng-click="slideNext(cdSection[$index +1].sectionName)">{{cdSection[$index +1].sectionName}}
												  <span class="fr">
												  <img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
												  </span>
												  </a>
											   </li>
											   <li ng-if="cdSection[$index +1].sectionFlag != true">
												  <a href="javascript:void(0)" ng-click="slideNext(cdSection[0].sectionName)">{{cdSection[0].sectionName}}
												  <span class="fr">
												  <img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
												  </span>
												  </a>
											   </li>
											   <li ng-if="advertiserFlag=='Y'">
												  <a href="javascript:void(0)" ng-click="providerResults(cdNonAdvertImg);">View all courses
												  <span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
														</span>
												  </a>
											   </li>
											</ul>
										</section>											
										<!--Divider-->
										<div class="divider" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0"></div>
										<!--Divider-->
										<section class="ftr_bx" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0">
											<p class="m0">OTHER COURSES YOU MIGHT LIKE</p>
											<ul>																								
												<li  ng-repeat="otherCourse in otherCoursesPod" ng-click="courseDetailsURL(otherCourse.courseId, otherCourse.collegeId, cdNonAdvertImg,otherCourse)">
													<div class="lgo">													
														<img ng-if="institutionBrowseLogo.indexOf(otherCourse.logoName) > -1" src="img/unis/logos/{{otherCourse.logoName}}" alt=""/>
														<img ng-if="otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="{{otherCourse.collegeLogo}}" alt="" fallback-src="img/unis/logos/logo_bg.png"/>
														<img ng-if="!otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="img/unis/logos/logo_bg.png" alt="" />
													</div>
											   
													<a href="javascript:void(0)">{{otherCourse.courseTitle}}<br>
														<span class="un_nm">{{otherCourse.collegeNameDisplay}}</span>
														<small ng-if="matchPecenatgeFlag" class="clr_gry">{{otherCourse.matchingPercentage}}% match</small>
																
														<span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
														</span>
												   </a>
												</li>											
											</ul>
										</section>  
										<div style="height:200px;clear: both;" id="extraSpace_{{$index}}">
												</div>
									</div>
								
									<!--Modules-->
									<div class="pr_dtl" ng-if="section.sectionName == 'Modules'">
										<section ng-if="(moduleDetails.length > 0 && !moduleInfo) || (moduleInfo)">										
											<div class="acrdn" ng-if="moduleDetails.length > 0 && !moduleInfo">
												<ul>
													<li ng-repeat="moduleDet in moduleDetails" ng-if="moduleDetails.length > 0" >
														<h2 ng-if="moduleDet.moduleGroup" onclick="openParentModule(this.id);" id="outerDiv_{{$index}}" class="moduleDiv">Modules <span>/ Year {{moduleDet.moduleGroup}}</span></h2>
														<h2 ng-if="!moduleDet.moduleGroup" onclick="openParentModule(this.id);" id="outerDiv_{{$index}}" >Modules</h2>														
														<div class="acr_cnt" id="innerDiv_{{$index}}">
															<div ng-repeat="innerModuleDet in moduleDet.moduleDetaiList"  ng-class="{'cross' : innerModuleDet.moduleDescription}">
																{{innerModuleDet.moduleTitle}} - {{innerModuleDet.moduleTypeName}}
																<p ng-if="innerModuleDet.moduleDescription">{{innerModuleDet.moduleDescription}}</p>
															</div>
														</div>
													</li>																				  
												</ul>
											</div>
											<div class="acrdn" ng-if="moduleInfo">											    
												<ul><li> <h2 class="n_arr">Modules</h2>												
												<div class="acr_cnt dispon">{{moduleInfo}}</div> </li></ul>									
											</div>
										</section>
										<!--Divider-->
										<div class="divider" ng-if="(moduleDetails.length > 0 && !moduleInfo) || (moduleInfo)"></div>
										<!--Divider-->									    								
										<section ng-if="(assessedCourseDet.length > 0) && ((assessedCourseDet[0].exam && (assessedCourseDet[0].exam != 0)) || (assessedCourseDet[0].courseWork && (assessedCourseDet[0].courseWork != 0)) || (assessedCourseDet[0].praticalWork && (assessedCourseDet[0].praticalWork != 0)))" id="assessedDetailsSection">
											<h2 class="pt10">How you’re assessed</h2>
											<div class="chrt">												
												<div id="doughnutChart_application_rate1" class="chart w_160 "></div>												
												<div class="chrt_dtl mduls">
													<div class="cl_bx" ng-if="(assessedCourseDet[0].exam && (assessedCourseDet[0].exam != 0))">
													<div class="col1"></div>
													<h3 ng-if="assessedCourseDet[0].exam">{{assessedCourseDet[0].exam}}% <small>Exam</small></h3>
													</div>
													<div class="cl_bx" ng-if="(assessedCourseDet[0].courseWork && (assessedCourseDet[0].courseWork != 0))">
													<div class="col2"></div>
													<h3 ng-if="assessedCourseDet[0].courseWork">{{assessedCourseDet[0].courseWork}}% <small> Course work</small></h3>
													</div>
													<div class="cl_bx" ng-if="(assessedCourseDet[0].praticalWork && (assessedCourseDet[0].praticalWork != 0))">
													<div class="col3"></div>
													<h3 ng-if="assessedCourseDet[0].praticalWork">{{assessedCourseDet[0].praticalWork}}% <small> Practical work</small></h3>
													</div>
												</div>
												<input type="hidden" id="exam" value="{{assessedCourseDet[0].exam}}"/>
												<input type="hidden" id="courseWork" value="{{assessedCourseDet[0].courseWork}}"/>
												<input type="hidden" id="praticalWork" value="{{assessedCourseDet[0].praticalWork}}"/>
											</div>												
											<p class="pb10">
											   <a href="html/coursedetails/data.html">Where did we get this data from</a>
											</p>
											<!--Review Area-->
										</section>
										<div class="divider"></div>
										<!--Divider-->
										<section class="ftr_bx">
											<p class="m0">NEXT</p>
											<ul>
											   <li ng-if="cdSection[$index +1].sectionFlag == true">
												  <a href="javascript:void(0)" ng-click="slideNext(cdSection[$index +1].sectionName)">{{cdSection[$index +1].sectionName}}
												  <span class="fr">
												  <img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
												  </span>
												  </a>
											   </li>
											   <li ng-if="cdSection[$index +1].sectionFlag != true">
												  <a href="javascript:void(0)" ng-click="slideNext(cdSection[0].sectionName)">{{cdSection[0].sectionName}}
												  <span class="fr">
												  <img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
												  </span>
												  </a>
											   </li>
											   <li ng-if="advertiserFlag=='Y'">
												  <a href="javascript:void(0)" ng-click="providerResults(cdNonAdvertImg);">View all courses
												  <span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
														</span>
												  </a>
											   </li>
											</ul>
										</section>	
										<!--Divider-->
										<div class="divider" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0"></div>
										<!--Divider-->
										<section class="ftr_bx" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0">
											<p class="m0">OTHER COURSES YOU MIGHT LIKE</p>
											<ul>																								
												<li  ng-repeat="otherCourse in otherCoursesPod" ng-click="courseDetailsURL(otherCourse.courseId, otherCourse.collegeId, cdNonAdvertImg)">
													<div class="lgo">													
														<img ng-if="institutionBrowseLogo.indexOf(otherCourse.logoName) > -1" src="img/unis/logos/{{otherCourse.logoName}}" alt=""/>
														<img ng-if="otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="{{otherCourse.collegeLogo}}" alt="" fallback-src="img/unis/logos/logo_bg.png"/>
														<img ng-if="!otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="img/unis/logos/logo_bg.png" alt="" />
													</div>
											   
													<a href="javascript:void(0)">{{otherCourse.courseTitle}}<br>
														<span class="un_nm">{{otherCourse.collegeNameDisplay}}</span>
														<small ng-if="matchPecenatgeFlag" class="clr_gry">{{otherCourse.matchingPercentage}}% match</small>
																
														<span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
														</span>
												   </a>
												</li>											
											</ul>
										</section> 
										<div style="height:200px;clear: both;" id="extraSpace_{{$index}}">
										</div>										
									</div>
									<!--Modules-->
								
									<div class="pr_dtl" ng-if="section.sectionName == 'Key stats'">
										<section ng-if="((keyStatsInfo.length > 0) && (keyStatsInfo[0].dropOutRate || keyStatsInfo[0].ratio))">
											<h2 class="tlte">What are the numbers saying?</h2>
											<div class="cd_bg w100 ky_st pt15">
												<ul class="st_dtl w100">
													<li ng-if="keyStatsInfo[0].dropOutRate"><span>{{keyStatsInfo[0].dropOutRate}}%</span>
														Drop out of <br>the course
													</li>
													<li ng-if="keyStatsInfo[0].ratio"><span>{{keyStatsInfo[0].ratio}}%</span>
														Achieve a 2:1  <br>grade or higher
													</li>
												</ul>
											</div>
										</section>
										<!--Divider-->
										<div class="divider"></div>
										<!--Divider-->
										<section ng-if="reviewList.length > 0">
											<h2 class="pt10">How do current students rate it?</h2>
											<p ng-if="reviewList[0].reviewCount <= 1" >{{reviewList[0].reviewCount}} review</p>
											<p ng-if="reviewList[0].reviewCount > 1" >{{reviewList[0].reviewCount}} reviews</p>
											<div class="bt_ln mt10"></div>
											<!--Review Area-->
											<div class="rev_bx" ng-repeat="review in reviewList">
												<h3  ng-if="review.overallRating > 2">
													<i class="fa fa-smile-o" aria-hidden="true"></i> THIS ONE LOVES IT…
												</h3>
												<h3 ng-if="review.overallRating <= 2">
													<i class="fa fa-frown-o" aria-hidden="true"></i> THIS ONE, ERR, DOESN'T…
												</h3>
												<div class="rvw_txt" ng-bind-html="getSafeHtml(review.overallRatingComments)"></div>
												<p class="lt_bld m0">{{review.reviewerName}}</p>
												<div class="str_ov">
													<i ng-repeat="i in [1, 2, 3, 4, 5]" ng-if="i <= review.overallRating" class="fa fa-star" aria-hidden="true"><!--<span ng-if="review.overallRating > 0">({{review.reviewRatingDisplay}})</span>-->
													</i>													
												</div>
												<div class="bt_ln mt10"></div>
											</div>											
											<p class="pb10" ng-if="universityCourseReviewURL">
											   <a href="{{universityCourseReviewURL}}">View all the reviews on whatuni.com</a>
											</p>
											<!--Review Area-->
										</section>
										<!--Divider-->
										<div class="divider"></div>
										<!--Divider-->
										<section ng-if="((keyStatsInfo.length > 0) && (keyStatsInfo[0].salary6MonthsAtUniPer || keyStatsInfo[0].salary6Months || keyStatsInfo[0].salary6MonthsAtUni))">
											<h2 class="pt10">After the course</h2>
											<div class="chrt" ng-if="keyStatsInfo[0].salary6MonthsAtUniPer">												
												<div id="div_application_rate"></div>
												<div id="doughnutChart_application_rate2" class="chart w_160 "></div>
												<input type="hidden" name='employedAfter6' id='employedAfter6' value="{{keyStatsInfo[0].salary6MonthsAtUniPer}}" />
												<div class="chrt_dtl">
													Are employed <br> after 6 months                                                   
												</div>
											</div>
											<div class="cd_bg w100 a_crs" ng-if="keyStatsInfo[0].salary6Months || keyStatsInfo[0].salary6MonthsAtUni">
											   <ul class="st_dtl">
												  <li class="w100 br_bt" ng-if="keyStatsInfo[0].salary6Months">Most grads from this uni earn
													 <span>£{{keyStatsInfo[0].salary6Months}}<br/>
													 <small>On average within 6 months of graduating</small>
													 </span>
												  </li>
												  <li class="w100" ng-if="keyStatsInfo[0].salary6MonthsAtUni">On average UK Law grads earn
													 <span>£{{keyStatsInfo[0].salary6MonthsAtUni}}<br/>
													 <small>On average within 6 months of graduating</small>
													 </span>
												  </li>
											   </ul>
											</div>
											<p class="pb10">
											   <a href="html/coursedetails/data.html">Where did we get this data from</a>
											</p>
											<!--Review Area-->
										</section>	
										<div class="divider"></div>
										<!--Divider-->
										<section class="ftr_bx">
											<p class="m0">NEXT</p>
											<ul>
											   <li ng-if="cdSection[$index +1].sectionFlag == true">
												  <a href="javascript:void(0)" ng-click="slideNext(cdSection[$index +1].sectionName)">{{cdSection[$index +1].sectionName}}
												  <span class="fr">
												  <img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
												  </span>
												  </a>
											   </li>
											   <li ng-if="cdSection[$index +1].sectionFlag != true">
												  <a href="javascript:void(0)" ng-click="slideNext(cdSection[0].sectionName)">{{cdSection[0].sectionName}}
												  <span class="fr">
												  <img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
												  </span>
												  </a>
											   </li>
											   <li ng-if="advertiserFlag=='Y'">
												  <a href="javascript:void(0)" ng-click="providerResults(cdNonAdvertImg);">View all courses
												  <span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
														</span>
												  </a>
											   </li>
											</ul>
										</section>		
										<div class="divider" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0"></div>
										<!--Divider-->
										<section class="ftr_bx" ng-if="advertiserFlag=='N' && otherCoursesPod.length > 0">
											<p class="m0">OTHER COURSES YOU MIGHT LIKE</p>
											<ul>																								
												<li  ng-repeat="otherCourse in otherCoursesPod" ng-click="courseDetailsURL(otherCourse.courseId, otherCourse.collegeId, cdNonAdvertImg)">
													<div class="lgo">													
														<img ng-if="institutionBrowseLogo.indexOf(otherCourse.logoName) > -1" src="img/unis/logos/{{otherCourse.logoName}}" alt=""/>
														<img ng-if="otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="{{otherCourse.collegeLogo}}" alt="" fallback-src="img/unis/logos/logo_bg.png"/>
														<img ng-if="!otherCourse.collegeLogo && institutionBrowseLogo.indexOf(otherCourse.logoName) == -1" src="img/unis/logos/logo_bg.png" alt="" />
													</div>
											   
													<a href="javascript:void(0)">{{otherCourse.courseTitle}}<br>
														<span class="un_nm">{{otherCourse.collegeNameDisplay}}</span>
														<small ng-if="matchPecenatgeFlag" class="clr_gry">{{otherCourse.matchingPercentage}}% match</small>
																
														<span class="fr">
															<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
														</span>
													</a>
												</li>											
											</ul>
										</section> 
										<div style="height:200px;clear: both;" id="extraSpace_{{$index}}">
										</div>										
									</div>
								</div>
							</div>
						</div>
						<!--Tabs-->
					</div>
					
					
					<!-- REQUEST PROSPECTUS - START -->
					<div class="popup req_props pr_popup" id="cd_req_props_popup">
					<div class="" ng-if="institutionDetailsList.length > 0" ng-repeat="institution in institutionDetailsList">
						<div class="navbar">
							<div class="navbar-inner">
							   <div class="buttons-row fl_tb">
								  <div class="center">
									 <div class="left">
										<a id="back-popup" class="back close-popup link cls_req_props">
											<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
										</a>
										<a id="back-tab" onclick="backToTab('req',1);" class="back link cls_tab1" style="display:none">
											<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
										</a>
									 </div>
									 <p>Request prospectus</p>
								  </div>
							   </div>
							</div>
						</div>
						 <div class="content-block m0">
							<div class="pr_dtl">
							   <section>
								  <div class="enq_lg">
									 <div class="lgo">
										<img ng-if="institutionBrowseLogo.indexOf(institution.logoName) > -1" src="img/unis/logos/{{institution.logoName}}">
										<img ng-if="institution.logo && institutionBrowseLogo.indexOf(institution.logoName) == -1" src="{{institution.logo}}" />
										<!--<img src="{{institution.logo}}" alt="">-->
									 </div>
									 <div class="enq_rgt">
										<p>
										   <span> To:</span> {{institution.institutionDisplayName}}
										</p>
										<p>
										   <span> About:</span> {{institution.courseTitle}}
										</p>
									 </div>
                                   </div>
                                   <div class="ps_rl">
									 <div class="tabs-animated-wrap">
										<!-- Tabs, tabs wrapper -->
										<div class="tabs">
										   <!-- Tab 1, active by default -->
										   <div id="tab1" class="tab active data_shr_sec">
											  <div id="prospectusYear" class="trn_dv">
												 <p class="mt40">
													When would you like to start?
												 </p>
												 <ul class="but_lg" ng-if="yearList.length > 0">
													<li ng-repeat="year in yearList">													
														<a id="prospectusYearOfEntry-{{$index}}" href="#tab2" name="prospectusYearOfEntry" ng-if="year.selectedYear" ng-class="{'btn btn_wht active tab-link' : year.selectedYear == 'Y', 'btn btn_wht tab-link' : year.selectedYear == 'N' }" ng-click="saveSelectedYear($index, 'PROSPECTUS', 'prospectusYearOfEntry')">{{year.yearOfEntry}}</a>
													</li>										   
												 </ul>
												 <div class="data_shr_wp" ng-if="clientConsentFlag=='Y'">
														<div class="data_shr_hd">University E-Newsletter Sign Up <span class="data_shr_ops">(optional)</span></div>
														<p>You can now opt in to receive e-newsletters from your favourite universities. Please read the university privacy notice before subscribing. You will need to contact the University directly if you wish to update your mailing preference.</p>
														<label class="data_shr_cntr">
														  <span ng-bind-html='getSafeHtml(clientConsentText)'></span>
														  <input type="checkbox" name="prospectusClientConsentFlagCourse" id="prospectusClientConsentFlagCourse" ng-model="prospectusClientConsentFlagCourse" ng-change="prospectusClientConsentFlagCourseChange()">
														  <span class="checkmark"></span>
														</label>
												  </div>
												 
											  </div>
										   </div>
										   <!-- Tab 2 -->
										   <div id="tab2" class="tab">
											   <div id="orderProspectus" ng-if="addressFlag=='YES'">
												   <div id="prospectusAddress" class="mail_sd">
													  <p><span> Mail to</span></p>
													  <p id="addressLines">{{institutionDetails.addressLineOne}} {{institutionDetails.addressLineTwo}} <br>
														 {{institutionDetails.city}},<br>
														 {{institutionDetails.postCode}}
													  </p>
													  <p>
														 <a href="#" ng-click="openSearchAdders(3);" class="pb-standalone-dark open-popup opn_sr_address" data-popup=".search_address">Change address</a>
													  </p>
												   </div>
													 <div id="submitProspectus" class="pr_btn ord_prs">
														<ul>
														   <li class="pros_btn">
															  <a href="#" id="prospectusSubBtn" ng-click="submitEnquiryProspectus();" data-popup=".suc_page" class="open-popup opn_suc_page">Order prospectus</a>
														   </li>
														</ul>
													 </div>
												</div> 
												<!-- Tab 3 -->
												  <div id="addAddress" class="" ng-if="addressFlag != 'YES'">
														<div class="mail_sd">
															 <p>
																<a href="#" ng-click="openSearchAdders(3);" class="pb-standalone-dark open-popup opn2" data-popup=".search_address">+ Add my address</a>
															 </p>
														</div>
												  </div>
											</div>
										   
										</div>
									 </div>
									 </div>
							   </section>
							   <div class="done_btn prospectus"><a id="prosYoeSubmitBtn" disabled="disabled" href="#tab2" ng-click="goToNextPage('PROSPECTUS', 'prospectusYearOfEntry')" class="dn_btn tab-link">Done</a></div>
							   </div>
							</div>
						 </div>
					</div>
					<!--Search Address-->
					
					<!--Search Address-->				  
					<div class="popup search_address pr_popup">
						<!-- --> <div class="views">
     <div class="view">
        <!-- <div class="navbar-fixed"> -->
						<div class="navbar">
							<div class="searchbar-overlay"></div>
							<div class="navbar-inner">
								<div id="tab3cont" class="w100">
									<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar d_tl searchbar-init">
										<div class="searchbar-input">
											<input type="search" id="addressAjax" ng-paste="validatePostcode();" ng-keyup="validatePostcode();" placeholder="Postcode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
											<a id="xmark" ng-click="clearSearch();" class=""></a>
										</div>
										<a ng-click="gotoPreviousPopup();" class="cls_cancel srbar_cancel">Cancel</a>
									</form>
								</div>
								<div id="tab4cont" class="buttons-row fl_tb" style="display:none">
									<div class="center">
										<div class="left">
											<a id="back-tab-searchpopup" onclick="backToTab('search',3);" class="back link cls_tab1">
												<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
											</a>
										</div>
										<p>Add my address</p>               
									</div>
								</div>
							</div>							
						</div>
							<div class="pages navbar-through toolbar-through">
							<div class="pr_dtl adrs page-content">
							<section>
								  <div class="tabs-animated-wrap">
										<!-- Tabs, tabs wrapper -->
										<div class="tabs">
											 <div id="tab3" class="tab active "> 
												  <div class="list-block" id="ajaxList" ng-if="ajaxAddressList.length > 0">
													<ul ng-if="ajaxAddressList.length > 0">
													   <li class="item-content" class="cls_save" ng-repeat="address in ajaxAddressList" ng-click="orderProspectusPage($index);">
														  <div class="item-inner">
															<div class="item-title">{{address.addressDisplay}} </div>
															<input type="hidden" id="address-{{$index}}" value="{{address.addressCode}}">					 
														  </div>
													   </li>               
													</ul>
												 </div>
										   
												<div class="mail_sd">
												   <p><a href="#tab4" class="pb-standalone-dark tab-link" ng-click="addMyAddressURL()">+ Add address manually</a></p>
												</div>
											</div>
											<!-- Tab 3 -->											 
											 <div id="tab4" class="tab ">												  
												 <div class="pr_dtl">
													<div class="list-block lst_add">
													   <ul>
														  <li class="item-content">
															 <div class="item-inner">
																<div class="item-input">
																	<input id="buildingName" type="text" class="" maxlength="100" placeholder="Number / Building name" ng-keyup="addXmark('buildingName', 'buildingName_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-addressip/>
																	<a id="buildingName_cls" ng-click="clearField('buildingName', 'buildingName_cls');" class=""></a>
																</div>
															 </div>
														  </li>
														  <li class="item-content">
															 <div class="item-inner">
																<div class="item-input">
																   <input id="addressLine" type="text" class="" maxlength="100" placeholder="Address line 1"  ng-keyup="addXmark('addressLine', 'addressLine_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-addressip/>
																	<a  id="addressLine_cls" ng-click="clearField('addressLine', 'addressLine_cls');" class=""></a>
																</div>
															 </div>
														  </li>
														  <li class="item-content">
															 <div class="item-inner">
																<div class="item-input">
																   <input id="city" type="text" class="" maxlength="100" placeholder="Town / City" ng-keyup="addXmark('city', 'city_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-addressip/>
																	<a id="city_cls" ng-click="clearField('city', 'city_cls');" class=""></a>
																</div>
															 </div>
														  </li>
														  <li class="item-content">
															 <div class="item-inner">
																<div class="item-input">
																   <input id="postCode" type="text" class="" maxlength="30" placeholder="Postcode" ng-keyup="addXmark('postCode', 'postCode_cls');" ng-blur="validateUserAddress();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" paste-addressip/>
																	<a id="postCode_cls" ng-click="clearField('postCode', 'postCode_cls');" class=""></a>
																</div>
															 </div>
														  </li>
													   </ul>
													</div>
													<!--<a href="#tab4" class="btn btn_lgt btn_blu tab-link">Save</a>-->
													<a class="btn btn_lgt cls_save" id="saveButton" ng-click="saveUserAddress('buildingName', 'addressLine', 'city', 'postCode');">Save</a>
												 </div>
											  </div>
											<!-- Tab 3 -->  
										</div>
								</div>	
							   
							</section>
							</div>
							</div>
							</div>
							</div>
					
					</div>
					<!--Search Address-->
					  
					
					<!-- REQUEST PROSPECTUS - END -->
					
					 <!-- EMAIL ENQUIRY - START -->
					 <div class="popup second_page pr_popup" id="emailUni_popup">
						 <div class="" ng-if="institutionDetailsList.length > 0" ng-repeat="institution in institutionDetailsList">
							<div class="navbar">
							   <div class="searchbar-overlay"></div>
							   <div class="navbar-inner">
								  <div class="buttons-row fl_tb">
									 <div class="center">
										<div class="left">
										   <a id="back-popup-email" class="back link close-popup cls_email">
												<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
											</a>
											<a id="back-tab-email" onclick="backToTab('email',6);" class="back link cls_tab6" style="display:none">
												<img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" />
											</a>
										</div>
										<p>Email uni</p>
										   <div id="sendButton" class="right snd_lnk gry" disabled><a class="open-popup" data-popup=".suc_page" ng-click="submitEnquiryForm();">Send</a>
						</div>
									 </div>
								  </div>
							   </div>
							</div>
							<div class="content-block m0">
							  <div class="pr_dtl">
							   <section>
								  <div class="enq_lg">
									 <div class="lgo">
											<img ng-if="institutionBrowseLogo.indexOf(institution.logoName) > -1" src="img/unis/logos/{{institution.logoName}}">
											<img ng-if="institution.logo && institutionBrowseLogo.indexOf(institution.logoName) == -1" src="{{institution.logo}}" />
											<!--<img src="{{institution.logo}}" alt="">-->
									 </div>
									 <div class="enq_rgt">
										<p>
										   <span> To:</span> {{institution.institutionDisplayName}}
										</p>
										<p ng-if="institution.courseId">
										   <span> About:</span> {{institution.courseTitle}}
										</p>
									 </div>
									  </div>
										<div class="ps_rl">
									 <div class="tabs-animated-wrap">
										<!-- Tabs, tabs wrapper -->
										<div class="tabs">
										   <!-- Tab 1, active by default -->
										   <div id="tab5" class="tab active data_shr_sec">
											  <div id="emailYear" class="trn_dv">
												 <p class="">
													When would you like to start?
												 </p>
												 <ul class="but_lg" ng-if="yearList.length > 0">
												   <li ng-repeat="year in yearList">
														<a id="enquiryYearOfEntry-{{$index}}" name="enquiryYearOfEntry" ng-if="year.selectedYear" ng-class="{'btn btn_wht active  tab-link' : year.selectedYear == 'Y', 'btn btn_wht  tab-link' : year.selectedYear == 'N' }" ng-click="saveSelectedYear($index, 'EMAIL', 'enquiryYearOfEntry')" href="#tab6">{{year.yearOfEntry}}</a>
													</li>										   
												</ul>
											  </div>
											   <div class="data_shr_wp" ng-if="clientConsentFlag=='Y'">
													<div class="data_shr_hd">University E-Newsletter Sign Up <span class="data_shr_ops">(optional)</span></div>
													<p>You can now opt in to receive e-newsletters from your favourite universities. Please read the university privacy notice before subscribing. You will need to contact the University directly if you wish to update your mailing preference.</p>
													<label class="data_shr_cntr">
													  <span ng-bind-html='getSafeHtml(clientConsentText)'></span>
													  <input type="checkbox" name="emailClientConsentFlagCourse" id="emailClientConsentFlagCourse" ng-model="emailClientConsentFlagCourse" ng-change="emailClientConsentFlagCourseChange()">
													  <span class="checkmark"></span>
													</label>
											  </div>
											  
										   </div>
										   <!-- Tab 2 -->
										   <div id="tab6" class="tab">
											  <div class="mail_sd">
												<div class="item-inner">
													<textarea maxlength="3800" placeholder="Write your message" id="enqMsg" ng-keyup="showHideSendbutton();" paste-addressip></textarea>
												</div>
											 </div>
										   </div>
										   <!-- Tab 3 -->
										</div>
									 </div>
									 </div>
							   </section>
							   <div class="done_btn enq"><a id="enqYoeSubmitBtn" disabled="disabled" href="#tab6" ng-click="goToNextPage('EMAIL', 'enquiryYearOfEntry')" class="dn_btn tab-link">Done</a></div>
							   </div>
							</div>
						 </div>
						</div>
						<!--Email Uni-->

						<!--Success page-->
						<div class="popup suc_page pr_popup" id="success-page" class="page pr_popup">
							<div id="enqSuccessLoader" style="display:block" class="ss_loader">
								<!-- <img src="img/loader/loader.gif" alt="" width="41px" class="lod_ioc" /> -->
								<div class="ss_em_loader">
								 <img ng-src="img/loading@3x.gif" data-rjs="3" width="100" height="100">
								 <h1>Sending</h1>
								 </div>
							</div>
							<div id="enquirySuccessDiv" class="page-content sucs_pg email" ng-if="institutionDetailsList.length > 0" ng-repeat="university in institutionDetailsList">
								<span class="pg_cl">
									<a href="#" class="close-popup">
										<img src="img/icons/cls_wht.png">
									</a>
								</span>
								<div class="ss_em_rel">
									<img src="img/ss_bg_str_cir.png" width="134" height="90" style="" class="zoomIn animated">
									  <img src="img/email_scs_n.png" style="display:none;" id="enqSuccessImg" width="74" class="ss_em_pos rotateIn animated">
									  <img src="img/pros_sucs_n.png" style="display:none;" id="prosSuccessImg" width="74" class="ss_em_pos rotateIn animated">
								 </div>
								<!--<p>
								   <img style="display:none" id="enqSuccessImg" src="img/icons/email_scs.png">
								   <img style="display:none" id="prosSuccessImg" src="img/icons/pros_sucs.png">
								</p> -->
								<div class="ss_n_bg fadeInRight animated">
								<h1>Success!</h1>
								<p ng-if="emailSuccess == 'Y'">
									Your email has been sent to<br>
									{{university.institutionDisplayName}}
								</p>
								<p ng-if="prospectusSuccess =='Y'">{{university.institutionDisplayName}} has received your request and will post their prospectus to you shortly</p>								
								<a href="" class="btn btn_wht fav_fill" ng-if="university.shortListFlag == 'Y'" id="shortlist2_logo-{{university.institutionId}}" onclick="preventDefault(event, this.id, 'courseDetailsRootCtrl', 'enquiry')" university_name="{{university.institutionDisplayName}}" course_name="{{courseInfoList[0].courseTitle}}" >Added to shortlist</a>
								<a href="" class="btn btn_wht" ng-if="university.shortListFlag != 'Y'" id="shortlist2_logo-{{university.institutionId}}" onclick="preventDefault(event, this.id, 'courseDetailsRootCtrl', 'enquiry')" university_name="{{university.institutionDisplayName}}" course_name="{{courseInfoList[0].courseTitle}}" >Add to shortlist</a>	</div>							
								
								<div class="n_advr" ng-if="otherInstitutionsList.length > 0">
									<section class="ftr_bx">
										<p class="m0">OTHER UNIVERSITIES YOU MIGHT LIKE</p>
										<ul ng-if="otherInstitutionsList.length > 0" >
											<li ng-repeat="otherInstitutions in otherInstitutionsList" ng-click="goToInstitutionProfilePage(otherInstitutions.institutionId, cdNonAdvertImg);">
												<div class="lgo">
													<img ng-if="institutionBrowseLogo.indexOf(otherInstitutions.logoName) > -1" src="img/unis/logos/{{otherInstitutions.logoName}}">
													<img ng-if="institution.logo && institutionBrowseLogo.indexOf(otherInstitutions.logoName) == -1" src="{{otherInstitutions.logo}}" />
													<!--<img src="{{otherInstitutions.logo}}" alt="">-->
												</div>						   
												<a href="#">
													<span class="un_nm">{{otherInstitutions.institutionDisplayName}}</span>
													<small ng-if="matchingPercentageFlag" class="clr_gry">{{otherInstitutions.matchingPercentage}}% match</small>                                                
													<span class="fr">
														<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
													</span>
												</a>
											</li>															 
										</ul>										
									</section>
								</div>
								<div class="n_advr" ng-if="otherCoursesList.length > 0">
								   <section class="ftr_bx">
										<p class="m0">OTHER COURSES YOU MIGHT LIKE</p>										
										<ul ng-if="otherCoursesList.length > 0" >
											<li ng-repeat="otherCourses in otherCoursesList" ng-click="goCourseDetailsPage(otherCourses.institutionId, otherCourses.institutionDisplayName, otherCourses.courseId, otherCourses.courseTitle, cdNonAdvertImg);">
												<div class="lgo">	
													<img ng-if="institutionBrowseLogo.indexOf(otherCourses.logoName) > -1" src="img/unis/logos/{{otherCourses.logoName}}">
													<img ng-if="institution.logo && institutionBrowseLogo.indexOf(otherCourses.logoName) == -1" src="{{otherCourses.logo}}" />
													<!--<img src="{{otherCourses.logo}}" alt="">-->
												</div>
												<a href="#">{{otherCourses.courseTitle}}<br>
													<span class="un_nm">{{otherCourses.institutionDisplayName}}</span>
													<small ng-if="matchingPercentageFlag" class="clr_gry">{{otherCourses.matchingPercentage}}% match</small>							
													<span class="fr">
														<img ng-src="img/icons/ic_arrow_right_midgrey.png" data-rjs="3" width="11" alt="" id="resp-image">
													</span>
												</a>
											</li>
										</ul>
								   </section>
								</div>
							</div>
						</div>
						<!--Success page-->
						<!--Reserve a place-->
		
		<div class="popup reserve_page pr_popup openday-section" ng-if="opendayList.length > 0">
                    
                        <div class="navbar">
                           <div class="searchbar-overlay"></div>
                           <div class="navbar-inner">
                              <div class="buttons-row fl_tb">
                                 <div class="center" style="left: 0px;">
                                    <div class="left">
                                       <a class="back link close-popup" onclick="backToTab('', 0);">
                                       <img ng-src="img/icons/ic_arrow_dark.png" data-rjs="3" alt="" title="" >
                                       </a>
									   </div>
                                    <p>Open days</p>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="content-block m0">
                          <div class="pr_dtl openday-section">
                           <section>
                              <div class="enq_lg">
                                 <div class="lgo">
                                    <!-- <img src="{{opendayList[0].collegeLogoPath}}" alt="" fallback-src="img/unis/logos/logo_bg.png"> -->
									
									<img ng-if="institutionBrowseLogo.indexOf(opendayList[0].logoName) > -1" src="img/unis/logos/{{opendayList[0].logoName}}">
									<img ng-if="opendayList[0].collegeLogoPath && institutionBrowseLogo.indexOf(opendayList[0].logoName) == -1" src="{{opendayList[0].collegeLogoPath}}" />
											
                                 </div>
                                 <div class="enq_rgt">
                                    <p>
                                       {{opendayList[0].collegeDispName}}
                                    </p>
                                  
                                 </div>
                               <div class="openday-con">
							        <p class="opn-p"><span>{{opendayList[0].opendate}}</span> <a ng-if="moreOpendayList.length > 1" href="#"ng-click="openMoreDates()"  >More dates</a>
                                  <select class="opn-slct" id="coursemoreOpendays" ng-model="obselected" onchange="otherCourseDetailsOpendays(this.options[this.selectedIndex].value);" onblur="otherCourseDetailsOpendays(this.options[this.selectedIndex].value);" select1>
                                      <option  ng-repeat="moreDate in moreOpendayList" value="{{moreDate.eventId}}">{{moreDate.opendaysDetail}}</option>
                                  </select>
                                  </p>
                                  <p class="opn-p"><span>{{opendayList[0].selectedopendayVenue}}</span></p>
                                  <p ng-if="opendayList[0].startTime != null && opendayList[0].endTime">{{opendayList[0].startTime}} : {{opendayList[0].endTime}}</p>
                                   <p class="pt10"><span>{{opendayList[0].qualDesc}}</span> <br>
{{opendayList[0].eventDesc}}</p>
                               </div>
                               <div class="done_btn enq" id="keyboard_hide" ><a id="reservePlaceBtn" href="javascript:void(0)" ng-click=" reservePlaceLogging();reservePlaceActionLog();" class="dn_btn ">Reserve a place</a>
                               <span class="">(Opens new page)</span>
                               </div>
                           </div></section>
                           </div>
                        </div>
                
                  </div>
		
		
		
		<!--End of reserve place-->
		
				<div id="keyboard_hide" class="{{enquiryInfo[0].buttonNavClass}}" ng-if="advertiserFlag=='Y' && enquiryInfo.length > 0">
					<ul>
						<li class="pros_btn" ng-if="enquiryInfo[0].prospectusWebformFlag != 'Y' && enquiryInfo[0].prospectus!=null">
							<a id="cd_req_props" data-popup=".req_props" ng-click="prospectusCheckGuestUser()" class="open-popup1" >Prospectus</a> <!--data-popup=".req_props" open-popup -->
						</li>
						<li class="email_btn" ng-if="enquiryInfo[0].emailWebformFlag != 'Y' && enquiryInfo[0].email!=null">
							<a id="emailUni" data-popup=".second_page" ng-click="emailCheckGuestUser();" class="open-popup1">Email uni</a> <!--data-popup=".second_page" open-popup -->
						</li>
						<li ng-if="openDayFlag=='Y'"> <!-- ng-click="reservePlace(null, null);" interactionEventLogging('OPEN_DAYS');reserveopenday()-->
							<a href="javascript:void(0)" data-popup=".reserve_page" class="open-popup opn_email opn_grn" ng-click="opendayCountCheck()">Events</a>
						 </li>
						<!-- <li class="crs_btn" >
							<a href="javascript:void(0)" ng-click="providerResults(cdNonAdvertImg)">All courses</a>
						</li> -->
					</ul>
				</div>
				<div id="keyboard_hide" class="pr_btn non_adv" ng-if="advertiserFlag=='N'">
					<ul>
						<li>
							<a href="javascript:void(0)" ng-click="providerResults()">View courses</a>
						</li>
					</ul>
				</div>
	</div>	

</div>
