<div class="page crs_page" data-page="exception" >
		
	 <div class="pages toolbar-through">
		<div class="page-content">
			<div class="nresults margin-exception" align="center"> 
				<img src="img/icons/icon_no_results.png" width="202" />
				<span></span>
				<a href="javascript:void(0)" id="searchAgainSearchresult" onclick="goBackExceptionFn()">Go Back</a>
				<p id="expDetails"></p>
				<p>
					<label id="appVersion"></label><br />
					<label id="sprint"></label><br />
					<label id="environment"></label>
				</p>
			</div>
			<!-- <div class="tabs">
				<div id="tab1" class="tab active">
				  <div class="content-block uni_tab">     
						<div class="s_404">
							<img src="img/s_results/404.png" width="89" alt="">
							<p id="expDetails"></p>
							<p>
								<label id="appVersion"></label><br />
								<label id="sprint"></label><br />
								<label id="environment"></label>
							</p>
					   </div>									
					</div>
				</div>                            
			</div>-->
		</div>
	</div> 

	<div class="toolbar tabbar tabbar-labels">
		<div class="toolbar-inner">
			<a href="javascript:void(0);" class="tab-link" id="homePage" onclick = "switchHighLightTab(this.id, 'html/home/homeLanding.html');">
				<img ng-src="img/icons/ic_home_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Home</span>
			</a>
			<a href="javascript:void(0);" class="tab-link" id="searchResults" onclick = "switchHighLightTab(this.id, 'html/search/searchLanding.html');" >
				<img ng-src="img/icons/ic_search_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Search</span>
			</a>
			<a href="javascript:void(0);" disabled="disabled" class="tab-link" id="favoriteSubjects" onclick = "switchHighLightTab(this.id, 'html/final5/finalFiveChoice.html');" >
				<img ng-src="img/icons/ic_final5_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Favourites</span>
			</a>
			<a href="javascript:void(0);" class="tab-link velnk_nav" id="openday" onclick = "switchHighLightTab(this.id, 'html/openday/opendaySearchLanding.html');" >
                <img ng-src="img/icons/ic_openday_passive.png" data-rjs="3" alt="" width="26" height="24">
                <span class="tabbar-label">Virtual events</span>
            </a>
			<a href="javascript:void(0);" class="tab-link" id="myProfile" onclick = "switchHighLightTab(this.id, 'html/user/userProfile.html');" >
				<img ng-src="img/icons/ic_profile_passive.png" data-rjs="3" alt="" width="26" height="24">
				<span class="tabbar-label">Profile</span>
			</a>                
		</div>
	</div>

</div>