<div class="page final5 quiz_page" data-page="quiz-page" ng-cloak ng-controller="quizCtrl" id="quizCtrl">	        

	<div class="navbar">
		<div class="searchbar-overlay"></div>
		<div class="navbar-inner">
			<div class="center" >
				<div class="pr_bar">
					<div style="width:0%" class="pr_grn" id="percentageMatch"></div>
				</div>
				<span class="exit_lnk" ng-click="goToHomePage();">Exit</span>
			</div>
		</div>
	</div>
	<div class="page-content " id="quiz-cont">
		<div class="cht_cnt" id="mainSection" ng-if="questionList.length > 0">							
			<!--Chat bot-->
			<div class="cht_bot" ng-if="questionList.length > 0" ng-repeat="question in questionList" id="question_{{questionDetailsList[0].questionId}}{{$index}}">
				<div class="cht_ico"></div>
				<div class="cht_msg cht_min" ng-if="$index == 0" >
					<img id="image_{{questionDetailsList[0].questionId}}{{$index}}" src="img/cht_loader.gif" alt="" width="40"/>
					<span id="questionTxt_{{questionDetailsList[0].questionId}}{{$index}}" style="display:none">{{question.questionText}}</span>
				</div>
				<div class="cht_msg cht_min" ng-if="$index > 0" ng-bind-html="getSafeHtml(question.questionText)">																		
				</div>
			</div>
			<!--Chat bot-->                       																																
		</div>
		<div style="display:none" id="subSection" ng-if="subQuestionList.length > 0 && footerDetailsList[0].answerDisplayStyle != 'SELECT_BOX'">
			<!--Chat bot-->
			<div class="cht_bot" ng-if="subQuestionList.length > 0" ng-repeat="question in subQuestionList" id="question_{{subQuestionDetailsList[0].questionId}}{{$index}}" style="display:none">
				<div class="cht_ico"></div>
				<div class="cht_msg cht_min" ng-if="$index == 0 && subQuestionDetailsList[0].answerType != 'AJAX'" >
					<img id="image_{{subQuestionDetailsList[0].questionId}}{{$index}}" src="img/cht_loader.gif" alt="" width="40"/>
					<span id="questionTxt_{{subQuestionDetailsList[0].questionId}}{{$index}}" style="display:none" ng-bind-html="getSafeHtml(question.questionText)"></span>
				</div>
				<div class="cht_msg cht_min" ng-if="$index > 0" id="chtMsg_{{subQuestionDetailsList[0].questionId}}{{$index}}">	
					<img id="image_{{subQuestionDetailsList[0].questionId}}{{$index}}" src="img/cht_loader.gif" alt="" width="40"/>																					
					<span id="questionTxt_{{subQuestionDetailsList[0].questionId}}{{$index}}" style="display:none" ng-bind-html="getSafeHtml(question.questionText)"></span>					
					<input class="subjectInpAjx" ng-if="($index == subQuestionList.length-1 && subQuestionDetailsList[0].answerType == 'AJAX')" style="display:none" type="text" id="searchsubject_{{subQuestionDetailsList[0].questionId}}{{$index}}" onkeyup="getCourseList(this.id);" placeholder="{{subAnswerOptionsList[0].optionText}}" style="margin-left:-8px;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>				
				</div>
				
				<!--Subject search ajax-->				
				<div class="cht_msg cht_min cht_un" ng-if="$index == 0 && subQuestionDetailsList[0].answerType == 'AJAX' && subQuestionDetailsList[0].filterName != 'JOB_OR_INDUSTRY'">
					<img id="image_{{subQuestionDetailsList[0].questionId}}{{$index}}" src="img/cht_loader.gif" alt="" width="40"/>
					<span id="questionTxt_{{subQuestionDetailsList[0].questionId}}{{$index}}" style="display:none" ng-bind-html="getSafeHtml(question.questionText)"></span>								
					<input class="subjectInpAjx" ng-if="($index == subQuestionList.length-1)" style="display:none" type="text" id="searchsubject_{{subQuestionDetailsList[0].questionId}}{{$index}}" onkeyup="getCourseList(this.id);" placeholder="{{subAnswerOptionsList[0].optionText}}" style="margin-left:-8px;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
				</div>								
				<div class="cht_sub" id="searchResultList" ng-if="$index == subQuestionList.length-1 && subQuestionDetailsList[0].answerType == 'AJAX' && subQuestionDetailsList[0].filterName != 'JOB_OR_INDUSTRY'">									
				</div>
				
				<!--Job or Industry search ajax-->				
				<div class="cht_msg cht_min cht_un" ng-if="$index == 0 && subQuestionDetailsList[0].answerType == 'AJAX' && subQuestionDetailsList[0].filterName == 'JOB_OR_INDUSTRY'">
					<img id="image_{{subQuestionDetailsList[0].questionId}}{{$index}}" src="img/cht_loader.gif" alt="" width="40"/>
					<span id="questionTxt_{{subQuestionDetailsList[0].questionId}}{{$index}}" style="display:none" ng-bind-html="getSafeHtml(question.questionText)"></span>								
					<input class="subjectInpAjx" ng-if="($index == subQuestionList.length-1)" style="display:none" type="text" id="searchsubject_{{subQuestionDetailsList[0].questionId}}{{$index}}" onkeyup="getJobOrIndustryList(this.id);" placeholder="{{subAnswerOptionsList[0].optionText}}" style="margin-left:-8px;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
				</div>								
				<div class="cht_sub" id="jobOrIndustryResultList" ng-if="$index == subQuestionList.length-1 && subQuestionDetailsList[0].answerType == 'AJAX' && subQuestionDetailsList[0].filterName == 'JOB_OR_INDUSTRY'">									
				</div>
				
				<!--select list-->
				<div class="grd_un" style="display:none" ng-if="($index == subQuestionList.length-1) && subQuestionDetailsList[0].answerType == 'SINGLE_SELECTION' && subQuestionDetailsList[0].answerDisplayStyle != 'FULL_BUTTON' && subQuestionDetailsList[0].answerDisplayStyle != 'BUTTONS' && subAnswerOptionsList.length > 0 && subQuestionDetailsList[0].filterName != 'Region'" id="question_{{subQuestionDetailsList[0].questionId}}_q">
					<div class="deg_sel" ng-repeat="ans in subAnswerOptionsList" ng-if="ans.nextQuestionId != '0'">
						<label id="qualSingleSel_{{$index}}" onclick="selectQualification(this.id, 'qualification')" ng-if="subQuestionDetailsList[0].answerDisplayStyle != 'LIST_WITH_IMAGE' && subQuestionDetailsList[0].filterName == 'Qualification'">
							<input type="radio" name="qualification" value="{{ans.optionValue}}|{{ans.optionText}}|{{ans.nextQuestionId}}"/>
							<span class="" ng-class="{'tp_rn' : $index == 0 , 'bt_rn' : $index == subAnswerOptionsList.length-1}" >{{ans.optionText}}</span>
						</label>
						<label id="qualSingleSel_{{$index}}" onclick="selectQualification(this.id, 'location')" ng-if="subQuestionDetailsList[0].answerDisplayStyle == 'LIST_WITH_IMAGE'">
							<input type="radio" name="location" value="{{ans.optionValue}}|{{ans.optionText}}|{{ans.nextQuestionId}}" id="location_{{$index}}" ng-checked="ans.imageName == 'all_uk'"/>
							<span class="" ng-class="{'tp_rn' : $index == 0 , 'bt_rn' : $index == subAnswerOptionsList.length-1}"><img src="img/icons/{{ans.imageName}}.png" class="cn_flg" alt="UK">{{ans.optionText}}</span>
						</label>
						<label id="qualSingleSel_{{$index}}" onclick="selectQualification('single_select')" ng-if="subQuestionDetailsList[0].answerDisplayStyle != 'LIST_WITH_IMAGE' && subQuestionDetailsList[0].filterName != 'Qualification'">
							<input type="radio" name="radioOpt" value="{{ans.optionText}}|{{ans.optionValue}}|{{ans.nextQuestionId}}"/>
							<span class="" ng-class="{'tp_rn' : $index == 0 , 'bt_rn' : $index == subAnswerOptionsList.length-1}">{{ans.optionText}}</span>
						</label>
					</div>                              
				</div>
				
				<!--multi select-->
				<div class="grd_un" style="display:none" ng-if="($index == subQuestionList.length-1) && subQuestionDetailsList[0].answerType == 'MULTI_SELECTION' && subAnswerOptionsList.length > 0 && footerDetailsList[0].answerDisplayStyle != 'GRADE_BOX'" id="question_{{subQuestionDetailsList[0].questionId}}_q">
					<div class="deg_sel" ng-repeat="ans in subAnswerOptionsList" ng-if="ans.optionText != 'MULTIPLE'">
						<label onclick="selectQualification(this.id,'locType')" id="qualSingleSel_{{$index}}">
							<input type="checkbox" name="locationType" value="{{ans.optionText}}|{{ans.optionValue}}|{{ans.commentAgainstAnswer}}" id="locationType_{{$index}}"/>
							<span class="" ng-class="{'tp_rn' : $index == 0 , 'bt_rn' : $index == subAnswerOptionsList.length-2}">{{ans.optionText}}</span>
						</label>
					</div>	
					<input type="hidden" id="commentForLocType" ng-repeat="ans in subAnswerOptionsList" ng-if="ans.optionText == 'MULTIPLE' && ans.commentAgainstAnswer" value="{{ans.commentAgainstAnswer}}">
				</div>
				
				<!--Previous qualification-->
				<div class="grd_un" style="display:none" ng-if="($index == subQuestionList.length-1) && footerDetailsList[0].answerDisplayStyle == 'GRADE_BOX'" id="question_{{subQuestionDetailsList[0].questionId}}_q">
					<div class="grades">
						<ul id="dynamicQualList">                                                                        
						</ul>										
					</div>
					<div class="list-block"></div>  																													
				</div>
			</div>														
			<!--Chat bot-->                       																																				
		</div>
	</div>
	<!--Chat bot-->
	<select id="locationEngland" onchange="selectQualification(this.id, 'region');" onblur="selectQualification(this.id, 'region');" ng-if="footerDetailsList[0].answerDisplayStyle == 'SELECT_BOX' && subAnswerOptionsList.length > 0">
		<option value="ENGLAND|All England">All England</option>
		<option ng-repeat="answer in subAnswerOptionsList" value="{{answer.optionValue}}|{{answer.optionText}}">{{answer.optionText}}</option>								
	</select> 
	
	<!--Grade subject-->
	<select id="gradeSubject" onchange="selectSubjectGrade(this.id, 'grade');" onblur="selectSubjectGrade(this.id, 'grade');" ng-if="footerDetailsList[0].answerType == 'GRADE_DROPDOWN' && previousQualList.length > 0">		
		<option ng-repeat="qual in previousQualList" value="{{qual.qualification}}|{{qual.gradeStr}}">{{qual.gradeStr}}</option>								
	</select> 
	
	<div id="searchAnswerOpt" style="display:none" >
		<div ng-repeat="answer in subAnswerOptionsList" id="answerOpt_{{$index}}" ng-bind-html="getSafeHtml(answer.commentAgainstAnswer)"></div>
		<input type="hidden" id="answerOptLength" value="{{subAnswerOptionsList.length}}"/>
	</div>
	
	<div id="qualHidden" style="display:none" ng-if="subQuestionDetailsList[0].filterName == 'Qualification' && subQuestionDetailsList[0].answerType == 'SINGLE_SELECTION' && subAnswerOptionsList.length > 0">
		<input ng-repeat="ans in subAnswerOptionsList" type="hidden" id="qualHidden_{{$index}}" value="{{ans.optionText}}|{{ans.optionValue}}|{{ans.nextQuestionId}}"/>
	</div>
	<div style="display:none">
		<!--Search List-->
		<div class="cht_sub" ng-if="courseList.length > 0" id="search_ul">
			<ul>
				<li ng-repeat="course in courseList" id="li_{{$index}}" onclick="saveSubject(this.id);">{{course.description}}
				</li>									
			</ul>
		</div>
		<input ng-repeat="course in courseList" type="hidden" id="course_list_{{$index}}" value="{{course.description}}|{{course.searchId}}|{{course.searchCode}}"/>								
		
		<!--Job or Industry list Added by Indumathi.S Nov-01-2017 -->
		<div class="cht_sub" ng-if="jobIndustryList.length > 0" id="search_ul">
			<ul>
				<li ng-repeat="job in jobIndustryList" id="li_{{$index}}" onclick="saveJobOrIndustry(this.id);">{{job.jobOrIndustryName}}
				</li>									
			</ul>
		</div>
		<input ng-repeat="job in jobIndustryList" type="hidden" id="job_list_{{$index}}" value="{{job.jobOrIndustryName}}|{{job.jobOrIndustryId}}|{{job.jobOrIndustryFlag}}"/>								
	
	</div>
	<!--Footer Bar 1-->
	<div class="qz_btn pr_btn" id="fullButton" ng-if="footerDetailsList[0].answerDisplayStyle == 'FULL_BUTTON'" ng-click="checkYourResults(answerOptionsList[0].nextQuestionId);" style="display:none">
		<ul><li>
			<a href="#" ng-repeat="answerOpt in answerOptionsList" >{{answerOpt.optionText}}</a>
		</li></ul>
	</div> 
						
	<!--Footer Bar 2-->
	<div class="cht_ftr" style="display:none" id="yesNoDiv" ng-if="footerDetailsList[0].answerDisplayStyle == 'BUTTONS'">
		<div class="btn_ftr"> 
			<div class="ftr_cnf" ng-repeat="answerOpt in answerOptionsList" ng-click="getQuizDetails(answerOpt.nextQuestionId, answerOpt.optionValue, answerOpt.optionText, footerDetailsList[0].questionId, '', 'yesNo');">{{answerOpt.optionText}}</div>							                    
		</div>
	</div>  
	
	<!--Footer Bar 3-->
	<div class="cht_ftr" style="display:none" id="skipQuesDiv" ng-if="footerDetailsList[0].ctaButtonText == 'Done'"> 
		<div class="skip_lnk" ng-if="footerDetailsList[0].skipToNext" onclick="skipQuestionFn();">Skip question</div>
		<div class="ftr_btn" id="selectAns" ng-click="getQuizDetails('done','','',footerDetailsList[0].questionId);" disabled="disabled"><a href="#">Done</a></div>						 						                   
	</div> 

	<!--Footer Bar 3a-->
	<div class="cht_ftr" style="display:none" id="gradeSaveDiv" ng-if="footerDetailsList[0].filterName == 'Grade'"> 
		<div id="previousQualErrMsg" class="err_msg pq_err" style="display:none">
			<a href="#" class="err_cls" id="closeErrMsg" onclick="closeErrMsgFunc('previousQualErrMsg','quiz');">
				<img src="img/icons/ic_grey_x.png" class="cls_ico" alt="" >
			</a>				
			<div id="pqerrmsg">
			</div>
		</div>			
		<div class="ftr_btn" id="previousQualSavBtn" ng-click="getQuizDetails('done','','',footerDetailsList[0].questionId);" disabled="disabled"><a href="#">Save</a></div>									 						                   
	</div>                     
					
	<!--Footer Bar 4-->
	<div class="cht_ftr ftr_hg" ng-if="footerDetailsList[0].skipExit" id="skipAndViewResults" style="display:none"> 								 
		<div class="btn_ftr crs_wrk">
			<div class="skip_lnk">
				<a href="#" ng-click="closeSkipDiv('skipAndViewResults');"><img src="img/icons/Line.png" style="width: 15px; float: right; margin-right: 15px; margin-top: -8px;"></a>
			</div>
			<div class="skip_lnk" ng-click="getQuizDetails(footerDetailsList[0].skipToNext,'skpNxt','',footerDetailsList[0].questionId);">Skip to next question</div>
			<div class="skip_lnk" ng-click="getQuizDetails(footerDetailsList[0].skipExit,'skpExt','',footerDetailsList[0].questionId);">Skip and view your results</div>
		</div>                     
	</div>                     																				               
	
	<input type="hidden" id="searchCategoryCode" value=""/>
	<input type="hidden" id="searchCategoryId" value=""/>
	<input type="hidden" id="keywordSearch" value=""/>
	<input type="hidden" id="qualification" value=""/>
	<input type="hidden" id="qualificationName" value=""/>
	<input type="hidden" id="locationType" value=""/>
	<input type="hidden" id="locationTypeName" value=""/>
	<input type="hidden" id="region" value=""/>
	<input type="hidden" id="regionFlag" value=""/>	
	<input type="hidden" id="previousQual" value=""/>	
	<input type="hidden" id="previousQualSelected" value=""/>
	<input type="hidden" id="assessmentType" value=""/>
	<input type="hidden" id="assessmentTypeId" value=""/>
	<input type="hidden" id="studyMode" value=""/>
	<input type="hidden" id="studyModeTextName" value=""/>
	<input type="hidden" id="reviewCategory" value=""/>
	<input type="hidden" id="reviewCategoryName" value=""/>
	
	<input type="hidden" id="questionId" value=""/>	
	<input type="hidden" id="nextQuestionId" value=""/>
	<input type="hidden" id="jobOrIndustryName" value=""/>		
	<input type="hidden" id="multipleNextQuestionId" value=""/>
	<input type="hidden" id="questionName" value=""/>
	<input type="hidden" id="filterName" value=""/>
	<input type="hidden" id="valueToBeShown" value=""/>
	<input type="hidden" id="filterFlag" value=""/>
	<input type="hidden" name="gradeCount" id="gradeCount" value=""/>
	<input type="hidden" name="pqSelectedGrades" id="pqSelectedGrades" value=""/>
	<input type="hidden" name="numberOfGrades" id="numberOfGrades" value="1"/>				              
    <input type="hidden" name="pqSelToDisplay" id="pqSelToDisplay" value=""/>	

	<input type="hidden" id="subjectQualName" value=""/>
	<input type="hidden" id="subjectQualKeyVal" value=""/>		    
	<input type="hidden" id="subject1" value=""/> 
	<input type="hidden" id="subject2" value=""/> 
	<input type="hidden" id="subject3" value=""/> 
	<input type="hidden" id="subject4" value=""/> 
	<input type="hidden" id="subject5" value=""/>
	<input type="hidden" id="subject6" value=""/>
	<input type="hidden" id="grade1" value=""/>
	<input type="hidden" id="grade2" value=""/>
	<input type="hidden" id="grade3" value=""/>
	<input type="hidden" id="grade4" value=""/>
	<input type="hidden" id="grade5" value=""/>
	<input type="hidden" id="grade6" value=""/>
	<input type="hidden" id="jacsCode" value=""/>
	
	<input type="hidden" id="tempQualGrades" value=""/>
</div>