*{-webkit-text-size-adjust:none;}
.crs_page .navbar-inner,.popup .navbar .navbar-inner,.fl_det .navbar .navbar-inner{padding-top:5px}
.crs_page .navbar,.popup .navbar,.popup .navbar .navbar-inner,.sr_page .profile.mobsec,.stk_div.mobsec .profile,.stk_div.mobsec .profile .usr_sec,.src_pg .searchbar{height:56px!important;}
.fl_tb .back img,.fl_det .back img,.pop_lst span.close-popup img,.fl_det .left a img{height:12px;}
.navbar .center{text-align:left;}
.popup-index .page-content{padding-top:55px!important;}
.fl_det .page-content,.final5 .page-content.sb-hide{padding-top:56px!important;}
.crs_page .page-content{padding-top:56px;}
.sr_page .profile.mobsec .usr_sec,.src_pg .searchbar .searchbar-input{margin-top:0;}
.sr_page .profile .usr_sec,.pr_page .profile .usr_sec{padding-top:10px;}
.stk_div.mobsec .usr_sec .fav_ico{top:16px;}
.pr_page .crs_page .page-content{padding-top:64px;}
.match-popup .navbar p{top:6px;text-align:left}
.match-popup .page-content,.pop_lst.pr_popup .page-content{padding-top:56px!important;}
.sr_page .profile.mobsec .usr_sec h2,.mobsec .sort_slct{top:18px;text-align:left;}
#mbstik #sticky .bk_icon{top:7px!important;}
.pr_page .usr_sec .bk_icon{top:10px}
.pr_page .fav_ico{top:23px}
.pr_popup .fl_tb .center p,.popup.pop_lst  .fl_tb .center p{text-align:left;padding-left:60px;}
.ps_rl{height:calc(100% - 57px);}
.cd_page .pr_popup .page-content{padding-top:47px;}
.stk_div.mobsec .profile .usr_sec .uni_lnk{text-align:left;top:0;}
.final5 .navbar .navbar-inner{margin-top:5px;}
.final5 .navbar,.quiz_page .navbar,.pr_popup .navbar{height:56px}
.final5 .status{top:54px;}
.final5 .page-content{padding-top:108px;}
.quiz_page .navbar .navbar-inner .center{padding-top:5px;}
.final5.quiz_page .page-content{padding-top:55px;padding-bottom:80px;}
.privacy_pg .fl_tb .center .left,.terms_pg .fl_tb .center .left,.pref_pg .fl_tb .center .left,.pr_popup .fl_tb .center p,.popup.pop_lst  .fl_tb .center p,.privacy_pg .fl_tb .center .right,.terms_pg .fl_tb .center .right,.pref_pg .fl_tb .center .right,.contactus .fl_tb .center .right{top:0}
.pr_popup .fl_tb .center .left,.pop_lst .fl_tb .center .left{top:10px;}
.pr_popup .navbar .navbar-inner,.crs_page.sr_page .page-content{padding-top:0}
.label-switch .checkbox:before,.label-switch .checkbox{height:14px;top:0;left:0;width:34px;}
.label-switch .checkbox:after{width:20px;height:20px;transition-duration:.3s;box-shadow:0 0 1px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);background:#F1F1F1;top:-3px;left:-3px;}
.label-switch .checkbox:before{background:rgba(34,31,31,0.26);}
.label-switch input[type=checkbox]:checked+.checkbox{background:rgba(3,155,229,0.5);}
.label-switch input[type=checkbox]:checked+.checkbox:after{background:#039BE5;box-shadow:0 0 1px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);}
.label-switch{width:37px;height:20px;}
.crs_tiles .label-switch{top:28px;padding: 20px 50px 30px 10px;margin: -20px -15px;}
.email-content ul li .li-right .item-input .label-switch{top:-5px;padding: 20px 50px 30px 10px;margin: -20px -15px;}
.email-content ul li .li-right .item-input{top:5px}
.back.link img{display:none;}
.back.link,.lg_frm .back_link{background:url(../img/icons/arrow-back.svg) no-repeat center 8px;padding:10px;left:0;}
.match-popup .back.link,.pr_popup .back.link.close-popup,.stk_div.mobsec .usr_sec .bk_icon,.pr_popup .back.link,.stk_div.mobsec .usr_sec .bk_icon a,.popup-index.src_pg .back.link,.final5 .back.link,.contactus .navbar .close-popup,a.scl_back{background:url(../img/icons/arrow-back-b.svg) no-repeat center 8px;top:-10px;padding:10px 30px;left:-22px;}
#stk_app.stk_fix .bk_icon a.back.link{background:none;}
.contactus .navbar .close-popup img{display:none}
.contactus .navbar .close-popup{left:-13px;padding:20px;position:relative;top:-6px}
.final5 .back.link{top:-3px}
.pr_main .stk_div.mobsec .usr_sec .bk_icon a,.pr_page .stk_div.mobsec .usr_sec .bk_icon a{left:-15px;}
.pr_popup .back.link.close-popup,.match-popup .back.link{top:-1px;}
.popup.fl_det .back.link{background:none;padding:10px;left:-10px;}
.popup.fl_det .back.link img{display:block;}
.pref_pg.pop_lst .fl_tb .center .left{top:2px}
.contactus .fl_tb .center .right{top:5px;}

/*.stk_div.mobsec .usr_sec .bk_icon {background:none;}*/
.stk_div.mobsec .usr_sec .bk_icon{padding:20px 20px;left:-10px;top:-2px;}
.pr_popup .back.link{top:-1px;}
.popup-index  .close-popup img{height:12px;width:auto;margin-top:7px;}
.popup-index.src_pg .back.link{top:0}
.src_pg .cls_cancel,.crs_page .navbar-inner{padding-top:0;}
.src_pg .navbar-through .page-content{padding-top:95px;}
.final5 .navbar .navbar-inner .center,.popup-terms .fl_tb .center p,.popup-privacy .fl_tb .center p{text-align:left;padding-left:60px;top:-16px;}
.popup.pop_lst  .fl_tb .center p{padding-left:40px;top:-2px}
#editProfileDiv.pr_popup .fl_tb .center p{padding-left:60px;}
.match-popup .navbar p{margin-left:60px;}
.popup-index .navbar-inner .center{width:100%;top:-2px;}
.popup-index.src_pg .view-mainpop .back.link.close-popup{background:none;top:-3px;}
.popup-index.src_pg .view-mainpop .back.link.close-popup img,.popup-openday .back.link img{display:block;}
.popup-index.src_pg .view-mainpop .buttons-row.fl_tb .left{width:30px;margin-top:-4px;margin-left:-10px;}
.lg_frm .back_link{left:-12px;padding:15px 20px 25px;margin-top:-10px;margin-bottom:20px;}
.lg_frm .back_link img{display:none}
.log_in .lg_frm,.lg_frm{margin-top:10px;}
.pr_btn ul li a{height:50px;}
.privacy_pg.pop_lst .fl_tb .center .left{top:2px}
.btn_blu,.btn_wht,.btn_lgt,.pr_btn ul li a,.dn_btn,.openday-section .dn_btn,.req_props .ord_prs ul li a,.lg_sr .button-fill,.btn_sgn{display:flex;align-items:center;justify-content:center;line-height:normal;}
.uni_inp select{margin-left:0}
.crs_tabs a{line-height:56px;}
.lgn_bdy{background-attachment:fixed!important;}
.pr_popup .fl_tb .center .right{top:10px;}
.pr_page .fav_ico{top:25px;}
.pg_cl{top:10px;}
.email-content ul li{padding:15px 0;}
.email-settings .email-content h3{text-align:left;padding-left:60px;}
.email-con-back{display:block!important;position:absolute;top:22px;left:13px;}
.email-page1.email-settings .email-content{position:relative;height:100%;border-bottom-left-radius:40px!important;border-bottom-right-radius:40px!important;}
#quizCtrl .navbar .navbar-inner .center{padding-left:20px!important;top:0;}
.cht_bot .grades ul li{width:47.2%;margin-left:1%;}
.pr_popup .page-content{padding-top:56px;}
.btn_sgn img{margin-top:2px;}
.email-page1.email-settings .email-content h3{padding-left:initial;text-align:center;width:47%;margin:0 auto;padding:24px 0 10px;}
.email-page1.email-settings .page-content{padding:16px 0 16px;}
.email-settings .email-content{border-bottom-left-radius:0;border-bottom-right-radius:0;}
.email-content ul li .li-left{width:70%;}
.email-content ul li .li-right{width:23%}
.email-page1.page[data-page=preferences] .email-content{border-bottom-left-radius:0px!important;border-bottom-right-radius:0px!important;}
.email-page1.page[data-page=preferences] .email-content h3{margin:0 0 0 25px;padding-bottom:24px;}
.popup .navbar .right,.popup.fl_det .back.link{margin-top:-3px;}
.page[data-page=providerResults] .popup-index.src_pg .view-mainpop .buttons-row.fl_tb .left{margin-left:0}
.pop_lst.page[data-page=Edit_profile] .fl_tb .center .left{top:10px}
.view[data-page=Edit_profile] .navbar .navbar-inner .buttons-row.fl_tb .right a{margin-top:-4px}
.view[data-page=index] .popup-terms .fl_tb .left,.view[data-page=index] .popup-privacy .fl_tb .left{left:16px}
.pop_lst.terms_pg .fl_tb .center .left{top:2px}
.lgn_bdy{background:url(../img/Bg_Signup.png) no-repeat center top!important;background-size:105%!important;}
.popup.schl_name  .fl_tb .center p,.popup.start_date  .fl_tb .center p{top:0}
.popup.schl_name  .fl_tb .center .left,.popup.start_date  .fl_tb .center .left{top:6px!important}
.popup.schl_name  .fl_tb .center .right,.popup.start_date  .fl_tb .center .right{top:15px;}
.pr_page[data-page=institution-profile] .usr_sec .bk_icon{left:-12px}
.acrdn ul li div.acr_cnt{width:calc(100% + 25px);}
.acrdn ul li h2{width:calc(100% + 25px);}
.popup-pref .content-block .fl_cont{height:auto;}
.quiz_page .page-content{background-size:105%;}
.email-content ul li .li-left{padding-bottom:15px}
.toggle{width:105px;}
.lgn_bdy .frg_err{background-size:105%!important;}
.crs_tiles ul li{background:#fff;}
.crs_tiles ul li span.sub_tiles img{height:180px!important}
.popup{height:100.1%;}
span.plus{top:4px;}
.page[data-page=course-details] .pull-to-refresh-content.refreshing,.page[data-page=providerResults] .pull-to-refresh-content.refreshing,.page[data-page=institution-profile] .pull-to-refresh-content.refreshing{transform:translate3d(0,0px,0);}
.popup-subject .fl_cont{top:56px;}
.popup-subject .fl_cont{border-bottom:0;}
.modal.modal-in{background:#FFFFFF;box-shadow:0 0 24px 0 rgba(0,0,0,0.22),0 24px 24px 0 rgba(0,0,0,0.30);border-radius:2px;padding:24px;height:178px;margin-top: -90px !important;}
.modal-title{text-align:left;font-size:20px;color:rgba(0,0,0,0.87);letter-spacing:0;line-height:28px;}
.modal-title+.modal-text{font-size:16px;color:rgba(0,0,0,0.75);line-height:24px;text-align:left;}
.modal-inner{padding:0;}
.modal-inner:after,.modal-button:after{content:none}
.modal-button{position:relative;/* bottom:0; */width:32%;float:left;text-transform:uppercase;font-size:14px;color:#0288D1;letter-spacing:0.5px;text-overflow:inherit;width:100%}
.modal-buttons{position:absolute;width:100%;bottom: 7px;right: -14px;padding: 0 24px;display: flex;float: right;justify-content: flex-end;}
.email-con-back.back {top:12px}
.scl_ajax ul li {padding:0 15px !important;}
.email-page1.email-settings.school_list .email-content .scl_nav h3 {padding:17px 0;width: 65%;text-align: left;}
.scl_nav {position:relative;}
a.scl_back {left: 0 !important;top: -1px !important;}
.school_permissiom_page_content{height:97%;}
@media only screen and (max-device-width:414px) and (min-device-width:376px){
	.popup-pref .content-block .fl_cont{height:auto;border-bottom:none;}
}
@media only screen and (max-device-width:380px) and (min-device-width:320px){
	.pr_dtl section ul.st_dtl.nw_lst li span small{display:block;}
}
@media only screen and (max-device-width:320px){
	.email-content ul li .li-left{width:77%;}
	.email-page1.email-settings .email-content h3{width:60%;}
	.email-page1.email-settings.school_list .email-content h3{width:85%;}
	.school_list .email-main img {width:100px !important;}
	
}
.add_popup.pop_lst .fl_tb .center .left {top:2px;padding-left: 0;width: 16px;}
.add_popup.pop_lst .fl_tb .center .left .cls_adrs{ background: url(../img/icons/arrow-back-b.svg) no-repeat center 10px;display: block;   height: 50px;float: left;box-sizing: content-box;width: 20px !important;}
.add_popup.pop_lst .fl_tb .center .left .cls_adrs img {display:none}
.clr_chkbox.pref.crs_tiles ul li .cont .label-switch {top: 26px;right:2px}
.page.email-settings[data-page=clearing-settings] .ftr-button{bottom: 1%;}
.page.email-settings[data-page=clearing-settings] .ftr-button a {margin: 25px 0;}
.page.email-settings[data-page=clearing-settings-home] .ftr-button{bottom: 1%;}
.page.email-settings[data-page=clearing-settings-home] .ftr-button a {margin: 25px 0;}
.gtsp_btn a{height:50px;}
.go_bx{margin-top:0;}
.email-main.wugo-ints h3{width:100%!important}
.ints_pop{padding-top:0}
.more-email {
	margin-bottom:30px !important;
}