body {
 margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
 margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}
.pr_btn{bottom:85px!important;position: relative;width:90%;margin:0 auto} 
.pr_btn ul li.pros_btn{border-top-left-radius: 25px;border-bottom-left-radius: 25px}
.opn_grn{border-top-right-radius: 25px;border-bottom-right-radius: 25px}
.popup-index .page-content{padding-top:105px!important}
.popup-index .page-content.fltr{padding-top:90px!important} 
.flt_fo{padding-top:22px}
.fl_sve .buttons-row{margin-top:60px;}
.pr_btn.w100p ul li.email_btn{border-radius:25px;box-shadow:0 1px 1px rgba(0,0,0,0.1);}
.pr_btn.w50p ul li.email_btn{border-top-left-radius: 25px;border-bottom-left-radius: 25px}
.sr_page .pr_btn ul li.email_btn{border-top-left-radius: 25px;border-bottom-left-radius: 25px}
.second_page section{height:calc(100% - 155px);}
.flt_fo {width:90%;margin:10px auto 0;position:relative;border-radius:25px;height:50px!important;padding:0!important}
.fl_sve{margin-left:0;}
.fl_sve .buttons-row{width:90%;float:none;margin:44px auto 0}
.fl_sve .buttons-row .button{margin:0}
.fl_sve .buttons-row a.button.button-fill.button-raised {border-radius: 25px!important;}
.pr_btn.clearing-buttons ul li:last-child, .pr_btn.w50p ul li:last-child {border-top-right-radius:25px;border-bottom-right-radius:25px;border-top-left-radius:0;border-bottom-left-radius:0;}
.pr_btn.clearing-buttons ul li:first-child, .pr_btn.w50p ul li:first-child {border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:25px;border-bottom-left-radius:25px;}
.pr_btn.ord_prs {position: absolute;padding:0 0 0 30px;bottom:78px!important;}
.pr_btn.ord_prs ul li.pros_btn, .pr_btn.non_adv ul li, .qz_btn.pr_btn ul li {border-top-right-radius:25px;border-bottom-right-radius:25px;border-top-left-radius:25px;border-bottom-left-radius:25px;}
.pr_btn.w100p ul li .opn_grn{border-top-left-radius: 25px;border-bottom-left-radius: 25px;}
.email-page1.page[data-page=preferences] .email-content{height:97%!important;}
.footer-button.trsn{border-top-right-radius:25px;border-bottom-right-radius:25px;border-top-left-radius:25px;border-bottom-left-radius:25px;bottom:22px;left:19px;width:90%;}
.cht_ftr{background:transparent;border-top:none;bottom:23px;}
.cht_ftr.ftr_hg{background:#fff;}
.ftr_cnf{background: #039BE5;color: #fff;}
.ftr_cnf:after{border-left-color:#039BE5;}
.vc{bottom:35px;}
.toolbar.tabbar.tabbar-labels.det_foot{bottom:35px;}
.toolbar.tabbar.tabbar-labels.det_foot:before{background:none;}
.fltr_btn{bottom:104px;}
.tabbar-labels span.tabbar-label{bottom:34px;}
.tabbar-labels{height:84px;}
.popup-subject .fl_cont, .popup-pref .content-block .fl_cont{height: 600px;}
.popup-subject .det_foot{border-bottom:none;}
.back, a.back.link.bk_icon, .pr_page .usr_sec .bk_icon{top:20px;}
.profile.mobsec .back{top:0px;}
.sort_slct{top:50px;}
.pr_page .fav_ico{top:55px;}
a.back.link.close-popup, a.back.link.cls9, a.back.link.cls2, a.back.link.cls6, a.back.link.cls13, .final5 a.back.link, a.back.link.cls4, a.back.link.cls_tab12, a.back.link.cls_tab7, .pr_main.fav_page.pr_page.crs_page a.back.link, .crs_page.pr_page.cd_page a.back.link, .pr_page.pr_popup a.back.link, a.back.link.cls_tab9{top:0px;}
.src_pg .navbar-through .page-content{padding-top: 139px;}
#tab3cont{padding:35px 0 0 0;}
.usr_pfl .content-block{margin-bottom:61px;}
.det_foot .toolbar-inner, .det_foot{background:transparent!important;}
.fl_sve p:first-child{display:none;}
.v_mr{margin-bottom:150px;}
.swiper-container-autoheight .swiper-wrapper{margin-bottom:64px;}
.crs_page .navbar{height:90px;}
.crs_page .navbar-inner{padding:39px 0 0;}
.left.border-black h1{padding-top: 20px;}
.add_fav.cnf_f5, .add_fav.rev{border-top-right-radius:25px;border-bottom-right-radius:25px;border-top-left-radius: 25px;border-bottom-left-radius:25px;bottom:100px;left:19px;width:90%;}
.srt_list .list-block{margin:0px 0 100px 0;}
.navbar-inner.swiper-container.gallery-thumbs-1.swiper-container-horizontal{padding: 0;}
.bk_icon{top:10px;}
.cht_ftr.ftr_hg{height:218px;bottom:0!important;}
.btn_ftr.crs_wrk{padding-bottom:35px;}
.rslt_grn.cl_btn{margin: 0 0 62px;}
.err_msg{padding:20px 25px 35px 25px;}
#recoverPwdSuccMsg{padding: 20px 21px 35px 21px!important;}
.done_btn.prospectus,.done_btn.enq{height:140px;}
.log_in h1{padding-top:40%;}
.content-block.lg_sr{margin-top:40%;}
.content-block.pge p{padding-top:20px;}
.school_permissiom_page_content, .email-settings .page-content{height:98%;padding-top:55px;}
.email-main img{padding-top:110px;}
.ftr-button{bottom:12%;}
.email-page1 .email-content{height:98%!important;}
.quiz_page .navbar, .final5 .navbar, .pr_popup .navbar{height: 90px;}
.cht_cnt{padding: 20px 15px 5px 15px;}
.quiz_page .navbar .navbar-inner .center{padding:41px 20px 0;}
.sr_page .profile.mobsec .usr_sec{margin-top:40px;}
.sr_page .profile.mobsec{height:90px!important;max-height:90px;}
.searchbar.d_tl{border-bottom:none;}
.popup .navbar .navbar-inner{height:90px;padding-top:46px;}
.final5 .navbar .navbar-inner {margin-top:20px;}
.pr_popup .navbar .navbar-inner{padding:40px 0 0;}
.pop_lst.pr_popup .page-content, .final5 .page-content.sb-hide{padding-top:90px;}
.popup .navbar{height:90px!important;}
.popup-subject .fl_cont, .final5 .status{top:90px;}
.stk_div.mobsec .profile, .stk_div.mobsec .profile .usr_sec{height:90px;max-height:90px;padding-top:46px;}
.stk_div.mobsec .usr_sec .fav_ico{top: 56px;}
li.blu.open-popup, li.add_top.bottom0.op5{margin-bottom:48px!important;border-bottom:1px solid rgba(207,216,220,0.5)!important;}
#browseHomeCntrl .add_address ul li{border-bottom: 1px solid rgba(207,216,220,0.5);}
img.add_tick{float:right!important;right:10px;}
.pr_dtl {margin-top:24px;}
.pref_pg.pop_lst .content-block{margin: 26px 0px 10px 0px;}
.pr_dtl .list-block{margin:30px 0 0 0;}
.pr_dtl.con_ts {margin: 24px 0 0 0;}
#contactUsSuccessDiv .pg_cl, #success-page-IP .pg_cl, #success-page .pg_cl{top:41px;}
.popup-index .toolbar, .popup-index .toolbar:before {background:transparent;}
.photo-browser-dark .toolbar{bottom:34px;}
.photo-browser .navbar-inner .left a{top:60px;display:inherit;}
.ss_em_rel{margin:90px auto 16px;}
.sucs_pg .ftr_bx{padding-bottom:34px;}
.final5 .page-content{padding-top:144px;}

.school_list .email-content h3{font-size:24px!important;}
.pr_page .usr_pfl .profile{max-height:262px;min-height:262px;}
.pfl_md{margin:96px auto auto;}
.ps_rl{height:calc(100% - 44px);}
.pr_dtl section ul{width:100%;}
.btn_wht{border-radius:28px;line-height:48px;height:50px;}
.pr_btn.w100p{bottom:78px!important;}
.clk_im, .clk_im1{background: url(../img/icons/i_act@3x.png) no-repeat;background-size: 100%;}

.popup-pref .fl_sve .buttons-row, .popup-location .fl_sve .buttons-row, .popup-subject .fl_sve .buttons-row{margin:0 auto 0;}
.popup-pref .det_foot, .popup-location .det_foot, .popup-subject .det_foot{padding:0px 0!important;}
.popup-pref .tabbar-labels, .popup-location .tabbar-labels, .popup-subject .tabbar-labels{height:50px;}
.popup-pref .toolbar-inner, .popup-location .toolbar-inner, .popup-subject .toolbar-inner{padding-top:0px;}
.popup-pref .toolbar.tabbar.tabbar-labels.det_foot, .popup-location .toolbar.tabbar.tabbar-labels.det_foot, .popup-subject .toolbar.tabbar.tabbar-labels.det_foot{bottom: 28px;}
a.open-popup.opn_email.opn_grn {height:50px;}

#browseHomeCntrl .crs_tabs a.active{height:52px;}

/* 3X icons  */
.usr_pfl li:nth-child(1) .cont{background:url(../img/icons/quiz@3x.png) no-repeat scroll 96% center / 32px auto}
.usr_pfl li:nth-child(2) .cont{background:url(../img/icons/privacy@3x.png) no-repeat scroll 96% center / 32px auto}
.usr_pfl li:nth-child(3) .cont{background:url(../img/icons/prefer@3x.png) no-repeat scroll 96% center / 32px auto}
.usr_pfl li:nth-child(4) .cont{background:url(../img/icons/contact@3x.png) no-repeat scroll 96% center / 32px auto}
.usr_pfl li:nth-child(5) .cont{background:url(../img/icons/rate@3x.png) no-repeat scroll 96% center / 32px auto}
.usr_pfl li:nth-child(6) .cont{background:url(../img/icons/terms@3x.png) no-repeat scroll 96% center / 32px auto}
.usr_pfl li:nth-child(7) .cont{background:url(../img/icons/icon_reset_password@3x.png) no-repeat scroll 96% center / 32px auto}
.usr_pfl li:nth-child(8) .cont{background:url(../img/icons/signout@3x.png) no-repeat scroll 96% center / 32px auto}
.fav_ico {background: url(../img/icons/ic_favourite_passive@3x.png) no-repeat center 8px / 26px auto;}
.sr_page .fav_ico.fav_fill,.pr_page .fav_ico.fav_fill, .crs_page .fav_ico.fav_fill,.pr_page .fav_ico.fav_fill {background:url(../img/icons/ic_favourite_active@3x.png) no-repeat center 8px;background-size:26px}
.stk_div.mobsec .usr_sec .bk_icon{background:url(../img/icons/ic_arrow_dark@3x.png) no-repeat center left;background-size:11px;}
.stk_div.mobsec .usr_sec .fav_ico{background:url(../img/icons/ic_final5_passive@3x.png) no-repeat center 10px;background-size:26px;}
.stk_div.mobsec .usr_sec .fav_ico.fav_fill {background:url(../img/icons/ic_favourite_active_dark@3x.png) no-repeat center 10px;background-size:26px}
.radiv input[type=checkbox]:checked ~ label:after{background:url(../img/icons/tick@3x.png) no-repeat;background-size:cover;}
.ur_pref ul li input[type=checkbox]:checked + label::after{background:url(../img/icons/tick@3x.png) no-repeat;background-size:100%;}
.photo-browser .navbar-inner .left a span{background:url(../img/icons/cls_wht@3x.png) no-repeat;background-size:cover;}
.final5 .fav_ico{background:url(../img/icons/ic_final5_passive@3x.png) no-repeat center;background-size:26px;}
.fav_ico.fav_fill{background:url(../img/icons/ic_favourite_active_dark@3x.png) no-repeat center;background-size:26px}
.school_list .email-content h3.sch_prm_hd{font-size: 17px!important;}

/* .email-main.wugo-ints img{padding:157px 0 61px 0;width:263px} */
.email-main.wugo-ints{padding:157px 0 61px 0;width:100%}
.email-main.wugo-ints img{height:auto;padding:0}
.email-main.wugo-ints h3{padding:91px 0 16px 0!important;}
.wugo-ints .ftr-button{bottom: 10%}
.wugo-ints .ftr-button .ms-button{border-radius:25px;height:50px;line-height:50px}
.wgo-btn{margin:12px 0 10px 0}
.guest h1{padding-top:36.5%;}
.pr_page .usr_pfl .profile.guest_pro{max-height: 292px;min-height: 292px;}
.content-block.lg_sr.guest_b1{margin-top:28%}
.pr_btn.clearing-buttons.w33p ul li:nth-child(2) {border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;}
.pr_btn.clearing-buttons.w100p ul li{border-top-right-radius:25px;border-bottom-right-radius:25px;border-top-left-radius:25px;border-bottom-left-radius:25px;}
.guest-cont{margin-top:25px}
.guest .content-block.lg_sr{margin-top:127px}
.guest .content-block.pge.g_pge{margin:66px auto}
.guest .content-block.lg_sr P a{padding-top:8px}
.ints_pop{padding-top:0px}
.req_props section{height:calc(100% - 133px)}
.data_shr_sec{height:calc(100% - 140px)!important}
.openday-bottom.pr_btn.iphnx-brad ul li{border-radius:35px}
.ve_h40 {
    width:100%;
    height:40px;
    float:left;
    
    display:block;
}
.ve_h100 {
    width:100%;
    height:100px;
    float:left;
    display:block;
}
.ve_bb1cc {
    border-bottom:1px solid #ccc;
}
.popup-openday li:first-child{
    padding-top:30px;
}
.ve_srchmt80 {
    margin-top:100px !important;
}

/* Iphone XR */
.list-block .item-media {
    top:0;
    padding-top:0;
}
.ml0i{
    margin-left:0!important;
}
.zi4b0{
    bottom: 0px!important;
    z-index: 44444;
}